Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: Allow reconnects without losing state/focus. #2252 (#2253)
  broker.go
  client.go
  cmd/wave/main.go
  conf.go
  protocol.go
  server.go
  socket.go
  ui/src/core.ts
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow reconnects without losing state/focus. #2252 (#2253)
  broker.go
  client.go
  cmd/wave/main.go
  conf.go
  protocol.go
  server.go
  socket.go
  ts/index.ts
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

fix: Use proper path for wave fetch. #2177 (#2183)
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

fix: Make conda package support multiple python versions #2227 (#2247)
  .github/workflows/publish-conda.yml
  py/h2o_wave/conda/meta.yaml
Due: none

fix: Conda release #2227 (#2257)
  .github/workflows/publish-conda.yml
  .github/workflows/release-wave.yml
  py/h2o_wave/Makefile
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

ci: Create website/api folder if not exists.
  py/Makefile
Due: none

chore: Release v1.0.2
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

chore: Use correct links in docs.
  website/blog/2023-02-28-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

ci: Integrate github workflows to automate the air-gapping process of wave university #2163 (#2181)
  .github/workflows/publish-university.yml
  .github/workflows/wave-bundle-docker-build-publish.yaml
Due: none

feat: fill image annotations with small alpha color by default #1862
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

feat: do not scale bounding line #1862
  ui/src/image_annotator.tsx
Due: none

feat: compute intersections based on zoom #1862
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

chore: make equations self-explanable #1862
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

chore: refactor #1862
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

fix: dont use alpha when previewing polygon #1862
  ui/src/image_annotator_polygon.ts
Due: none

chore: add toolbar tests #2224
  ui/src/toolbar.test.tsx
Due: none

chore: add card_menu tests #2224
  ui/src/card_menu.test.tsx
Due: none

chore: refactor #2224
  ui/src/card_menu.tsx
  ui/src/toolbar.tsx
Due: none

chore: update docs and example #2224
  py/examples/toolbar.py
  website/widgets/content/toolbar.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: add table tests, update other tests #2224
  ui/src/button.test.tsx
  ui/src/card_menu.test.tsx
  ui/src/table.test.tsx
  ui/src/toolbar.test.tsx
Due: none

chore: get rid of ambiguous test naming #2224
  ui/src/button.test.tsx
  ui/src/card_menu.test.tsx
  ui/src/toolbar.test.tsx
Due: none

chore: refactor button test #2224
  ui/src/button.test.tsx
Due: none

feat: add download option for ui.command #2224
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/card_menu.tsx
  ui/src/link.tsx
  ui/src/toolbar.tsx
Due: ./py/venv/bin/flake8

chore: fix card_menu test #2224
  ui/src/card_menu.test.tsx
  ui/src/table.test.tsx
Due: none

chore: add button tests #2224
  ui/src/button.test.tsx
Due: none

feat: Make ui.command to support path and download props #2224 (#2262)
  py/examples/toolbar.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/button.test.tsx
  ui/src/card_menu.test.tsx
  ui/src/card_menu.tsx
  ui/src/link.tsx
  ui/src/table.test.tsx
  ui/src/toolbar.test.tsx
  ui/src/toolbar.tsx
  website/widgets/content/toolbar.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Allow scientific notation in spinbox #2239
  ui/src/spinbox.tsx
Due: none

Handled review comments
  .github/workflows/release-wave.yml
Due: none

To trigger refactored workflow
  .github/workflows/release-wave.yml
Due: none

To trigger refactored workflow
  Makefile
Due: none

Refactored github action for tour app
  .github/workflows/release-wave.yml
  Makefile
Due: none

Added an step to remove tmp folder
  .github/workflows/release-wave.yml
Due: none

chore: add tests #1862
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

Added an step to remove tmp folder at beginning of build-apps
  Makefile
Due: none

feat: init #2250
  ui/src/chatbot.tsx
Due: none

ci: Integrate github workflows to automate the air-gapping process of wave Tour (#2199)
  .github/workflows/release-wave.yml
  Makefile
Due: none

feat: layout and handling #2250
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

chore: add py example #2250
  py/examples/chatbot_events_suggestions.py
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8
