Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Simplify Py release build
  Makefile
  py/Makefile
Due: none

chore: Add git tag task to Makefile
  Makefile
Due: none

chore: Add 0.14.0 change log
  README.md
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Fix typo in change log
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Add warnings to experimental cards that require -editable to be set
  ui/src/canvas.tsx
  ui/src/chat.tsx
  ui/src/editor.tsx
  ui/src/pixel_art.tsx
Due: none

chore: Release v0.14.0
  Makefile
  py/examples/requirements.txt
  py/h2o_wave/__init__.py
  py/setup.py
Due: ./py/venv/bin/flake8

chore: Use ubuntu 20.04 for CI builds
  .github/workflows/publish-docs.yml
  .github/workflows/release.yml
Due: none

ci: update npm to work with package.lock file v2
  .github/workflows/release.yml
Due: none

ci: Update npm to work with package.lock file v2 (#768)
  .github/workflows/release.yml
Due: none

ci: Merge FE tests and build into one job
  .github/workflows/release.yml
Due: none

ci: Remove test job dependency
  .github/workflows/release.yml
Due: none

ci: Use node 15 instead of upgrading npm to 7
  .github/workflows/release.yml
Due: none

ci: Don't pin h2o_wave for examples: breaks build
  py/Makefile
  py/examples/requirements.txt
Due: none

ci: Use go 1.16 (ioutil deprecation failures)
  .github/workflows/release.yml
Due: none

docs: Add 0.14 release blog post
  website/blog/2021-04-28-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Add docs preview task to Makefile
  Makefile
Due: none

docs: Add Wave ML note to release blog post
  website/blog/2021-04-28-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

R version update
  r/DESCRIPTION
Due: none

updated r version
  r/DESCRIPTION
Due: none

fixed typos
  website/blog/2021-04-23-R-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Fix intro/ending
  website/blog/2021-04-23-R-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Fix post dates
  website/blog/2021-04-28-R-release.md
  website/blog/assets/2021-04-28/hello_world.jpg
  website/blog/assets/2021-04-28/stat_wide_bar.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add R driver release blog post (#762)
  website/blog/2021-04-28-R-release.md
  website/blog/assets/2021-04-28/hello_world.jpg
  website/blog/assets/2021-04-28/stat_wide_bar.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Fix typo in R blog post
  website/blog/2021-04-28-R-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add R language support to readme
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: reuse cssVarValue func instead of code duplication
  ui/src/theme.ts
Due: none

feat: wide info card
  py/examples/tour.conf
  py/examples/wide_info.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/theme.ts
  ui/src/wide_info.test.tsx
  ui/src/wide_info.tsx
Due: ./py/venv/bin/flake8

docs: add wide-info image
  website/docs/examples/assets/wide-info.png
Due: none

feat: update to the latest design
  ui/src/wide_info.tsx
Due: none

chore: unify icon styles
  ui/src/wide_info.tsx
Due: none

chore: sync API
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

refactor: generate static text CSS classes
  ui/src/index.scss
  ui/src/wide_info.tsx
Due: none

chore: remove dynamic contrast color as explicit colors are set via CSS -leave the util function for future use
  ui/src/wide_info.tsx
Due: none

fix: Allow file uploads if auth is disabled. Fixes #771
  file_store.go
Due: golint -set_exit_status

chore: Release v0.14.1
  Makefile
  py/h2o_wave/__init__.py
  py/setup.py
  r/DESCRIPTION
  r/Makefile
Due: ./py/venv/bin/flake8

docs: Add 0.14.1 release notes
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Regenerate driver stubs
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
