Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

ci: Small fixes here and there. #1874
  .github/workflows/release-wave-nightly.yml
  py/tests/__main__.py
  test.ps1
Due: ./py/venv/bin/flake8

ci: Set proper error preference in win scripts. #1874
  .github/workflows/release-wave-nightly.yml
  setup.ps1
  test.ps1
Due: none

fix: Use windows path sep. #1874
  test.ps1
Due: none

fix: Use proper error handling for win pwsh. #1874
  test.ps1
Due: none

fix: Use proper error handling for win pwsh. #1874
  setup.ps1
Due: none

chore: Tmp remove e2e test from windows. #1874
  test.ps1
Due: none

chore: Try fixing weird windows python event loop. #1874
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

chore: Kill python subprocess properly on windows. #1874
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

chore: Try ignoring ctrl c exit code. #1874
  test.ps1
Due: none

chore: Print lastexitcode #1874
  test.ps1
Due: none

fix: Wrong py unit tests exit code. #1874
  py/tests/__main__.py
  test.ps1
Due: ./py/venv/bin/flake8

fix: Ignore Windows disk letter in VSC extension. #1874
  tools/vscode-extension/server/lsp_server.py
Due: ./py/venv/bin/flake8

chore: Run against multiple py and OS versions. #1874
  .github/workflows/release-wave-nightly.yml
  test.ps1
Due: none

feat: Test against multiple browsers. #1874
  e2e/Makefile
Due: none

ci: Split test jobs by OS. #1874
  .github/workflows/release-wave-nightly.yml
  Makefile
  e2e/Makefile
Due: none

chore: Refactor. #1874
  .github/workflows/release-wave-nightly.yml
  test.ps1
Due: none

chore: Refactor. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

chore: Refactor. #1874
  setup.ps1
Due: none

chore: Refactor. #1874
  Makefile
Due: none

test: Add example tests. #1874
  e2e/Makefile
  e2e/test_card_interaction.py
  e2e/test_keycloak.py
  e2e/utils.py
Due: ./py/venv/bin/flake8

fix: Remove unsupported type for 3.8. #1874
  e2e/utils.py
Due: ./py/venv/bin/flake8

chore: Test on Safari when possible. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Matrix testing + E2E tests. #1874 #1855 (#1900)
  .github/workflows/release-pycharm-plugin.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  Makefile
  e2e/.gitignore
  e2e/Makefile
  e2e/keycloak.dockerfile
  e2e/realm.json
  e2e/requirements.txt
  e2e/test_card_interaction.py
  e2e/test_keycloak.py
  e2e/utils.py
  py/Makefile
  py/examples/requirements.txt
  py/tests/__main__.py
  setup.ps1
  test.ps1
  tools/vscode-extension/server/lsp_server.py
Due: ./py/venv/bin/flake8

docs: Add a HF Spaces deployment link.
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Dummy initial impl. #1904
  py/examples/chatbot.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.tsx
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

feat: Minimal working example with bugs. #1904
  py/examples/chatbot.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/cards.tsx
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

docs: Improve buffers explanation.
  website/docs/buffers.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update Keycloak setup instructions to adhere to the latest version (instead of 11 versions behind).
  website/docs/development.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Fixed chatbot + unit tests. #1904
  py/examples/chatbot.py
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

chore: Refactor. #1904
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

test: Test the whole OIDC flow - login, refresh, logout.
  e2e/realm.json
  e2e/test_card_interaction.py
  e2e/test_keycloak.py
  e2e/test_oidc.py
Due: ./py/venv/bin/flake8

chore: Skip ensure_fresh_token method calls if OIDC not setup. Closes #1908.
  py/h2o_wave/h2o_wave/server.py
Due: ./py/venv/bin/flake8

chore: Final improvements. #1904
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
Due: none

feat: Add a placeholder prop. #1904
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

docs: Explain cyclic buffer more thoroughly. #1904
  py/examples/chatbot.py
Due: ./py/venv/bin/flake8

feat: Chatbot card. #1904 (#1907)
  py/examples/chatbot.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/cards.tsx
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

feat: display active table filter count #1689
  ui/src/table.tsx
Due: none

chore: Add chatbot to Tour + include in the docs.
  py/examples/chatbot.py
  py/examples/tour.conf
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  website/docs/examples/assets/chatbot.png
  website/sidebars.js
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Handle non-form component with name edgecase for by-name access.
  card.go
  e2e/Makefile
  e2e/test_by_name_updates.py
  e2e/test_card_interaction.py
  ts/index.ts
Due: golint -set_exit_status, ./py/venv/bin/flake8

chore: Update npm h2o-wave package to 1.2.1 - prepublish.
  ts/package.json
Due: none
