Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Add v0.12.1 release notes
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

updated stat_large with crpyto data
  r/R/examples/stat_large.R
Due: none

added dataget
  r/R/datagen.R
Due: none

add gemini crpyo dataset
  r/R/data/gemini.crypto.csv
Due: none

updated statlarge to reflect dynamic changes in caption, and added rounding in datagen
  r/R/datagen.R
  r/R/examples/stat_large.R
Due: none

removed print statement
  r/R/examples/stat_large.R
Due: none

fix: Refactor theme implementation; rename default theme to 'default'
  ui/src/index.tsx
  ui/src/meta.tsx
  ui/src/qd.ts
  ui/src/theme.ts
Due: none

docs: Improve theme switching example
  py/examples/meta_theme.py
Due: ./py/venv/bin/flake8

refactor: Consolidate theme handling into theme.ts
  ui/src/app.tsx
  ui/src/index.tsx
  ui/src/meta.tsx
  ui/src/qd.ts
  ui/src/theme.ts
Due: none

docs: Enable missing examples; add thumbnails
  py/examples/plot_vegalite_flex.py
  py/examples/tour.conf
  website/docs/examples/assets/meta-tracking.png
  website/docs/examples/assets/plot-vegalite-flex.png
  website/docs/examples/assets/upload-frame.png
Due: ./py/venv/bin/flake8

docs: Add Wave 0.12 release blog post
  website/blog/2021-02-12-release.md
  website/blog/assets/2021-02-12/toggle-theme.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

Fix typo in 2021-02-12-release.md
  website/blog/2021-02-12-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

updated core with newer delta handler. It now uses Df
  r/R/core.R
Due: none

updated core with newer delta handler. It now uses Df - minor updates. Removal of print statements and change of keys
  r/R/core.R
Due: none

updated stat_large.R with random, simple dataset generated inside the example
  r/R/examples/stat_large.R
Due: none

updated core with keys
  r/R/core.R
Due: none

docs: Fix typo in blog post (#568)
  website/blog/2021-02-12-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

updated page with preset card names
  r/R/core.R
Due: none

fix: Set git PAS to publish docs workflow
  .github/workflows/publish-docs.yml
Due: none

perf: Improve canvas command storage Remove indirection via data(), use plain map() instead.
  py/examples/canvas.py
  ui/src/canvas.tsx
Due: ./py/venv/bin/flake8

perf: Improve chat room card storage
  py/examples/chat_room.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/canvas.tsx
  ui/src/chat_room.tsx
Due: ./py/venv/bin/flake8

fix: Set git PAS to publish docs workflow (#569)
  .github/workflows/publish-docs.yml
Due: none

feat: Add capacity attribute to chat card
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/chat_room.tsx
Due: ./py/venv/bin/flake8

refactor: Rename chat_room_card -> chat_card
  py/examples/chat_room.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/chat.tsx
Due: ./py/venv/bin/flake8

feat: nav initial selection #565
  py/examples/nav_value.py
  ui/src/nav.test.tsx
  ui/src/nav.tsx
  ui/src/setupTests.ts
Due: ./py/venv/bin/flake8

chore: sync API
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

feat: Enable checkpointing #571
  py/.gitignore
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

docs: Add example for checkpointing #571
  py/examples/checkpoint.py
  py/examples/tour.conf
  website/docs/examples/assets/checkpoint.png
Due: ./py/venv/bin/flake8

docs: Add configuration docs for checkpointing #571
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Include only h2o_wave package in whl.
  py/setup.py
Due: ./py/venv/bin/flake8

chore: create a blog post about Wave ML
  website/blog/2021-02-19-ml-release.md
  website/blog/assets/2021-02-19/cm.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

Add link to Wave ML repo.
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add front-end API for inserting new cards
  ui/src/qd.ts
Due: none

refactor: Rename page() front-end API to edit()
  ui/src/canvas.tsx
  ui/src/chat.tsx
  ui/src/pixel_art.tsx
  ui/src/qd.ts
Due: none

feat: Expose active page in front-end API
  ui/src/qd.ts
Due: none

feat: Implement proof of concept front-end editor
  ui/src/app.tsx
  ui/src/cards.tsx
  ui/src/editor.tsx
  ui/src/layout.tsx
Due: none

feat: Add 'edit' command on all cards if a page is editable
  ui/src/card_menu.tsx
  ui/src/layout.tsx
Due: none

feat: Implement editing and saving cards
  ui/src/card_menu.tsx
  ui/src/editing.ts
  ui/src/editor.tsx
Due: none

feat: Display Wave logo on empty pages instead of spinner
  ui/src/app.tsx
  ui/src/index.scss
  ui/src/logo.tsx
Due: none
