Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Remove special-cased margins; apply uniform margin around all slots
  ui/src/page.tsx
Due: none

fix: Avoid flexbox on progress arc component. SVG size calc is not messed up now.
  ui/src/parts/progress_arc.tsx
  ui/src/wide_gauge_stat.tsx
Due: none

fix: Make grey dashboard have a fixed height. BUG: footer overlaps with bottom row - why?
  py/demo/dashboard_grey.py
Due: ./py/venv/bin/flake8

fix: remove overflow, allow resizing
  .flake8
  py/demo/dashboard_red.py
  ui/src/page.tsx
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/parts/progress_arc.tsx
  ui/src/section.tsx
  ui/src/small_series_stat.tsx
  ui/src/tall_gauge_stat.tsx
  ui/src/tall_series_stat.tsx
  ui/src/wide_bar_stat.tsx
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: ./py/venv/bin/flake8

feat: Set header/footer to auto-size.
  py/demo/dashboard_blue.py
  py/demo/dashboard_cyan.py
  py/demo/dashboard_grey.py
  py/demo/dashboard_mint.py
  py/demo/dashboard_orange.py
  py/demo/dashboard_purple.py
  py/demo/dashboard_red.py
Due: ./py/venv/bin/flake8

fix: Fix overflow for stat_table card
  ui/src/stat_table.tsx
Due: none

feat: Improve padding for header and section cards
  ui/src/header.tsx
  ui/src/section.tsx
Due: none

feat: Add debounce to sparkline resizing #317
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/parts/progress_arc.tsx
  ui/src/qd.ts
  ui/src/textbox.tsx
Due: none

fix: Revert changes to red dashboard
  py/demo/dashboard_red.py
Due: ./py/venv/bin/flake8

fix: Avoid flex on micro area/bar #473
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/small_series_stat.tsx
Due: none

docs: Remove HAC pages from docs website
  website/docs/enterprise/basic-concepts.md
  website/docs/enterprise/developer-guide.md
  website/docs/enterprise/index.md
  website/docusaurus.config.js
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: remove incorrect flex alignment for fixed height, fill full caontainer in stat cards #473
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/parts/progress_arc.tsx
Due: none

fix: use getBoundingRect to get exact dimensions, not rounded #473
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
Due: none

docs: extend docs for OIDC flag example #437
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

updated with examples
  r/R/core.R
  r/R/examples/dashboard.R
  r/R/examples/stat_large.R
Due: none

updted with stat_wide_gauge
  r/R/examples/stat_wide_gauge.R
Due: none

add stat_tall
  r/R/examples/stat_tall_gauge.R
Due: none

added stat wide bar
  r/R/examples/stat_wide_bar.R
Due: none

added stat large bar
  r/R/examples/stat_large_bar.R
Due: none

updated dashboard.R
  r/R/examples/dashboard.R
Due: none

updated with stat small series area
  r/R/examples/stat_small_series_area.R
Due: none

fix: use absolute positioning to avoid inline svg flexbox problems #473
  py/demo/dashboard_grey.py
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/parts/progress_arc.tsx
  ui/src/small_series_stat.tsx
  ui/src/tall_series_stat.tsx
Due: ./py/venv/bin/flake8

style: center plots horizontally #473
  ui/src/plot.tsx
Due: none

docs: Fix H2O_WAVE_APP_ADDRESS in configuration docs. Thanks @themutt
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Revert change to grey dashboard - does not fix the original problem.
  py/demo/dashboard_grey.py
Due: ./py/venv/bin/flake8

Remove display:flex from svg containers - child svg is absolute.
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
Due: none

Revert center alignment - needs a proper fix to width calculation.
  ui/src/plot.tsx
Due: none

fix: Fix rendering of microarea/bars in flex layout (#474)
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/parts/progress_arc.tsx
  ui/src/plot.tsx
  ui/src/small_series_stat.tsx
  ui/src/tall_series_stat.tsx
Due: none

docs: Improve docs for OIDC flags #437 (#476)
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

ci: pin conda py version to run and build
  py/conda/build.sh
  py/conda/conda_build_config.yaml
  py/conda/meta.yaml
Due: none

fix(dialog): close when topright X button is clicked #478
  ui/src/dialog.test.tsx
  ui/src/dialog.tsx
Due: none

fix: Close dialog when top X button is clicked #478 (#479)
  ui/src/dialog.test.tsx
  ui/src/dialog.tsx
Due: none

fix: Fix grey dashboard example to size last row properly
  py/demo/dashboard_grey.py
Due: ./py/venv/bin/flake8

fix: Make smaller stats fit grid layout properly
  ui/src/small_stat.tsx
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: none

fix: Remove special-casing for transparent cards
  ui/src/layout.tsx
Due: none

fix: Default to flex if box is specified correctly
  ui/src/layout.tsx
Due: none

fix: Flex-position all cards in grid layout Mimic's flex-layout behavior
  ui/src/layout.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
