Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Prevent stepper jump on !done => done. Improve active step UX.
  ui/src/stepper.tsx
Due: none

chore: Make sure all the Tour examples work.
  py/examples/audio.mp3
  py/examples/audio_annotator.py
  py/examples/markdown.py
  py/examples/markdown_code_theme.py
  py/examples/meta_notification_bar_closable.py
  py/examples/plot_bokeh_callbacks.py
  py/examples/tour.conf
  py/examples/tour.py
  py/sync_examples.py
  website/docs/examples/assets/counter-broadcast.png
  website/docs/examples/assets/counter-global.png
  website/docs/examples/assets/counter-multicast.png
  website/docs/examples/assets/counter-unicast.png
Due: ./py/venv/bin/flake8

fix: Rerender UI properly on websocket reconnect.
  ts/index.ts
Due: none

chore: Remove Cypress testing from wizard example.
  py/examples/wizard.py
Due: ./py/venv/bin/flake8

chore: Disable nav intro animation (wrong Wave usage will no longer cause flicker).
  ui/src/nav.tsx
Due: none

feat: Make websocket ping/pong interval configurable.
  client.go
  cmd/wave/main.go
  conf.go
  server.go
  socket.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

feat: Make websocket ping/pong interval configurable. (#2135)
  client.go
  cmd/wave/main.go
  conf.go
  server.go
  socket.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

docs: Add better explanation to public/private dirs paths.
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Bump h2o-wave npm version prior to publish.
  ts/package.json
Due: none

chore: Use the latest version of h2o-wave npm package.
  ui/package-lock.json
Due: none

fix: apply primary button styles for icon button #2121
  ui/src/button.tsx
Due: none

chore: use primary button instead of styles change #2121
  ui/src/button.tsx
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Apply primary button styles for icon button #2121 (#2137)
  ui/src/button.tsx
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Replace handle_on with run_on in the docs. #1484
  website/docs/routing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Trigger handlers for falsy values as well. Ignore None only. #1484
  py/h2o_wave/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

chore: Add deprecation warning. #1484
  py/h2o_wave/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

test: Add unit tests. #1484
  py/tests/test_routing.py
Due: ./py/venv/bin/flake8

feat: Initial version. #1484
  client.go
  py/h2o_wave/h2o_wave/__init__.py
  py/h2o_wave/h2o_wave/routing.py
  ui/src/app.tsx
  ui/src/ui.ts
Due: golint -set_exit_status, ./py/venv/bin/flake8

chore: Refactor. #1484
  py/h2o_wave/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

chore: Rename all occurences of handle_on, rework app templates. #1484
  py/examples/hash_routing_parameters.py
  py/examples/plot_events_routing.py
  py/examples/routing.py
  py/examples/routing_predicates.py
  py/examples/tour.py
  py/h2o_lightwave/h2o_lightwave/__init__.py
  py/h2o_wave/h2o_wave/__init__.py
  py/h2o_wave/project_templates/header.py
  py/h2o_wave/project_templates/header_nav.py
  py/h2o_wave/project_templates/header_sidebar_nav.py
  py/h2o_wave/project_templates/sidebar_nav.py
  tools/intellij-plugin/src/main/resources/templates/wave-blocks.xml
  tools/vscode-extension/base-snippets.json
  university/h2o_wave_university/university.py
  university/requirements.txt
  website/docs/arguments.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Make @system events work again. #1484
  py/h2o_wave/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

test: Add pattern matching tests for routing. #1484
  py/tests/test_routing.py
Due: ./py/venv/bin/flake8

chore: Refactor. #1484
  py/tests/test_routing.py
Due: ./py/venv/bin/flake8

feat: Add arg pattern matching. #1008 #1484
  py/h2o_wave/h2o_wave/routing.py
  py/tests/test_routing.py
Due: ./py/venv/bin/flake8

chore: Add the same routing improvements to lightwaveas well. #1484
  py/h2o_lightwave/h2o_lightwave/routing.py
  py/h2o_wave/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

fix: Uses proper waved binary during wave run on Windows. #1484
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

test: Run routing tests along with py testing suite. #1484
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

feat: Improved handle_on alternative #1484. (#2113)
  client.go
  py/examples/hash_routing_parameters.py
  py/examples/plot_events_routing.py
  py/examples/routing.py
  py/examples/routing_predicates.py
  py/examples/tour.py
  py/h2o_lightwave/h2o_lightwave/__init__.py
  py/h2o_lightwave/h2o_lightwave/routing.py
  py/h2o_wave/h2o_wave/__init__.py
  py/h2o_wave/h2o_wave/cli.py
  py/h2o_wave/h2o_wave/routing.py
  py/h2o_wave/project_templates/header.py
  py/h2o_wave/project_templates/header_nav.py
  py/h2o_wave/project_templates/header_sidebar_nav.py
  py/h2o_wave/project_templates/sidebar_nav.py
  py/tests/__main__.py
  py/tests/test_routing.py
  tools/intellij-plugin/src/main/resources/templates/wave-blocks.xml
  tools/vscode-extension/base-snippets.json
  ui/src/app.tsx
  ui/src/ui.ts
  university/h2o_wave_university/university.py
  university/requirements.txt
  website/docs/arguments.md
  website/docs/routing.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Bump h2o-wave npm version prior to release.
  ts/package.json
Due: none

chore: Update h2o-wave npm dependency.
  ui/package-lock.json
Due: none

chore: re-compute group list only if necessary #2103
  ui/src/table.tsx
Due: none

chore: show empty groups - groupBy #2103
  ui/src/table.tsx
Due: none

fix: Do not merge groups when grouping by multiple times in a row #2103
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: rename dict #2103
  ui/src/table.tsx
Due: none

fix: Use correct names in filter contextual menu when col data type is time #2103
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: minor refactor #2103
  ui/src/table.tsx
Due: none

chore: update tests #2103
  ui/src/table.test.tsx
Due: none

feat: show empty groups for custom groups #2103
  ui/src/table.tsx
Due: none

fix: group header name broken when grouped by column with time data type #2103
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: store group names only instead of intial groups #2103
  ui/src/table.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
