Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

docs: change website url to wave.h2o.ai
  README.md
  py/README.md
  py/README.rst
  py/conda/meta.yaml
  readme.txt
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: switch tour to flex layout #701
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: separate setup target from docs #683
  py/Makefile
Due: none

docs: Add Wave ML guide (#718)
  py/Makefile
  website/docs/wave-ml.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Update R generator (#740)
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: none

updated with new version of core.R
  r/DESCRIPTION
  r/Makefile
  r/R/core.R
  r/R/examples/dashboard.R
  r/R/examples/form_frame.R
  r/R/examples/ggplot2_render.R
  r/R/examples/hello_world.R
  r/R/examples/lattice_render.R
  r/R/examples/layout.R
  r/R/examples/layout_size.R
  r/R/examples/plotly_render.R
  r/R/examples/stat_large.R
  r/R/examples/stat_large_bar.R
  r/R/examples/stat_small.R
  r/R/examples/stat_small_series_area.R
  r/R/examples/stat_tall_gauge.R
  r/R/examples/stat_wide_bar.R
  r/R/examples/stat_wide_gauge.R
  r/R/examples/text.R
  r/R/zzz.R
Due: none

updated text.R
  r/R/examples/text.R
Due: none

docs: Redirect docs/index.html to wave.h2o.ai
  docs/index.html
Due: none

removed .gitignore
  r/.gitignore
Due: none

updated Make
  r/Makefile
Due: none

updated Make all
  r/Makefile
Due: none

updated
  r/Makefile
Due: none

updated with R_LIBS
  r/Makefile
Due: none

updated with -p
  r/Makefile
Due: none

updated R remove
  r/Makefile
Due: none

removed some comments
  r/R/core.R
Due: none

updated examples with nl
  r/R/examples/ggplot2_render.R
Due: none

updated nl on all examples
  r/R/examples/form_frame.R
  r/R/examples/hello_world.R
  r/R/examples/lattice_render.R
  r/R/examples/plotly_render.R
Due: none

updated keychain.go as Read and Write were unavailable on io and os
  keychain.go
Due: golint -set_exit_status

updated Makefile
  r/Makefile
Due: none

updated Make again
  r/Makefile
Due: none

update make again
  r/Makefile
Due: none

added a dockerfile
  r/Dockerfile
Due: none

updated, spell error
  r/Dockerfile
Due: none

updated docker
  r/Dockerfile
Due: none

shortened dockerfile, we now how the ready-image for rdriver
  r/Dockerfile
Due: none

fix indentation
  r/Makefile
Due: none

feat: Add support for R scripts / dashboards (#492)
  r/DESCRIPTION
  r/Dockerfile
  r/Makefile
  r/R/core.R
  r/R/examples/dashboard.R
  r/R/examples/form_frame.R
  r/R/examples/ggplot2_render.R
  r/R/examples/hello_world.R
  r/R/examples/lattice_render.R
  r/R/examples/layout.R
  r/R/examples/layout_size.R
  r/R/examples/plotly_render.R
  r/R/examples/stat_large.R
  r/R/examples/stat_large_bar.R
  r/R/examples/stat_small.R
  r/R/examples/stat_small_series_area.R
  r/R/examples/stat_tall_gauge.R
  r/R/examples/stat_wide_bar.R
  r/R/examples/stat_wide_gauge.R
  r/R/examples/text.R
  r/R/zzz.R
Due: none

added blog for r-release
  website/blog/2021-04-23-R-release.md
  website/blog/assets/2021-04-23/hello_world.jpg
  website/blog/assets/2021-04-23/stat_wide_bar.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

change keychain.go back
  keychain.go
Due: golint -set_exit_status

updated with change of function order
  website/blog/2021-04-23-R-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

updated parameter list name
  website/blog/2021-04-23-R-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: update py/Makefile target and version #759
  py/Makefile
Due: none

fix: Update py/Makefile target and version #759 (#765)
  py/Makefile
Due: none

chore: Remove /docs commit from publish docs GH action
  .github/workflows/publish-docs.yml
Due: none

chore: Remove tagging from release GH action
  .github/workflows/release.yml
Due: none

chore: .gitignore Wave ML build dir
  py/.gitignore
Due: none

chore: Simplify Py release version-bumping
  py/Makefile
Due: none

chore: .gitignore Wave ML generated md files
  website/.gitignore
Due: none
