Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Bump greenlet/pyee for playwright 1.49.0 compatibility.
  e2e/requirements.txt
Due: none

ci: Run e2e against chromium only to avoid module-fixture re-entry race.
  .github/workflows/security-bump.yml
Due: none

ci: Use firefox for e2e in security-bump (chromium has unrelated regression).
  .github/workflows/security-bump.yml
Due: none

ci: Bump expect timeout to 30s for slower CI runner cold start.
  .github/workflows/security-bump.yml
  e2e/test_by_name_updates.py
Due: ./py/venv/bin/flake8

ci: Capture playwright traces/screenshots on failure for diagnosis.
  .github/workflows/security-bump.yml
Due: none

ci: Set en_US.UTF-8 locale (wave UI rejects empty navigator.languages).
  .github/workflows/security-bump.yml
Due: none

test: Revert e2e timeout bump (locale fix alone is sufficient).
  e2e/test_by_name_updates.py
Due: ./py/venv/bin/flake8

test: Scope playwright bump to linux via pip env markers.
  e2e/requirements.txt
Due: none

test: Drop OS markers; use modern playwright stack everywhere.
  e2e/requirements.txt
Due: none

ci: Strip e2e diagnostic scaffolding; rename Tmp e2e test step.
  .github/workflows/security-bump.yml
Due: none

chore: Remove tmp e2e testing.
  .github/workflows/security-bump.yml
  tools/security-bump/security-bump.sh
Due: none

ci: Scheduled trivy security scans & bumps. (#2494)
  .github/workflows/security-bump.yml
  e2e/requirements.txt
  tools/security-bump/security-bump.sh
Due: none

fix(examples): resolve all mypy type errors #2047
  py/examples/background_progress.py
  py/examples/db_todo.py
  py/examples/glider_gun.py
  py/examples/graphics_background.py
  py/examples/graphics_clock.py
  py/examples/graphics_hilbert.py
  py/examples/graphics_path.py
  py/examples/graphics_primitives.py
  py/examples/graphics_spline.py
  py/examples/graphics_turtle.py
  py/examples/plot_bokeh_callbacks.py
  py/examples/plot_bokeh_script.py
  py/examples/plot_events_routing.py
  py/examples/requirements.txt
  py/examples/synth.py
  py/examples/table_markdown_pandas.py
  py/examples/table_pagination.py
  py/examples/table_pagination_pandas.py
  py/examples/table_pagination_sort.py
  py/examples/tour.py
  py/mypy.ini
Due: ./py/venv/bin/flake8

ci: Use GH_OIDC_ROLE_H2O_ECR secret for wave-bundle ECR role
  .github/workflows/wave-bundle-docker-build-publish.yaml
Due: none

ci: Use GH_OIDC_ROLE_H2O_ECR secret for wave-bundle ECR role (#2496)
  .github/workflows/wave-bundle-docker-build-publish.yaml
Due: none

security: Bump net and crypto packages.
  go.mod
  go.sum
Due: none

ci: Add all instead of just go.mod during security-bump.
  tools/security-bump/security-bump.sh
Due: none

security: Bump Go version.
  go.mod
Due: none

chore: Release v1.8.8
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

fix: Allow running starlette > 1.0
  py/h2o_wave/h2o_wave/server.py
  py/h2o_wave/pyproject.toml
  py/tests/__main__.py
  py/tests/test_lifecycle.py
Due: ./py/venv/bin/flake8

chore: Release v1.8.9
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

docs: add @app decorator example to pages guide
  website/docs/pages.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

ci: Allow downloading bumped Go toolchain.
  tools/security-bump/security-bump.sh
Due: none

ci: Stage bumped go.mod properly during commit.
  tools/security-bump/security-bump.sh
Due: none

ci: Explicit cd into repo root after e2e tests.
  tools/security-bump/security-bump.sh
Due: none

security: Bump Go to 1.25.12 to clean up CVEs.
  go.mod
Due: none

chore: Refactor.
  .github/workflows/security-bump.yml
Due: none

security: Bump Go to 1.25.12 to clean up CVEs. (#2499)
  go.mod
Due: none

ci: Tag release as part of the release job.
  .github/workflows/release-wave.yml
Due: none

chore: Release v1.8.10
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Bump up the deprecated gh actions versions.
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
Due: none

ci: Bump up the deprecated gh actions versions.
  .github/workflows/publish-docs.yml
  .github/workflows/publish-university.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/wave-bundle-docker-build-publish.yaml
Due: none

chore: Tmp unblock the rest of release pipeline. (to be reverted)
  .github/workflows/release-wave.yml
Due: none

ci: Use up to date aws role.
  .github/workflows/release-wave.yml
Due: none

Revert "chore: Tmp unblock the rest of release pipeline. (to be reverted)"
  .github/workflows/release-wave.yml
Due: none

security: Bump x/net module to resolve a CVE.
  go.mod
  go.sum
Due: none

chore: Release v1.8.11
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Changelog generator fixes.
  tools/changelog-generator/changelog.js
Due: none

chore: Bump Go to fix CVEs.
  go.mod
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
