Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: minor code style improvements #1032
  ui/src/wide_pie_stat.tsx
Due: none

chore: clean up and make conssistent with the rest of stat cards #1032
  py/examples/stat_wide_pie.py
  py/examples/tour.conf
  ui/src/wide_pie_stat.tsx
  website/docs/examples/assets/stat-wide-pie.png
Due: ./py/venv/bin/flake8

fix: Make sure svg scales on every browser #1032
  py/examples/tour.conf
  ui/src/wide_pie_stat.tsx
Due: none

feat: WidePieStat card. #1032 (#1042)
  py/examples/stat_wide_pie.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/wide_pie_stat.test.tsx
  ui/src/wide_pie_stat.tsx
  website/docs/examples/assets/stat-wide-pie.png
Due: ./py/venv/bin/flake8

chore: remove color from API #967
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/wide_info.tsx
Due: ./py/venv/bin/flake8

feat: Wide info card redesign. #967 (#1013)
  py/examples/wide_info.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/wide_info.test.tsx
  ui/src/wide_info.tsx
Due: ./py/venv/bin/flake8

chore: remove color from API
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/tall_info.tsx
Due: ./py/venv/bin/flake8

feat: Tall info card (#779)
  py/examples/tall_info.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/tall_info.test.tsx
  ui/src/tall_info.tsx
Due: ./py/venv/bin/flake8

fix: broken unit test
  ui/src/wide_pie_stat.test.tsx
Due: none

fix: Manually override plot text color as it does not work with current g2 version
  ui/src/plot.tsx
Due: none

docs: Add tall-info screenshot
  website/docs/examples/assets/tall-info.png
Due: none

fix: Separate spaces from words #227
  ui/src/annotator.test.tsx
  ui/src/annotator.tsx
Due: none

feat: Annotator component #227
  py/examples/annotator.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/annotator.test.tsx
  ui/src/annotator.tsx
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

feat: Add hover state, make first tag active by default #227
  ui/src/annotator.tsx
Due: none

fix: Redesign according to spec #227
  py/examples/annotator.py
  ui/src/annotator.tsx
Due: ./py/venv/bin/flake8

feat: redesign #227
  py/examples/annotator.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/annotator.test.tsx
  ui/src/annotator.tsx
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

Update layout.md
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: fix typo (#1073)
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix(plot): adjust selected rect stroke#1072
  ui/src/plot.tsx
Due: none

fix: Neon theme disabled state colors. Closes #1072
  py/examples/theme_generator.py
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

chore: clean up redundant hover style hack in datepicker
  ui/src/date_picker.tsx
Due: none

feat: add min and max support for datepicker #584
  py/examples/date_picker.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/date_picker.tsx
Due: ./py/venv/bin/flake8

feat: add min and max support for datepicker #584 (#1078)
  py/examples/date_picker.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/date_picker.tsx
Due: ./py/venv/bin/flake8

ci: Integrate Snyk security vulnerability scanning (#1040)
  .github/workflows/snyk-scan.yml
Due: none

chore: rename API, add docs screenshot #227
  py/examples/annotator.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/annotator.tsx
  website/docs/examples/assets/annotator.png
Due: ./py/venv/bin/flake8

feat: Annotator component. #227 (#737)
  py/examples/annotator.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/annotator.test.tsx
  ui/src/annotator.tsx
  ui/src/form.tsx
  website/docs/examples/assets/annotator.png
Due: ./py/venv/bin/flake8

feat: Article card #1027
  py/examples/article.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/article.test.tsx
  ui/src/article.tsx
  ui/src/cards.tsx
  ui/src/toolbar.tsx
  website/docs/examples/assets/article.png
Due: ./py/venv/bin/flake8

fix: align toolbar, fix spacing #1027
  ui/src/article.tsx
Due: none

feat: replace toolbar with mini_buttons #1027
  py/examples/article.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/article.tsx
  ui/src/button.test.tsx
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

chore: Address review comments #1027
  py/examples/article.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/article.tsx
Due: ./py/venv/bin/flake8

chore: Remove forgotten theme #1027
  py/examples/article.py
Due: ./py/venv/bin/flake8

docs: Update docstring. #1027
  py/examples/article.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/article.tsx
Due: ./py/venv/bin/flake8

feat: Change API #1027
  py/examples/article.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/article.tsx
  ui/src/button.test.tsx
  ui/src/button.tsx
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

chore: final polish #1027
  py/examples/article.py
  py/h2o_wave/types.py
  ui/src/button.tsx
  ui/src/form.tsx
  website/docs/examples/assets/article.png
Due: ./py/venv/bin/flake8

feat: Article card #1027 (#1028)
  py/examples/article.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/article.test.tsx
  ui/src/article.tsx
  ui/src/button.test.tsx
  ui/src/button.tsx
  ui/src/cards.tsx
  ui/src/form.tsx
  ui/src/toolbar.tsx
  website/docs/examples/assets/article.png
Due: ./py/venv/bin/flake8

feat: Add consistent themable gradients #1050
  ui/src/tall_article_preview.tsx
Due: none

feat: Add consistent themable gradients #1050
  ui/src/tall_article_preview.tsx
  ui/src/theme.ts
Due: none

fix: render body only if content or body present #1050
  ui/src/tall_article_preview.tsx
Due: none

feat: TallArticlePreview card #1050
  py/examples/tall_article_preview.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.tsx
  ui/src/cards.tsx
  ui/src/tall_article_preview.test.tsx
  ui/src/tall_article_preview.tsx
Due: ./py/venv/bin/flake8

chore: remove forgotten code #1050
  py/examples/tall_article_preview.py
  ui/src/tall_article_preview.tsx
Due: ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
