Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Use correct default version values for nightly.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Use expression syntax to evaluate the shell env command vars.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Use shell parameter expansion for default values in nightly job.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Use correct identation in nightly ci job.
  .github/workflows/release-wave-nightly.yml
Due: none

feat: Server-side paginated table. #730 (#1281)
  .vscode/launch.json
  py/examples/table.py
  py/examples/table_pagination.py
  py/examples/table_pagination_download.py
  py/examples/table_pagination_filter.py
  py/examples/table_pagination_h2o3.py
  py/examples/table_pagination_minimal.py
  py/examples/table_pagination_pandas.py
  py/examples/table_pagination_search.py
  py/examples/table_pagination_sort.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.test.tsx
  ui/src/table.tsx
  website/docs/examples/assets/table-pagination-download.png
  website/docs/examples/assets/table-pagination-filter.png
  website/docs/examples/assets/table-pagination-minimal.png
  website/docs/examples/assets/table-pagination-pandas.png
  website/docs/examples/assets/table-pagination-search.png
  website/docs/examples/assets/table-pagination-sort.png
  website/docs/examples/assets/table-pagination.png
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: added custom groups support to paginated table
  py/examples/table_pagination_groups.py
  py/examples/tour.conf
  ui/src/table.tsx
  website/docs/examples/assets/table-pagination-groups.png
Due: ./py/venv/bin/flake8

fix: Remove extra margin in datepicker statusMessage causing spacing inconsistencies.
  ui/src/date_picker.tsx
Due: none

chore: Format example.
  py/examples/table_pagination_groups.py
Due: ./py/venv/bin/flake8

feat: Add custom groups support to paginated table. #1326 (#1328)
  py/examples/table_pagination_groups.py
  py/examples/tour.conf
  ui/src/table.tsx
  website/docs/examples/assets/table-pagination-groups.png
Due: ./py/venv/bin/flake8

ci(nightly): prepend tag version only when version != nightly.
  .github/workflows/release-wave-nightly.yml
Due: none

ci(nightly): Use correct env var syntax.
  .github/workflows/release-wave-nightly.yml
Due: none

docs: Add plot interactions widget section.
  website/sidebars.js
  website/static/img/widgets/plot_interaction_brush.gif
  website/static/img/widgets/plot_interaction_drag.gif
  website/static/img/widgets/plot_interaction_zoom.gif
  website/widgets/plots/interactions.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Initial 0.21 blog post structure.
  website/blog/2022-04-11-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Use correct markdown table syntax in examples.
  py/examples/table_markdown.py
  py/examples/table_markdown_pandas.py
Due: ./py/venv/bin/flake8

fix: Make ui.text respect theme colors.
  ui/src/text.tsx
Due: none

fix: Make table footer respect theme.
  ui/src/table.tsx
Due: none

fix: Prevent rendering '0' in table footer.
  ui/src/table.tsx
Due: none

feat: 0.21 release blog post.
  py/Makefile
  py/examples/plot_schema.py
  py/examples/table_pagination_h2o3.py
  py/examples/tour.conf
  website/blog/2022-04-11-release.md
  website/blog/assets/2022-04-11/box-plot.png
  website/blog/assets/2022-04-11/notification_bar.gif
  website/blog/assets/2022-04-11/plot_interaction_brush.gif
  website/blog/assets/2022-04-11/table-groups.png
  website/docs/examples/assets/table-pagination-h2o3.png
  website/docs/icons.mdx
  website/src/css/custom.css
  website/widgets/overlays/notification.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

Small changes for release blog
  website/blog/2022-04-11-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Small changes for release blog (#1336)
  website/blog/2022-04-11-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Correct icon url in VSC extension readme.
  tools/vscode-extension/README.template.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Update blog preview image.
  website/blog/2022-04-11-release.md
  website/static/img/blog-preview.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Update blog post release date.
  website/blog/2022-04-12-release.md
  website/blog/assets/2022-04-12/box-plot.png
  website/blog/assets/2022-04-12/notification_bar.gif
  website/blog/assets/2022-04-12/plot_interaction_brush.gif
  website/blog/assets/2022-04-12/table-groups.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Move loguru dep to examples deps.
  py/Makefile
  py/examples/requirements.txt
Due: none

blog: 0.21 release (#1333)
  py/examples/plot_schema.py
  py/examples/requirements.txt
  py/examples/table_pagination_h2o3.py
  py/examples/tour.conf
  website/blog/2022-04-12-release.md
  website/blog/assets/2022-04-12/box-plot.png
  website/blog/assets/2022-04-12/notification_bar.gif
  website/blog/assets/2022-04-12/plot_interaction_brush.gif
  website/blog/assets/2022-04-12/table-groups.png
  website/docs/examples/assets/table-pagination-h2o3.png
  website/docs/icons.mdx
  website/src/css/custom.css
  website/static/img/blog-preview.png
  website/widgets/overlays/notification.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add required attribute to combobox #1217
  py/examples/combobox.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/combobox.tsx
Due: ./py/venv/bin/flake8

ci: Publish apps for HAC during release. #1335
  .github/workflows/release-wave.yml
Due: none

feat: Remove synth dep from theme_generator app #1335
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

feat: Add theme generator. #1335
  Makefile
  py/apps/theme-generator/about.md
  py/apps/theme-generator/app.toml
  py/apps/theme-generator/requirements.txt
  py/apps/theme-generator/static/icon.png
  py/apps/theme-generator/static/screenshot-1.png
  py/apps/theme-generator/static/screenshot-2.png
  py/apps/theme-generator/static/screenshot-3.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add make target for building HAC apps #1335
  Makefile
  py/apps/dashboards/about.md
  py/apps/dashboards/app.toml
  py/apps/dashboards/requirements.txt
  py/apps/dashboards/static/icon.png
  py/apps/dashboards/static/screenshot-1.png
  py/apps/dashboards/static/screenshot-2.png
  py/apps/dashboards/static/screenshot-3.png
  py/apps/theme-generator/app.toml
  py/apps/tour/about.md
  py/apps/tour/app.toml
  py/apps/tour/requirements.txt
  py/apps/tour/static/icon.png
  py/apps/tour/static/screenshot-1.png
  py/apps/tour/static/screenshot-2.png
  py/apps/tour/static/screenshot-3.png
  py/examples/requirements.txt
Due: ./node_modules/markdownlint-cli/markdownlint.js

ci: Use correct S3 creds for apps publish. #1335
  .github/workflows/release-wave.yml
  Makefile
Due: none

feat: Add make target to publish apps to S3 #1335
  Makefile
Due: none

chore: Refactor #1335
  Makefile
Due: none

chore: Rename dashborads to dashboard #1335
  py/apps/dashboard/about.md
  py/apps/dashboard/app.toml
  py/apps/dashboard/requirements.txt
  py/apps/dashboard/static/icon.png
  py/apps/dashboard/static/screenshot-1.png
  py/apps/dashboard/static/screenshot-2.png
  py/apps/dashboard/static/screenshot-3.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Zip apps correctly. #1335
  Makefile
Due: none

chore: Remove duplicate dep from example requirements. #1335
  py/examples/requirements.txt
Due: none

docs: Show people how to turn off default waved logs in logging section.
  website/docs/logging.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Rewrite to listen on root route. #1335
  Makefile
Due: none

feat: Build apps for managed cloud #1335 (#1340)
  .github/workflows/release-wave.yml
  Makefile
  py/apps/dashboard/about.md
  py/apps/dashboard/app.toml
  py/apps/dashboard/requirements.txt
  py/apps/dashboard/static/icon.png
  py/apps/dashboard/static/screenshot-1.png
  py/apps/dashboard/static/screenshot-2.png
  py/apps/dashboard/static/screenshot-3.png
  py/apps/theme-generator/about.md
  py/apps/theme-generator/app.toml
  py/apps/theme-generator/requirements.txt
  py/apps/theme-generator/static/icon.png
  py/apps/theme-generator/static/screenshot-1.png
  py/apps/theme-generator/static/screenshot-2.png
  py/apps/theme-generator/static/screenshot-3.png
  py/apps/tour/about.md
  py/apps/tour/app.toml
  py/apps/tour/requirements.txt
  py/apps/tour/static/icon.png
  py/apps/tour/static/screenshot-1.png
  py/apps/tour/static/screenshot-2.png
  py/apps/tour/static/screenshot-3.png
  py/examples/requirements.txt
  py/examples/theme_generator.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
