Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

ci: Use proper NodeJS version for all jobs requiring it.
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave.yml
Due: none

ci: Use proper NodeJS version from .nvmrc for all the jobs requiring NodeJS. (#1844)
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  package-lock.json
  ui/.nvmrc
Due: none

Fixed card->box assignments so that lhs_hello renders to the lhs box as intended.
  university/h2o_wave_university/lessons/lesson3.py
Due: ./py/venv/bin/flake8

chore: Use proper box attribute in university lesson3. (#1849)
  university/h2o_wave_university/lessons/lesson3.py
Due: ./py/venv/bin/flake8

docs: Make ui.menu docs correct. Image, label and icon are not mutually exclusive.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/menu.tsx
  website/widgets/form/menu.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Document separate machines deployment.
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Initial packaging. #1796
  py/Makefile
  py/h2o_wavelite/__init__.py
  py/h2o_wavelite/core.py
  py/h2o_wavelite/server.py
  py/setup_wavelite.py
Due: ./py/venv/bin/flake8

chore: Strip down unused stuff. #1796
  py/h2o_wavelite/core.py
  py/h2o_wavelite/metadata.py
Due: ./py/venv/bin/flake8

fix: Make the wavelite work for args, events and UI rendering. #1796
  py/h2o_wavelite/core.py
Due: ./py/venv/bin/flake8

chore: Strip down unused stuff. #1796
  py/h2o_wavelite/__init__.py
  py/h2o_wavelite/core.py
  py/h2o_wavelite/server.py
Due: ./py/venv/bin/flake8

feat: Initial impl. #1796
  py/h2o_wavelite/__init__.py
  py/h2o_wavelite/core.py
  py/h2o_wavelite/graphics.py
  py/h2o_wavelite/metadata.py
  py/h2o_wavelite/routing.py
  py/h2o_wavelite/server.py
  py/h2o_wavelite/types.py
  py/h2o_wavelite/ui.py
  py/h2o_wavelite/ui_ext.py
  py/h2o_wavelite/version.py
Due: ./py/venv/bin/flake8

feat: Keep client state only. #1796
  py/h2o_wavelite/h2o_wavelite/server.py
Due: ./py/venv/bin/flake8

docs: Add proper readme. #1796
  py/examples/wizard.py
  py/h2o_wavelite/README.md
  py/h2o_wavelite/README.rst
  py/h2o_wavelite/setup.py
  py/h2o_wavelite_web/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Add job for wavelite. #1796
  .github/workflows/publish-wavelite.yml
  .github/workflows/release-wave.yml
  Makefile
  py/Makefile
Due: none

chore: Split wavelite and its web assets into separate python packages. #1796
  py/Makefile
  py/h2o_wavelite/Makefile
  py/h2o_wavelite/setup.py
  py/h2o_wavelite_web/.gitignore
  py/h2o_wavelite_web/MANIFEST.in
  py/h2o_wavelite_web/Makefile
  py/h2o_wavelite_web/README.md
  py/h2o_wavelite_web/h2o_wavelite_web/__init__.py
  py/h2o_wavelite_web/h2o_wavelite_web/version.py
  py/h2o_wavelite_web/setup.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Update types for wavelite as well when generating python UI classes. #1796
  tools/wavegen/Makefile
Due: none

chore: Restructure python packages. #1796
  py/.gitignore
  py/Makefile
  py/h2o_wave/LICENSE
  py/h2o_wave/README.md
  py/h2o_wave/README.rst
  py/h2o_wave/h2o_wave/__init__.py
  py/h2o_wave/h2o_wave/__main__.py
  py/h2o_wave/h2o_wave/cli.py
  py/h2o_wave/h2o_wave/core.py
  py/h2o_wave/h2o_wave/db.py
  py/h2o_wave/h2o_wave/graphics.py
  py/h2o_wave/h2o_wave/ide.py
  py/h2o_wave/h2o_wave/routing.py
  py/h2o_wave/h2o_wave/server.py
  py/h2o_wave/h2o_wave/test.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  py/h2o_wave/h2o_wave/ui_ext.py
  py/h2o_wave/h2o_wave/version.py
  py/h2o_wave/project_templates/README.md
  py/h2o_wave/project_templates/header.py
  py/h2o_wave/project_templates/header_nav.py
  py/h2o_wave/project_templates/header_sidebar_nav.py
  py/h2o_wave/project_templates/hello_world.py
  py/h2o_wave/project_templates/sidebar_nav.py
  py/h2o_wave/setup.py
  py/h2o_wavelite/LICENSE
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Revert wizard changes. #1796
  py/examples/wizard.py
Due: ./py/venv/bin/flake8

chore: Refactor. #1796
  py/h2o_wavelite/h2o_wavelite/server.py
Due: ./py/venv/bin/flake8

chore: Separate into proper python package. #1796
  py/Makefile
  py/h2o_wavelite/README.md
  py/h2o_wavelite/README.rst
  py/h2o_wavelite/h2o_wavelite/__init__.py
  py/h2o_wavelite/h2o_wavelite/core.py
  py/h2o_wavelite/h2o_wavelite/graphics.py
  py/h2o_wavelite/h2o_wavelite/routing.py
  py/h2o_wavelite/h2o_wavelite/server.py
  py/h2o_wavelite/h2o_wavelite/types.py
  py/h2o_wavelite/h2o_wavelite/ui.py
  py/h2o_wavelite/h2o_wavelite/ui_ext.py
  py/h2o_wavelite/h2o_wavelite/version.py
  py/h2o_wavelite/setup.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Update python setup target #1796
  py/Makefile
Due: none

chore: Get rid of user state. #1796
  py/h2o_wavelite/h2o_wavelite/server.py
Due: ./py/venv/bin/flake8

feat: Scope id of the root HTML container. #1796
  py/h2o_wavelite/README.md
  py/h2o_wavelite/h2o_wavelite/server.py
  ui/index.html
  ui/src/index.tsx
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Allow injecting wavelite into existing pages. Allow ws config. #1796
  py/.gitignore
  py/h2o_wavelite/README.md
  py/h2o_wavelite/examples/hello_starlette.py
  py/h2o_wavelite/examples/hello_starlette_custom_index.py
  py/h2o_wavelite/examples/index_template.html
  py/h2o_wavelite_web/h2o_wavelite_web/__init__.py
  ui/src/ui.ts
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

Update py/h2o_wavelite/README.md
  py/h2o_wavelite/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add running instructions. #1796
  py/h2o_wavelite/examples/hello_fastapi.py
  py/h2o_wavelite/examples/hello_fastapi_custom_index.py
  py/h2o_wavelite/examples/hello_starlette.py
  py/h2o_wavelite/examples/hello_starlette_custom_index.py
Due: ./py/venv/bin/flake8

docs: Add FastAPI example. #1796
  py/h2o_wavelite/README.md
  py/h2o_wavelite/examples/hello_fastapi.py
  py/h2o_wavelite/examples/hello_fastapi_custom_index.py
  py/h2o_wavelite/examples/index_template.html
  ui/src/index.scss
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Remove leading slash from prefix if specified. #1796
  py/h2o_wavelite_web/h2o_wavelite_web/__init__.py
Due: ./py/venv/bin/flake8

docs: Add integration example. #1796
  py/h2o_wavelite/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

ci: Try building lightwave_web package during setup. #1796
  py/Makefile
Due: none

chore: Rename to lightwave #1796
  .github/workflows/publish-wavelite.yml
  .github/workflows/release-wave.yml
  Makefile
  py/.gitignore
  py/Makefile
  py/h2o_lightwave/LICENSE
  py/h2o_lightwave/Makefile
  py/h2o_lightwave/README.md
  py/h2o_lightwave/examples/hello_fastapi.py
  py/h2o_lightwave/examples/hello_fastapi_custom_index.py
  py/h2o_lightwave/examples/hello_starlette.py
  py/h2o_lightwave/examples/hello_starlette_custom_index.py
  py/h2o_lightwave/examples/index_template.html
  py/h2o_lightwave/h2o_lightwave/__init__.py
  py/h2o_lightwave/h2o_lightwave/core.py
  py/h2o_lightwave/h2o_lightwave/graphics.py
  py/h2o_lightwave/h2o_lightwave/routing.py
  py/h2o_lightwave/h2o_lightwave/server.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_lightwave/h2o_lightwave/ui_ext.py
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave/setup.py
  py/h2o_lightwave_web/.gitignore
  py/h2o_lightwave_web/MANIFEST.in
  py/h2o_lightwave_web/Makefile
  py/h2o_lightwave_web/README.md
  py/h2o_lightwave_web/h2o_lightwave_web/__init__.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_lightwave_web/setup.py
  py/h2o_wavelite_web/.gitignore
  py/h2o_wavelite_web/MANIFEST.in
  py/h2o_wavelite_web/README.md
  tools/wavegen/Makefile
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Use HTML response in custom index.html examples to make them simpler. #1796
  py/h2o_wavelite/examples/hello_fastapi_custom_index.py
  py/h2o_wavelite/examples/hello_starlette_custom_index.py
  py/h2o_wavelite/examples/index_template.html
Due: ./py/venv/bin/flake8

chore: Mark wavelite as beta. #1796
  py/h2o_wavelite/setup.py
  py/h2o_wavelite_web/setup.py
Due: ./py/venv/bin/flake8

ci: Use the same NodeJS version for publishing lightwave as is used for other jobs. #1796
  .github/workflows/publish-lightwave.yml
Due: none

ci: Rename PyPi tokens. #1796
  .github/workflows/publish-lightwave.yml
  .github/workflows/release-wave.yml
Due: none

chore: Rename wavelite leftovers in readme. #1796
  py/h2o_lightwave/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Update __init__.py. #1796
  py/h2o_lightwave/README.md
  py/h2o_lightwave/h2o_lightwave/__init__.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8
