Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

fix: Do not move intersected point while dragging.
  ui/src/image_annotator_polygon.ts
Due: none

chore: general refactor #1688
  ui/src/theme.ts
Due: none

feat: fix spectrum colors inconsistency when switching themes #1688
  py/examples/table_issue.py
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

Fix: Saturate spectrum colors properly based on primary color. (#1700)
  ui/src/theme.ts
Due: none

feat: Trigger support.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

fix: Show aux polygon points after dragging finished.
  ui/src/image_annotator.tsx
Due: none

fix: Rect move bug.
  ui/src/image_annotator.tsx
  ui/src/image_annotator_rect.ts
Due: none

feat: Add support for only allowing certain drawing shapes.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image_annotator.tsx
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

[feat] add height implementation to copyabletext in h2o_wave
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
Due: ./py/venv/bin/flake8

chore: Refactor.
  ui/src/image_annotator.tsx
Due: none

feat: Label genie image annotator polygon feedback. (#1703)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: updated docs/API descriptions, refactor #1691
  py/examples/image.py
  py/examples/image_popup.py
  ui/src/image.tsx
  ui/src/parts/lightbox.tsx
  website/static/img/widgets/image_popup.gif
  website/widgets/form/image.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Use same browse label height for both compact and D&D file upload.
  ui/src/file_upload.tsx
Due: none

fix: close popup on header/footer click #1691
  ui/src/parts/lightbox.tsx
Due: none

chore: click/arrow handlers refactor #1691
  ui/src/parts/lightbox.tsx
Due: none

chore: generate updated docs/API descriptions #1691
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

docs: 0.24 release blog post.
  website/blog/2022-11-21-release.md
  website/blog/assets/2022-11-21/image_annotator_polygon.png
  website/blog/assets/2022-11-21/image_popup.gif
  website/blog/assets/2022-11-21/wave_init.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Render properly sized table col alignment example in docs.
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Use correct default for no autostart.
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

test: Fix broken py unit tests due to httpx upgrade.
  py/tests/test_python_server.py
  py/tests/test_python_server_async.py
Due: ./py/venv/bin/flake8

fix: make footer clickable #1691
  ui/src/parts/lightbox.tsx
Due: none

feat adjust position for table search and groupby #1671
  ui/src/table.tsx
Due: none

feat: add example of 3 scenarios of table search & groupby
  py/examples/table_search_groupable.py
Due: ./py/venv/bin/flake8

remove comment
  py/examples/table_search_groupable.py
Due: ./py/venv/bin/flake8

update to show all 3 cases
  py/examples/table_search_groupable.py
Due: ./py/venv/bin/flake8

feat: Add path_popup prop to ui.image #1691 (#1692)
  py/examples/image.py
  py/examples/image_popup.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image.test.tsx
  ui/src/image.tsx
  ui/src/parts/lightbox.tsx
  website/docs/examples/assets/image-popup.png
  website/static/img/widgets/image_popup.gif
  website/widgets/content/image.md
  website/widgets/form/image.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Release v0.24.0
  py/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
Due: ./py/venv/bin/flake8

chore: Add wave university icon to assets.
  assets/brand/wave-university-wide.png
Due: none

fix: Use proper static dir name when mundging index.html.
  web_server.go
Due: golint -set_exit_status

remove comment and revert to original spacing on table body
  ui/src/table.tsx
Due: none

remove vertical align
  ui/src/table.tsx
Due: none

change align to end for search bar stack element
  ui/src/table.tsx
Due: none

fix: remove padding this was pushing the search bar into the table body when on it's own, probably because of the incorrect align
  ui/src/table.tsx
Due: none

remove demo of example
  py/examples/table_search_groupable.py
Due: ./py/venv/bin/flake8

docs: add mention of the new positioning for the search bar and groupby dropdown
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
Due: ./py/venv/bin/flake8

docs: update docs
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Small refactor.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  ui/src/table.tsx
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Put groupby always to the left and search to the right.
  ui/src/table.tsx
Due: none

feat: Render table groupby always on RHS and search on LHS. #1671 (#1709)
  ui/src/table.tsx
Due: none

make icon and text color consistent for disabled buttons globally #1664
  ui/src/app.tsx
  ui/src/button.tsx
Due: none
