Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Allow deselection on shift click.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

chore: Reorder shortcuts info.
  ui/src/image_annotator.tsx
Due: none

fix: Do not use the same shape reference when pasting multiple times.
  ui/src/image_annotator.tsx
Due: none

fix: Deselect originally copied shape to prevent unwanted amounts of pasted shapes.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

fix: Resize/move proper annotation when multiple selected.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

feat: Cancel drawing rect on hitting Esc as well
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

fix: Use 'd' key for delete instead of 'delete'.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

feat: Allow deleting shapes either via backspace or delete keys.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

chore: Minor refactor.
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

feat: Do not require holding ctrl when zooming.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

fix: Make sure correct cursor is displayed when rect/polygon tool is active.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

feat: Add better defaults to initially selected tool.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

feat: Move all selected shapes together.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

chore: Minor refactor.
  ui/src/image_annotator.tsx
  ui/src/image_annotator_rect.ts
Due: none

blog: Initial draft.
  website/blog/2023-02-20-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: Add screenshots and gifs.
  website/blog/2023-02-20-release.md
  website/blog/assets/2023-02-20/img_annotator.gif
  website/blog/assets/2023-02-20/inline_align.gif
  website/blog/assets/2023-02-20/inline_layout.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Add img annotator shortcuts screenshot.
  website/blog/2023-02-28-release.md
  website/blog/assets/2023-02-28/img_annotator.gif
  website/blog/assets/2023-02-28/img_annotator.png
  website/blog/assets/2023-02-28/inline_align.gif
  website/blog/assets/2023-02-28/inline_layout.png
  website/docs/examples/assets/table-select.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Prevent possible unwanted prop access over undefined. #1833
  ui/src/side_panel.tsx
Due: none

feat: Make the popup of ui.time_picker visible over the side panel #1833 (#1839)
  ui/src/dialog.tsx
  ui/src/notification_bar.tsx
  ui/src/side_panel.tsx
  ui/src/time_picker.tsx
Due: none

chore: Remove unwanted tmp img.
  website/docs/examples/assets/table-select.png
Due: none

feat: Account for absolute data_dir paths.
  py/h2o_wave/h2o_wave/core.py
Due: ./py/venv/bin/flake8

fix: Resize shapes in 'real-time' - redraw canvas during drag.
  ui/src/image_annotator.tsx
Due: none

fix: Do not move selected shapes if none is intersected by initial click.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

fix: Allow last vertex deletion via backspace.
  ui/src/image_annotator_polygon.ts
Due: none

fix: Prevent image selection on doubleclick.
  ui/src/image_annotator.tsx
Due: none

fix: Display correct cursor when returning to canvas after leaving.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

ci: Fix issues with previous Snyk scan
  .github/workflows/snyk-scan.yml
  go.mod
  py/Makefile
  py/examples/requirements.txt
  ui/package-lock.json
  website/package-lock.json
Due: none

ci: Remove test branch & add invoking for PRs
  .github/workflows/snyk-scan.yml
  go.mod
  py/Makefile
  py/examples/requirements.txt
  ui/package-lock.json
  website/package-lock.json
Due: none

fix: Display correct cursor when resizing rect and exchange x1,x2 or y1,y2.
  ui/src/image_annotator.tsx
  ui/src/image_annotator_rect.ts
Due: none

test: Check if rect corner resize cursor is updated properly.
  ui/src/image_annotator.test.tsx
Due: none

fix: use different source for example image to prevent pexels.com 403 forbidden error
  py/examples/image_annotator.py
  website/docs/examples/assets/image-annotator.png
Due: ./py/venv/bin/flake8

chore: Account for absolute data_dir paths during local upload. (#1856)
  py/h2o_wave/h2o_wave/core.py
Due: ./py/venv/bin/flake8

fix: Allow drawing rect during zooming as well.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

ci: Change Snyk monitor & test for Go dependencies
  .github/workflows/snyk-scan.yml
  go.mod
  py/Makefile
  py/examples/requirements.txt
  ui/package-lock.json
  website/package-lock.json
Due: none

ci: Test snyk monitor
  .github/workflows/snyk-scan.yml
Due: none

ci: Fix syntax issue for GOFLAGS
  .github/workflows/snyk-scan.yml
  go.mod
  py/Makefile
  py/examples/requirements.txt
  ui/package-lock.json
  website/package-lock.json
Due: none

ci: Fix set-output issue
  .github/workflows/snyk-scan.yml
  go.mod
  py/Makefile
  py/examples/requirements.txt
  ui/package-lock.json
  website/package-lock.json
Due: none

ci: Remove test branch & added new lines for testing
  .github/workflows/snyk-scan.yml
  go.mod
  py/Makefile
  py/examples/requirements.txt
  ui/package-lock.json
  website/package-lock.json
Due: none

chore: Img annotator feedback. (#1850)
  py/examples/image_annotator.py
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
  website/docs/examples/assets/image-annotator.png
Due: ./py/venv/bin/flake8

blog: Release blog post for 0.25 (#1857)
  website/blog/2023-02-28-release.md
  website/blog/assets/2023-02-28/img_annotator.gif
  website/blog/assets/2023-02-28/img_annotator.png
  website/blog/assets/2023-02-28/inline_align.gif
  website/blog/assets/2023-02-28/inline_layout.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
