Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: view mode selection using dropdown
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: show correct dropdown value after page refresh, code cleaning and refactoring
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

Feat: View mode dropdown (#1500)
  web-ide/web_ide.js
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: Base file tree impl.
  .vscode/launch.json
  web-ide/.gitignore
  web-ide/Makefile
  web-ide/file_utils.py
  web-ide/starter.py
  web-ide/static/app_not_running.svg
  web-ide/static/web_ide.css
  web-ide/static/web_ide.js
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: Add file tree styles.
  web-ide/static/img/file-icons/book-open.svg
  web-ide/static/img/file-icons/code-json.svg
  web-ide/static/img/file-icons/file-document.svg
  web-ide/static/img/file-icons/file-gif-box.svg
  web-ide/static/img/file-icons/file-jpg-box.svg
  web-ide/static/img/file-icons/file-png-box.svg
  web-ide/static/img/file-icons/file-xml-box.svg
  web-ide/static/img/file-icons/file.svg
  web-ide/static/img/file-icons/folder-open.svg
  web-ide/static/img/file-icons/folder-zip.svg
  web-ide/static/img/file-icons/folder.svg
  web-ide/static/img/file-icons/language-css3.svg
  web-ide/static/img/file-icons/language-html5.svg
  web-ide/static/img/file-icons/language-javascript.svg
  web-ide/static/img/file-icons/language-python.svg
  web-ide/static/img/file-icons/svg.svg
  web-ide/static/img/file-solid.svg
  web-ide/static/img/folder-solid.svg
  web-ide/static/img/pen-solid.svg
  web-ide/static/img/trash-can-solid.svg
  web-ide/static/web_ide.css
  web-ide/web_ide.js
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: Minor improvements.
  web-ide/file_utils.py
  web-ide/static/web_ide.css
  web-ide/static/web_ide.js
  web-ide/web_ide.js
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

🐞 fix: using r.Host if post_logout_redirect_url not set
  auth.go
Due: golint -set_exit_status

fix: Use host if post_logout_redirect_url not set (#1504)
  auth.go
Due: golint -set_exit_status

feat: Minor improvements.
  web-ide/static/web_ide.css
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

fix: Get rid of race condition when loading pyodide.
  web-ide/web_ide.js
Due: none

chore: Remove to Studio
  py/examples/wizard.py
  studio/.gitignore
  studio/Makefile
  studio/app.toml
  studio/autocomplete.py
  studio/file_utils.py
  studio/requirements.txt
  studio/starter.py
  studio/static/app_not_running.svg
  studio/static/img/file-icons/book-open.svg
  studio/static/img/file-icons/code-json.svg
  studio/static/img/file-icons/file-document.svg
  studio/static/img/file-icons/file-gif-box.svg
  studio/static/img/file-icons/file-jpg-box.svg
  studio/static/img/file-icons/file-png-box.svg
  studio/static/img/file-icons/file-xml-box.svg
  studio/static/img/file-icons/file.svg
  studio/static/img/file-icons/folder-open.svg
  studio/static/img/file-icons/folder-zip.svg
  studio/static/img/file-icons/folder.svg
  studio/static/img/file-icons/language-css3.svg
  studio/static/img/file-icons/language-html5.svg
  studio/static/img/file-icons/language-javascript.svg
  studio/static/img/file-icons/language-python.svg
  studio/static/img/file-icons/svg.svg
  studio/static/img/file-solid.svg
  studio/static/img/folder-solid.svg
  studio/static/img/pen-solid.svg
  studio/static/img/trash-can-solid.svg
  studio/static/studio.css
  studio/studio.js
  studio/studio.py
Due: ./py/venv/bin/flake8

feat: Add app.toml
  studio/Makefile
  studio/about.md
  studio/app.toml
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add appignore for cloud bundles.
  studio/.appignore
  studio/app.toml
Due: none

feat: First version of import.
  .vscode/launch.json
  studio/Makefile
  studio/file_utils.py
  studio/static/studio.css
  studio/studio.js
  studio/studio.py
  ui/src/notification_bar.tsx
Due: ./py/venv/bin/flake8

chore: Refactor.
  studio/studio.py
Due: ./py/venv/bin/flake8

fix: Some minor fixes regarding booting up the app/script.
  studio/file_utils.py
  studio/studio.py
  studio/studio_editor.py
Due: ./py/venv/bin/flake8

feat: Allow renaming root folder.
  studio/file_utils.py
  studio/studio.js
  studio/studio.py
Due: ./py/venv/bin/flake8

ci: Wave studio build.
  Makefile
  studio/Makefile
  studio/app.toml
Due: none

chore: Refactor.
  studio/Makefile
Due: none

chore: Build improvements.
  studio/Makefile
  studio/app.toml
Due: none

feat: Make studio run in cloud
  studio/app.toml
  studio/studio.py
Due: ./py/venv/bin/flake8

fix: Do not inline choice_group options if inline is not set.
  ui/src/choice_group.tsx
Due: none

feat: Add support for unix epochs in table time columns.
  py/examples/table.py
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

fix: Typo.
  studio/studio.py
Due: ./py/venv/bin/flake8

feat: Finish cloud integration.
  studio/app.toml
  studio/studio.js
  studio/studio.py
Due: ./py/venv/bin/flake8

test: Fix broken test, add table col unix epoch test.
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: Update table time col docs.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: file icons support
  studio/static/img/file-icons/book-open.svg
  studio/static/img/file-icons/code-json.svg
  studio/static/img/file-icons/file-document.svg
  studio/static/img/file-icons/file-gif-box.svg
  studio/static/img/file-icons/file-jpg-box.svg
  studio/static/img/file-icons/file-png-box.svg
  studio/static/img/file-icons/file-xml-box.svg
  studio/static/img/file-icons/file.svg
  studio/static/img/file-icons/folder-zip.svg
  studio/static/img/file-icons/folder.svg
  studio/static/img/file-icons/language-css3.svg
  studio/static/img/file-icons/language-html5.svg
  studio/static/img/file-icons/language-javascript.svg
  studio/static/img/file-icons/language-python.svg
  studio/static/img/file-icons/svg.svg
  studio/static/img/file-plus.svg
  studio/static/img/file-solid.svg
  studio/static/img/folder-open.svg
  studio/static/img/folder-plus.svg
  studio/static/img/folder-solid.svg
  studio/static/img/folder.svg
  studio/static/img/pen-solid.svg
  studio/static/img/pencil.svg
  studio/static/img/trash-can-solid.svg
  studio/static/img/trash-can.svg
  studio/static/studio.css
  studio/studio.js
  studio/studio.py
Due: ./py/venv/bin/flake8

chore: just nit
  studio/studio.js
Due: none

feat: remove double click feature
  studio/studio.js
Due: none

feat: File explorer feature and styling improvements (#1513)
  studio/static/img/file-icons/book-open.svg
  studio/static/img/file-icons/code-json.svg
  studio/static/img/file-icons/file-document.svg
  studio/static/img/file-icons/file-gif-box.svg
  studio/static/img/file-icons/file-jpg-box.svg
  studio/static/img/file-icons/file-png-box.svg
  studio/static/img/file-icons/file-xml-box.svg
  studio/static/img/file-icons/file.svg
  studio/static/img/file-icons/folder-zip.svg
  studio/static/img/file-icons/folder.svg
  studio/static/img/file-icons/language-css3.svg
  studio/static/img/file-icons/language-html5.svg
  studio/static/img/file-icons/language-javascript.svg
  studio/static/img/file-icons/language-python.svg
  studio/static/img/file-icons/svg.svg
  studio/static/img/file-plus.svg
  studio/static/img/file-solid.svg
  studio/static/img/folder-open.svg
  studio/static/img/folder-plus.svg
  studio/static/img/folder-solid.svg
  studio/static/img/folder.svg
  studio/static/img/pen-solid.svg
  studio/static/img/pencil.svg
  studio/static/img/trash-can-solid.svg
  studio/static/img/trash-can.svg
  studio/static/studio.css
  studio/studio.js
  studio/studio.py
Due: ./py/venv/bin/flake8

feat: Minor styling improvements.
  studio/static/studio.css
Due: none

ci: Unify timezone for unit tests.
  ui/package.json
  ui/src/table.test.tsx
Due: none

feat: Increase tries count for loading pyodide.
  studio/studio.js
Due: none

feat: UX improvement - open file after creation.
  studio/studio.js
  studio/studio.py
  studio/studio_editor.py
Due: ./py/venv/bin/flake8

feat: Reduce debounce timeout to 1s.
  studio/studio.js
Due: none

fix: prevent opening all folders on folder/file create
  studio/studio.js
Due: none

feat: do not apply card margin when card height/width equals 0px
  ui/src/page.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
