Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Refactor.
  studio/studio.py
Due: ./py/venv/bin/flake8

feat: First version of import.
  .vscode/launch.json
  studio/Makefile
  studio/file_utils.py
  studio/static/studio.css
  studio/studio.js
  studio/studio.py
  ui/src/notification_bar.tsx
Due: ./py/venv/bin/flake8

feat: Increase tries count for loading pyodide.
  studio/studio.js
Due: none

chore: Refactor.
  studio/Makefile
Due: none

feat: Add appignore for cloud bundles.
  studio/.appignore
  studio/app.toml
Due: none

feat: Finish cloud integration.
  studio/app.toml
  studio/studio.js
  studio/studio.py
Due: ./py/venv/bin/flake8

perf: Use NO_STORE during cloud deployment.
  studio/about.md
  studio/app.toml
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update about.
  studio/about.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Fix: Prevent opening all folders on folder/file create (#1516)
  studio/studio.js
Due: none

fix: Remove pyodide loading race condition.
  studio/studio.js
  studio/studio.py
Due: ./py/venv/bin/flake8

feat: Wave studio.
  .vscode/launch.json
  Makefile
  studio/.appignore
  studio/.gitignore
  studio/Makefile
  studio/about.md
  studio/app.toml
  studio/autocomplete.py
  studio/file_utils.py
  studio/requirements.txt
  studio/starter.py
  studio/static/app_not_running.svg
  studio/static/img/file-icons/book-open.svg
  studio/static/img/file-icons/code-json.svg
  studio/static/img/file-icons/file-document.svg
  studio/static/img/file-icons/file-gif-box.svg
  studio/static/img/file-icons/file-jpg-box.svg
  studio/static/img/file-icons/file-png-box.svg
  studio/static/img/file-icons/file-xml-box.svg
  studio/static/img/file-icons/file.svg
  studio/static/img/file-icons/folder-open.svg
  studio/static/img/file-icons/folder-zip.svg
  studio/static/img/file-icons/folder.svg
  studio/static/img/file-icons/language-css3.svg
  studio/static/img/file-icons/language-html5.svg
  studio/static/img/file-icons/language-javascript.svg
  studio/static/img/file-icons/language-python.svg
  studio/static/img/file-icons/svg.svg
  studio/static/img/file-plus.svg
  studio/static/img/folder-open.svg
  studio/static/img/folder-plus.svg
  studio/static/img/folder.svg
  studio/static/img/pencil.svg
  studio/static/img/trash-can.svg
  studio/static/studio.css
  studio/studio.js
  studio/studio.py
  studio/studio_editor.py
  ui/src/notification_bar.tsx
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Add a note about Conda not containing the server. #1250
  website/docs/installation.mdx
Due: none

docs: Add a note waved requirement for scripts.
  website/docs/scripts.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Example of how to integrate R into docs. #1527
  .nvmrc
  website/docs/guide.md
  website/docs/scripts.md
  website/docs/tutorial-beer.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-hello.mdx
  website/docs/tutorial-monitor.md
  website/docs/tutorial-todo.md
  website/package-lock.json
  website/package.json
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add OS guides for downloading binaries.
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
Due: none

docs: Add a note about supported units during server/app configuration.
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

perf: Do not recreate Vega card, but update instead - prevent flicker. #1475
  ui/src/vega.tsx
Due: none

feat: Do not apply card margin when card height/width equals 0px. (#1517)
  ui/src/page.tsx
Due: none

feat: open default active file tab, reverse tab colors
  studio/static/studio.css
  studio/studio.js
Due: none

feat: Allow plot marks to be non-interactive. (#1332)
  py/examples/plot_events_disabled.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/plot.tsx
  website/widgets/plots/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

WIP
  ui/src/gui/canvas.tsx
Due: none

ci: Refactor release artifacts upload.
  .github/workflows/release-wave.yml
Due: none

docs: Use correct separator for public/private dir. Closes #1502
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add a note about IDE plugins.
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/tutorial-todo.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: file upload - ignore error when aborted by user
  ui/src/file_upload.tsx
Due: none

chore: replace isAborted ref with rejectXhr ref
  ui/src/file_upload.tsx
Due: none

feat: does not show file names when compact upload canceled manually
  ui/src/file_upload.tsx
Due: none

chore: api description - removed brackets
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/file_upload.tsx
Due: ./py/venv/bin/flake8

feat: file upload - ignore error when aborted by user fix
  ui/src/file_upload.test.tsx
  ui/src/file_upload.tsx
Due: none

feat: clear file names when cleaning files
  ui/src/file_upload.tsx
Due: none

chore: component regenerated due to API description change
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/file_upload.tsx
Due: ./py/venv/bin/flake8

feat: set file names before compact upload
  ui/src/file_upload.tsx
Due: none

feat: add option to cancel file upload
  ui/src/file_upload.tsx
Due: none

chore: code refactor
  ui/src/file_upload.tsx
Due: none

fix: Use ghactions v2.
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Add needed deps.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Make R part of nightly releases.
  .github/workflows/release-wave-nightly.yml
  Makefile
  r/DESCRIPTION
  r/Dockerfile
  r/Makefile
Due: none

fix: Use dedicated R gh actions.
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Do not use version env variable if present.
  r/Makefile
Due: none
