Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

test: Add badge table cell test #974
  ui/src/badge_table_cell_type.test.tsx
  ui/src/badge_table_cell_type.tsx
Due: none

chore: Remove tmp h2o theme. #974
  ui/src/theme.ts
Due: none

chore: Rename badge label to name #974
  py/examples/table.py
  py/examples/table_badge.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/badge_table_cell_type.test.tsx
  ui/src/badge_table_cell_type.tsx
Due: ./py/venv/bin/flake8

docs: Add badge table example. #974
  py/examples/table_badge.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

fix: Preserve group toggle space when hidden #974
  ui/src/table.tsx
Due: none

fix: table footer color contrast #974
  py/examples/table.py
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

chore: add screenshot #974
  website/docs/examples/assets/table-tags.png
Due: none

chore: rename badge to tag #974
  py/examples/annotator.py
  py/examples/table.py
  py/examples/table_badge.py
  py/examples/table_tags.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/annotator.test.tsx
  ui/src/annotator.tsx
  ui/src/badge_table_cell_type.tsx
  ui/src/table.tsx
  ui/src/tag_table_cell_type.test.tsx
  ui/src/tag_table_cell_type.tsx
Due: ./py/venv/bin/flake8

fix: filtering and janky hander when scrolling #974
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

refactor: code style #974
  ui/src/badge_table_cell_type.tsx
Due: none

docs: update table screenshot #974
  website/docs/examples/assets/table.png
Due: none

chore: rename annotator to text annotator #974
  py/examples/text_annotator.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
  ui/src/table.test.tsx
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
  website/docs/examples/assets/text-annotator.png
Due: ./py/venv/bin/flake8

chore: format code #974
  py/examples/table.py
Due: ./py/venv/bin/flake8

feat: display footer (rows count) if rows > 20 #974
  ui/src/table.tsx
Due: none

feat: Table badges + redesign #974 (#989)
  .vscode/launch.json
  py/examples/table.py
  py/examples/table_tags.py
  py/examples/text_annotator.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/table.test.tsx
  ui/src/table.tsx
  ui/src/tag_table_cell_type.test.tsx
  ui/src/tag_table_cell_type.tsx
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
  ui/src/theme.ts
  website/docs/examples/assets/table-tags.png
  website/docs/examples/assets/table.png
  website/docs/examples/assets/text-annotator.png
Due: ./py/venv/bin/flake8

fix: selection preserved during filtering #153
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: none

feat: searchable dropdown dialog #153
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: none

feat: Dialog dropdown #153
  py/examples/dropdown.py
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
  ui/src/parts/utils.ts
Due: ./py/venv/bin/flake8

feat: styling #153
  ui/src/dropdown.tsx
Due: none

feat: UX improvements #153
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: none

feat(dropdown): display a dialog with filtering for > 100 choices (#303)
  py/examples/dropdown.py
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
  ui/src/parts/utils.ts
Due: ./py/venv/bin/flake8

feat: clipboard component #194
  py/examples/clipboard.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/clipboard.tsx
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

feat: redesign and rename clipboard component #194
  py/examples/clipboard.py
  py/examples/copyable_text.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/clipboard.tsx
  ui/src/copyable_text.tsx
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

feat: remove md support, reposition multiline copy button #194
  py/examples/copyable_text.py
  ui/src/copyable_text.tsx
Due: ./py/venv/bin/flake8

fix: remove Safari default button margin #194
  ui/src/copyable_text.tsx
Due: none

chore: sync API #194
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

feat: add markdown support for multiline #194
  py/examples/copyable_text.py
  ui/src/copyable_text.tsx
Due: ./py/venv/bin/flake8

chore: rebase, refactor and ensure max browser compatibility #194
  ui/src/copyable_text.tsx
Due: none

test: add unit test #194
  ui/src/copyable_text.test.tsx
Due: none

docs: add component screenshot #194
  website/docs/examples/assets/copyable-text.png
Due: none

chore: remove unnecessary CSS #194
  ui/src/copyable_text.tsx
Due: none

docs: update docstring #194
  py/h2o_wave/types.py
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

fix: adjust top offset #194
  ui/src/copyable_text.tsx
Due: none

fix: Check H2O_WAVE_APP_ADDRESS env var before scanning free port (#937)
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

fix: handle a few dropdown dialog edge cases #153
  py/examples/stat_wide_pie.py
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: ./py/venv/bin/flake8

feat: Make examples in Tour searchable.
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: unify default example
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: Remove everything related to git hooks.
  .github/CONTRIBUTING.md
  githooks/commit-msg.js
  githooks/pre-commit.js
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Copyable text component #194 (#749)
  py/examples/copyable_text.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/copyable_text.test.tsx
  ui/src/copyable_text.tsx
  ui/src/form.tsx
  website/docs/examples/assets/copyable-text.png
Due: ./py/venv/bin/flake8
