Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

fix: Update spacing to 15px
  ui/src/table.tsx
Due: none

chore: refactor css #1599
  ui/src/image_grid.tsx
Due: none

fix: Reduce space between top toolbar and table #1492 (#1681)
  ui/src/table.tsx
Due: none

fix: Allow formatting for more than just 1st ui.mark. #617 (#1676)
  ui/src/plot.tsx
Due: none

fix: Adjust box dimensions for examples for laptop screen
  py/examples/form.py
  py/examples/form_frame_path.py
  py/examples/frame_path.py
  py/examples/image.py
  py/examples/image_annotator.py
  py/examples/plot_bokeh.py
  py/examples/plot_bokeh_callbacks.py
  py/examples/plot_form.py
  py/examples/plot_pandas.py
  py/examples/plot_schema.py
  py/examples/plot_vegalite_flex.py
  py/examples/plot_vegalite_form.py
  py/examples/table.py
  py/examples/table_tags.py
  py/examples/textbox.py
  py/examples/wide_article_preview.py
  py/examples/wide_plot.py
Due: ./py/venv/bin/flake8

fix: Remove/rework layout of some of the examples.
  py/examples/image.py
  py/examples/plot_form.py
  py/examples/plot_pandas.py
  py/examples/plot_vegalite_flex.py
  py/examples/table.py
  py/examples/wide_plot.py
Due: ./py/venv/bin/flake8

test: Fix broken table tests.
  ui/src/table.test.tsx
Due: none

chore: Rename title back to label.
  py/examples/menu.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/menu.tsx
  website/widgets/form/menu.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Added label parameter to ui.menu #1577 (#1663)
  py/examples/menu.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/menu.tsx
  website/widgets/form/menu.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Minor refactor.
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

security: Unsafe tar extract - CVE-2007-4559 Patch (#1668)
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

docs: Add a section about app-wide loading spinner.
  website/docs/arguments.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Change width of LHS in the University app.
  university/university.py
Due: ./py/venv/bin/flake8

chore: Update Wave University app description.
  university/app.toml
Due: none

chore: numbered images example, column-ordered masonry layout image grid #1599
  py/examples/image_grid.py
  ui/src/image_grid.tsx
Due: ./py/venv/bin/flake8

chore: Initial refactor. #1597
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

feat: Minimal polygon. #1597
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

feat: Improve shape selection. #1597
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

feat: Make selection work. #1597
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
  ui/src/theme.ts
Due: none

feat: Clean up cursors. #1597
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

fix: Handle rect selection properly. #1597
  ui/src/image_annotator.tsx
  ui/src/image_annotator_rect.ts
Due: none

chore: Refactor. #1597
  ui/src/image_annotator.tsx
  ui/src/image_annotator_rect.ts
Due: none

perf: Do not redraw everything all the time. #1597
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

feat: Improve polygon drawing UX. #1597
  ui/src/image_annotator_polygon.ts
Due: none

feat: Aux polygon points. #1597
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

chore: Minor refactor. #1597
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

test: Add unit tests. #1597
  .vscode/launch.json
  ui/src/image_annotator.test.tsx
  ui/src/setupTests.ts
Due: none

feat: Aux points support. #1597
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

feat: Point move for polygon. #1597
  py/examples/image_annotator.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: ./py/venv/bin/flake8

fix: Allow polygon to move properly. #1597
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

feat: Polygon movements. #1597
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

docs: Add docstring. #1597
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/image_annotator.tsx
Due: ./py/venv/bin/flake8

test: Add more unit tests. #1597
  ui/src/image_annotator.test.tsx
Due: none

chore: Rename polygon items to vertices. #1597
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: ./py/venv/bin/flake8

chore: Make image annotator fit Tour preview. #1597
  py/examples/image_annotator.py
Due: ./py/venv/bin/flake8

docs: Add image annotator polygon example to widgets showcase. #1597
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Initial wave init impl.
  py/h2o_wave/cli.py
  py/project_templates/header.py
  py/project_templates/header_nav.py
  py/project_templates/header_sidebar_nav.py
  py/project_templates/hello_world.py
  py/project_templates/sidebar_nav.py
  py/setup.py
Due: ./py/venv/bin/flake8

chore: Refactor.
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

chore: Update template image.
  py/project_templates/header_nav.py
  py/project_templates/header_sidebar_nav.py
  py/project_templates/sidebar_nav.py
  tools/intellij-plugin/src/main/resources/templates/wave-blocks.xml
  tools/vscode-extension/base-snippets.json
Due: ./py/venv/bin/flake8
