Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: refactor buffer getTupByIdx functions
  py/examples/plot_issue_buffers.py
  ts/index.ts
Due: ./py/venv/bin/flake8

ci: Fix issues & add policy file
  .github/workflows/snyk-scan.yml
  .snyk
  py/examples/requirements.txt
Due: none

fix: Use proper BASE_URL for static assets.
  web_server.go
Due: golint -set_exit_status

chore: remove redundant refs
  ui/src/plot.tsx
  ui/vite.config.js
Due: none

chore: update example to make sure the new implementation counts with dynamic data changes
  py/examples/plot_issue_buffers.py
Due: ./py/venv/bin/flake8

chore: delete test example
  py/examples/plot_issue_buffers.py
Due: ./py/venv/bin/flake8

docs: Fix plot labels example to use the correct data.
  py/examples/plot_interval_labels.py
  website/widgets/plots/interval.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Testing for go dependencies
  .snyk
  go.mod
  py/examples/requirements.txt
Due: none

ci: Remove new lines added for testing
  go.mod
Due: none

ci: Ignore false positives during Snyk scan (#1859)
  .github/workflows/snyk-scan.yml
  .snyk
Due: none

feat: allow specifying '1' for height in copyable text to fill the remaining space #1823
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/copyable_text.tsx
  website/widgets/form/copyable_text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Initial support for by-name access for scripts, multicast, broadcast - needs discussion. #148
  card.go
Due: golint -set_exit_status

chore: Keep setting card at the original location. #148
  card.go
Due: golint -set_exit_status

feat: Allow by-name access on the server side for nested props. #148
  card.go
Due: golint -set_exit_status

chore: refactor, compute custom tooltip content only on tooltip change
  py/examples/plot_issue_buffers.py
  ts/index.ts
  ts/package.json
  ui/src/plot.tsx
  ui/vite.config.js
Due: ./py/venv/bin/flake8

feat: Add component cache indexed by name to the client as well. #148
  ts/index.ts
Due: none

perf: Do not iterate over full map if not necessary. #148
  card.go
  ts/index.ts
Due: golint -set_exit_status

fix: Initialize nameComponentMap only once. #148
  card.go
Due: golint -set_exit_status

chore: Minor refactor. #148
  ts/index.ts
Due: none

fix: Fix typos in notification_bar.test.tsx
  ui/src/notification_bar.test.tsx
Due: none

chore: unpack by idx for non-data objects
  ts/index.ts
Due: none

chore: API description adjustment #1823
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/copyable_text.tsx
Due: ./py/venv/bin/flake8

chore: remove unnecessary style #1823
  ui/src/copyable_text.tsx
Due: none

chore: update py and md examples #1823
  py/examples/copyable_text.py
  website/widgets/form/copyable_text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Fix typos in notification_bar.test.tsx (#1881)
  ui/src/notification_bar.test.tsx
Due: none

chore: allow vertical resizing for full height textbox #1823
  ui/src/copyable_text.tsx
Due: none

chore: Address review comments. #148
  card.go
  go.mod
  go.sum
Due: golint -set_exit_status

chore: Simplify counter examples. #148
  py/examples/counter_broadcast.py
  py/examples/counter_multicast.py
  py/examples/counter_unicast.py
Due: ./py/venv/bin/flake8

feat: Allow by-name component access. #148 (#1870)
  card.go
  go.mod
  go.sum
  py/examples/counter_broadcast.py
  py/examples/counter_multicast.py
  py/examples/counter_unicast.py
  ts/index.ts
Due: golint -set_exit_status, ./py/venv/bin/flake8

chore: refactor textfield styles #1823
  ui/src/copyable_text.tsx
Due: none

docs: Rewording. #1823
  website/widgets/form/copyable_text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow specifying '1' for height in copyable text to fill the remaining space #1823 (#1879)
  py/examples/copyable_text.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/copyable_text.tsx
  website/widgets/form/copyable_text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Use correct path for py API docs.
  py/h2o_wave/h2o_wave/__init__.py
Due: ./py/venv/bin/flake8

ci: Bump NodeJS version.
  .nvmrc
Due: none

ci: Adjust Conda publish to the new py structure.
  .github/workflows/release-wave.yml
  py/h2o_wave/conda/conda_build_config.yaml
  py/h2o_wave/conda/meta.yaml
Due: none

ci: Increase Node memory limit for lightwave publish.
  .github/workflows/publish-lightwave.yml
Due: none

docs: Include Lightwave blog post and integration examples within the README.
  py/h2o_lightwave/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add EC2 deployment blog post link.
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
