Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Typo. #1796
  py/h2o_lightwave/h2o_lightwave/__init__.py
Due: ./py/venv/bin/flake8

chore: Build h2o-wave npm package as ESM instead of Cjs since vite supports ESM only.
  Makefile
  ts/dev.tsconfig.json
  ts/package.json
  ui/vite.config.js
Due: none

chore: Fix PyPI dev status classifier
  py/h2o_lightwave/setup.py
  py/h2o_lightwave_web/setup.py
Due: ./py/venv/bin/flake8

chore: remove console log #1836
  ui/src/plot.tsx
Due: none

chore: remove changed api description #1836
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

fix: show correct tooltips for area and histogram plots #1836
  py/examples/plot_area_range.py
  py/examples/plot_interval_range.py
  py/examples/plot_interval_range_transpose.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

fix: do not show items that are not present in plot data inside tooltip #1836
  ui/src/plot.tsx
Due: none

chore: change fix implementation to avoid a breaking change #1836
  py/examples/plot_area_range.py
  py/examples/plot_interval_range.py
  py/examples/plot_interval_range_transpose.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

Revert "chore: optimize memory performance for plot tooltips #1836"
  ui/src/plot.tsx
Due: none

chore: optimize tooltip render #1836
  ui/src/plot.tsx
Due: none

chore: optimize memory performance for plot tooltips #1836
  ui/src/plot.tsx
Due: none

fix: prevent the popup from losing focus on open when time picker is inside the dialog #1833
  ui/src/time_picker.tsx
Due: none

fix: make time picker visible over side panel, prevent dismiss when picker popup is focused #1833
  ui/src/time_picker.tsx
Due: none

fix: Display only the plot data inside the plot tooltip #1836 (#1841)
  ui/src/plot.tsx
Due: none

ci: Adjust python build to new dir structure.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  py/Makefile
  py/h2o_wave/Makefile
Due: none

fix: dismiss side panel only when clicking on overlay or on its close button #1833
  ui/src/dialog.tsx
  ui/src/notification_bar.tsx
  ui/src/side_panel.tsx
  ui/src/time_picker.tsx
Due: none

chore: Add purge targets for py build.
  py/Makefile
  py/h2o_lightwave/Makefile
  py/h2o_lightwave_web/Makefile
  py/h2o_wave/Makefile
Due: none

feat: Forward initial index.html GET request headers as well. #1704
  client.go
  py/h2o_wave/h2o_wave/server.py
  site.go
  socket.go
  web_server.go
Due: golint -set_exit_status, ./py/venv/bin/flake8

feat: Send headers through body instead of plain headers. #1704
  app.go
  broker.go
  client.go
  py/h2o_wave/h2o_wave/server.py
Due: golint -set_exit_status, ./py/venv/bin/flake8

feat: Make clientID cookie HTTPonly. #1704
  web_server.go
Due: golint -set_exit_status

chore: Refactor. #1704
  web_server.go
Due: golint -set_exit_status

Update py/h2o_wave/server.py
  py/h2o_wave/h2o_wave/server.py
Due: ./py/venv/bin/flake8

feat: Forward inbound HTTP headers to the Wave app. #1704
  app.go
  broker.go
  client.go
  py/h2o_wave/h2o_wave/server.py
  socket.go
Due: golint -set_exit_status, ./py/venv/bin/flake8

chore: Remove unused import. #1704
  py/h2o_wave/h2o_wave/server.py
Due: ./py/venv/bin/flake8

chore: Rename PY forwarded_headers => headers. #1704
  py/h2o_wave/h2o_wave/server.py
Due: ./py/venv/bin/flake8

chore: Add TODO comment. #1704
  py/h2o_wave/h2o_wave/server.py
Due: ./py/venv/bin/flake8

docs: Document headers forwarding configuration. #1704
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Handle edge case when Wave server tries to disconnect from unsubscribed app. #1704
  client.go
Due: golint -set_exit_status

docs: Document forwarded headers. #1704
  py/h2o_wave/h2o_wave/server.py
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Minor refactor. #1704
  client.go
Due: golint -set_exit_status

feat: Allow forwarded headers configuration. #1704
  cmd/wave/main.go
  conf.go
  server.go
  socket.go
Due: golint -set_exit_status

feat: Prevent memory leak by cleaning up Python client state on WS disconnect. #1704
  app.go
  client.go
  py/h2o_wave/h2o_wave/server.py
Due: golint -set_exit_status, ./py/venv/bin/flake8

feat: Forward initial WS connection headers only. #1704
  client.go
  py/h2o_wave/h2o_wave/server.py
  site.go
  socket.go
  web_server.go
Due: golint -set_exit_status, ./py/venv/bin/flake8

docs: Add a pointer to headers forwarding configuration #1704
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Update website/docs/configuration.md
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Fix typo. #1704
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Proper type for q.headers. #1704
  py/h2o_wave/h2o_wave/server.py
Due: ./py/venv/bin/flake8

feat: Forward HTTP headers to the Wave app. #1704 (#1770)
  app.go
  client.go
  cmd/wave/main.go
  conf.go
  py/h2o_wave/h2o_wave/server.py
  server.go
  socket.go
  web_server.go
  website/docs/configuration.md
  website/docs/security.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Minor refactor.
  ui/src/image_annotator.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
