Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

ci: Install make on windows. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Increase Node memory limit. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Use make targets instead of plain bash commands for nightly test job. #1874
  .github/workflows/release-wave-nightly.yml
  Makefile
Due: none

fix: Add missing semicolon and raise exception if occurs to fail the job properly. #1874
  e2e/oidc_tests.py
Due: ./py/venv/bin/flake8

chore: Install playwright browsers as part of setup #1874
  e2e/Makefile
Due: none

chore: Refactor to vanilla pytest. #1874
  e2e/Makefile
  e2e/oidc_tests.py
  e2e/test_keycloak.py
Due: ./py/venv/bin/flake8

ci: Install only what is required for python tests. #1874
  .github/workflows/release-wave-nightly.yml
  Makefile
  py/Makefile
Due: none

ci: Add macos to the matrix. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

chore: Use proper numpy version for examples requirements. #1874
  py/examples/requirements.txt
Due: none

ci: Use specific python version. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Install docker on macos images. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

test: Poll py unit test waved process via requests lib. #1874
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

test: Poll py unit test waved process via httpx lib. #1874
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

ci: Cancel any already running nightly. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

chore: Update setup go function. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

chore: add test cases to make sure Esc key only closes the menu #1866
  ui/src/menu.test.tsx
Due: none

chore: refactor test cases #1866
  ui/src/menu.test.tsx
Due: none

fix: Use proper retry mechanism for keycloak e2e tests. #1874
  e2e/test_keycloak.py
Due: ./py/venv/bin/flake8

regression: Allow opening time picker when multiple are present. (#1864)
  ui/src/time_picker.tsx
Due: none

feat: Sync ensure fresh token. (#1894)
  py/h2o_wave/h2o_wave/server.py
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Use proper path for python build assets during S3 upload.
  Makefile
Due: none

ci: Add a separate job for releasing VSC extension.
  .github/workflows/release-vsc-extension.yml
  .github/workflows/release-wave.yml
  Makefile
  tools/vscode-extension/Makefile
Due: none

ci: Add a separate job for releasing PyCharm plugin.
  .github/workflows/release-pycharm-plugin.yml
  .github/workflows/release-wave.yml
Due: none

chore: Release v0.25.2
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
Due: ./py/venv/bin/flake8

ci: Add more debug output and keycloak startup timeout. #1874
  .github/workflows/release-wave-nightly.yml
  e2e/Makefile
  e2e/test_keycloak.py
Due: ./py/venv/bin/flake8

ci: Do not test vsc extension during Wave release. #1874
  .github/workflows/release-wave.yml
Due: none

ci: Do not test vsc extension during Wave release.
  .github/workflows/release-wave.yml
Due: none

ci: Add multiple ubuntu versions. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Do not test on ubuntu-18.04. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Kill spawned waved process properly. #1874
  e2e/test_keycloak.py
Due: ./py/venv/bin/flake8

chore: Refactor. #1874
  e2e/test_keycloak.py
Due: ./py/venv/bin/flake8

ci: Add more wait time for KC startup. #1874
  .github/workflows/release-wave-nightly.yml
  e2e/test_keycloak.py
Due: ./py/venv/bin/flake8

fix: Use proper conditional env variable in GH actions. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

chore: Increase total amount of KC retries. #1874
  e2e/test_keycloak.py
Due: ./py/venv/bin/flake8

fix: Do not open menu on Esc key press #1866 (#1891)
  ui/src/menu.test.tsx
  ui/src/menu.tsx
Due: none

feat: Add multiple python versions. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Stringify py setup version. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Try windows. #1874
  .github/workflows/release-wave-nightly.yml
  setup.ps1
  test.ps1
Due: none
