Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Refactor, add type. #1395
  ui/src/card_menu.tsx
  ui/src/menu.tsx
  ui/src/menu_table_cell_type.tsx
  ui/src/menu_utils.ts
  ui/src/parts/utils.ts
  ui/src/toolbar.tsx
Due: none

chore: Add link to the issue. #1395
  ui/src/parts/utils.ts
Due: none

fix: Remove unnecessary scrollbar from menu #1395 (#1411)
  ui/src/card_menu.tsx
  ui/src/menu.tsx
  ui/src/menu_table_cell_type.tsx
  ui/src/parts/utils.ts
  ui/src/toolbar.tsx
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

refactor: remove notification bar related code from message bar
  ui/src/message_bar.tsx
Due: none

feat: reduce form Message Bar padding
  ui/src/message_bar.tsx
  ui/src/notification_bar.tsx
Due: none

refactor: reorder exports in message bar
  ui/src/message_bar.tsx
Due: none

refactor: decouple message bar
  ui/src/notification_bar.tsx
Due: none

refactor: clean up css
  ui/src/message_bar.tsx
Due: none

refactor: remove unused props from MessagebarProps
  ui/src/message_bar.tsx
Due: none

fix: add missing import "wave"
  ui/src/notification_bar.tsx
Due: none

fix: Escape dollar signs in app template snippets + nav routing fix.
  tools/vscode-extension/Makefile
  tools/vscode-extension/base-snippets.json
  tools/vscode-extension/package.json
Due: none

feat: Reduce form Message Bar padding #1398 (#1419)
  ui/src/message_bar.tsx
  ui/src/notification_bar.tsx
Due: none

feat: fix annotator selection misses characters issue
  ui/src/text_annotator.tsx
Due: none

feat: fix Text annotator should handle unknown tags
  ui/src/text_annotator.tsx
Due: none

fix: Text annotator should handle unknown tags #1427 (#1435)
  ui/src/text_annotator.tsx
Due: none

fix: Remove unnecessary scrollbars caused by icons in header and nav. Closes #1428
  ui/src/header.tsx
  ui/src/nav.tsx
Due: none

feat: Add -session-timeout to configure session timeout duration #1270
  auth.go
  cmd/wave/main.go
  conf.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

feat: Add redirect to server protocol #1270
  protocol.go
  ts/index.ts
  ts/package-lock.json
  ts/package.json
Due: golint -set_exit_status

feat: Bump h2o-wave core to 1.1.0; handle redirects
  ui/package-lock.json
  ui/package.json
  ui/src/ui.ts
Due: none

feat: Redirect to logout if inactive for duration set by -session-inactivity-timeout #1270
  auth.go
  broker.go
  client.go
  cmd/wave/main.go
  conf.go
  socket.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

fix: Correct selector in broken header unit test.
  ui/src/header.test.tsx
Due: none

fix: Make text annotator split text not by spaces only, but by any non-letter char #1432 (#1433)
  ui/src/text_annotator.tsx
Due: none

docs: Document yet unsupported icon in tall_stats.items.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/tall_stats.tsx
Due: ./py/venv/bin/flake8

fix: Improve shapes moving - cursor does not have to be within focused shape.
  ui/src/image_annotator.tsx
  ui/src/text_annotator.tsx
Due: none

chore: Fix API
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
Due: ./py/venv/bin/flake8

fix: Remove unwanted overflow in dropdown.
  ui/src/dropdown.tsx
Due: none

chore: Add missing example image.
  website/docs/examples/assets/image-annotator.png
Due: none

ci: Allow publishing RC versions via nightly job.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Use correct env var syntax.
  .github/workflows/release-wave-nightly.yml
Due: none

feat: Image annotator improvements (#1438)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  ui/src/image_annotator.tsx
  ui/src/text_annotator.tsx
  website/docs/examples/assets/image-annotator.png
Due: ./py/venv/bin/flake8

feat: keep notification open if timeout is set to -1
  ui/src/notification_bar.test.tsx
  ui/src/notification_bar.tsx
  website/widgets/overlays/notification_bar.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Explain -1 timeout value in docstring. #1366
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/notification_bar.tsx
Due: ./py/venv/bin/flake8

chore: Rebase. #1366
  ui/src/notification_bar.tsx
Due: none

feat: Keep notification open if timeout is set to -1 #1366 (#1416)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/notification_bar.test.tsx
  ui/src/notification_bar.tsx
  website/widgets/overlays/notification_bar.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Use correct app address within Tour app.
  py/examples/tour.py
Due: ./py/venv/bin/flake8

ci: Remove extra if parentheses in nightly job.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Add tag optional param to nightly job.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Fix typo in nightly job env var.
  .github/workflows/release-wave-nightly.yml
Due: none
