Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

fix: Avoid tooltip wrapper recreation causing weird scroll jumping issues in table. #1731
  ui/src/table.tsx
Due: none

fix: Add cellOverflow to markdown tooltip. #1731
  ui/src/table.tsx
Due: none

fix: Avoid tooltip wrapper recreation causing weird scroll jumping issues in table. #1731 (#1738)
  ui/src/table.tsx
Due: none

fix: Do not add too small rects into wave.args. #1726
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator_rect.ts
Due: none

feat: reset table after rows change #1687
  ui/src/table.tsx
Due: none

feat: reset table after rows change #1687
  py/examples/groupby_issue_dialog.py
  py/examples/groupby_issue_form.py
Due: ./py/venv/bin/flake8

chore: use custom useUpdateOnlyEffect hook #1687
  ui/src/table.tsx
  ui/src/useUpdateOnlyEffectHook.ts
Due: none

chore: make all unit tests pass, prevent unnecessary reset and setFilteredItems calls on initial render #1687
  ui/src/table.tsx
Due: none

fix: re-initialize groups after rows change #1687
  ui/src/table.tsx
Due: none

chore: removed issue examples #1687
  py/examples/groupby_issue_dialog.py
  py/examples/groupby_issue_form.py
Due: ./py/venv/bin/flake8

chore: move useUpdateOnlyEffectHook into the parts folder #1687
  ui/src/parts/useUpdateOnlyEffectHook.ts
  ui/src/table.tsx
Due: none

Fix: Table grouped incorrectly after rows change #1687 (#1724)
  ui/src/parts/useUpdateOnlyEffectHook.ts
  ui/src/table.tsx
Due: none

feat. allow adjustable height of copyable_text #1694
  py/examples/copyable_text.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/copyable_text.tsx
Due: ./py/venv/bin/flake8

Change copyable_text example to be customer friendly
  py/examples/copyable_text.py
Due: ./py/venv/bin/flake8

feat: removing paddings also remove the title of the card
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/frame.tsx
Due: ./py/venv/bin/flake8

feat: Add trigger_on_enter parameter to ui.inline #372
  py/examples/textbox.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/textbox.test.tsx
  ui/src/textbox.tsx
Due: ./py/venv/bin/flake8

docs: Fix the textbox.py example #372
  py/examples/textbox.py
Due: ./py/venv/bin/flake8

docs: fix style of the inline.py example #1535
  py/examples/inline.py
Due: ./py/venv/bin/flake8

docs: document the ui.inline alignment options
  website/static/img/widgets/inline-align.svg
  website/static/img/widgets/inline-justify.svg
  website/widgets/form/inline.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: fix the home page button in dark mode #1740
  website/src/css/custom.css
Due: none

fix: Make docs home page button visible in dark mode #1740 (#1741)
  website/src/css/custom.css
Due: none

fix: Update wave.args if dragging finished outside of canvas. #1726
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

chore: Bring back accidental refactor. #1726
  ui/src/image_annotator.test.tsx
Due: none

chore: Refactor. #1726
  ui/src/image_annotator.test.tsx
Due: none

fix: Minor image annotator fixes #1726 (#1742)
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_rect.ts
Due: none

chore: Add script for generating release changelog.
  tools/changelog-generator/.gitignore
  tools/changelog-generator/Makefile
  tools/changelog-generator/changelog.js
Due: none

docs: Add more docs about available Wave colors. Closes #1722.
  website/docs/color-theming.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

style: Update ui/src/frame.tsx
  ui/src/frame.tsx
Due: none

feat: Added documentation in frame.md in /content
  website/widgets/content/frame.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: add code examples for ui.line params #1535
  website/static/img/widgets/inline-align.svg
  website/static/img/widgets/inline-justify.svg
  website/widgets/form/inline.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: add trigger_on_enter to textbox.md #372
  website/widgets/form/textbox.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Small refactor.
  website/widgets/content/frame.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow users to remove paddings on frame cards #495 (#1735)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/frame.tsx
  website/widgets/content/frame.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Allow extension-less file downloads. #1627 (#1635)
  .vscode/launch.json
  file_server.go
  py/h2o_wave/core.py
  py/tests/test_python_server.py
  py/tests/test_python_server_async.py
Due: golint -set_exit_status, ./py/venv/bin/flake8

chore: Unify dashboard app across browsers.
  py/demo/dashboard_blue.py
  py/demo/dashboard_cyan.py
  py/demo/dashboard_grey.py
  py/demo/dashboard_mint.py
  py/demo/dashboard_orange.py
  py/demo/dashboard_purple.py
  py/demo/dashboard_red.py
Due: ./py/venv/bin/flake8
