Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: use absolute urls for api docs #2078
  py/docs/templates/text.mako
Due: none

chore: fix broken links for other than h2o_wave package #2078
  py/docs/templates/config.mako
  py/docs/templates/text.mako
Due: none

feat: Use absolute URLs in API docs #2078 (#2088)
  py/docs/templates/config.mako
  py/docs/templates/text.mako
Due: none

chore: Refactor. #441
  card.go
Due: golint -set_exit_status

fix: Make sure the buffers are appended after the rest of the attributes are loaded due to Go arbitrary map iteration order. #441
  card.go
Due: golint -set_exit_status

chore: Refactor #441
  ts/index.ts
Due: none

test: Add server unit tests. #441
  py/tests/test_python_server.py
  py/tests/utils.py
Due: ./py/venv/bin/flake8

feat: Add data buffer support to components (form card items). #441 (#2085)
  .vscode/launch.json
  card.go
  py/h2o_lightwave/h2o_lightwave/core.py
  py/h2o_wave/h2o_wave/core.py
  py/tests/test_python_server.py
  py/tests/utils.py
  tools/showcase/showcase.py
  ts/index.ts
  ui/src/plot.tsx
  website/widgets/form/visualization.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Bump h2o-wave npm package version before publish.
  ts/package.json
Due: none

chore: Bump h2o-wave NPM package to the latest version.
  ui/package-lock.json
Due: none

fix: update checbox state from wave app when initial and new value are the same
  ui/src/checkbox.test.tsx
  ui/src/checkbox.tsx
Due: none

fix: Run waved process in a separate process group on Windows so that wave run works on modern uvicorn. #2074
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

fix: Run waved process in a separate process group on Windows so that wave run works on modern uvicorn. #2074 (#2108)
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

feat: Allow dynamic value change for checkbox #1154 (#2090)
  ui/src/checkbox.test.tsx
  ui/src/checkbox.tsx
Due: none

fix: allow dynamic value change for date picker
  ui/src/date_picker.test.tsx
  ui/src/date_picker.tsx
Due: none

fix: update date_picker state from wave app when initial and new value are the same
  ui/src/date_picker.test.tsx
  ui/src/date_picker.tsx
Due: none

feat: Allow dynamic value change for date picker #1154 (#2091)
  ui/src/date_picker.test.tsx
  ui/src/date_picker.tsx
Due: none

fix: allow dynamic value change for toggle
  ui/src/toggle.test.tsx
  ui/src/toggle.tsx
Due: none

fix: update state from wave app when initial and new value are the same
  ui/src/toggle.test.tsx
  ui/src/toggle.tsx
Due: none

feat: Allow dynamic value change for toggle #1154 (#2092)
  ui/src/toggle.test.tsx
  ui/src/toggle.tsx
Due: none

docs: Minor update to HTTPS config.
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Remove code highlight flicker during streaming. Closes #2064
  ui/src/markdown.tsx
Due: none

chore: Fix typo.
  website/blog/2023-06-26-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Make deployment docs clearer.
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Run waved process in a separate process group on Windows so that wave run works on modern uvicorn. #2074 #2108
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

docs: Remove unnecessary migration docs + unmaintained channgelog.
  website/docs/change-log.md
  website/docs/migrating-0-8.md
  website/docs/migrating-0.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Remove ending markdown backticks in examples - clashing with Docusaurus.
  py/examples/markdown.py
  py/examples/markdown_code_theme.py
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

docs: Add tabs to docs where possible #1785 (#2065)
  website/docs/guide.md
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/scripts.md
  website/docs/tutorial-beer.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-hello.mdx
  website/docs/tutorial-monitor.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update tutorials and installation instructions.
  website/docs/_start_q.md
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/scripts.md
  website/docs/tutorial-beer.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-hello.mdx
  website/docs/tutorial-monitor.md
  website/docs/tutorial-todo.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Release v0.26.2
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
Due: ./py/venv/bin/flake8

fix: update state from wave app when initial and new value are the same
  ui/src/spinbox.test.tsx
  ui/src/spinbox.tsx
Due: none

chore: include all array dependencies
  ui/src/spinbox.tsx
Due: none

fix: allow dynamic value change for spinbox
  ui/src/spinbox.test.tsx
  ui/src/spinbox.tsx
Due: none

chore: add unit test for keeping value in bounds when min/max is updated
  ui/src/spinbox.test.tsx
Due: none

fix: update m.value only if input is valid number
  ui/src/spinbox.tsx
Due: none

feat: Allow dynamic value change for spinbox #1154 (#2093)
  ui/src/spinbox.test.tsx
  ui/src/spinbox.tsx
Due: none

fix: update state from wave app when initial and new value are the same
  ui/src/range_slider.test.tsx
  ui/src/range_slider.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
