Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: set correct "selected" keys
  ui/src/combobox.tsx
Due: none

fix: Prevent font descenders overflow clipping in plots.
  tools/showcase/Makefile
  ui/src/plot.tsx
Due: none

docs: Add a note about tabs in markdown.
  website/widgets/form/text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Align button icon. Closes #837.
  ui/src/button.tsx
Due: none

chore: Remove leftover.
  cmd/wave/main.go
Due: golint -set_exit_status

fix: prevent loss of focus to remove combobox selection
  ui/src/combobox.tsx
Due: none

tests: add basic test for "value" and "values" prop changes
  ui/src/combobox.test.tsx
Due: none

fix: Change combobox examples initial value "Blue" -> "Black"
  py/examples/combobox.py
Due: ./py/venv/bin/flake8

feat: numbers smart selection, updated test cases, refactor
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
  website/docs/examples/assets/text-annotator-character.png
Due: none

chore: improved code readability, refactor
  ui/src/text_annotator.tsx
Due: none

fix: select wrong characters when double clicking on last word character
  ui/src/text_annotator.tsx
Due: none

chore: updated image, updated tour.conf
  py/examples/tour.conf
  website/docs/examples/assets/text-annotator.png
Due: none

chore: performance optimization, test fix
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
Due: none

feat: allow character level text annotations
  py/examples/plot_line_labels_stroked.py
  py/examples/text_annotator_character.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
  website/docs/examples/assets/text-annotator-character.png
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Ignore characters returned when user hovers over the part of the prev/next character
  ui/src/text_annotator.tsx
Due: none

fix: API renaming
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/text_annotator.tsx
Due: ./py/venv/bin/flake8

fix: only one character annotated when replacing selection while smart selection turned off
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
Due: none

fix: make default text annotator consistent with original implementation, updated test cases
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
Due: none

feat: selection colors, removed word wrap prevention, general refactor
  ui/src/text_annotator.tsx
Due: none

feat: replace smart_selection activation via api with toggle button activation
  py/examples/text_annotator_character.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/text_annotator.tsx
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: refactor click handlers
  ui/src/text_annotator.tsx
Due: none

fix: prevent tags from overlaping when one is below another
  ui/src/text_annotator.tsx
Due: none

chore: Refactor. #1357
  py/examples/text_annotator.py
  ui/src/text_annotator.tsx
Due: ./py/venv/bin/flake8

feat: token types refactor
  ui/src/text_annotator.tsx
Due: none

feat: Add implicit refresh token callable. #1230
  app.go
  auth.go
  py/examples/wizard.py
  py/h2o_wave/server.py
  server.go
Due: golint -set_exit_status, ./py/venv/bin/flake8

chore: Add TODO comment. #1230
  auth.go
Due: golint -set_exit_status

chore: Remove testing changes. #1230
  py/examples/wizard.py
Due: ./py/venv/bin/flake8

chore: Remove testing code. #1357
  py/examples/text_annotator.py
Due: ./py/venv/bin/flake8

feat: Character level annotations for ui.text_annotator #1357 (#1471)
  py/examples/plot_line_labels_stroked.py
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
  website/docs/examples/assets/text-annotator.png
Due: ./py/venv/bin/flake8

docs: Show how to use table menu in real-world scenario.
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update docs. #1230
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Account for baseURL when deleting files (site.unload). #1557
  file_server.go
Due: golint -set_exit_status

fix: handle edge cases and add tests
  ui/src/combobox.test.tsx
  ui/src/combobox.tsx
Due: none

fix: remove unnecessary logic to skip useEffect
  ui/src/combobox.tsx
Due: none

refactor: simplify ternary operator expression
  ui/src/combobox.tsx
Due: none

refactor: simplify mutiselect prop assignment
  ui/src/combobox.tsx
Due: none

refactor: remove unnecessary type cast
  ui/src/combobox.tsx
Due: none

fix: add fallback value for m.value in useEffect
  ui/src/combobox.tsx
Due: none

docs: Add a note about turning off the directory listing for public/private dirs option. Closes #1561.
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: ignore percentage values for ui.textbox height
  ui/src/layout.tsx
  ui/src/page.tsx
  ui/src/textbox.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
