Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add popup prop to dropdown #1116 (#1142)
  py/examples/dropdown.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
  website/components/form/dropdown.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Remove unnecessary typing #1136
  py/examples/combobox_trigger.py
Due: ./py/venv/bin/flake8

feat: Add trigger to combobox #1136 (#1149)
  py/examples/combobox_trigger.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/combobox.test.tsx
  ui/src/combobox.tsx
  website/components/form/combobox.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add inline option for choice group #1145 (#1152)
  py/examples/choice_group_inline.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/choice_group.tsx
  website/components/form/choice_group.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Package Wave daemon within python wheel. #250
  .vscode/launch.json
  py/Makefile
  py/h2o_wave/cli.py
  py/setup.py
  tools/showcase/showcase.py
Due: ./py/venv/bin/flake8

feat: Remove ugly hacks #250
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

docs: Update installation #250
  website/docs/installation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Package Wave daemon within python wheel. #250 (#1153)
  .vscode/launch.json
  py/Makefile
  py/h2o_wave/cli.py
  py/setup.py
  tools/showcase/showcase.py
  website/docs/installation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Make nightly use os-specific wheel files
  .github/workflows/release-wave-nightly.yml
Due: none

fix: CI release targets - py build depends on go build so need to go after
  Makefile
Due: none

fix: Release OS-agnostic py wheels as well
  py/Makefile
  py/setup.py
Due: ./py/venv/bin/flake8

ci: Publish OS-agnostic wheel to nightly
  .github/workflows/release-wave-nightly.yml
Due: none

feat: Don't autostart Wave daemon if H2O_WAVE_NO_AUTOSTART is set #250
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

feat: Nudge up header title a little.
  ui/src/header.tsx
Due: none

feat: add Wide Article Preview component #1132
  py/examples/tour.conf
  py/examples/wide_article_preview.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/cards.tsx
  ui/src/wide_article_preview.test.tsx
  ui/src/wide_article_preview.tsx
  website/components/content/article.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Style scrollbar corner according to theme #1120
  ui/src/index.scss
Due: none

improve state docs
  ui/src/wide_article_preview.tsx
Due: none

fix typo
  ui/src/wide_article_preview.tsx
Due: none

use css important util function
  ui/src/wide_article_preview.tsx
Due: none

add clickable behavior to example
  py/examples/wide_article_preview.py
Due: ./py/venv/bin/flake8

format docs
  website/components/content/article.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

add spacing
  ui/src/wide_article_preview.tsx
Due: none

align aux_value with person subtitle
  ui/src/wide_article_preview.tsx
Due: none

align title with image top edge
  ui/src/wide_article_preview.tsx
Due: none

add test for name starting with "#"
  ui/src/wide_article_preview.test.tsx
Due: none

fix: Take version into account when building py wheel.
  py/setup.py
Due: ./py/venv/bin/flake8

reduce example caption text
  py/examples/wide_article_preview.py
Due: ./py/venv/bin/flake8

chore: Update Algolia creds.
  website/docusaurus.config.js
Due: none

docs: Document align/justify ui.zone attributes.
  website/docs/assets/layout_alignment.png
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: H2O_WAVE_NO_AUTOSTART should prevent only waved start, not app itself.
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

use important function for all cases
  ui/src/wide_article_preview.tsx
Due: none

remove theme from example
  py/examples/wide_article_preview.py
Due: ./py/venv/bin/flake8

fix indentation in article.md doc
  website/components/content/article.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

add conditional spacing to caption
  ui/src/wide_article_preview.tsx
Due: none

fix: Select color on swatch color picker #1099
  ui/src/color_picker.tsx
Due: none

docs: Minor styling updates #1132
  website/components/content/article.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: add Wide Article Preview card #1132 (#1155)
  py/examples/tour.conf
  py/examples/wide_article_preview.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/cards.tsx
  ui/src/wide_article_preview.test.tsx
  ui/src/wide_article_preview.tsx
  website/components/content/article.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Update Playwright for visual regression testing
  tools/showcase/requirements.txt
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
