Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

docs: Improve example #1050
  py/examples/tall_article_preview.py
Due: ./py/venv/bin/flake8

docs: Add screenshot #1050
  website/docs/examples/assets/tall-article-preview.png
Due: none

feat: add value prop #1050
  py/examples/tall_article_preview.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/tall_article_preview.tsx
Due: ./py/venv/bin/flake8

feat: TallArticlePreview card #1050 (#1066)
  py/examples/tall_article_preview.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.tsx
  ui/src/cards.tsx
  ui/src/tall_article_preview.test.tsx
  ui/src/tall_article_preview.tsx
  ui/src/theme.ts
  website/docs/examples/assets/tall-article-preview.png
Due: ./py/venv/bin/flake8

feat: minor design tweaks #1033
  ui/src/profile.tsx
Due: none

feat: Profile card. #1033
  py/examples/profile.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
  ui/src/profile.tsx
  ui/src/toolbar.tsx
Due: ./py/venv/bin/flake8

feat: profile card initial implementation #1033
  py/examples/profile.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/profile.test.tsx
  ui/src/profile.tsx
Due: ./py/venv/bin/flake8

feat: minor design tweaks #1033
  py/examples/profile.py
  ui/src/profile.tsx
Due: ./py/venv/bin/flake8

docs: add profile card example screenshot #1033
  website/docs/examples/assets/profile.png
Due: none

docs: Add profile card to the Tour #1033
  py/examples/tour.conf
Due: none

chore: refactor using existing mini_buttons instead of commands #1033
  py/examples/profile.py
  ui/src/profile.tsx
  ui/src/toolbar.tsx
  website/docs/examples/assets/profile.png
Due: ./py/venv/bin/flake8

refactor: change API - not finished yet #1033
  py/examples/profile.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/profile.tsx
Due: ./py/venv/bin/flake8

fix: tall article preview tests
  ui/src/tall_article_preview.tsx
Due: none

fix: expand spinbox input for available space when tooltip specified
  ui/src/form.tsx
Due: none

feat: finalize API changes #1033
  py/examples/profile.py
  ui/src/profile.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

feat: Profile card. (#1039)
  py/examples/profile.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/form.tsx
  ui/src/profile.test.tsx
  ui/src/profile.tsx
  ui/src/theme.ts
  ui/src/toolbar.tsx
  website/docs/examples/assets/profile.png
Due: ./py/venv/bin/flake8

fix: broken unit test
  ui/src/profile.test.tsx
Due: none

feat: Compact file upload #623
  py/examples/file_upload_compact.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/file_upload.test.tsx
  ui/src/file_upload.tsx
Due: ./py/venv/bin/flake8

chore: rebase against current master #623
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/file_upload.tsx
Due: ./py/venv/bin/flake8

chore: add docs screenshot #623
  website/docs/examples/assets/file-upload-compact.png
Due: none

feat: compact file upload #623 (#716)
  py/examples/file_upload_compact.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/file_upload.test.tsx
  ui/src/file_upload.tsx
  website/docs/examples/assets/file-upload-compact.png
Due: ./py/venv/bin/flake8

perf: Add LRU cache to keychain. Fixes #1089
  go.mod
  go.sum
  pkg/keychain/keychain.go
Due: golint -set_exit_status

perf: Skip writes if -editable is not set, and app is set to unicast mode. Closes #464
  broker.go
  pkg/keychain/keychain.go
  server.go
Due: golint -set_exit_status

perf: Skip writes if page route is unicast (ignore app mode setting) #464
  broker.go
Due: golint -set_exit_status

perf: Add -no-store command line arg to disable content store
  broker.go
  cmd/wave/main.go
  conf.go
  server.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow configuring HTTP response headers #1081
  cmd/wave/main.go
  conf.go
  server.go
  web_server.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

docs: Add sample headers file for -http-headers-file #1081
  headers.txt
Due: none

docs: Add docs for additional response headers. Closes #1081
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Disable AOF logging only if -no-log is set
  broker.go
  cmd/wave/main.go
  conf.go
  server.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

feat: make all asset paths relative #59
  ui/config/paths.js
  ui/public/index.html
Due: none

feat: Send logout event to all connected apps when a user logs out
  app.go
  auth.go
  broker.go
  client.go
  website/docs/routing.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

feat: facepile component #1047
  py/examples/facepile.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  ui/src/facepile.test.tsx
  ui/src/facepile.tsx
  ui/src/form.tsx
  ui/src/persona.tsx
  website/docs/examples/assets/facepile.png
Due: ./py/venv/bin/flake8

chore: sync API #1047
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

feat: facepile component #1047 (#1077)
  py/examples/facepile.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/facepile.test.tsx
  ui/src/facepile.tsx
  ui/src/form.tsx
  ui/src/persona.tsx
  website/docs/examples/assets/facepile.png
Due: ./py/venv/bin/flake8

feat: Table badges + redesign #974
  .vscode/launch.json
  py/examples/table.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/badge_table_cell_type.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/table.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

chore: Use default theme #974
  py/examples/table.py
Due: ./py/venv/bin/flake8

docs: improve table badge docstring #974
  ui/src/table.tsx
Due: none

docs: improve table badge API / docstrings #974
  py/examples/table.py
  py/examples/table_badge.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/badge_table_cell_type.test.tsx
  ui/src/badge_table_cell_type.tsx
Due: ./py/venv/bin/flake8

fix: Minor header styling inconssistency #974
  ui/src/table.tsx
Due: none

feat: Adjust filters for badge cols #974
  ui/src/table.tsx
Due: none
