Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Fix golang lint errors
  cycbuf.go
  parse.go
  parse_test.go
Due: golint -set_exit_status

feat: Allow public/private directories to be hosted by waved #982
  broker.go
  cmd/wave/main.go
  conf.go
  dir_server.go
  server.go
Due: golint -set_exit_status

docs: Add docs for -public-dir and -private-dir
  website/docs/configuration.md
  website/docs/files.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add Big Data Visualizer community content blog post
  website/blog/2021-09-13-community-content.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: add header information to community content blog post
  website/blog/2021-09-13-community-content.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Instruct to setup python prior to running docs locally. Closes #990
  website/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add missing example screenshots. Closes #991
  website/docs/examples/assets/meta-inline-stylesheet.png
  website/docs/examples/assets/meta-side-panel.png
  website/docs/examples/assets/meta-stylesheet.png
Due: none

feat: Read command line args from env if available #481
  cmd/wave/main.go
Due: golint -set_exit_status

docs: Add Big Data Visualizer community content blog post (#992)
  website/blog/2021-09-13-community-content.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Don't look for verbs/actions in env vars #481
  cmd/wave/main.go
Due: golint -set_exit_status

docs: Add docs for setting waved opts via env vars #481
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Read public/private dirs from env vars; change mapping separator
  cmd/wave/main.go
  conf.go
  server.go
  website/docs/configuration.md
  website/docs/files.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

fix: Submit range slider values on releasing mouse. Closes #997
  ui/src/range_slider.tsx
Due: none

feat: Add support for streaming/multipart endpoints #1002
  multipart.go
  py/examples/file_stream.py
  py/examples/requirements.txt
  py/h2o_wave/core.py
  server.go
Due: golint -set_exit_status, ./py/venv/bin/flake8

fix: Remove logging from streaming example
  py/examples/file_stream.py
Due: ./py/venv/bin/flake8

feat: Persona form component. #970 (#983)
  py/examples/persona.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
  ui/src/persona.test.tsx
  ui/src/persona.tsx
Due: ./py/venv/bin/flake8

docs: Add thumbnails for new examples
  py/examples/file_stream.py
  py/examples/tour.conf
  website/docs/examples/assets/file-stream.png
  website/docs/examples/assets/persona.png
Due: ./py/venv/bin/flake8

docs: Add docs for image streaming. Closes #1002
  website/docs/files.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add 0.18.0 change log
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Release v0.18.0
  py/h2o_wave/__init__.py-r
  py/setup.py-r
  r/DESCRIPTION-r
Due: none

docs: Fix typo in blog post title
  website/blog/2021-09-13-community-content.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Rename build-website task to website
  Makefile
Due: none

chore: Fix typo in Makefile
  Makefile
Due: none

chore: Bump python driver version
  py/h2o_wave/__init__.py
  py/setup.py
  py/setup.py-r
Due: ./py/venv/bin/flake8

feat: Introduce more values to ui.inline justify. #534
  py/demo/dashboard_red.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/flex.tsx
  ui/src/form.tsx
  ui/src/page.tsx
  ui/src/section.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

feat: Introduce more values to ui.inline justify. #534 (#971)
  py/demo/dashboard_red.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/flex.tsx
  ui/src/form.tsx
  ui/src/page.tsx
  ui/src/section.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

ci: setup nightly builds
  .github/workflows/release-nightly.yml
  py/setup.py
Due: ./py/venv/bin/flake8

chore: make action runnable temporarily for testing
  .github/workflows/release-nightly.yml
Due: none

fix: replace gh action for creating releases due to missing overwrite feature
  .github/workflows/release-nightly.yml
  .github/workflows/release-wave-nightly.yml
Due: none

chore: remove unnecessary ENV variable
  .github/workflows/release-wave-nightly.yml
Due: none

chore: fix git tag typo
  .github/workflows/release-wave-nightly.yml
Due: none

ci: setup nightly builds (#1011)
  .github/workflows/release-wave-nightly.yml
  py/setup.py
Due: ./py/venv/bin/flake8

ci: fix asset paths for nightly build
  .github/workflows/release-wave-nightly.yml
Due: none

ci: force update and push tags in nightly build
  .github/workflows/release-wave-nightly.yml
Due: none

ci: list release assets without doublequotes
  .github/workflows/release-wave-nightly.yml
Due: none

chore: remove tmp nighly build action manual dispatch, keep schedule only
  .github/workflows/release-wave-nightly.yml
Due: none

feat: h2o-dark theme.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/date_picker.tsx
  ui/src/meta.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

feat: Themeable plots #664
  py/examples/plot_theme.py
  py/examples/tour.conf
  ui/package-lock.json
  ui/package.json
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/plot.tsx
  website/docs/examples/assets/plot-theme.png
Due: ./py/venv/bin/flake8

fix: Minor console errors in py example. #664
  py/examples/plot_theme.py
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

feat: Themeable plots #664 (#860)
  py/examples/plot_theme.py
  py/examples/tour.conf
  ui/package-lock.json
  ui/package.json
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
  ui/src/plot.tsx
  website/docs/examples/assets/plot-theme.png
Due: ./py/venv/bin/flake8
