Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

fix: Allow groupby for paginated table as well, fire correct event. Closes #1798
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: optimize polygon movement by reducing the calculations of boundaries #1596
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

perf: Replace ttf font with woff.
  ui/assets/fonts/Inter-Black.woff
  ui/assets/fonts/Inter-Black.woff2
  ui/assets/fonts/Inter-Bold.woff
  ui/assets/fonts/Inter-Bold.woff2
  ui/assets/fonts/Inter-ExtraBold.woff
  ui/assets/fonts/Inter-ExtraBold.woff2
  ui/assets/fonts/Inter-ExtraLight.woff
  ui/assets/fonts/Inter-ExtraLight.woff2
  ui/assets/fonts/Inter-Light.woff
  ui/assets/fonts/Inter-Light.woff2
  ui/assets/fonts/Inter-Medium.woff
  ui/assets/fonts/Inter-Medium.woff2
  ui/assets/fonts/Inter-Regular.woff
  ui/assets/fonts/Inter-Regular.woff2
  ui/assets/fonts/Inter-SemiBold.woff
  ui/assets/fonts/Inter-SemiBold.woff2
  ui/assets/fonts/Inter-Thin.woff
  ui/assets/fonts/Inter-Thin.woff2
  ui/assets/fonts/inter-100.ttf
  ui/assets/fonts/inter-200.ttf
  ui/assets/fonts/inter-300.ttf
  ui/assets/fonts/inter-400.ttf
  ui/assets/fonts/inter-500.ttf
  ui/assets/fonts/inter-600.ttf
  ui/assets/fonts/inter-700.ttf
  ui/assets/fonts/inter-800.ttf
  ui/assets/fonts/inter-900.ttf
  ui/assets/inter.css
Due: none

fix: lagging complex polygon movement, lagging canvas dragging #1596
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

docs: Improve HTTPS instructions. #1805
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: optimize polygon movement by further reducing the calculations of boundaries #1596
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

ENV setup required when deploying with Uvicorn
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: scroll direction reversed, keep rectangle in boundaries if x1 > x2 or y1 > y2, updated tests #1596
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

chore: get rid of preventClickRef, fix cursor for polygon/rect active shapes, reset zoom/imgPositionRef when new image is loaded #1596
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

chore: update test todos #1596
  ui/src/image_annotator.test.tsx
Due: none

chore: use tooltip instead of teaching bubble, revert info tooltip colors #1596
  ui/src/image_annotator.tsx
Due: none

chore: refactor, update tests, update polygon boundaries when removing/moving polygon points #1596
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

chore: refactor, remove public-facing API props #1596
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

chore: update tour examples #1654
  py/examples/table_events_select.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

fix: Do not serve JS files with plaintext MIME type on Windows by upgrading go to 1.19.
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: update docs #1654
  website/docs/examples/assets/table-events-select.png
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: use q.events instead of q.args, use grid layout for example #1654
  py/examples/table_events_select.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.tsx
  website/docs/examples/assets/table-events-select.png
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: increase notification_bar zIndex to beat the Fluent UI Panel's zIndex #1764
  ui/src/notification_bar.tsx
Due: none

Update py/examples/table_events_select.py
  py/examples/table_events_select.py
Due: ./py/venv/bin/flake8

Update website/widgets/form/table.md
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Emit event on table selection (#1810)
  py/examples/table_events_select.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.test.tsx
  ui/src/table.tsx
  website/docs/examples/assets/table-events-select.png
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: remove debugging leftover #1764
  ui/src/notification_bar.tsx
Due: none

fix: Make ui.notification_bar to overlay the ui.side_panel (#1813)
  ui/src/notification_bar.tsx
Due: none

feat: allow single selection for ui.table #216
  py/examples/table_select.py
  py/examples/table_select_multiple.py
  py/examples/table_select_single.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.test.tsx
  ui/src/table.tsx
  website/docs/examples/assets/table-select-multiple.png
  website/docs/examples/assets/table-select-single.png
  website/docs/examples/assets/table-select.png
Due: ./py/venv/bin/flake8

fix: submit in examples is not working #216
  py/examples/table_select_multiple.py
  py/examples/table_select_single.py
Due: ./py/venv/bin/flake8

chore: update docs #216
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: change API attribute isSingle to single #216
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.test.tsx
  ui/src/table.tsx
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: update tests #216
  ui/src/table.test.tsx
Due: none

chore: make docs clearer #216
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: table br tags not compiled #216
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: add tests for setting wave args for single/multiple selection #216
  ui/src/table.test.tsx
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: markdown table indentiation for better readability #216
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Do not serve JS files with plaintext MIME type on Windows by upgrading go to 1.19. (#1811)
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Minor improvements. #216
  py/examples/table_events_select.py
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Allow single selection for ui.table (#1814)
  py/examples/table_events_select.py
  py/examples/table_select.py
  py/examples/table_select_multiple.py
  py/examples/table_select_single.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.test.tsx
  ui/src/table.tsx
  website/docs/examples/assets/table-select-multiple.png
  website/docs/examples/assets/table-select-single.png
  website/docs/examples/assets/table-select.png
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Upgrade Vite to prevent buggy preloading in the older version - needed for Wavelite.
  ui/package-lock.json
  ui/package.json
  ui/vite.config.js
Due: none

chore: Upgrade Vite plugin legacy.
  ui/package-lock.json
  ui/package.json
Due: none

chore: Upgrade Vite eslint and react refresh plugin.
  ui/package-lock.json
  ui/package.json
  ui/vite.config.js
Due: none

ci: Try increasing max node memory during CI build.
  .github/workflows/release-wave-nightly.yml
Due: none
