Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: Time picker component #1537 (#1609)
  py/examples/form.py
  py/examples/time_picker.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/package-lock.json
  ui/package.json
  ui/src/form.tsx
  ui/src/time_picker.test.tsx
  ui/src/time_picker.tsx
  website/docs/examples/assets/time-picker.png
  website/sidebars.js
  website/widgets/form/time_picker.md
  website/widgets/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Release v0.23.0
  Makefile
  py/h2o_wave/version.py
Due: ./py/venv/bin/flake8

fix: Use correct version in R tag target.
  Makefile
  r/Makefile
Due: none

chore: Release v0.23.0
  r/DESCRIPTION
Due: none

ci: Add tag target for VSCode extension.
  Makefile
  tools/vscode-extension/Makefile
  tools/vscode-extension/package.json
Due: none

ci: Add tag target for IntelliJ plugin.
  Makefile
  tools/intellij-plugin/Makefile
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/Makefile
Due: none

blog: Fix typo.
  website/blog/2022-09-12-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Refactor dropdown. #1574
  ui/src/dropdown.tsx
Due: none

chore: Refactor dropdown tests. #1574
  ui/src/dropdown.test.tsx
Due: none

chore: Mark Wave as production-ready/stable on PyPi.
  py/setup.py
Due: ./py/venv/bin/flake8

fix: support multiline selections
  ui/src/text_annotator.tsx
Due: none

ci: Add vscode extension testing to nightly.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Use proper make for vscode ext testing in nightly.
  .github/workflows/release-wave-nightly.yml
Due: none

revert: Remove vscode tests in nightly for now.
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Support multiline selections in text_annotator (regression). (#1628)
  ui/src/text_annotator.tsx
Due: none

test: Add test for single-valued Combobox #1615 (#1616)
  ui/src/combobox.test.tsx
Due: none

fix(vsc-ext): Scan file dependencies deterministically.
  tools/vscode-extension/server/parser.py
Due: ./py/venv/bin/flake8

ci: Run VSC unit tests along the rest of unit tests.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  Makefile
Due: none

docs: Add subheading for explicit token refresh.
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update installation instructions for docs development.
  website/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: updated docs and tour example #1358
  py/examples/text_annotator.py
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: fix typo
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: removed comment from docs example
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: updated docs and tour examples
  py/examples/text_annotator.py
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: updated test cases #1358
  ui/src/text_annotator.test.tsx
Due: none

feat: respect newline escape characters in text
  py/examples/text_annotator.py
  ui/src/text_annotator.tsx
Due: ./py/venv/bin/flake8

chore: add docs for line breaks support
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: upgrade @fluentui/react-icons-mdl2 from 1.2.13 to 1.3.20
  website/package-lock.json
  website/package.json
Due: none

fix: upgrade clsx from 1.1.1 to 1.2.1
  website/package-lock.json
  website/package.json
Due: none

chore: Release v0.23.1
  py/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
Due: ./py/venv/bin/flake8

Feat: Make ui.text_annotator to respect \n and \r in text #1358 (#1612)
  py/examples/text_annotator.py
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: do not count minus sign as a condition to stat size change #1592
  ui/src/wide_series_stat.tsx
Due: none

chore: removed useless css prop #1592
  ui/src/wide_series_stat.tsx
Due: none
