Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Sync API. #1329
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

feat: Allow specifying path for button #1329 (#1347)
  py/examples/button.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/button.test.tsx
  ui/src/button.tsx
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add custom colors for ui.stat_table_item #596 (#1344)
  py/examples/stat_table.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/stat_table.tsx
  website/docs/examples/assets/stat-table.png
  website/widgets/stat/table_stat.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: sort ascending first, updated test cases
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: table tests refactor, added check whether sort icon is removed after table reset
  ui/src/table.test.tsx
Due: none

feat: Allow using python.defaultInterpreter in VSC extension installation.
  tools/vscode-extension/README.template.md
  tools/vscode-extension/client/src/extension.ts
  tools/vscode-extension/package.json
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: Add explicit install instructions to a VSC post.
  website/blog/2022-04-20-vscode-extension.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add examples in layout docs about the size value #1252 (#1352)
  website/docs/assets/zone-card-expand.png
  website/docs/assets/zone-card-shrink.png
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: updated tests for text_annotator to handle readonly attr behavior
  ui/src/text_annotator.test.tsx
Due: none

chore: removed irrelevant test cases
  ui/src/text_annotator.test.tsx
Due: none

feat: text annotator readonly refactor, removed active tag from readonly mode
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/text_annotator.tsx
Due: ./py/venv/bin/flake8

chore: minor docs changes
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: added readonly attr to text_annotator, updated docs
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/text_annotator.tsx
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: updated API description
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/text_annotator.tsx
Due: ./py/venv/bin/flake8

chore: readonly test cases code cleaning
  ui/src/text_annotator.test.tsx
Due: none

chore: table tests refactor - removed firstChild
  ui/src/table.test.tsx
Due: none

chore: tests - declared annotatorProps as a const
  ui/src/text_annotator.test.tsx
Due: none

feat: Allow ui.text_annotator to be read-only #1247 (#1339)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
  website/widgets/form/text_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Display sorting icons only if sort is active #1314 (#1345)
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

fix: Use correct md syntax in hash_routing_parameters example.
  py/examples/hash_routing_parameters.py
Due: ./py/venv/bin/flake8

improve table.md for actions
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

add example to "tour.conf"
  py/examples/tour.conf
Due: none

improve table_commands example
  py/examples/table_commands.py
Due: ./py/venv/bin/flake8

feat: Add command menu to table #897
  py/examples/table_commands.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/command_table_cell_type.tsx
  ui/src/menu.tsx
  ui/src/table.tsx
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

refactor
  py/examples/table_commands.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/command_table_cell_type.tsx
  ui/src/menu_table_cell_type.tsx
  ui/src/table.tsx
  website/docs/examples/assets/table-commands.png
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

remove changes to menu.tsx
  ui/src/menu.tsx
Due: none

feat: Add multi select combobox #1034
  py/examples/combobox.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/combobox.tsx
  website/widgets/form/combobox.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix type test and add test another one
  ui/src/combobox.test.tsx
Due: none

fix id
  ui/src/combobox.tsx
Due: none

remove allowFreefor variable
  ui/src/combobox.tsx
Due: none

docs: improve "values" prop description
  ui/src/combobox.tsx
Due: none

refactor: use React prop shorthand
  ui/src/combobox.tsx
Due: none

refactor: change type number -> U
  ui/src/combobox.tsx
Due: none

set option id to text value and add test
  ui/src/combobox.test.tsx
  ui/src/combobox.tsx
Due: none

resolve conflicts with generated code
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
Due: ./py/venv/bin/flake8

refactor
  py/examples/table_menu.py
  py/examples/tour.conf
  ui/src/menu_table_cell_type.tsx
Due: ./py/venv/bin/flake8

feat: Add command menu to table #897 (#1324)
  py/examples/table_menu.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/menu_table_cell_type.tsx
  ui/src/table.tsx
  website/docs/examples/assets/table-commands.png
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

refactor
  ui/src/combobox.tsx
Due: none

chore: Remove unnecessary safe navigation operator. #1034
  ui/src/combobox.tsx
Due: none
