Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: ignore percentage values for ui.textbox height #2
  ui/src/textbox.tsx
Due: none

feat: calculate textbox height based on flex and grid layout container height
  ui/src/layout.tsx
  ui/src/page.tsx
Due: none

feat: calculate textbox height based on layout container height
  ui/src/layout.tsx
Due: none

fix: remove textfield icon padding when icon is not set
  ui/src/textbox.tsx
Due: none

feat: update py/R docstrings
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

Fix: Unable to control resizing of textbox when height is set in % #1490 (#1518)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/textbox.tsx
Due: ./py/venv/bin/flake8

chore: Bump 'minimist' peer dep to patch security vulnerability.
  ui/package-lock.json
Due: none

feat: add remove all option for ui.text_annotator
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
Due: none

feat: updated docs assets
  website/blog/assets/2021-11-05/text-annotator.gif
  website/docs/examples/assets/text-annotator.png
Due: none

chore: minor refactor
  ui/src/text_annotator.tsx
Due: none

feat: Add remove all selections option for ui.text_annotator #1470 (#1563)
  ui/src/text_annotator.test.tsx
  ui/src/text_annotator.tsx
  website/blog/assets/2021-11-05/text-annotator.gif
  website/docs/examples/assets/text-annotator.png
Due: none

feat: Use minimal dependency version for python client, catch unsubsribe err. #1460
  py/h2o_wave/server.py
  py/setup.py
  py/tests/test.py
Due: ./py/venv/bin/flake8

docs: Fix typo. #1230
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

feat: Set the updated session after refreshing the token. #1230
  auth.go
Due: golint -set_exit_status

feat: Return access token when explictly refreshing the token. #1230
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

feat: Remove bottom nav item padding to conserver space. Closes #1565
  ui/src/nav.tsx
Due: none

chore: Rename refresh token method. #1230
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

fix: add missing asset for plot_events_disabled.py example
  website/docs/examples/assets/plot-events-disabled.png
Due: none

docs: Add missing asset for plot_events_disabled.py example (#1567)
  website/docs/examples/assets/plot-events-disabled.png
Due: none

chore: Add proper typing. #1230
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

docs: Update. #1230
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Use more generic status code when token refreshing fails. #1230
  auth.go
Due: golint -set_exit_status

ci: Make python tests runnable in CI. #1460
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .vscode/launch.json
  Makefile
  py/Makefile
  py/tests/__init__.py
  py/tests/__main__.py
  py/tests/test.py
  py/tests/test_expando.py
  py/tests/test_python_server.py
Due: ./py/venv/bin/flake8

chore: Remove constraints for conda deps versions as well. #1460
  py/conda/meta.yaml
Due: none

feat: add not included "value" to options list and simplify component
  py/examples/combobox.py
  ui/src/combobox.test.tsx
  ui/src/combobox.tsx
Due: ./py/venv/bin/flake8

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

feat: Add explicit refresh token callable. #1230 (#1555)
  app.go
  auth.go
  py/h2o_wave/server.py
  server.go
  website/docs/security.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Account for baseURL when deleting files (site.unload). #1557 (#1558)
  file_server.go
Due: golint -set_exit_status

feat: Do not freeze Wave dependencies versions. #1460 (#1568)
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .vscode/launch.json
  Makefile
  py/Makefile
  py/conda/meta.yaml
  py/h2o_wave/server.py
  py/setup.py
  py/tests/__init__.py
  py/tests/__main__.py
  py/tests/test.py
  py/tests/test_expando.py
  py/tests/test_python_server.py
Due: ./py/venv/bin/flake8

chore: Bump numpy versions.
  py/apps/tour/requirements.txt
  py/examples/requirements.txt
Due: none

fix: minor improvements
  ui/src/combobox.tsx
Due: none

fix: Renders anchor tag for button link #1572
  ui/src/button.test.tsx
  ui/src/button.tsx
Due: none

chore: Refactor according review comment. #1501
  ui/src/combobox.tsx
Due: none

fix: Let wave app programmatically change value and choices for combobox #1501 (#1538)
  py/examples/combobox.py
  ui/src/combobox.test.tsx
  ui/src/combobox.tsx
Due: ./py/venv/bin/flake8

chore: Bump browserlist version.
  ui/package-lock.json
  ui/package.json
Due: none

fix: Do not use both value and default value for textbox. #1536
  ui/src/textbox.tsx
Due: none

ci: Increase initial timeout so that Wave server can be built properly prior to running py tests.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  py/tests/test_python_server.py
Due: ./py/venv/bin/flake8

ci: Increase py test initial timeout.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
Due: none

ci: Build artefacts prior to testing as python tests depend on them.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  py/tests/test_python_server.py
Due: ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
