Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: update docs #2331
  website/docs/javascript.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Support loading ESM modules using ui.script #2331 (#2332)
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/script.ts
  website/docs/javascript.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Allow alignment for ui.text #1370
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/form.tsx
  ui/src/text.test.tsx
  ui/src/text.tsx
  website/widgets/form/text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: New example showing use of alignment in ui.text #1370
  py/examples/text_alignment.py
Due: ./py/venv/bin/flake8

feat: Changes from review comments, revert text.test.tsx changes, removed text size examples, and fixed issues so new examples render on website #1370
  py/examples/text_alignment.py
  py/examples/tour.conf
  ui/src/text.test.tsx
  website/docs/examples/assets/text-alignment.png
Due: ./py/venv/bin/flake8

feat: Allow alignment for ui.text #1370 (#2336)
  py/examples/text_alignment.py
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/form.tsx
  ui/src/text.tsx
  website/docs/examples/assets/text-alignment.png
  website/widgets/form/text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: await dynamic css import #2339
  ui/src/markdown.tsx
Due: none

fix: use css modules for local-scoped css #2339
  ui/src/index.scss
  ui/src/markdown.module.css
  ui/src/markdown.tsx
Due: none

fix: update jest mock #2339
  ui/src/setupTests.ts
Due: none

fix: Load markdown css properly #2339 (#2341)
  ui/src/index.scss
  ui/src/markdown.module.css
  ui/src/markdown.tsx
  ui/src/setupTests.ts
Due: none

fix: Trigger multi combobox args after they are set, not before.
  ui/src/combobox.test.tsx
  ui/src/combobox.tsx
Due: none

Update server.py
  py/h2o_lightwave/h2o_lightwave/server.py
Due: ./py/venv/bin/flake8

fix: Trigger multi combobox args after they are set, not before. #2342 (#2343)
  ui/src/combobox.test.tsx
  ui/src/combobox.tsx
Due: none

chore: Allow pycharm plugin to be used in 2024 platform version.
  tools/intellij-plugin/gradle.properties
Due: none

chore: Release v1.3.0
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

fix(lightwave): Split ws msg into 3 parts instead of 4. #2344 (#2345)
  py/h2o_lightwave/h2o_lightwave/server.py
Due: ./py/venv/bin/flake8

ci: Add new auth to mc s3 push.
  .github/workflows/release-wave.yml
Due: none

Implemented the tooltip for table column headers
  py/examples/form.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

Removed the tooltip from `examples.form`
  py/examples/form.py
Due: ./py/venv/bin/flake8

fix: Temporarily catch double close channel error.
  client.go
Due: golint -set_exit_status

chore: Format.
  client.go
Due: golint -set_exit_status

chore: Release v1.3.1
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Use newer macos gh runner for WaveDB release.
  .github/workflows/release-wavedb.yml
Due: none

Fixed the styling of the column headers.
  py/examples/form.py
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

ci: Add id-token write permissions to allow OIDC CI flow.
  .github/workflows/release-wave.yml
Due: none

security: Bump Go version to get rid of CVEs.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
Due: none

chore: Release v1.3.2
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Give release action write permission.
  .github/workflows/release-wave.yml
Due: none

security: Bump Go deps.
  go.mod
  go.sum
Due: none

chore: Release v1.3.3
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

build: 🔒Enable and enforce `boringcrypto` experiment
  Makefile
  cmd/wave/main.go
  cmd/wavedb/main.go
Due: golint -set_exit_status

Added enter handler for textbox
  ide/tsconfig.json
  py/examples/textbox.py
  ui/src/textbox.tsx
Due: ./py/venv/bin/flake8

build: 🔒Enable and enforce `boringcrypto` experiment (#2353)
  Makefile
  cmd/wave/main.go
  cmd/wavedb/main.go
Due: golint -set_exit_status

chore: Release v1.3.4
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Use boringcrypto for make run as well.
  Makefile
Due: none

ci: Use boringcrypto for python tests.
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

ci: Use boringcrypto for wavedb build.
  Makefile
Due: none

ci: Use boringcrypto for e2e tests.
  e2e/utils.py
Due: ./py/venv/bin/flake8

fix: update h2o wave db reference
  website/docs/wavedb.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update h2o wave db reference (#2358)
  website/docs/wavedb.md
Due: ./node_modules/markdownlint-cli/markdownlint.js
