Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

remove image_type; fix docstrings
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/wide_info.tsx
Due: ./py/venv/bin/flake8

TODO stands. it's ugly. needs fixing.
  ui/src/theme.ts
Due: none

this is not a stat card
  py/examples/wide_info.py
Due: ./py/venv/bin/flake8

feat: Add wide info card (#585)
  py/examples/tour.conf
  py/examples/wide_info.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/index.scss
  ui/src/theme.ts
  ui/src/wide_info.test.tsx
  ui/src/wide_info.tsx
  website/docs/examples/assets/wide-info.png
Due: ./py/venv/bin/flake8

test: Check if toolbar command value is submitted if available (#717)
  ui/src/toolbar.test.tsx
Due: none

fix: Move Wave ML setup after wheel
  py/Makefile
Due: none

chore: Remove commit lint
  ui/.commitlintrc.js
  ui/package-lock.json
  ui/package.json
Due: none

chore: Remove commit message linting (#775)
  ui/.commitlintrc.js
  ui/package-lock.json
  ui/package.json
Due: none

ci: Move Wave ML setup after wheel (#774)
  py/Makefile
Due: none

docs: Add additional example for ui.image_card() #191
  py/examples/image.py
Due: ./py/venv/bin/flake8

docs: Add example for ui.image() #191
  py/examples/form.py
Due: ./py/venv/bin/flake8

feat: Add ui.image() API. Closes #191
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
  ui/src/image.tsx
Due: ./py/venv/bin/flake8

docs: Update readme
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Make examples/tour.py work across containers. Fixes #498
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: Type-check dict instead of class when deserializing components. Fixes #607
  py/h2o_wave/types.py
  tools/wavegen/src/wavegen.ts
Due: ./py/venv/bin/flake8

feat: Add API to dynamically load external javascript #297
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/meta.tsx
  ui/src/script.ts
Due: ./py/venv/bin/flake8

fix: Fix docstrings for ui.script() #297
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/script.ts
Due: ./py/venv/bin/flake8

feat: Switch tour to flex layout #701 (#753)
  py/examples/tour.py
Due: ./py/venv/bin/flake8

refactor: Remove Dialog dependency from core
  ui/src/dialog.test.tsx
  ui/src/dialog.tsx
  ui/src/meta.test.tsx
  ui/src/meta.tsx
  ui/src/qd.ts
Due: none

refactor: Remove tracking dependency from core
  ui/src/qd.ts
  ui/src/tracking.ts
Due: none

feat: Externalize browser module as h2o-wave package #35
  ts/.gitignore
  ts/package-lock.json
  ts/package.json
  ts/tsconfig.json
Due: none

feat: Add h2o-wave to ui/package.json #35
  ui/package-lock.json
  ui/package.json
Due: none

ci: Don't mark releases as pre-release
  .github/workflows/release.yml
Due: none

fix: ignore ui.ts during wavegen
  ui/src/.wavegen
Due: none

fix: Ignore ui.ts during wavegen (#780)
  ui/src/.wavegen
Due: none

fix: Auto correct website URL #778 #445
  website/blog/2021-04-28-release.md
  website/docusaurus.config.js
  website/static/fix-location.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

added bean_counter
  r/R/examples/bean_counter.R
Due: none

feat: Add minimal alt-UI for Wave server #35
  u/.gitignore
  u/index.html
  u/index.ts
  u/package-lock.json
  u/package.json
  u/tsconfig.json
  u/webpack.config.js
Due: none

chore: Add make tasks for alt-UI #35
  Makefile
Due: none

fix: Auto correct website URL #778 #445 (#783)
  website/blog/2021-04-28-release.md
  website/docusaurus.config.js
  website/static/fix-location.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Update sqlite to 3.35.5 #694
  db/.gitignore
  db/cmd/wavedb/main.go
  db/db.go
  db/db_test.go
  db/go.mod
  db/go.sum
Due: golint -set_exit_status

refactor: Move keychain and assert to pkg/ #694
  cache.go
  cmd/wave/main.go
  conf.go
  file_server.go
  file_store.go
  parse_test.go
  pkg/assert/assert.go
  pkg/assert/assert_test.go
  pkg/keychain/keychain.go
  pkg/keychain/keychain_test.go
  web_server.go
Due: golint -set_exit_status

refactor: Move db/ to pkg/db; wavedb to cmd/
  cmd/wavedb/main.go
  db/go.mod
  db/go.sum
  go.mod
  go.sum
  pkg/db/.gitignore
  pkg/db/db.go
  pkg/db/db_test.go
Due: golint -set_exit_status

feat: Use keychain to authenticate db requests #694
  cmd/wavedb/main.go
  pkg/db/db.go
  pkg/db/db_test.go
Due: golint -set_exit_status

docs: Rename "app access key" -> "API access key"
  cmd/wave/main.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

feat: Include version/build; add -version flag for db #694
  cmd/wavedb/main.go
  pkg/db/db.go
Due: golint -set_exit_status

ci: Add make tasks for db #694
  .gitignore
  Makefile
Due: none
