Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Replace fillmurray image generator in docs since it's down.
  py/examples/layout_responsive.py
  website/widgets/content/image.md
  website/widgets/form/image.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Remove unnecessary margin in ui.toggle.
  ui/src/toggle.tsx
Due: none

docs: Improve server configuration section.
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feature: spinner progress added
  py/examples/progress.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/progress.tsx
  website/widgets/form/progress.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

Docs:Spinner Progress Added to Progress
  website/widgets/form/progress.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Allow primitive values in wide stats value/aux_value, not just expressions.
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: none

chore: Rename references Hydbrid cloud to AI cloud.
  py/examples/ml_dai.py
  py/examples/ml_dai_autodoc.py
  py/examples/ml_dai_categorical.py
  py/examples/ml_dai_instances.py
  py/examples/ml_dai_parameters.py
  py/examples/ml_dai_save.py
  py/examples/tour.py
  university/h2o_wave_university/university.py
Due: ./py/venv/bin/flake8

feat: Make download attribute work more consistently. #999
  py/examples/link.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/link.test.tsx
  ui/src/link.tsx
  website/docs/files.md
  website/widgets/form/link.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

refactor: py/examples/progress.py
  py/examples/progress.py
Due: ./py/venv/bin/flake8

fix: ui/src/progress.tsx
  ui/src/progress.tsx
Due: none

fix:spinner progress alignment
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/progress.tsx
Due: ./py/venv/bin/flake8

docs: Make sure instructions for setting up win virtual env work.
  py/project_templates/README.md
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat:Add-Spinner-Progress-1747-1771-changes
  py/examples/progress.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/progress.tsx
Due: ./py/venv/bin/flake8

feat:Add-Spinner-Progress-1747-1771-further-change
  ui/src/progress.tsx
Due: none

fix: Remove drive letter from public/private dir that Windows prepends if leading slash.
  server.go
Due: golint -set_exit_status

fix: Do not crash wave fetch if cannot rename (Windows Quick Access related). Closes #1479
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

chore: Minor refactor. #1479
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

feat: Perform downloads in a new tab. #999
  ui/src/link.tsx
Due: none

feat: Handle button links properly #999
  ui/src/link.tsx
Due: none

feat: Make download attribute work more consistently. #999 (#1782)
  py/examples/link.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/link.test.tsx
  ui/src/link.tsx
  website/docs/files.md
  website/widgets/form/link.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Minor refactor.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/progress.tsx
Due: ./py/venv/bin/flake8

docs: Make examples cleaner.
  py/examples/progress.py
  website/widgets/form/progress.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Update docstring.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/progress.tsx
Due: ./py/venv/bin/flake8

feat: Add spinner attribute to ui.progress #1747 (#1771)
  py/examples/progress.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/progress.tsx
  website/widgets/form/progress.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Prevent memory leak within lightbox.
  ui/src/parts/lightbox.tsx
  website/src/components/lightbox.jsx
Due: none

feat: prevent onClick when switching between active shapes #1596
  ui/src/image_annotator.tsx
Due: none

chore: refactor ref names #1596
  ui/src/image_annotator.tsx
Due: none

fix: do not move rectangle when it is intersecting with moving polygon #1596
  ui/src/image_annotator.tsx
Due: none

fix: deselect all shapes when starting annotation using polygon chosen by pressing P key #1596
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

feat: keep the polygon inside the boundaries, fix the expanding rectangle issue, move shapes up to the boundary when using arrows+shift #1596
  ui/src/image_annotator.tsx
Due: none

feat: add support for polygons movement into 4 directions #1596
  ui/src/image_annotator.tsx
Due: none

feat: change between active tags shortcut #1596
  ui/src/image_annotator.tsx
Due: none

fix: prevent creating rectangle when active shape is changed with shortcuts during dragging #1596
  ui/src/image_annotator.tsx
Due: none

chore: refactor image translation #1596
  ui/src/image_annotator.tsx
Due: none

feat: move all selected shapes as a group when dragging #1596
  ui/src/image_annotator.tsx
  ui/src/image_annotator_rect.ts
Due: none

feat: keep the polygon inside the boundaries, fix the expanding rectangle issue, move shapes up to the boundary when using arrows+shift #1596
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

chore: shapes movement refactor #1596
  ui/src/image_annotator.tsx
Due: none

chore: add test cases for using arrows #1596
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none
