Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: Add tooltip attribute to nav_item examples #692
  py/examples/nav.py
Due: ./py/venv/bin/flake8

feat: Add title attribute to NavItem to show as a tooltip #692
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8

fix: Handle colon in $H2O_WAVE_LISTEN properly in app CLI (#1221)
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

feat: Add tooltip to NavItem #692 (#1198)
  py/examples/nav.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8

feat: Add select / deselect all to table filter menu #602 (#1187)
  ui/src/table.tsx
Due: none

docs: Add base url
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: Pycharm plugin.
  website/blog/2022-02-05-pycharm-plugin.md
  website/blog/assets/2022-02-05/autocomplete1.png
  website/blog/assets/2022-02-05/autocomplete2.png
  website/blog/assets/2022-02-05/autocomplete3.png
  website/blog/assets/2022-02-05/autocomplete4.png
  website/blog/assets/2022-02-05/plugin-demo.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

Update 2022-02-05-pycharm-plugin.md
  website/blog/2022-02-05-pycharm-plugin.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Update website/blog/2022-02-05-pycharm-plugin.md
  website/blog/2022-02-05-pycharm-plugin.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Minor improvements (#1231)
  website/blog/2022-02-05-pycharm-plugin.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: Add YT video demo.
  website/blog/2022-02-05-pycharm-plugin.md
  website/blog/assets/2022-02-05/plugin-demo.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: Change date
  website/blog/2022-02-03-pycharm-plugin.md
  website/blog/assets/2022-02-03/autocomplete1.png
  website/blog/assets/2022-02-03/autocomplete2.png
  website/blog/assets/2022-02-03/autocomplete3.png
  website/blog/assets/2022-02-03/autocomplete4.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: Pycharm plugin. (#1228)
  website/blog/2022-02-03-pycharm-plugin.md
  website/blog/assets/2022-02-03/autocomplete1.png
  website/blog/assets/2022-02-03/autocomplete2.png
  website/blog/assets/2022-02-03/autocomplete3.png
  website/blog/assets/2022-02-03/autocomplete4.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: docs typo
  website/widgets/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Host h2o logo on S3 instead of marketing page.
  py/examples/header.py
  py/examples/nav.py
  py/examples/tour.py
  tools/intellij-plugin/src/main/resources/templates/wave-blocks.xml
  website/static/img/h2o-logo.svg
  website/widgets/content/header.md
  website/widgets/content/navigation.md
  website/widgets/form/frame.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Add pycharm plugin to dev guide.
  website/docs/development.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: blog - deploying wave apps on heroku
  website/blog/2022-02-08-wave-on-heroku.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Minor improvements. #1005
  ui/src/tags.tsx
  website/components/form/tags.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: minor improvements #1005
  py/examples/tags.py
Due: ./py/venv/bin/flake8

feat: Add Tags to Form Card (#1176) #1005
  py/examples/tags.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/form.tsx
  ui/src/tags.tsx
  website/components/form/tags.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: VSC extension - initial integration #1190
  .vscode/launch.json
  tools/vscode-extension/.eslintrc.yml
  tools/vscode-extension/.gitignore
  tools/vscode-extension/.vscodeignore
  tools/vscode-extension/LICENSE
  tools/vscode-extension/Makefile
  tools/vscode-extension/README.template.md
  tools/vscode-extension/base-snippets.json
  tools/vscode-extension/build.js
  tools/vscode-extension/client/src/extension.ts
  tools/vscode-extension/component-snippets.json
  tools/vscode-extension/icon.png
  tools/vscode-extension/package-lock.json
  tools/vscode-extension/package.json
  tools/vscode-extension/preview.gif
  tools/vscode-extension/requirements.txt
  tools/vscode-extension/server/__init__.py
  tools/vscode-extension/server/__main__.py
  tools/vscode-extension/server/lsp_server.py
  tools/vscode-extension/server/parser.py
  tools/vscode-extension/server/tests/__init__.py
  tools/vscode-extension/server/tests/__main__.py
  tools/vscode-extension/server/tests/test_events.py
  tools/vscode-extension/server/tests/test_icons.py
  tools/vscode-extension/server/tests/test_imports.py
  tools/vscode-extension/server/tests/test_project/main.py
  tools/vscode-extension/server/tests/test_project/module.py
  tools/vscode-extension/server/tests/test_project/utils.py
  tools/vscode-extension/server/tests/test_q_app.py
  tools/vscode-extension/server/tests/test_q_args.py
  tools/vscode-extension/server/tests/test_q_client.py
  tools/vscode-extension/server/tests/test_q_user.py
  tools/vscode-extension/server/tests/test_themes.py
  tools/vscode-extension/server/tests/test_zones.py
  tools/vscode-extension/server/tests/utils.py
  tools/vscode-extension/server/utils.py
  tools/vscode-extension/tsconfig.json
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Integrate wavegen with VSC extension #1190
  tools/vscode-extension/component-snippets.json
  tools/wavegen/src/vsc-base-snippets.json
  tools/wavegen/src/wavegen.ts
  tools/wavegen/wave-components.json
Due: none

feat: Add preview gif to readme #1190
  tools/vscode-extension/README.template.md
  website/static/img/vscode-extension-preview.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: adjust eslintrc #1190
  tools/vscode-extension/.eslintrc.yml
  tools/vscode-extension/build.js
Due: none

chore: resize icon #1190
  tools/vscode-extension/icon.png
  tools/vscode-extension/package.json
Due: none

feat: Integrate VSC extension into the repo. (#1237)
  .vscode/launch.json
  tools/vscode-extension/.eslintrc.yml
  tools/vscode-extension/.gitignore
  tools/vscode-extension/.vscodeignore
  tools/vscode-extension/LICENSE
  tools/vscode-extension/Makefile
  tools/vscode-extension/README.template.md
  tools/vscode-extension/base-snippets.json
  tools/vscode-extension/build.js
  tools/vscode-extension/client/src/extension.ts
  tools/vscode-extension/component-snippets.json
  tools/vscode-extension/icon.png
  tools/vscode-extension/package-lock.json
  tools/vscode-extension/package.json
  tools/vscode-extension/requirements.txt
  tools/vscode-extension/server/__init__.py
  tools/vscode-extension/server/__main__.py
  tools/vscode-extension/server/lsp_server.py
  tools/vscode-extension/server/parser.py
  tools/vscode-extension/server/tests/__init__.py
  tools/vscode-extension/server/tests/__main__.py
  tools/vscode-extension/server/tests/test_events.py
  tools/vscode-extension/server/tests/test_icons.py
  tools/vscode-extension/server/tests/test_imports.py
  tools/vscode-extension/server/tests/test_project/main.py
  tools/vscode-extension/server/tests/test_project/module.py
  tools/vscode-extension/server/tests/test_project/utils.py
  tools/vscode-extension/server/tests/test_q_app.py
  tools/vscode-extension/server/tests/test_q_args.py
  tools/vscode-extension/server/tests/test_q_client.py
  tools/vscode-extension/server/tests/test_q_user.py
  tools/vscode-extension/server/tests/test_themes.py
  tools/vscode-extension/server/tests/test_zones.py
  tools/vscode-extension/server/tests/utils.py
  tools/vscode-extension/server/utils.py
  tools/vscode-extension/tsconfig.json
  tools/wavegen/src/vsc-base-snippets.json
  tools/wavegen/src/wavegen.ts
  website/static/img/vscode-extension-preview.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Nodejs LTS for dev purposes. Closes #1219
  .nvmrc
  ui/package-lock.json
  ui/package.json
Due: none

chore: Add .nvmrc; point to LTS #1219
  ui/.nvmrc
Due: none

chore: update package-lock to the latest version.
  .npmrc
  ui/package-lock.json
  ui/package.json
Due: none

Update website/blog/2022-02-08-wave-on-heroku.md
  website/blog/2022-02-08-wave-on-heroku.md
Due: ./node_modules/markdownlint-cli/markdownlint.js
