Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: saturate spectrum colors based on HSL #696
  ui/src/theme.ts
Due: none

feat: add initial saturatedPrimary color #696
  ui/src/index.scss
Due: none

fix: Adjust oceanic theme text color to repair disabled computed color #696
  ui/src/theme.ts
Due: none

chore: Sort icon themes in Pycharm plugin #696
  tools/intellij-plugin/src/main/java/org/h2o/utils/UtilsResources.java
Due: none

feat: Use HSL instead of HSV for saturatedPrimary. #696
  ui/src/theme.ts
Due: none

chore: Code cleanup #696
  ui/src/theme.ts
Due: none

feat: Add more themes #696 (#1151)
  tools/intellij-plugin/src/main/java/org/h2o/utils/UtilsResources.java
  ui/src/header.tsx
  ui/src/index.scss
  ui/src/nav.tsx
  ui/src/theme.ts
Due: none

docs: Add newly added built-in themes.
  website/docs/color-theming.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Move Python package version to version.py
  py/Makefile
  py/h2o_wave/__init__.py
  py/h2o_wave/version.py
Due: ./py/venv/bin/flake8

chore: Use version.py for wheel version, not env var
  py/setup.py
Due: ./py/venv/bin/flake8

feat: Add "wave fetch" command to download examples, demo, tour, etc.
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

docs: Add docs for "wave fetch"; adjust installation/tutorial for v0.20
  website/docs/installation-8-20.md
  website/docs/installation.md
  website/docs/tutorial-hello.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Remove tour.md (merged with installation docs instead)
  website/docs/tour.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Rename postcard_card to post_card.
  py/examples/post.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/cards.tsx
  ui/src/post.test.tsx
  ui/src/post.tsx
Due: ./py/venv/bin/flake8

reuse Tag type
  py/examples/info_tag.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/form.tsx
  ui/src/info_tag.test.tsx
  ui/src/info_tag.tsx
  website/components/form/info_tag.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

refactor onFilterChange
  ui/src/table.tsx
Due: none

fix: Revert changes to setup.py
  py/setup.py
Due: ./py/venv/bin/flake8

fix: Include certifi in reqs to workaround OSX urllib cert verification failure
  py/setup.py
Due: ./py/venv/bin/flake8

Create Sjenica1
  Sjenica1
Due: none

docs: hardcode sidebar to control order, fix a few broken links #1203
  tools/showcase/showcase.py
  website/.gitignore
  website/blog/2021-11-05-release.md
  website/docs/architecture.md
  website/docs/arguments.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-monitor.md
  website/docs/tutorial-todo.md
  website/sidebars.js
  website/widgets/form/stats.md
  website/widgets/form/toggle.md
  website/widgets/form/visualization.md
  website/widgets/overview.md
  website/widgets/plots/overview.md
  website/widgets/stat/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: remove invalid links breaking the prod build #1203
  website/blog/2021-05-27-release.md
  website/blog/2021-11-05-release.md
  website/blog/2021-11-10-community-content.md
  website/docs/javascript.md
  website/docs/plotting.md
  website/docs/tutorial-monitor.md
  website/docs/tutorial-todo.md
  website/docusaurus.config.js
  website/sidebars.js
  website/widgets/form/visualization.md
  website/widgets/stat/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: minor refactors #1203
  tools/showcase/showcase.py
  website/blog/2021-11-05-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Remove plots from widgets overview ToC + order correctly. #1203
  website/widgets/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Wdigets overview ToC order #1203
  website/widgets/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

use ui.tags
  py/examples/tags.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/form.tsx
  ui/src/tags.tsx
  website/components/form/info_tag.md
  website/components/form/tags.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

Add widgets.js to .gitignore
  website/.gitignore
Due: none

Move Widgets above Examples; make top and bottom nav links consistent
  website/docusaurus.config.js
  website/sidebars.js
Due: none

docs: Add note about OSX cert failures during installation
  website/docs/installation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Simply wave fetch readout on installation page
  website/docs/installation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: add wave fetch
  website/blog/2022-01-21-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Remove typos.
  website/blog/2022-01-21-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Update website/blog/2022-01-21-release.md
  website/blog/2022-01-21-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: 0.20 release
  website/blog/2022-01-21-release.md
  website/blog/assets/2022-01-21/benext.png
  website/blog/assets/2022-01-21/ember.png
  website/blog/assets/2022-01-21/footer.png
  website/blog/assets/2022-01-21/fuchasia.png
  website/blog/assets/2022-01-21/header.png
  website/blog/assets/2022-01-21/kiwi.png
  website/blog/assets/2022-01-21/lighting.png
  website/blog/assets/2022-01-21/monokai.png
  website/blog/assets/2022-01-21/nature.png
  website/blog/assets/2022-01-21/nord.png
  website/blog/assets/2022-01-21/oceanic.png
  website/blog/assets/2022-01-21/one-dark-pro.png
  website/blog/assets/2022-01-21/postcard.png
  website/blog/assets/2022-01-21/preview.png
  website/blog/assets/2022-01-21/sidebar.png
  website/blog/assets/2022-01-21/solarized.png
  website/blog/assets/2022-01-21/tall-stats.png
  website/blog/assets/2022-01-21/wide-article.png
  website/blog/assets/2022-01-21/winter-is-coming.png
Due: ./node_modules/markdownlint-cli/markdownlint.js
