Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Allow skipping Wave server TLS verification #1547
  cmd/wave/main.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

refactor: Address review comments. #1547
  cmd/wave/main.go
  conf.go
  server.go
Due: golint -set_exit_status

docs: Rename config var. #1547
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Update website/docs/configuration.md
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow skipping Wave server TLS verification #1547 (#1556)
  cmd/wave/main.go
  conf.go
  server.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

chore: Remove unused Dockerfile.
  Dockerfile
Due: none

chore: updated docs image
  website/docs/examples/assets/stat-wide-gauge.png
Due: none

fix: center align text
  ui/src/wide_gauge_stat.tsx
Due: none

feat: changed progress_arc container to text container ratio, updated docs assets
  ui/src/wide_gauge_stat.tsx
  website/docs/examples/assets/stat-wide-gauge.png
Due: none

feat: pre-compute minWidth for value containers based on content
  ui/src/wide_gauge_stat.tsx
Due: none

fix: wide_gauge_stat values move
  ui/src/layout.tsx
  ui/src/wide_gauge_stat.tsx
Due: none

chore: updated comment
  ui/src/wide_gauge_stat.tsx
Due: none

feat: Add more detailed disconnect message. #1579
  ui/src/app.tsx
Due: none

fix: Use canvas renderer to avoid subtle G2 bugs. #1562
  py/examples/plot_theme.py
  tools/showcase/Makefile
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

fix: Use relative import in the example. #1562
  py/examples/plot_theme.py
Due: ./py/venv/bin/flake8

fix: Use canvas renderer to avoid subtle G2 bugs. #1562 (#1587)
  py/examples/plot_theme.py
  tools/showcase/Makefile
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

chore: Fix grammar typo. #1579
  ui/src/app.tsx
Due: none

feat: Add more detailed disconnect message. #1579 (#1580)
  ui/src/app.tsx
Due: none

fix: filter out annotation marks before setting geometry interactivity
  ui/src/plot.tsx
Due: none

test: Correct identation so that all tests are run.
  py/tests/test_python_server.py
Due: ./py/venv/bin/flake8

fix: Prevent memory leak caused by unclosed file handles during site.upload.
  py/h2o_wave/core.py
  py/tests/test_python_server.py
Due: ./py/venv/bin/flake8

fix: Filter out annotation marks before setting geometry interactivity #1586 (#1590)
  ui/src/plot.tsx
Due: none

fix: prevent incorrect value container width when count of non-digit characters changes, refactor
  ui/src/wide_gauge_stat.tsx
Due: none

fix: Prevent ui.wide_gauge_stat from moving when textual value changes #1446 (#1566)
  ui/src/layout.tsx
  ui/src/wide_gauge_stat.tsx
  website/docs/examples/assets/stat-wide-gauge.png
Due: none

fix: Missing tooltips for histogram with time x_scale
  ui/src/plot.tsx
Due: none

fix: Prevent memory leak caused by unclosed file handles during site.upload. (#1591)
  py/h2o_wave/core.py
  py/tests/test_python_server.py
Due: ./py/venv/bin/flake8

feat: Initial impl for review. #1584
  file_server.go
  py/h2o_wave/core.py
Due: golint -set_exit_status, ./py/venv/bin/flake8

fix: Remove memory leak caused by file upload. #1584
  py/tests/test_folder/test.txt
Due: none

fix: Remove memory leak caused by file upload. #1584
  py/h2o_wave/core.py
  py/tests/test_python_server.py
Due: ./py/venv/bin/flake8

test: Add tests using BASE_URL as well. #1584
  py/Makefile
Due: none

fix: Missing tooltips for histogram with time x_scale #1474 (#1594)
  ui/src/plot.tsx
Due: none

docs: Document upload_dir function. #1584
  py/h2o_wave/core.py
  website/docs/files.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Add experimental warning. #1584
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

feat: Allow dir uploads. #1584 (#1585)
  file_server.go
  py/Makefile
  py/h2o_wave/core.py
  py/tests/test_folder/test.txt
  py/tests/test_python_server.py
  website/docs/files.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Add medium blog post to our background jobs docs.
  website/docs/background.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

test: Increase Python test coverage.
  py/tests/__main__.py
  py/tests/test_python_server.py
  py/tests/test_python_server_async.py
  py/tests/utils.py
Due: ./py/venv/bin/flake8

fix: allow setting Textbox "value" dynamically #1578
  ui/src/textbox.test.tsx
  ui/src/textbox.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
