Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: add -ide flag; enable proxy if set; guard IDE #294
  cmd/wave/main.go
  conf.go
  server.go
Due: golint -set_exit_status

chore: Add go debug config to launch.json
  .vscode/launch.json
Due: none

fix: Allow patch requests from browser only if -editable is set #294
  client.go
Due: golint -set_exit_status

refactor: Unify unnecessary session/user separation #294
  auth.go
  client.go
Due: golint -set_exit_status

fix: Don't raise error on missing session during logout #294
  auth.go
Due: golint -set_exit_status

feat: Invalidate all connected browser tabs when logged out of one tab #294
  auth.go
  broker.go
  server.go
Due: golint -set_exit_status

chore: Add go debug conf for OIDC scenarios
  .vscode/launch.json
Due: none

perf: Marshal reset message in advance #294
  broker.go
Due: golint -set_exit_status

feat: Set id_token_hint when logging out (okta-specific). Closes #291
  auth.go
Due: golint -set_exit_status

feat: refresh access token when handling websocket messages.
  auth.go
  client.go
  socket.go
Due: golint -set_exit_status

Kick user out on refresh failure?
  client.go
Due: golint -set_exit_status

feat: Refresh access token when handling websocket messages. (#732)
  auth.go
  client.go
  socket.go
Due: golint -set_exit_status

fix: Allow nested records in .args #227
  ui/src/qd.ts
Due: none

updated wavegen.ts to handle recursive, list elements in R, ui.R needs to be re-generated
  tools/wavegen/src/wavegen.ts
Due: none

feat: Update codegen to handle recursive, list elements in R #612 (#734)
  tools/wavegen/src/wavegen.ts
Due: none

fix: Regenerate R driver #612
  r/R/ui.R
Due: none

misplaced period
  tools/wavegen/src/wavegen.ts
Due: none

docs: Add README to wavegen #612
  tools/wavegen/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

updated wavegen with recursive null extractor, period fix, and ui.R generated
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: none

fix merge
  tools/wavegen/src/wavegen.ts
Due: none

fix: Fix typo in R codegen (#736)
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: none

feat(table): checkbox visibility #713
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

chore: sync API with the most recent generator #713
  r/R/ui.R
Due: none

updated generator
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: none

docs: Document app server protocol #612
  protocol.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: add icon support for buttons #747
  py/examples/button.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

docs: Update setup instructions in contrib guide
  .github/CONTRIBUTING.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: autogenerate API for Wave ML #683
  py/Makefile
  website/docs/wave-ml.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Remove `h2o_wave_ml` if exists #683
  py/Makefile
Due: none

docs: Add dev setup link to readme
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Move version to variable #683
  py/Makefile
Due: none

feat: Allow icons in buttons #747 (#748)
  py/examples/button.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

feat: Simplify server -> app request forwarding #745
  app.go
  auth.go
  client.go
  py/h2o_wave/server.py
Due: golint -set_exit_status, ./py/venv/bin/flake8

docs: Update protocol docs #745
  protocol.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Lock down all requests to the app server by default #294
  app.go
  broker.go
  protocol.go
  protocol.md
  py/h2o_wave/core.py
  py/h2o_wave/server.py
  web_server.go
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Update config/security docs with new app security behavior #294
  website/docs/configuration.md
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: use kebab-case for checkbox visibility enum #713
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

chore: update docstring #713
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

chore: Point website to s3
  Makefile
  website/docusaurus.config.js
Due: none

feat: Allow controlling checkbox visibility in tables #713 (#739)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8
