Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Release v1.6.1
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

chore: Release v1.6.1
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

chore: Release v1.6.1
  tools/intellij-plugin/gradle.properties
Due: none

chore: Release v1.6.2
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

chore: Release v1.6.3
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

security: Update Go to 1.23 #23
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  go.mod
Due: none

security: Update Go to 1.23 #23 (#2451)
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  go.mod
Due: none

fix: Allow dynamic change of table selection #2445
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: Tests naming #2445
  ui/src/table.test.tsx
Due: none

fix: Allow dynamic change of table selection #2445 (#2452)
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

fix: Changed the vulnerable versions of python dependencies of Tour app
  py/apps/tour/requirements.txt
Due: none

Temp
  .github/workflows/release-wave.yml
  py/apps/tour/.appignore
  py/apps/tour/Dockerfile-bundle
  py/apps/tour/Dockerfile-runtime
  py/apps/tour/app.toml
Due: none

Temp
  py/apps/tour/.appignore
Due: none

Temp
  py/apps/tour/Dockerfile-wave-bundle
Due: none

Reverted h2o-wave-ml version
  py/apps/tour/requirements.txt
Due: none

security: Update Tour deps (#2454)
  py/apps/tour/requirements.txt
Due: none

chore: Upgrade go to 1.23.8.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  go.mod
Due: none

chore: Go mod tidy.
  go.mod
Due: none

ci: HAIC bucket moved to shared account, reflect the changes.
  .github/workflows/release-wave.yml
Due: none

chore: Release v1.6.4
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Bump ubuntu to 24.04
  .github/workflows/publish-conda.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-lightwave.yml
  .github/workflows/publish-university.yml
  .github/workflows/release-pycharm-plugin.yml
  .github/workflows/release-vsc-extension.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
Due: none

ci: Clean vscode extension project as part of main clean target.
  Makefile
Due: none

chore: Release v1.6.5
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Use pinned python version.
  .github/workflows/release-wave.yml
Due: none

ci: Upgrade pypi release action.
  .github/workflows/release-wave.yml
Due: none

fix: adds missing integrity & resolved to npm package-lock.json
  ui/package-lock.json
Due: none

security: Add missing integrity & resolved to npm package-lock.json (#2459) #2299
  ui/package-lock.json
Due: none

feat: Initial FE impl.
  ui/index.html
  ui/src/index.tsx
Due: none

feat: Generate nonce on BE.
  ui/index.html
  ui/src/index.tsx
  web_server.go
Due: golint -set_exit_status

fix: Set handle CSP headers injection properly on Go side.
  ui/index.html
  web_server.go
Due: golint -set_exit_status

fix: Do not add nonce on FE when empty.
  ui/index.html
Due: none

feat: Replace handlebars with mustache to support CSP locked down envs.
  ui/package-lock.json
  ui/package.json
  ui/src/intl.ts
Due: none

fix: Proper plot layout styles.
  ui/src/plot.tsx
Due: none

feat: Override native appendChild as well.
  ui/index.html
Due: none

chore: Refactor.
  ui/src/index.tsx
Due: none

ci: Make visual regression testing script more robust.
  tools/showcase/showcase.py
Due: ./py/venv/bin/flake8

chore: Remove handlebars.
  ui/package-lock.json
  ui/package.json
Due: none

chore: Npm audit fix.
  ui/package-lock.json
Due: none

feat: Bring back handlebars for template component.
  ui/package-lock.json
  ui/package.json
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
