Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: reuse toolbar toCommands function #1887
  ui/src/button.tsx
Due: none

chore: reuse stylings #1887
  ui/src/button.tsx
Due: none

chore: unify contextual menu styles with the rest #1887
  ui/src/button.tsx
Due: none

chore: set directional hint corner #1887
  ui/src/button.tsx
Due: none

fix: make setting wave args consistent with other commands #1887
  ui/src/button.tsx
Due: none

fix: make equal margins for wrapped and not wrapped tags #1917
  ui/src/table.tsx
  ui/src/tag_table_cell_type.tsx
Due: none

chore: remove unused type #1917
  ui/src/tag_table_cell_type.tsx
Due: none

chore: add vertical margin only if tags should be wrapped #1917
  ui/src/table.tsx
  ui/src/tag_table_cell_type.tsx
Due: none

chore: use by-name component access for examples #1882
  py/examples/form_menu.py
  py/examples/form_visibility.py
  py/examples/http_client.py
  py/examples/meta_inline_script_callback.py
Due: ./py/venv/bin/flake8

chore: use by-name component access for ml_h2o_examples #1882
  py/examples/meta_tracking.py
  py/examples/ml_h2o.py
  py/examples/ml_h2o_algo.py
  py/examples/ml_h2o_categorical.py
  py/examples/ml_h2o_parameters.py
  py/examples/ml_h2o_save.py
  py/examples/ml_h2o_shap.py
Due: ./py/venv/bin/flake8

chore: use by-name component access for paginated table examaples #1882
  py/examples/progress_update.py
  py/examples/routing.py
  py/examples/site_async.py
  py/examples/table_menu.py
  py/examples/table_pagination.py
  py/examples/table_pagination_download.py
  py/examples/table_pagination_filter.py
  py/examples/table_pagination_groups.py
  py/examples/table_pagination_h2o3.py
  py/examples/table_pagination_minimal.py
  py/examples/table_pagination_pandas.py
  py/examples/table_pagination_search.py
  py/examples/table_pagination_sort.py
Due: ./py/venv/bin/flake8

chore: use by-name component access for the rest of the examples #1882
  py/examples/plot_theme.py
  py/examples/table_filter_backend.py
  py/examples/table_pagination_wavedb.py
  py/examples/theme_generator.py
  py/h2o_lightwave/examples/hello_fastapi.py
  py/h2o_lightwave/examples/hello_fastapi_custom_index.py
  py/h2o_lightwave/examples/hello_starlette.py
  py/h2o_lightwave/examples/hello_starlette_custom_index.py
  py/h2o_wave/project_templates/hello_world.py
  studio/studio.py
Due: ./py/venv/bin/flake8

fix: Display tags in wrapped cells correctly #1917 (#1925)
  ui/src/table.tsx
  ui/src/tag_table_cell_type.tsx
Due: none

docs: Small improvements. #1887
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Split button #1887 (#1906)
  py/examples/button.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/button.test.tsx
  ui/src/button.tsx
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: replace indexing with by-name component access for theme_generator.py #1882
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

chore: refactor theme_generator.py #1882
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

fix: filter out empty strings for tags and filter options #1905
  ui/src/table.tsx
  ui/src/tag_table_cell_type.tsx
Due: none

chore: filter tags after removing duplicates, add tests #1905
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: call getAllByTestId only once #1905
  ui/src/table.test.tsx
Due: none

chore: refactor tests #1905
  ui/src/table.test.tsx
Due: none

chore: simplify tests implementation #1905
  ui/src/table.test.tsx
Due: none

fix: Do not render empty strings as table filter options #1905 (#1939)
  ui/src/table.test.tsx
  ui/src/table.tsx
  ui/src/tag_table_cell_type.tsx
Due: none

fix: update copy code section colors #1882
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

chore: revert studio.py, add todo #1882
  studio/studio.py
Due: ./py/venv/bin/flake8

feat: update app.toml to explicitly specify the python runtime version for appstore wave apps #1873
  py/apps/dashboard/app.toml
  py/apps/theme-generator/app.toml
  py/apps/tour/app.toml
  university/app.toml
Due: none

chore: Use python 3.10 for apps in cloud #1873 (#1946)
  py/apps/dashboard/app.toml
  py/apps/theme-generator/app.toml
  py/apps/tour/app.toml
  university/app.toml
Due: none

chore: Use by-name access in examples #1882 (#1938)
  py/examples/form_menu.py
  py/examples/form_visibility.py
  py/examples/http_client.py
  py/examples/meta_inline_script_callback.py
  py/examples/meta_tracking.py
  py/examples/ml_h2o.py
  py/examples/ml_h2o_algo.py
  py/examples/ml_h2o_categorical.py
  py/examples/ml_h2o_parameters.py
  py/examples/ml_h2o_save.py
  py/examples/ml_h2o_shap.py
  py/examples/plot_theme.py
  py/examples/progress_update.py
  py/examples/routing.py
  py/examples/site_async.py
  py/examples/table_filter_backend.py
  py/examples/table_menu.py
  py/examples/table_pagination.py
  py/examples/table_pagination_download.py
  py/examples/table_pagination_filter.py
  py/examples/table_pagination_groups.py
  py/examples/table_pagination_h2o3.py
  py/examples/table_pagination_minimal.py
  py/examples/table_pagination_pandas.py
  py/examples/table_pagination_search.py
  py/examples/table_pagination_sort.py
  py/examples/table_pagination_wavedb.py
  py/examples/theme_generator.py
  py/h2o_lightwave/examples/hello_fastapi.py
  py/h2o_lightwave/examples/hello_fastapi_custom_index.py
  py/h2o_lightwave/examples/hello_starlette.py
  py/h2o_lightwave/examples/hello_starlette_custom_index.py
  py/h2o_wave/project_templates/hello_world.py
  studio/studio.py
Due: ./py/venv/bin/flake8

chore: add project templates docs section #1947
  website/docs/assets/template-header-nav.gif
  website/docs/assets/template-header-sidebar-nav.gif
  website/docs/assets/template-header.gif
  website/docs/assets/template-hello-world.gif
  website/docs/assets/template-sidebar-nav.gif
  website/docs/assets/template-wave-init.gif
  website/docs/installation.mdx
  website/docs/project-templates.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: update project templates docs page description #1947
  website/docs/project-templates.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: update tour app.toml to path based routing; update examples to support the path based routing #1875
  py/apps/tour/app.toml
  py/examples/meta_icon.py
  py/examples/meta_title.py
Due: ./py/venv/bin/flake8

chore: remove './' from paths #1875
  py/examples/link.py
  py/examples/meta_icon.py
  py/examples/meta_title.py
  py/examples/site_async.py
Due: ./py/venv/bin/flake8

chore: update site_async.py example to support the path based routing #1875
  py/examples/site_async.py
Due: ./py/venv/bin/flake8

chore: update link.py example to support the path based routing #1875
  py/examples/link.py
Due: ./py/venv/bin/flake8

chore: Make tour examples to support path-based routing in Cloud env #1875 (#1948)
  py/apps/tour/app.toml
  py/examples/link.py
  py/examples/meta_icon.py
  py/examples/meta_title.py
  py/examples/site_async.py
Due: ./py/venv/bin/flake8

chore: improve docs descriptions, reorganize getting started menu items, reuse existing gif #1947
  website/blog/2022-11-21-release.md
  website/docs/assets/wave-init.gif
  website/docs/installation.mdx
  website/docs/project-templates.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: further optimize gif size #1947
  website/docs/assets/template-header-nav.gif
Due: none

chore: remove redundant gif #1947
  website/docs/assets/template-wave-init.gif
Due: none

feat: add path attribute to ui.nav_item #1952
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/nav.tsx
  website/widgets/content/navigation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Add separate project templates page #1947 (#1951)
  website/blog/2022-11-21-release.md
  website/docs/assets/template-header-nav.gif
  website/docs/assets/template-header-sidebar-nav.gif
  website/docs/assets/template-header.gif
  website/docs/assets/template-hello-world.gif
  website/docs/assets/template-sidebar-nav.gif
  website/docs/assets/wave-init.gif
  website/docs/installation.mdx
  website/docs/project-templates.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
