Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: polygon and rect classes refactor #1596
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

feat: replace active shape text with tooltip, tests updated #1596
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

docs: add the table of available shortcuts #1596
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: change the placement of the info icon #1596
  ui/src/image_annotator.tsx
Due: none

fix: copy is using shallow state copy with ref to the current state #1596
  ui/src/image_annotator.tsx
Due: none

fix: prevent updating state and redrawing of shapes on delete when no shapes are focused #1596
  ui/src/image_annotator.tsx
Due: none

fix: update wave args on delete #1596
  ui/src/image_annotator.tsx
Due: none

feat: emit select event on table row selection #1654
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: reduce amount of refs/states, update image position directly instead of using useEffect #1596
  ui/src/image_annotator.tsx
Due: none

chore: rename scale to zoom #1596
  ui/src/image_annotator.tsx
Due: none

chore: remove useId, refactor #1596
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

chore: tests refactor 2 #1596
  ui/src/image_annotator.test.tsx
Due: none

chore: replace ifs with switch statement #1596
  ui/src/image_annotator.tsx
Due: none

fix: update cursor when switching active shape #1596
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

chore: replace switch with elseifs #1596
  ui/src/image_annotator.tsx
Due: none

chore: add todos #1596
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

feat: Add trycatch boundary and allow turning off local uploads. #982
  py/Makefile
  py/h2o_wave/core.py
  py/tests/test_python_server.py
  py/tests/test_python_server_async.py
Due: ./py/venv/bin/flake8

feat: Wait for cp process to finish before returning. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

docs: Document H2O_WAVE_SKIP_LOCAL_UPLOAD. #982
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

perf: Copy files instead of sending over HTTP if Wave app and Wave server are running on the same machine. #982
  py/h2o_wave/cli.py
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

feat: Make local upload work on Windows as well. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

feat: Make upload_dir copy files during upload if possible. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

feat: Make sure the env var is read fresh for wave run to work out of the box. #982
  py/h2o_wave/cli.py
  py/h2o_wave/core.py
  py/setup.py
Due: ./py/venv/bin/flake8

feat: Make async upload_dir non-blocking. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

feat: Make async upload non-blocking. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

fix: Extract filename from header due to newer golang adhering to HTTP spec. #982
  file_server.go
  py/h2o_wave/core.py
  py/tests/test_folder/dir1/test.txt
  py/tests/test_python_server.py
  py/tests/test_python_server_async.py
Due: golint -set_exit_status, ./py/venv/bin/flake8

chore: Minor refactor. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

feat: Make sure local copy works on Windows as well. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

feat: Make upload dir use local copy - Windows. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

feat: Make local upload work with baseurl as well. #982
  py/Makefile
  py/h2o_wave/core.py
  py/tests/test_python_server_async.py
Due: ./py/venv/bin/flake8

chore: Uncomment forgotten tests. #982
  py/Makefile
Due: none

chore: Do not print upload_dir copy to stdout. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

fix: Add forgotten loopback check. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

Update website/docs/configuration.md
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Rename env var. #982
  py/h2o_wave/core.py
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Swallow local copy exception if any to not bother users. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

docs: Add a note about H2O_WAVE_WAVED_DIR. #982
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Refactor. #982
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

perf: Copy files instead of sending over HTTP if Wave app and Wave server are running on the same machine. #982 (#1765)
  file_server.go
  py/Makefile
  py/h2o_wave/cli.py
  py/h2o_wave/core.py
  py/setup.py
  py/tests/test_folder/dir1/test.txt
  py/tests/test_python_server.py
  py/tests/test_python_server_async.py
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
