Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: Add default values to snippets if present in docstring. #506
  .vscode/launch.json
  py/examples/wizard.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
  tools/wavegen/wave-components.xml
  ui/src/button.tsx
  ui/src/chat.tsx
  ui/src/checkbox.tsx
  ui/src/checklist.tsx
  ui/src/choice_group.tsx
  ui/src/color_picker.tsx
  ui/src/combobox.tsx
  ui/src/date_picker.tsx
  ui/src/dialog.tsx
  ui/src/dropdown.tsx
  ui/src/expander.tsx
  ui/src/file_upload.tsx
  ui/src/frame.tsx
  ui/src/label.tsx
  ui/src/link.tsx
  ui/src/markup.tsx
  ui/src/message_bar.tsx
  ui/src/picker.tsx
  ui/src/plot.tsx
  ui/src/progress.tsx
  ui/src/range_slider.tsx
  ui/src/separator.tsx
  ui/src/slider.tsx
  ui/src/spinbox.tsx
  ui/src/stepper.tsx
  ui/src/table.tsx
  ui/src/tabs.tsx
  ui/src/template.tsx
  ui/src/text.tsx
  ui/src/textbox.tsx
  ui/src/toggle.tsx
  ui/src/vega.tsx
Due: ./py/venv/bin/flake8

feat: pycharm component snippet generator #506
  tools/wavegen/package-lock.json
  tools/wavegen/package.json
Due: none

feat: finalizing the plugin #506
  py/examples/app.py
  py/examples/stupid.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/.github/dependabot.yml
  tools/intellij-plugin/src/main/java/org/h2o/autocompletion/WaveCompletionContributor.java
  tools/intellij-plugin/src/main/java/org/h2o/utils/Utils.java
  tools/intellij-plugin/src/main/java/org/h2o/utils/UtilsResources.java
  tools/intellij-plugin/src/main/resources/templates/wave-blocks.xml
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/intellij-plugin/src/main/resources/templates/wave.xml
  tools/intellij-plugin/src/test/java/CompletionContributorTestQApp.java
  tools/intellij-plugin/src/test/java/CompletionContributorTestQArgs.java
  tools/intellij-plugin/src/test/java/CompletionContributorTestQClient.java
  tools/intellij-plugin/src/test/java/CompletionContributorTestQEvents.java
  tools/intellij-plugin/src/test/java/CompletionContributorTestQUser.java
  tools/intellij-plugin/src/test/java/CompletionContributorTestTheme.java
  ui/src/app.tsx
  ui/src/header.tsx
  ui/src/nav.tsx
  ui/src/page.tsx
  ui/src/table.tsx
  ui/src/tabs.tsx
Due: ./py/venv/bin/flake8

chore: minor fixes #506
  .vscode/launch.json
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/.github/workflows/release.yml
  tools/intellij-plugin/.gitignore
  tools/intellij-plugin/build.gradle.kts
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/intellij-plugin/src/main/resources/templates/wave.xml
  tools/wavegen/src/wavegen.ts
  tools/wavegen/wave-components.json
  tools/wavegen/wave-components.xml
  ui/src/button.tsx
  ui/src/picker.tsx
Due: ./py/venv/bin/flake8

build: refactoring plugin build #506
  tools/intellij-plugin/build.gradle.kts
  tools/intellij-plugin/gradle.properties
  ui/src/table.tsx
Due: none

test: fix broken table tests
  ui/src/table.test.tsx
Due: none

fix: Fix broken docs links caused by examples removal
  website/blog/2020-10-28-release.md
  website/blog/2021-01-17-release.md
  website/blog/2021-02-12-release.md
  website/blog/2021-05-27-release.md
  website/blog/2021-09-13-community-content.md
  website/blog/2021-11-05-release.md
  website/components/form/stats.md
  website/components/form/toggle.md
  website/components/form/visualization.md
  website/components/overview.md
  website/components/plot/overview.md
  website/components/stat/overview.md
  website/docs/architecture.md
  website/docs/arguments.md
  website/docs/javascript.md
  website/docs/tour.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-monitor.md
  website/docs/tutorial-todo.md
  website/docusaurus.config.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: clean up build and deprecations #506
  tools/intellij-plugin/.github/workflows/build.yml
  tools/intellij-plugin/.github/workflows/release.yml
  tools/intellij-plugin/Makefile
  tools/intellij-plugin/gradle.properties
  tools/intellij-plugin/src/main/java/org/h2o/utils/Utils.java
  tools/intellij-plugin/src/main/resources/META-INF/plugin.xml
Due: none

fix: Broken tests
  tools/showcase/showcase.py
  ui/src/table.test.tsx
Due: ./py/venv/bin/flake8

fix: Put back demo app
  py/demo/app.py
Due: ./py/venv/bin/flake8

ci: Do not build docs for nightly.
  .github/workflows/release-wave-nightly.yml
  Makefile
Due: none

fix: Use correct make target for publish docs job.
  .github/workflows/publish-docs.yml
Due: none

feat: Incorporate Pycharm plugin beta feedback.
  tools/intellij-plugin/build.gradle.kts
  tools/intellij-plugin/src/main/resources/templates/wave-blocks.xml
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/intellij-plugin/src/main/resources/templates/wave.xml
  tools/wavegen/src/wavegen.ts
Due: none

feat: Add trigger to combobox #1136
  py/examples/combobox.py
  py/examples/picker.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/combobox.test.tsx
  ui/src/combobox.tsx
Due: ./py/venv/bin/flake8

feat: Add server connection timeout handling to Wave apps. Closes #1150
  py/h2o_wave/core.py
  py/h2o_wave/server.py
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

build: Do not patch plugin.xml with default since/until versions
  tools/intellij-plugin/build.gradle.kts
Due: none

Update py/examples/combobox.py
  py/examples/combobox.py
Due: ./py/venv/bin/flake8

remove picker unrelated changes
  py/examples/picker.py
Due: ./py/venv/bin/flake8

add separate example for combobox trigger
  py/examples/combobox.py
  py/examples/combobox_trigger.py
Due: ./py/venv/bin/flake8

feat: Add inline option for choice group #1145
  py/examples/choice_group_inline.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/choice_group.tsx
Due: ./py/venv/bin/flake8

clean up
  py/examples/combobox.py
Due: ./py/venv/bin/flake8

add guard to prevent sending undefined choices
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/combobox.tsx
Due: ./py/venv/bin/flake8

add inline section to docs
  website/components/form/choice_group.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

improve docstrings
  py/examples/choice_group_inline.py
Due: ./py/venv/bin/flake8

use Fluent styles prop instead of className
  ui/src/choice_group.tsx
Due: none

Update website/components/form/choice_group.md
  website/components/form/choice_group.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

revert guard logic
  ui/src/combobox.tsx
Due: none

Update ui/src/choice_group.tsx
  ui/src/choice_group.tsx
Due: none

add spacing between choices
  ui/src/choice_group.tsx
Due: none

add trigger to docs
  website/components/form/combobox.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add dialog prop to dropdown #1116
  py/examples/dropdown.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: ./py/venv/bin/flake8

Update py/examples/dropdown.py
  py/examples/dropdown.py
Due: ./py/venv/bin/flake8

refactor dropdown tests
  ui/src/dropdown.test.tsx
Due: none

fix test description
  ui/src/dropdown.test.tsx
Due: none

chore: Minor improvements #1116
  py/examples/dropdown.py
  ui/src/dropdown.test.tsx
Due: ./py/venv/bin/flake8

add popup to dropdown docs
  website/components/form/dropdown.md
Due: ./node_modules/markdownlint-cli/markdownlint.js
