Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

Updated layout.md doc with notice about percent value usage in flex layouts
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Updated layout.md doc with notice about percent value usage in flex layouts 2
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Clarified Section title and added MDN link for the units
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Formatted 'size' for more clarity
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Zone formatting.
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Minor improvements.
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add more clarity to using percentages within layout #524 (#2478)
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: added microsoft entra ID clarification
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: added OpenID and Microsoft Entra ID integration pointers (#2479)
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

add unit tests for widgets and all name variables
  py/demo/README.md
  py/demo/app.py
  py/demo/requirements.txt
  py/h2o_wave/h2o_wave/ui.py
  test/__pycache__/test_widget.cpython-313-pytest-8.4.2.pyc
  test/test_widget.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

move test_widget to h2o wave
  py/tests/test_widget.py
Due: ./py/venv/bin/flake8

security: Bump go version to 1.24.9.
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  go.mod
Due: none

chore: Release v1.7.5
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

security: Bump Go to 1.24.11.
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  go.mod
Due: none

chore: Release v1.7.6
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Move custom publish conda action under h2oai org.
  .github/workflows/publish-conda.yml
  .github/workflows/release-wave.yml
Due: none

ci: Update go setup action to v6.
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
Due: none

chore: Tmp
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

ci: Bump macos gh runner version for wavedb release.
  .github/workflows/release-wavedb.yml
Due: none

ci: Add write permission to wavedb release gh action.
  .github/workflows/release-wavedb.yml
Due: none

security: Bump crypto package.
  go.mod
  go.sum
Due: none

chore: Release v1.7.7
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

feat: add ARM64 build support for all platforms
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  .github/workflows/wave-bundle-docker-build-publish.yaml
  Makefile
  py/h2o_wave/Makefile
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

secuirty: Bump Go version to get rid of CVEs.
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  go.mod
Due: none

chore: Release v1.7.8
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

chore: Bump Go version.
  .github/workflows/release-wavedb.yml
Due: none

feat: Add ARM64 build support for all platforms (#2485)
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  .github/workflows/wave-bundle-docker-build-publish.yaml
  Makefile
  py/h2o_wave/Makefile
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

ci: Run wavedb automatically with wave release.
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
Due: none

chore: Release v1.8.0
  CHANGELOG.md
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Specify glibc version for linux arm wheel.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  py/h2o_wave/Makefile
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

ci: Do not try to publish existing pypi packages.
  .github/workflows/release-wave.yml
Due: none

ci: Temporarily skip conda publish - to be reverted.
  .github/workflows/release-wave.yml
Due: none

ci: Use arm runner for wavedb.
  .github/workflows/release-wavedb.yml
Due: none

ci: Use intel mac runner for wavedb.
  .github/workflows/release-wavedb.yml
Due: none

Revert "ci: Temporarily skip conda publish - to be reverted."
  .github/workflows/release-wave.yml
Due: none

security: Bump Go version to remove CVEs.
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  go.mod
Due: none

chore: Release v1.8.1
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Auto-generate changelog against proper prev version.
  tools/changelog-generator/changelog.js
Due: none

ci: Auto-changelog.
  .github/workflows/release-wave.yml
Due: none
