Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: stretch slider for available space #582
  ui/src/range_slider.tsx
  ui/src/slider.tsx
Due: none

fix: Make sliders work within ui.inline and ui.section. #582
  ui/src/form.tsx
  ui/src/range_slider.tsx
  ui/src/section.tsx
  ui/src/slider.tsx
Due: none

fix: Stretch slider for available space within ui.inline and ui.section. #582
  ui/src/form.tsx
  ui/src/range_slider.tsx
  ui/src/section.tsx
Due: none

docs: Improve breadcrumbs example. #953
  py/examples/breadcrumbs.py
Due: ./py/venv/bin/flake8

docs: Improve routing examples. #953 (#957)
  py/examples/breadcrumbs.py
  py/examples/routing.py
  py/examples/tab.py
  py/examples/tab_link.py
  py/examples/tab_routing.py
  py/examples/toolbar_routing.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

fix: Redirect only once, not on every render.
  ui/src/meta.tsx
Due: none

feat: Add inline prop to ui.checklist. Closes #959
  py/examples/checklist_inline.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/checklist.tsx
  website/docs/examples/assets/checklist-inline.png
Due: ./py/venv/bin/flake8

feat: Icon button. Closes #958
  py/examples/button.py
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

feat: Allow controlling width of form items. Closes #795
  py/examples/form.py
  py/examples/nav.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.tsx
  ui/src/checkbox.tsx
  ui/src/checklist.tsx
  ui/src/choice_group.tsx
  ui/src/color_picker.tsx
  ui/src/combobox.tsx
  ui/src/date_picker.tsx
  ui/src/dropdown.tsx
  ui/src/expander.tsx
  ui/src/file_upload.tsx
  ui/src/form.tsx
  ui/src/frame.tsx
  ui/src/image.tsx
  ui/src/label.tsx
  ui/src/link.tsx
  ui/src/markup.tsx
  ui/src/message_bar.tsx
  ui/src/picker.tsx
  ui/src/plot.tsx
  ui/src/progress.tsx
  ui/src/range_slider.tsx
  ui/src/separator.tsx
  ui/src/slider.tsx
  ui/src/spinbox.tsx
  ui/src/stats.tsx
  ui/src/stepper.tsx
  ui/src/table.tsx
  ui/src/tabs.tsx
  ui/src/template.tsx
  ui/src/text.tsx
  ui/src/textbox.tsx
  ui/src/theme.ts
  ui/src/toggle.tsx
  ui/src/vega.tsx
Due: ./py/venv/bin/flake8

feat: Custom inline / external CSS support. #965
  py/examples/meta_inline_style.py
  py/examples/meta_style.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/meta.tsx
  website/docs/examples/assets/meta-inline-style.png
  website/docs/examples/assets/meta-style.png
Due: ./py/venv/bin/flake8

feat: Print API member frequencies after wavegen compilation
  tools/wavegen/src/wavegen.ts
Due: none

feat: Print API enum attributes during wavegen compilation
  tools/wavegen/src/wavegen.ts
Due: none

docs: update docstring
  ui/src/meta.tsx
Due: none

docs: rename stylesheet API
  ui/src/meta.tsx
Due: none

chore: Apply code review changes. #965
  py/examples/meta_inline_stylesheet.py
  py/examples/meta_stylesheet.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/meta.tsx
Due: ./py/venv/bin/flake8

fix: Prevent floating-point precision display in spinbox. Closes #966
  ui/src/spinbox.test.tsx
  ui/src/spinbox.tsx
Due: none

fix: Expander ignoring expanded attr on initial render.
  ui/src/expander.test.tsx
  ui/src/expander.tsx
  ui/src/form.tsx
Due: none

feat: Custom inline / external CSS support. #965 (#973)
  py/examples/meta_inline_stylesheet.py
  py/examples/meta_stylesheet.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/meta.tsx
  website/docs/examples/assets/meta-inline-style.png
  website/docs/examples/assets/meta-style.png
Due: ./py/venv/bin/flake8

fix: Report 413 instead of 500 if request too large. #977
  cache.go
  proxy.go
  server.go
  web_server.go
Due: golint -set_exit_status

chore: Amend .gitignore
  .gitignore
Due: none

fix: CVE-2021-23343
  tools/wavegen/package-lock.json
Due: none

fix: CVE-2021-23343
  x/handlebars/package-lock.json
Due: none

updated with service(0). Now you can run in Rscript model
  r/R/server.R
Due: none

fix: unify ui.picker label with th rest of the form components, add 'required' prop to picker. Closes #979
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/picker.tsx
Due: ./py/venv/bin/flake8

fix: Datepicker color contrast for date selection. Closes #978
  ui/src/date_picker.tsx
Due: none

feat: Add title prop. #898
  py/examples/meta_side_panel.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/side_panel.tsx
Due: ./py/venv/bin/flake8

feat: Side panel. #898
  py/examples/meta_side_panel.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/app.tsx
  ui/src/meta.tsx
  ui/src/side_panel.test.tsx
  ui/src/side_panel.tsx
Due: ./py/venv/bin/flake8

test: Clean up unit tests. #898
  ui/src/side_panel.test.tsx
Due: none

docs: Correct format for default value. #898
  ui/src/side_panel.tsx
Due: none

docs: Sync API, remove generator missing docstring warnings #898
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/file_upload.test.tsx
  ui/src/meta.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

chore: Don't loop through all the events on side panel dismiss. #898
  ui/src/side_panel.tsx
Due: none

chore: Print API attribute frequencies in sorted order.
  tools/wavegen/src/wavegen.ts
Due: none

feat: Persona form component. #970
  py/examples/persona.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
  ui/src/persona.test.tsx
  ui/src/persona.tsx
Due: ./py/venv/bin/flake8

docs: Include persona within Tour. #970
  py/examples/persona.py
  py/examples/tour.conf
  ui/src/persona.tsx
Due: ./py/venv/bin/flake8

feat: Side panel. #898
  py/examples/meta_side_panel.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/app.tsx
  ui/src/file_upload.test.tsx
  ui/src/meta.tsx
  ui/src/side_panel.test.tsx
  ui/src/side_panel.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

fix: Range slider replaced with native Fluent component, needed Fluent update. Closes #984
  ui/package-lock.json
  ui/package.json
  ui/src/picker.test.tsx
  ui/src/range_slider.test.tsx
  ui/src/range_slider.tsx
  ui/src/spinbox.tsx
  ui/src/table.test.tsx
Due: none

chore: sync API
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

chore: Add Wavegen VSC debug config.
  .vscode/launch.json
  tools/wavegen/package.json
  tools/wavegen/tsconfig.json
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
