Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

fix: Remove githooks from setup
  Makefile
Due: none

fix: Use PAT for release workflow
  .github/workflows/release.yml
Due: none

fix: Fix syntax issue
  .github/workflows/release.yml
Due: none

fix: Enable commented code
  .github/workflows/release.yml
Due: none

fix: Fix release workflow (#502)
  .github/workflows/release.yml
Due: none

fix: Set github token for conda publish step
  .github/workflows/release.yml
Due: none

fix: let React handle page update page updates #508
  ui/src/qd.ts
Due: none

updated examples without source
  r/R/examples/dashboard.R
  r/R/examples/hello_world.R
  r/R/examples/layout.R
  r/R/examples/layout_size.R
  r/R/examples/stat_large.R
  r/R/examples/stat_large_bar.R
  r/R/examples/stat_small.R
  r/R/examples/stat_small_series_area.R
  r/R/examples/stat_tall_gauge.R
  r/R/examples/stat_wide_bar.R
  r/R/examples/stat_wide_gauge.R
  r/R/examples/text.R
Due: none

fix: Add stricter validation for events dict. #510
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

feat: Add stricter validation to ui.* API params #513
  py/h2o_wave/types.py
  tools/wavegen/src/wavegen.ts
Due: ./py/venv/bin/flake8

feat: Type-check scalars, collections and enums for known types #513
  py/h2o_wave/types.py
  tools/wavegen/src/wavegen.ts
Due: ./py/venv/bin/flake8

fix: Fix validation errors in examples #513
  py/examples/table.py
  py/examples/table_download.py
  py/examples/table_filter.py
  py/examples/table_filter_backend.py
  py/examples/table_groupby.py
  py/examples/table_search.py
  py/examples/table_sort.py
Due: ./py/venv/bin/flake8

fix: Remove older inline scalar validations #513
  py/h2o_wave/types.py
  tools/wavegen/src/wavegen.ts
Due: ./py/venv/bin/flake8

style: center breadcrumb component vertically #337
  py/examples/breadcrumbs.py
  ui/src/breadcrumbs.tsx
Due: ./py/venv/bin/flake8

style(breadcrumbs): unify top and bottom margin to allow vertical centering #337
  ui/src/breadcrumbs.tsx
Due: none

style: remove margin for breadcrumb root completely #337
  ui/src/breadcrumbs.tsx
Due: none

fix: Center breadcrumb component vertically #337 (#371)
  py/examples/breadcrumbs.py
  ui/src/breadcrumbs.tsx
Due: ./py/venv/bin/flake8

feat: Add Id (non-empty) marker type and validation #513
  py/h2o_wave/types.py
  tools/wavegen/src/wavegen.ts
  ui/src/qd.ts
Due: ./py/venv/bin/flake8

feat: Add non-empty validation for required component names. Closes #513
  py/h2o_wave/types.py
  ui/src/breadcrumbs.tsx
  ui/src/button.tsx
  ui/src/checkbox.tsx
  ui/src/checklist.tsx
  ui/src/choice_group.tsx
  ui/src/color_picker.tsx
  ui/src/combobox.tsx
  ui/src/date_picker.tsx
  ui/src/dropdown.tsx
  ui/src/expander.tsx
  ui/src/file_upload.tsx
  ui/src/meta.tsx
  ui/src/nav.tsx
  ui/src/picker.tsx
  ui/src/range_slider.tsx
  ui/src/slider.tsx
  ui/src/spinbox.tsx
  ui/src/stepper.tsx
  ui/src/table.tsx
  ui/src/tabs.tsx
  ui/src/textbox.tsx
  ui/src/toggle.tsx
  ui/src/toolbar.tsx
Due: ./py/venv/bin/flake8

feat: Use app mode from H2O_WAVE_APP_MODE env var, if specified. Closes #509
  py/h2o_wave/core.py
  py/h2o_wave/server.py
  website/docs/configuration.md
  website/docs/realtime.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: theming - initial impl
  .vscode/extensions.json
  py/examples/dashboard.py
  py/examples/meta_theme.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/app.tsx
  ui/src/file_upload.tsx
  ui/src/grid.tsx
  ui/src/header.tsx
  ui/src/index.css
  ui/src/large_bar_stat.tsx
  ui/src/large_stat.tsx
  ui/src/layout.tsx
  ui/src/list.tsx
  ui/src/list_item1.tsx
  ui/src/meta.tsx
  ui/src/plot.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/range_slider.tsx
  ui/src/small_series_stat.tsx
  ui/src/stepper.tsx
  ui/src/tall_gauge_stat.tsx
  ui/src/tall_series_stat.tsx
  ui/src/theme.ts
  ui/src/wide_bar_stat.tsx
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: ./py/venv/bin/flake8

feat: theme API - base colors, fluent palette, text color tones #51
  py/examples/dashboard.py
  py/examples/form.py
  py/examples/header.py
  py/examples/stat_large_bar.py
  py/examples/stat_small_series_area.py
  py/examples/stat_small_series_interval.py
  py/examples/stat_tall_gauge.py
  py/examples/stat_tall_series_area.py
  py/examples/stat_tall_series_interval.py
  py/examples/stat_wide_bar.py
  py/examples/stat_wide_gauge.py
  py/examples/stat_wide_series_area.py
  py/examples/stat_wide_series_interval.py
  ui/src/app.tsx
  ui/src/form.tsx
  ui/src/frame.tsx
  ui/src/grid.tsx
  ui/src/header.tsx
  ui/src/image.tsx
  ui/src/index.css
  ui/src/index.tsx
  ui/src/large_bar_stat.tsx
  ui/src/large_stat.tsx
  ui/src/list.tsx
  ui/src/list_item1.tsx
  ui/src/markup.tsx
  ui/src/pixel_art.tsx
  ui/src/plot.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/qd.ts
  ui/src/small_series_stat.tsx
  ui/src/small_stat.tsx
  ui/src/tall_gauge_stat.tsx
  ui/src/tall_series_stat.tsx
  ui/src/theme.ts
  ui/src/vega.tsx
  ui/src/wide_bar_stat.tsx
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: ./py/venv/bin/flake8

refactor: ternary for display mixin #51
  ui/src/theme.test.tsx
  ui/src/theme.ts
Due: none

feat: switch to SCSS and generate font styles upfront instead of building it on the fly on every app startup #51
  .vscode/extensions.json
  py/examples/dashboard.py
  ui/package-lock.json
  ui/package.json
  ui/src/frame.tsx
  ui/src/grid.tsx
  ui/src/header.tsx
  ui/src/image.tsx
  ui/src/index.scss
  ui/src/index.tsx
  ui/src/large_bar_stat.tsx
  ui/src/large_stat.tsx
  ui/src/list.tsx
  ui/src/list_item1.tsx
  ui/src/markup.tsx
  ui/src/pixel_art.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/small_series_stat.tsx
  ui/src/small_stat.tsx
  ui/src/tall_gauge_stat.tsx
  ui/src/tall_series_stat.tsx
  ui/src/theme.ts
  ui/src/vega.tsx
  ui/src/wide_bar_stat.tsx
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: ./py/venv/bin/flake8

feat: use $ notation for theme colors as previous impl #51
  py/examples/dashboard.py
  py/examples/header.py
  py/examples/meta_theme.py
  py/examples/stat_large_bar.py
  py/examples/stat_small_series_area.py
  py/examples/stat_small_series_interval.py
  py/examples/stat_tall_gauge.py
  py/examples/stat_tall_series_area.py
  py/examples/stat_tall_series_interval.py
  py/examples/stat_wide_bar.py
  py/examples/stat_wide_gauge.py
  py/examples/stat_wide_series_area.py
  py/examples/stat_wide_series_interval.py
  ui/src/app.tsx
  ui/src/layout.tsx
  ui/src/progress_table_cell_type.tsx
  ui/src/range_slider.tsx
  ui/src/small_series_stat.tsx
  ui/src/tall_gauge_stat.tsx
  ui/src/tall_series_stat.tsx
  ui/src/theme.ts
  ui/src/wide_bar_stat.tsx
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: ./py/venv/bin/flake8

test: add theme unit tests and remove unused util functions #51
  ui/src/theme.test.tsx
  ui/src/theme.ts
Due: none

chore: switch form example back to default color #51
  py/examples/form.py
Due: ./py/venv/bin/flake8

chore: reuse existing fluent colors #51
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/index.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

perf: redraw theme only if needed #51
  ui/src/meta.tsx
Due: none

fix: incorrect merge bugs
  ui/src/wide_gauge_stat.tsx
  ui/src/wide_series_stat.tsx
Due: none

feat: change theme param within meta_card to simple string instead of enum
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/meta.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

fix: minor bugs from rebasing #51
  ui/src/wide_bar_stat.tsx
  ui/src/wide_series_stat.tsx
Due: none

fix: dashboard #51
  py/examples/dashboard.py
Due: ./py/venv/bin/flake8

docs: change theme docstring
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/meta.tsx
Due: ./py/venv/bin/flake8

fix: kitchen sink colors #51
  ui/package-lock.json
  ui/src/footer.tsx
  ui/src/form.tsx
  ui/src/header.tsx
  ui/src/markdown.tsx
  ui/src/page.tsx
  ui/src/parts/microarea.tsx
  ui/src/plot.tsx
  ui/src/section.tsx
  ui/src/small_series_stat.tsx
  ui/src/stat_list.tsx
  ui/src/stat_table.tsx
  ui/src/stats.tsx
  ui/src/theme.ts
Due: none

fix: prefix default plot colors with $ to use custom defined colors instead of browser defaults #51
  ui/src/plot.tsx
Due: none

chore: update docstring that only light and neon theme are currently available
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/meta.tsx
Due: ./py/venv/bin/flake8

feat: improve theme example #51
  py/examples/meta_theme.py
Due: ./py/venv/bin/flake8
