Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: add comment for setup.py
  py/setup.py
Due: ./py/venv/bin/flake8

fix: keep the component state when toggling visible state, especially the iframe
  ui/src/form.tsx
  ui/src/frame.tsx
  ui/src/table.tsx
  ui/src/theme.ts
Due: none

chore: revert forgotten eslint change
  ui/.eslintrc.js
Due: none

feat: add unique id to each form component to allow react rerender form list properly
  py/h2o_wave/types.py
  tools/wavegen/src/wavegen.ts
  ui/.eslintrc.js
  ui/src/expander.tsx
  ui/src/form.tsx
  ui/src/frame.tsx
Due: ./py/venv/bin/flake8

docs: add conda installation to docs
  website/docs/tutorial-hello.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Remove old mentions of 'Q' in scripts.md
  website/docs/scripts.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: use uuid instead of increments to make it work with parallel mode
  py/h2o_wave/types.py
  tools/wavegen/src/wavegen.ts
  ui/src/dialog.tsx
  ui/src/form.tsx
  ui/src/section.tsx
Due: ./py/venv/bin/flake8

feat: add support to print via browser.
  ui/src/index.css
Due: none

docs: Remove old mentions of 'Q' in scripts.md (#485)
  website/docs/scripts.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Publish Wave to Conda (#463)
  .github/workflows/release.yml
  py/README.md
  py/conda/conda_build_config.yaml
  py/conda/meta.yaml
  py/setup.py
  website/docs/tutorial-hello.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: add tag parsing from the descriptions for the examples in tour.py #488
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: Clean up tags from example descriptions in tour.py #488 (#489)
  py/examples/tour.py
Due: ./py/venv/bin/flake8

updated Make file with pre-install similar to python design
  r/Makefile
  r/R/zzz.R
Due: none

updated with new document generation
  r/R/core.R
  r/man/dot-BAclient.download.Rd
  r/man/dot-BAclient.get.Rd
  r/man/dot-BAclient.patch.Rd
  r/man/dot-BAclient.unload.Rd
  r/man/dot-BAclient.upload.Rd
  r/man/dot-get.env.var.Rd
  r/man/dot-onLoad.Rd
  r/man/dot-site.save.Rd
  r/man/page.add.Rd
  r/man/page.load.Rd
  r/man/page.save.Rd
  r/man/site.download.Rd
  r/man/site.load.Rd
  r/man/site.unload.Rd
  r/man/site.upload.Rd
Due: none

feat: Elide size attribute for zones when placed top-down Default zones to size='0'. Revert zones to 0.10 behavior.
  py/demo/dashboard_blue.py
  py/demo/dashboard_cyan.py
  py/demo/dashboard_grey.py
  py/demo/dashboard_mint.py
  py/demo/dashboard_orange.py
  py/demo/dashboard_purple.py
  py/demo/dashboard_red.py
  py/examples/layout_responsive.py
  ui/src/page.tsx
  ui/src/parts/microarea.tsx
  ui/src/parts/microbars.tsx
Due: ./py/venv/bin/flake8

ci: update conda package name
  py/conda/meta.yaml
Due: none

fix: explicitly set conda package name
  py/conda/meta.yaml
Due: none

updated description
  r/DESCRIPTION
Due: none

feat: Add export annotation on functions in ui.R
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: none

updated with new ui.R
  r/R/ui.R
Due: none

feat: pipeline to publish docs
  .github/workflows/publish-docs.yml
  Makefile
  py/Makefile
Due: none

feat: make default commit msg case simple case
  .github/workflows/publish-docs.yml
Due: none

feat: make default commit msg required
  .github/workflows/publish-docs.yml
Due: none

feat: include make setup step
  .github/workflows/publish-docs.yml
Due: none

feat: Add pipeline to publish docs independent of release (#494)
  .github/workflows/publish-docs.yml
  Makefile
  py/Makefile
Due: none

pushed description with license
  r/DESCRIPTION
Due: none

fix: Set Conda package name to h2o-wave (#491)
  py/conda/meta.yaml
Due: none

Clean up example, make plots not overlap
  py/examples/plot_dataframe.py
Due: ./py/venv/bin/flake8

docs: Add example for plotting pandas dataframes (#418)
  py/examples/plot_dataframe.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

docs: Add docs for responsive layout
  website/docs/layout.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Add 0.11 release notes
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Remove redundant build-docs task
  Makefile
Due: none

chore: Fix commit message in docs workflow
  .github/workflows/publish-docs.yml
Due: none

docs: Add screencap for pandas plotting example
  py/examples/plot_pandas.py
  py/examples/tour.conf
  website/docs/examples/assets/plot-pandas.png
Due: ./py/venv/bin/flake8

docs: Include Python demo directory in release
  Makefile
Due: none

docs: Add 0.11 release blog post and assets
  website/blog/2021-01-17-release.md
  website/blog/assets/2021-01-17/dashboard_blue.png
  website/blog/assets/2021-01-17/dashboard_cyan.png
  website/blog/assets/2021-01-17/dashboard_mint.png
  website/blog/assets/2021-01-17/dashboard_orange.png
  website/blog/assets/2021-01-17/dashboard_purple.png
  website/blog/assets/2021-01-17/dashboard_red.png
  website/blog/assets/2021-01-17/dashboards.png
  website/blog/assets/2021-01-17/dashboards_demo.png
  website/blog/assets/2021-01-17/dashboards_responsive.png
  website/blog/assets/2021-01-17/docs_tags.png
  website/blog/assets/2021-01-17/docs_toc.png
  website/blog/assets/2021-01-17/inline_1.png
  website/blog/assets/2021-01-17/inline_2.png
  website/blog/assets/2021-01-17/scaling.png
  website/blog/assets/2021-01-17/section.png
  website/blog/assets/2021-01-17/section_1.png
  website/blog/assets/2021-01-17/section_2.png
  website/blog/assets/2021-01-17/section_3.png
  website/blog/assets/2021-01-17/section_4.png
  website/blog/assets/2021-01-17/section_5.png
  website/blog/assets/2021-01-17/section_6.png
  website/blog/assets/2021-01-17/stats_1.png
  website/blog/assets/2021-01-17/stats_2.png
  website/blog/assets/2021-01-17/stats_4.png
  website/blog/assets/2021-01-17/stats_list_1.png
  website/blog/assets/2021-01-17/stats_list_2.png
  website/blog/assets/2021-01-17/stats_list_3.png
  website/blog/assets/2021-01-17/stats_table.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update Readme with 0.11 screencaps
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Make workflow use conventional commit message. Ugh.
  .github/workflows/release.yml
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
