Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

Update website/blog/2022-02-08-wave-on-heroku.md
  website/blog/2022-02-08-wave-on-heroku.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix(vsc-ext): Provide correct autocomplete in if statements as well.
  .vscode/launch.json
  tools/vscode-extension/server/parser.py
  tools/vscode-extension/server/tests/test_events.py
  tools/vscode-extension/server/tests/test_q_app.py
  tools/vscode-extension/server/tests/test_q_args.py
  tools/vscode-extension/server/tests/test_q_client.py
  tools/vscode-extension/server/tests/test_q_user.py
Due: ./py/venv/bin/flake8

test: Add unit tests #1007
  ui/src/notification_bar.test.tsx
Due: none

chore: Use gap from grid to be future-proof #1007
  ui/src/notification_bar.tsx
Due: none

feat: Notification bar #1007
  py/examples/message_bar.py
  py/examples/meta_notification_bar.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/app.tsx
  ui/src/message_bar.tsx
  ui/src/meta.tsx
  ui/src/notification_bar.tsx
Due: ./py/venv/bin/flake8

docs: Improve docstring
  ui/src/notification_bar.tsx
Due: none

chore: Address review comments. #1007
  ui/src/message_bar.tsx
  ui/src/notification_bar.test.tsx
  ui/src/notification_bar.tsx
Due: none

fix: Remove deprecated callback for swatch color picker.
  ui/src/color_picker.tsx
Due: none

fix: Provide correct expression autocomplete via VSCode extension.
  .vscode/launch.json
  tools/vscode-extension/server/parser.py
  tools/vscode-extension/server/tests/test_events.py
  tools/vscode-extension/server/tests/test_q_app.py
  tools/vscode-extension/server/tests/test_q_args.py
  tools/vscode-extension/server/tests/test_q_client.py
  tools/vscode-extension/server/tests/test_q_user.py
  tools/vscode-extension/server/tests/utils.py
Due: ./py/venv/bin/flake8

chore: sync API #1007
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

feat: Add site upload snippet. Closes #1239
  tools/intellij-plugin/src/main/resources/templates/wave-blocks.xml
  tools/vscode-extension/base-snippets.json
Due: none

ci: Publish docs within release job
  .github/workflows/release-wave.yml
Due: none

fix: Set Algolia crawler secrets as explicit env vars/
  .github/workflows/release-wave.yml
Due: none

ci: Publish PyCharm plugin during release job.
  .github/workflows/release-wave.yml
  tools/intellij-plugin/build.gradle.kts
Due: none

ci: Add global publish-pycharm make target.
  .github/workflows/release-wave.yml
  Makefile
  tools/intellij-plugin/Makefile
Due: none

fix: Dock footer to the bottom even if height is greater than total rows. #1248
  ui/src/table.tsx
Due: none

docs: Fix typo in conda install. Closes #1249
  website/docs/installation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Dock footer to the bottom even if height is greater than total rows. #1248 (#1251)
  ui/src/table.tsx
Due: none

feat: Enable box plots. Closes #1215
  py/examples/plot_schema.py
  py/examples/plot_schema_transpose.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/plot.tsx
  website/docs/examples/assets/plot-schema-transpose.png
  website/docs/examples/assets/plot-schema.png
Due: ./py/venv/bin/flake8

fix: Broken unit tests #1248.
  ui/src/table.test.tsx
Due: none

docs: Add an extra message bar example. #1007
  website/widgets/form/message_bar.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Notification bar. #1007 (#1195)
  py/examples/message_bar.py
  py/examples/meta_notification_bar.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/app.tsx
  ui/src/message_bar.tsx
  ui/src/meta.tsx
  ui/src/notification_bar.test.tsx
  ui/src/notification_bar.tsx
  website/widgets/form/message_bar.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add S3 download links to installation docs. #1202
  py/docs/templates/text.mako
  py/sync_examples.py
  website/blog/2020-10-28-release.md
  website/blog/2021-09-13-community-content.md
  website/blog/2022-02-03-pycharm-plugin.md
  website/docs/_downloads.mdx
  website/docs/examples/assets/tags.png
  website/docs/getting-started.md
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/tutorial-beer.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-todo.md
  website/docusaurus.config.js
  website/src/pages/index.js
  website/src/theme/Footer/index.js
  website/widgets/form/tags.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Push release to s3 during release job. #1202
  Makefile
Due: none

fix: Use correct autoplay for videos. #1202
  website/blog/2020-10-28-release.md
  website/docs/getting-started.md
  website/docs/tutorial-beer.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-todo.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Use jsx instead of mdx for better tooling support. #1202
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/src/components/downloads.jsx
  website/src/theme/Footer/index.js
Due: none

ci: Upload release assets to S3. #1202
  .github/workflows/release-wave.yml
Due: none

ci: Publish release to S3 and make it downloadable from our docs site. (#1241)
  .github/workflows/release-wave.yml
  Makefile
  py/docs/templates/text.mako
  py/sync_examples.py
  website/blog/2020-10-28-release.md
  website/blog/2021-09-13-community-content.md
  website/blog/2022-02-03-pycharm-plugin.md
  website/docs/examples/assets/tags.png
  website/docs/getting-started.md
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/tutorial-beer.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-todo.md
  website/docusaurus.config.js
  website/src/components/downloads.jsx
  website/src/pages/index.js
  website/widgets/form/tags.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Bust cloudfront docs cache during release. #1218
  .github/workflows/release-wave.yml
Due: none

fix: YAML syntax in release job.
  .github/workflows/release-wave.yml
Due: none

ci: Publish release to S3 and make it downloadable from our docs site. (#1241)
  .github/workflows/release-wave.yml
  Makefile
  py/docs/templates/text.mako
  py/sync_examples.py
  website/blog/2020-10-28-release.md
  website/blog/2021-09-13-community-content.md
  website/blog/2022-02-03-pycharm-plugin.md
  website/docs/examples/assets/tags.png
  website/docs/getting-started.md
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/tutorial-beer.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-todo.md
  website/docusaurus.config.js
  website/src/components/downloads.jsx
  website/src/pages/index.js
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Fix typo in conda install. Closes #1249
  website/docs/installation.mdx
Due: none

chore: register react-icons-mdl2 icons
  ui/package-lock.json
  ui/package.json
  ui/src/index.tsx
  ui/src/react-icons-mdl2-list.json
Due: none

chore: Sort pycharm plugin icons alphabetically to clean up diff view. #2669
  tools/intellij-plugin/src/main/java/org/h2o/utils/UtilsResources.java
Due: none

feat: Refactor icon registration #2669
  ui/src/index.tsx
Due: none

chore: updated intellij plugin icon set #2669
  tools/intellij-plugin/src/main/java/org/h2o/utils/UtilsResources.java
  ui/src/index.tsx
Due: none

feat: Refactor, add fuzzy search, debounce, perf improvements #2669
  ui/package-lock.json
  website/docs/_icons.mdx
  website/docs/icons.mdx
  website/src/components/icons.jsx
  website/src/css/custom.css
  website/src/css/icons.module.css
Due: none

feat: code refactoring of Icons docs #2669
  website/docs/_icons.mdx
  website/src/css/icons.css
  website/src/css/icons.module.css
Due: none

feat: docs page with icons setup #2669
  website/package-lock.json
  website/package.json
  website/src/pages/icons.tsx
Due: none

feat: Icon register optimizations
  ui/config/webpack.config.js
  ui/src/index.tsx
Due: none
