Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: append hash to url #783
  website/static/fix-location.js
Due: none

fix: Preserve location hashes in docs website #783 (#833)
  website/static/fix-location.js
Due: none

docs: Add waveml logo (placeholder)
  assets/brand/wave.svg
  assets/brand/waveml.png
Due: none

docs: Add placeholder thumbnails for waveml examples
  website/docs/examples/assets/ml-h2o-categorical.png
  website/docs/examples/assets/ml-h2o-parameters.png
  website/docs/examples/assets/ml-h2o-save.png
  website/docs/examples/assets/ml-h2o-shap.png
  website/docs/examples/assets/ml-h2o.png
Due: none

docs: Add 0.16.0 release notes
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Publish h2o-wave 0.2.0 NPM package
  ts/package-lock.json
  ts/package.json
Due: none

chore: Upgrade h2o-wave to 0.2.0
  ui/package-lock.json
  ui/package.json
  x/handlebars/package-lock.json
  x/handlebars/package.json
Due: none

chore: Release v0.16.0
  py/h2o_wave/__init__.py
  py/setup.py
  r/DESCRIPTION
Due: ./py/venv/bin/flake8

fix: Drop dups and sort filenames from dir
  py/sync_examples.py
Due: ./py/venv/bin/flake8

docs: Read web-only examples from a separate list
  py/examples/web_only.conf
  py/sync_examples.py
Due: ./py/venv/bin/flake8

docs: Replaced installation__waiting.gif with installation__waiting.png and updated installation.md
  website/docs/assets/installation__waiting.gif
  website/docs/assets/installation__waiting.png
  website/docs/installation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update screenshot of default page in installation guide (#841)
  website/docs/assets/installation__waiting.gif
  website/docs/assets/installation__waiting.png
  website/docs/installation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add examples for ui.script and ui.inline_script
  py/examples/meta_inline_script.py
  py/examples/meta_inline_script_callback.py
  py/examples/meta_script.py
  py/examples/meta_script_callback.py
Due: ./py/venv/bin/flake8

docs: Add script examples/screenshots to tour
  py/examples/tour.conf
  website/docs/examples/assets/meta-inline-script-callback.png
  website/docs/examples/assets/meta-inline-script.png
  website/docs/examples/assets/meta-script-callback.png
  website/docs/examples/assets/meta-script.png
  website/docs/examples/assets/plot-bokeh-callbacks.png
  website/docs/examples/assets/plot-bokeh-script.png
Due: none

docs: Add docs for custom Javascript
  website/docs/javascript.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add 0.16 release blog post
  website/blog/2021-05-27-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow CSS selectors in a script's target #856
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/script.ts
Due: ./py/venv/bin/flake8

docs: Update docs for a script's target #856
  website/docs/javascript.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update Wave ML docs to 0.8.0
  py/Makefile
Due: none

docs: Fix typo in tutorial
  website/docs/tutorial-monitor.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

added base WaveML DAI example
  py/examples/ml_dai.py
Due: ./py/venv/bin/flake8

WaveML DAI on Cloud example
  py/examples/ml_dai.py
Due: ./py/venv/bin/flake8

add O
  py/examples/ml_dai.py
Due: ./py/venv/bin/flake8

added WaveML H2O-3 Algo example
  py/examples/ml_h2o_algo.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

docs: Add Wave ML blog for 0.8.1
  website/blog/2021-06-15-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Incorporate review changes
  website/blog/2021-06-15-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Enable per-card template rendering
  Makefile
  x/handlebars/index.ts
Due: none

fix: Wrap primary col in link, prioritize celltype cols - ignore link attr #890
  py/examples/table.py
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

server version pre comment
  r/DESCRIPTION
  r/Makefile
  r/R/examples/bean_counter.R
  r/R/server.R
Due: none

updated server.R
  r/R/server.R
Due: none

feat: Always provide location hash on q.args, even if unchanged. Closes #769
  py/examples/hash_routing.py
  ui/src/app.tsx
  ui/src/ui.ts
Due: ./py/venv/bin/flake8

chore: Remove unused routing code #769
  ui/src/ui.ts
Due: none

feat: Allow @on handlers to handle events. Closes #844
  py/examples/plot_events_routing.py
  py/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

docs: Update Wave ML docs to 0.8.0 (#866)
  py/Makefile
Due: none

docs: Add a new Wave ML blog post (#888)
  website/blog/2021-06-15-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Invoke location hash handlers based on arity #844
  py/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

docs: Add docs for routing on args or events #844
  py/examples/tour.conf
  website/docs/examples/assets/plot-events-routing.png
  website/docs/routing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update change log for 0.17.0
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Release v0.17.0
  py/h2o_wave/__init__.py
  py/setup.py
  r/DESCRIPTION
Due: ./py/venv/bin/flake8

chore: Push w/ tags on `make tag`
  Makefile
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
