Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Submit command value when clicked, if available
  ui/src/toolbar.tsx
Due: none

chore: Add module level version/author dunders to package. Closes #599
  py/Makefile
  py/h2o_wave/__init__.py
Due: ./py/venv/bin/flake8

test: Testcases for Submit command value when clicked, if available
  ui/src/toolbar.test.tsx
Due: none

chore: update react-dev-utils
  ui/package-lock.json
  ui/package.json
Due: none

updated examples, core and zzz and Desc
  r/DESCRIPTION
  r/R/core.R
  r/R/examples/hello_world.R
  r/R/examples/layout.R
  r/R/examples/layout_size.R
  r/R/examples/stat_large.R
  r/R/examples/stat_small.R
  r/R/examples/stat_wide_bar.R
  r/R/examples/text.R
  r/R/zzz.R
Due: none

updated Description with Prithvi's name as author and creator
  r/DESCRIPTION
Due: none

updated information in desc
  r/DESCRIPTION
Due: none

feat: Type check list-valued attributes. Closes #279
  py/h2o_wave/types.py
  tools/wavegen/src/wavegen.ts
Due: ./py/venv/bin/flake8

R NULL fix
  tools/wavegen/src/wavegen.ts
Due: none

Remove comment; update ui.R
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: none

fix: Eliminate empty values from R-generated commands (#679)
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: none

updated core with NULL support
  r/R/core.R
Due: none

chore: update elliptic
  ide/package-lock.json
  ide/package.json
Due: none

chore: webpack to resolve ssri vulnerability
  ide/package-lock.json
  ide/package.json
Due: none

updated makefile and removed datagen - we dont need this for the examples anymore
  r/Makefile
  r/R/data/gemini.crypto.csv
  r/R/datagen.R
  r/R/requirements.R
  r/requirements.txt
Due: none

update Desc
  r/DESCRIPTION
Due: none

chore: Update front-end packages (#667)
  ide/package-lock.json
  ide/package.json
  ui/package-lock.json
  ui/package.json
Due: none

chore: ui package security updates
  ui/package-lock.json
  ui/package.json
Due: none

Revert "fix: stop scroll propagation on plot due to interference with zoom-view #659"
  ui/src/plot.tsx
Due: none

fix: remove view-zoom plot interaction to unify behavior across browsers #659
  ui/src/plot.tsx
Due: none

chore: Upgrade front-end dependencies (npm audit fixes) (#688)
  ui/package-lock.json
  ui/package.json
Due: none

docs: Improve / clean up links in readme
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Don't zoom into plots on mouse scroll (#660)
  ui/src/plot.tsx
Due: none

docs: Add roadmap to readme
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Allow auth cookies for manifest.json #h2oai/h2o-ai-cloud#798 (#552)
  ui/public/index.html
Due: none

docs: Use explicit instead of truthy throughout the examples #168 (#553)
  py/examples/plot_matplotlib.py
  py/examples/plot_plotly.py
Due: ./py/venv/bin/flake8

docs: Change Python versions to "3.6+"
  .github/CONTRIBUTING.md
  website/docs/installation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Remove CoC from contributing.md
  .github/CONTRIBUTING.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

test: Add assertion routines
  assert.go
  assert_test.go
Due: golint -set_exit_status

feat: Add max HTTP request size command line arg + parsing #294
  cmd/wave/main.go
  conf.go
  parse.go
  parse_test.go
Due: golint -set_exit_status

feat: Apply limits to inbound request sizes (default 5MB) #294
  app.go
  cache.go
  db/db.go
  parse.go
  proxy.go
  server.go
  web_server.go
Due: golint -set_exit_status

Introduce PR review suggestion
  ui/src/toolbar.test.tsx
Due: none

feat: Apply limits to proxy request/response size (default 5MB) #294
  cache.go
  cmd/wave/main.go
  conf.go
  proxy.go
  server.go
  web_server.go
Due: golint -set_exit_status

feat: Limit app responses to 0B #294
  app.go
Due: golint -set_exit_status

refactor: Move size validations to command
  cmd/wave/main.go
  conf.go
  parse.go
  parse_test.go
  server.go
Due: golint -set_exit_status

feat: Make cache request size configurable (default 5MB) #294
  cmd/wave/main.go
  conf.go
  server.go
Due: golint -set_exit_status

refactor: Clean up parts of auth handling #294
  conf.go
  server.go
  socket.go
  web_server.go
Due: golint -set_exit_status

refactor: More cleanup of OIDC control flow #294
  oidc.go
  server.go
  web_server.go
Due: golint -set_exit_status

fix: Upgrade UI deps for CVE-2020-7774
  ui/package-lock.json
Due: none

feat: Add Wave ML guide to docs #683
  website/docs/wave-ml.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
