Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: add test, update docs #1952
  ui/src/nav.test.tsx
  website/widgets/content/navigation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: update py example, update example img #1952
  py/examples/nav.py
  website/docs/examples/assets/nav.png
Due: ./py/venv/bin/flake8

docs: change navigation path description #1952
  website/widgets/content/navigation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Support external links in navigation #1952 (#1958)
  py/examples/nav.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/nav.test.tsx
  ui/src/nav.tsx
  website/docs/examples/assets/nav.png
  website/widgets/content/navigation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: make dropdown section responsive
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: define breakpoint layouts, make dropdown responsive - partial implementation
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: add hamburger menu - preparation
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: add links to side nav
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: tour refactor
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: parametrize layout height
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: use more exact variable naming for blurb items
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: initial fix - selected items not ordered after Select all #1963
  py/examples/dropdown_issue.py
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: ./py/venv/bin/flake8

chore: move toolbar to the bottom, reduce toolbar space
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: Make sure the args order is the same as in 0.24.
  client.go
Due: golint -set_exit_status

chore: remove margins for code block, format code
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: remove gutter margins
  py/examples/tour.js
Due: none

chore: Remove redundant struct.
  client.go
Due: golint -set_exit_status

chore: use list comprehension instead of lambdas
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: unify code section implementation regardless of screen size
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: make editor auto-resizable
  py/examples/tour.js
Due: none

chore: remove redundant calculation
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: refactor
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Make tour responsive (#1960)
  py/examples/tour.js
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: Make sure the args order is the same as in 0.24. (#1965)
  client.go
Due: golint -set_exit_status

fix: make plot to listen for meta.themes changes #1971
  ui/src/plot.tsx
Due: none

chore: use advantage of on handler supporting subscription to multiple boxes #1971
  ui/src/plot.tsx
Due: none

fix: Update plot color in theme_generator.py #1971 (#1972)
  ui/src/plot.tsx
Due: none

fix: Make sure plots take all available card space.
  ui/src/plot.tsx
Due: none

chore: Release v0.25.3
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
Due: ./py/venv/bin/flake8

ci: Prevent version clash during conda release.
  .github/workflows/release-wave.yml
  py/h2o_wave/setup.py
Due: ./py/venv/bin/flake8

fix: Add disabled choices support for popup=always dropdowns #1959
  ui/src/dropdown.tsx
Due: none

chore: refactor - unify function names for base and dialog dropdown #1959
  ui/src/dropdown.tsx
Due: none

chore: remove test related to separate issue #1959
  ui/src/dropdown.test.tsx
Due: none

chore: use proper selectAll param naming #1959
  ui/src/dropdown.tsx
Due: none

chore: use different names for the same tests for base and dialog dropdown #1959
  ui/src/dropdown.test.tsx
Due: none

chore: replace checked with selected, refactor #1959
  ui/src/dropdown.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
