Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: clean git diff #1664
  ui/src/button.tsx
Due: none

fix: make disabled button icon and text color consistent #1664
  ui/src/button.tsx
Due: none

chore: theme provider performance omptimization #1664
  ui/src/app.tsx
Due: none

fix: Make disabled ui.button icon and text colors consistent. #1664 (#1710)
  ui/src/app.tsx
Due: none

fix: Allow all valid CSS color types when computing RGB.
  ui/src/image_annotator.tsx
  ui/src/theme.ts
Due: none

fix: Use the same line width for both rect and polygon in image annotator.
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

chore: lightbox styling and naming refactor
  ui/src/parts/lightbox.tsx
Due: none

chore: lightbox cursors refactor
  ui/src/parts/lightbox.tsx
Due: none

chore: general refactor of image lightbox, add pointer cursor to clickable area
  ui/src/parts/lightbox.tsx
Due: none

chore: lightbox margin constants refactor
  ui/src/parts/lightbox.tsx
Due: none

chore: Image popup refactor (#1715)
  ui/src/parts/lightbox.tsx
Due: none

fix: Small header color fixes.
  ui/src/header.tsx
  ui/src/layout.tsx
  ui/src/menu.tsx
  ui/src/nav.tsx
  ui/src/text.tsx
  ui/src/theme.ts
Due: none

ci: Limit apps that are pushed to MC S3 until approval.
  .github/workflows/release-wave.yml
  Makefile
Due: none

chore: Refactor.
  university/Makefile
Due: none

docs: Readme, wave learn and minor refactors.
  py/h2o_wave/cli.py
  university/Makefile
  university/README-cloud.md
  university/app.toml
  university/icons/wave-university-wide.png
  university/setup.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Refactor.
  university/h2o_wave_university/university.py
Due: ./py/venv/bin/flake8

docs: Update installation docs to include Wave University as well.
  website/docs/getting-started.md
  website/docs/installation.mdx
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add readme.
  university/README.md
  university/setup.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Build university distribution within separate dir.
  university/Makefile
  university/h2o_wave_university/university.py
Due: ./py/venv/bin/flake8

ci: Add Wave university release job.
  .github/workflows/publish-university.yml
  .github/workflows/release-wave.yml
  Makefile
  university/Makefile
Due: none

chore: Rename Wave university publish job.
  .github/workflows/publish-university.yml
Due: none

chore: Copyright notice.
  university/h2o_wave_university/cli.py
  university/h2o_wave_university/university.py
Due: ./py/venv/bin/flake8

fix: Use proper static dir name when mundging index.html.
  web_server.go
Due: golint -set_exit_status

chore: Add wave university icon to assets.
  assets/brand/wave-university-wide.png
Due: none

chore: Release v0.24.1
  py/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
Due: ./py/venv/bin/flake8

docs: Fix the footnote links not working
  website/docs/architecture.md
  website/docs/getting-started.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Fix the footnote links not working #1720 (#1721)
  website/docs/architecture.md
  website/docs/getting-started.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

ci: Speed up Wave university publish.
  .github/workflows/publish-university.yml
Due: none

feat: Add forgotten stream read. #1627
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

feat: Add proper err handling to site.download function. #1627
  .vscode/launch.json
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

test: Fix Unit tests. #1627
  py/tests/test_python_server.py
  py/tests/test_python_server_async.py
Due: ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
