Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Add GH action for releasing NPM h2o-wave package.
  .github/workflows/release-wave-npm.yml
  ts/package.json
Due: none

ci: Remove npm publishconfig option from h2o-wave package.json.
  ts/package.json
Due: none

ci: Add registry url to npmrc.
  .npmrc
Due: none

chore: Get rid of npmrc.
  .github/workflows/release-wave-npm.yml
  .npmrc
Due: none

ci: Get rid of npmrc - conflicting with npm publish job.
  .github/workflows/release-wave-npm.yml
  .npmrc
  ts/package.json
Due: none

ci: Use proper path for python build assets during S3 upload.
  Makefile
Due: none

ci: Add a separate job for releasing VSC extension.
  .github/workflows/release-vsc-extension.yml
  .github/workflows/release-wave.yml
  Makefile
  tools/vscode-extension/Makefile
Due: none

ci: Add a separate job for releasing PyCharm plugin.
  .github/workflows/release-pycharm-plugin.yml
  .github/workflows/release-wave.yml
Due: none

chore: Update h2o-wave NPM package to the lastest version.
  ui/package-lock.json
Due: none

chore: Setup VSC dependencies during make setup so that nightly unit tests can run.
  Makefile
Due: none

chore: refactor decodeStringByIdx
  ts/index.ts
Due: none

chore: refactor getting the object value by idx
  py/examples/plot_issue_buffers.py
  ts/index.ts
Due: ./py/venv/bin/flake8

chore: cleanup
  ts/index.ts
  ui/src/plot.tsx
Due: none

chore: parse json only once in case of non-row or non-column string data
  ts/index.ts
Due: none

fix: set wave args on time change #1889
  ui/src/time_picker.tsx
Due: none

fix: do not open menu on esc key #1866
  ui/src/menu.tsx
Due: none

fix: prevent copy button from overlaping multiline labels
  ui/src/copyable_text.tsx
Due: none

chore: update tests
  ui/src/copyable_text.test.tsx
Due: none

chore: styles refactor #1883
  ui/src/copyable_text.tsx
Due: none

ci: Build only h2o-wave during nightly for now.
  Makefile
Due: none

chore: use proper types for onChange, update wave args also for am/pm change and add a test for it #1889
  ui/src/time_picker.test.tsx
  ui/src/time_picker.tsx
Due: none

chore: inline styles to improve readability, remove redundant label prop #1883
  ui/src/copyable_text.tsx
Due: none

chore: add basic tests #1866
  ui/src/menu.test.tsx
Due: none

chore: add menu open/close tests #1866
  ui/src/menu.test.tsx
Due: none

feat: Sync ensure fresh token.
  py/h2o_wave/h2o_wave/server.py
Due: ./py/venv/bin/flake8

fix: Prevent copy button from overlapping multiline labels in ui.copyable_text #1883 (#1892)
  ui/src/copyable_text.test.tsx
  ui/src/copyable_text.tsx
Due: none

fix: Update wave args of ui.time_picker on every time change #1889 (#1890)
  ui/src/time_picker.test.tsx
  ui/src/time_picker.tsx
Due: none

chore: Refactor.
  py/h2o_wave/h2o_wave/server.py
Due: ./py/venv/bin/flake8

docs: Add a note about sync version.
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Reword.
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Sync ensure fresh token. (#1894)
  py/h2o_wave/h2o_wave/server.py
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Install make on windows. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Run nightly test job on ubuntu temporarily. #1874
  .github/workflows/release-pycharm-plugin.yml
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Use proper python executable within testcase. #1874
  e2e/test_keycloak.py
Due: ./py/venv/bin/flake8

ci: Initial OIDC e2e tests impl. #1874
  .github/workflows/release-wave-nightly.yml
  Makefile
  e2e/.gitignore
  e2e/Makefile
  e2e/keycloak.dockerfile
  e2e/oidc_tests.py
  e2e/realm.json
  e2e/requirements.txt
  e2e/test_keycloak.py
Due: ./py/venv/bin/flake8

fix: Add missing semicolon and raise exception if occurs to fail the job properly. #1874
  e2e/oidc_tests.py
Due: ./py/venv/bin/flake8

chore: Add TODO. #1874
  e2e/oidc_tests.py
Due: ./py/venv/bin/flake8

fix: Exit oidc tests with proper status. #1874
  e2e/oidc_tests.py
Due: ./py/venv/bin/flake8

ci: Build waved prior to using it in tests. #1874
  .github/workflows/release-wave-nightly.yml
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
