Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Make datepicker work on Safari. #1300
  ui/src/date_picker.tsx
Due: none

fix: Unify plot time scales. (#1303)
  ui/src/date_picker.tsx
  ui/src/plot.tsx
Due: none

feat: Allow plot interactions - zoom, brush, drag-move #1298
  py/examples/plot_interaction_brush.py
  py/examples/plot_interaction_drag_move.py
  py/examples/plot_interaction_zoom.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/plot.tsx
  website/docs/examples/assets/plot-interaction-brush.png
  website/docs/examples/assets/plot-interaction-drag-move.png
  website/docs/examples/assets/plot-interaction-zoom.png
Due: ./py/venv/bin/flake8

fix: Adjust label color for raised cards. Closes #1307
  ui/src/layout.tsx
Due: none

fix: make value behavior consistent #1154
  ui/src/checkbox.tsx
  ui/src/checklist.tsx
  ui/src/choice_group.tsx
  ui/src/combobox.tsx
  ui/src/copyable_text.tsx
  ui/src/date_picker.tsx
  ui/src/dropdown.tsx
  ui/src/hooks.ts
  ui/src/nav.tsx
  ui/src/picker.tsx
  ui/src/slider.tsx
  ui/src/spinbox.tsx
  ui/src/tab.tsx
  ui/src/tabs.tsx
  ui/src/textbox.tsx
  ui/src/toggle.tsx
Due: none

chore: Use Wave docs s3 served h2o logo instead of marketing site one.
  tools/vscode-extension/base-snippets.json
Due: none

feat: Add text wrapping and tooltip options into table colum cells #515
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: changed overflow prop type #515
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: Prevent Safari from showing default tooltip #515
  py/examples/table.py
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: Add table text overflow prop into Docs #515
  py/examples/table.py
  ui/package-lock.json
  ui/package.json
  ui/src/table.tsx
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: edited table text overflow docs, removed horizontal scrollbars #515
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: renamed table column api - overflow to cell_overflow
  py/examples/table.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.tsx
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Minor improvements. #515
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: table docs section renaming
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix vite warnings
  ui/src/hooks.ts
  ui/src/spinbox.tsx
Due: none

chore: clear diff log
  ui/package-lock.json
  ui/package.json
Due: none

feat: Add cell_overflow attr to table col. (#1207)
  py/examples/table.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.tsx
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Document VSC debugging.
  website/docs/development.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Remove accidentally added data. #730
  py/data_download.csv
  py/examples/table_serverside.py
Due: ./py/venv/bin/flake8

feat: continue in server-side table impl #730
  .vscode/launch.json
  py/data_download.csv
  py/examples/table.py
  py/examples/table_serverside.py
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: Initial server-side table impl. #730
  py/examples/table.py
  py/examples/table_serverside.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: multi-dimensional sort #730
  py/examples/table_serverside.py
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

Update ui/src/table.tsx
  ui/src/table.tsx
Due: none

chore: Address code review comments. #730
  py/examples/table_serverside.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

chore: Update API #730
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

fix: Reset col sort icons on clicking the reset table button. #730
  ui/src/table.tsx
Due: none

docs: Add table pagination examples. #730
  .vscode/launch.json
  py/examples/table_pagination.py
  py/examples/table_pagination_download.py
  py/examples/table_pagination_filter.py
  py/examples/table_pagination_minimal.py
  py/examples/table_pagination_search.py
  py/examples/table_pagination_sort.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

docs: Adjust card size to fit to Tour iframe. #730
  py/examples/table_pagination.py
  py/examples/table_pagination_download.py
  py/examples/table_pagination_filter.py
  py/examples/table_pagination_minimal.py
  py/examples/table_pagination_search.py
  py/examples/table_pagination_sort.py
Due: ./py/venv/bin/flake8

chore: Update forgotten docstrings. #730
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

chore: Remove obsolete TODO. #730
  ui/src/table.tsx
Due: none

feat: Emit filter event for select/deselect all when pagination is enabled #730
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: Typo #730
  py/examples/table_pagination.py
Due: ./py/venv/bin/flake8

docs: Add pandas DF example. #730
  py/examples/table_pagination_pandas.py
  py/examples/tour.conf
  website/docs/examples/assets/table-pagination-pandas.png
Due: ./py/venv/bin/flake8

docs: Update widgets, add example screenshots. #730
  website/docs/examples/assets/table-pagination-download.png
  website/docs/examples/assets/table-pagination-filter.png
  website/docs/examples/assets/table-pagination-minimal.png
  website/docs/examples/assets/table-pagination-search.png
  website/docs/examples/assets/table-pagination-sort.png
  website/docs/examples/assets/table-pagination.png
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Generic search in examples, debounce search on client, tests. #730
  py/examples/table_pagination.py
  py/examples/table_pagination_pandas.py
  py/examples/table_pagination_search.py
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: Make paginated table download data with applied filters/sort/search. #730
  py/examples/table_pagination.py
  py/examples/table_pagination_download.py
  py/examples/table_pagination_filter.py
  py/examples/table_pagination_minimal.py
  py/examples/table_pagination_pandas.py
  py/examples/table_pagination_search.py
  py/examples/table_pagination_sort.py
Due: ./py/venv/bin/flake8

chore: Example clean up. #730
  py/examples/table_pagination.py
Due: ./py/venv/bin/flake8

Create table_pagination_h2o3.py
  py/examples/table_pagination_h2o3.py
Due: ./py/venv/bin/flake8

chore: remove console.log
  ui/src/tab.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
