Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

Update website/blog/2022-01-21-release.md
  website/blog/2022-01-21-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: Add links to widgets page
  website/blog/2022-01-21-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Update blog date
  website/blog/2022-01-28-release.md
  website/blog/assets/2022-01-28/benext.png
  website/blog/assets/2022-01-28/ember.png
  website/blog/assets/2022-01-28/footer.png
  website/blog/assets/2022-01-28/fuchasia.png
  website/blog/assets/2022-01-28/header.png
  website/blog/assets/2022-01-28/kiwi.png
  website/blog/assets/2022-01-28/lighting.png
  website/blog/assets/2022-01-28/monokai.png
  website/blog/assets/2022-01-28/nature.png
  website/blog/assets/2022-01-28/nord.png
  website/blog/assets/2022-01-28/oceanic.png
  website/blog/assets/2022-01-28/one-dark-pro.png
  website/blog/assets/2022-01-28/postcard.png
  website/blog/assets/2022-01-28/preview.png
  website/blog/assets/2022-01-28/sidebar.png
  website/blog/assets/2022-01-28/solarized.png
  website/blog/assets/2022-01-28/tall-stats.png
  website/blog/assets/2022-01-28/wide-article.png
  website/blog/assets/2022-01-28/winter-is-coming.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Add forgotten ui.menu component to blog
  website/blog/2022-01-28-release.md
  website/blog/assets/2022-01-28/menu.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update changelog with 0.20 release
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Emphasize installation-related changes
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update change log for 0.20 release (#1209)
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add 0.20 release blog post (#1199)
  website/blog/2022-01-28-release.md
  website/blog/assets/2022-01-28/benext.png
  website/blog/assets/2022-01-28/ember.png
  website/blog/assets/2022-01-28/footer.png
  website/blog/assets/2022-01-28/fuchasia.png
  website/blog/assets/2022-01-28/header.png
  website/blog/assets/2022-01-28/kiwi.png
  website/blog/assets/2022-01-28/lighting.png
  website/blog/assets/2022-01-28/menu.png
  website/blog/assets/2022-01-28/monokai.png
  website/blog/assets/2022-01-28/nature.png
  website/blog/assets/2022-01-28/nord.png
  website/blog/assets/2022-01-28/oceanic.png
  website/blog/assets/2022-01-28/one-dark-pro.png
  website/blog/assets/2022-01-28/postcard.png
  website/blog/assets/2022-01-28/preview.png
  website/blog/assets/2022-01-28/sidebar.png
  website/blog/assets/2022-01-28/solarized.png
  website/blog/assets/2022-01-28/tall-stats.png
  website/blog/assets/2022-01-28/wide-article.png
  website/blog/assets/2022-01-28/winter-is-coming.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add --no-autostart flag to "wave run"
  py/h2o_wave/cli.py
  website/blog/2022-01-28-release.md
  website/docs/configuration.md
  website/docs/deployment.md
  website/docs/installation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Update date for v.0.20 release blog post.
  website/blog/2022-01-30-release.md
  website/blog/assets/2022-01-30/benext.png
  website/blog/assets/2022-01-30/ember.png
  website/blog/assets/2022-01-30/footer.png
  website/blog/assets/2022-01-30/fuchasia.png
  website/blog/assets/2022-01-30/header.png
  website/blog/assets/2022-01-30/kiwi.png
  website/blog/assets/2022-01-30/lighting.png
  website/blog/assets/2022-01-30/menu.png
  website/blog/assets/2022-01-30/monokai.png
  website/blog/assets/2022-01-30/nature.png
  website/blog/assets/2022-01-30/nord.png
  website/blog/assets/2022-01-30/oceanic.png
  website/blog/assets/2022-01-30/one-dark-pro.png
  website/blog/assets/2022-01-30/postcard.png
  website/blog/assets/2022-01-30/preview.png
  website/blog/assets/2022-01-30/sidebar.png
  website/blog/assets/2022-01-30/solarized.png
  website/blog/assets/2022-01-30/tall-stats.png
  website/blog/assets/2022-01-30/wide-article.png
  website/blog/assets/2022-01-30/winter-is-coming.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Release v0.20.0
  py/h2o_wave/version.py-r
  py/setup.py-r
  r/DESCRIPTION-r
Due: none

Revert "chore: Release v0.20.0"
  py/h2o_wave/version.py-r
  py/setup.py-r
  r/DESCRIPTION-r
Due: none

chore: Release v0.20.0
  Makefile
  py/h2o_wave/version.py-r
  py/setup.py-r
  r/DESCRIPTION-r
Due: none

chore: Release v0.20.0
  Makefile
Due: none

Tiny doc update - missing ')'
  website/widgets/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Final Pycharm plugin improvements before publish
  tools/intellij-plugin/.gitignore
  tools/intellij-plugin/README.md
  tools/intellij-plugin/build.gradle.kts
  tools/intellij-plugin/gradle.properties
  tools/intellij-plugin/src/main/java/org/h2o/utils/UtilsResources.java
  tools/intellij-plugin/src/main/resources/META-INF/plugin.xml
  tools/intellij-plugin/src/main/resources/templates/wave.xml
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: docs typo
  website/widgets/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: React update + second iteration #1169
  py/examples/spinbox.py
  ui/package-lock.json
  ui/package.json
  ui/src/expander.test.tsx
  ui/src/expander.tsx
  ui/src/file_upload.test.tsx
  ui/src/picker.test.tsx
  ui/src/spinbox.test.tsx
  ui/src/spinbox.tsx
Due: ./py/venv/bin/flake8

chore: Add visual progress to ui build #1169
  ui/config/webpack.config.js
Due: none

chore: Fluent update - first iteration #1169
  py/examples/meta_dialog.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/config/webpack.config.js
  ui/package-lock.json
  ui/package.json
  ui/src/color_picker.test.tsx
  ui/src/color_picker.tsx
  ui/src/dialog.test.tsx
  ui/src/dropdown.test.tsx
  ui/src/link.tsx
  ui/src/spinbox.test.tsx
  ui/src/spinbox.tsx
  ui/src/tab.tsx
  ui/src/tabs.tsx
Due: ./py/venv/bin/flake8

chore: Revert tmp changed examples. #1169
  py/examples/meta_dialog.py
  py/examples/spinbox.py
Due: ./py/venv/bin/flake8

chore: Revert tmp changed examples. #1169
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
Due: ./py/venv/bin/flake8

feat: minor Tour improvements #1169
  py/examples/tour.py
  ui/src/picker.tsx
Due: ./py/venv/bin/flake8

fix: Use just a single reference to debounce in spinbox #1169
  .vscode/launch.json
  ui/src/spinbox.tsx
Due: none

feat: Spinbox UX improvements. #1169
  ui/src/spinbox.test.tsx
  ui/src/spinbox.tsx
Due: none

fix: broken tests after merge #1169
  ui/package-lock.json
  ui/package.json
  ui/src/dialog.test.tsx
  ui/src/side_panel.test.tsx
Due: none

chore: clean up #1169
  ui/src/dialog.test.tsx
  ui/src/spinbox.test.tsx
Due: none

Bump Fluent and React versions #1169 (#1183)
  .vscode/launch.json
  py/examples/tour.py
  ui/config/webpack.config.js
  ui/package-lock.json
  ui/package.json
  ui/src/color_picker.test.tsx
  ui/src/color_picker.tsx
  ui/src/dialog.test.tsx
  ui/src/dropdown.test.tsx
  ui/src/expander.test.tsx
  ui/src/expander.tsx
  ui/src/file_upload.test.tsx
  ui/src/link.tsx
  ui/src/picker.test.tsx
  ui/src/picker.tsx
  ui/src/side_panel.test.tsx
  ui/src/spinbox.test.tsx
  ui/src/spinbox.tsx
  ui/src/tab.tsx
  ui/src/tabs.tsx
Due: ./py/venv/bin/flake8

Fix changing the default wave server port using env var
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

feat: Reduced number of nav tooltip examples #692
  py/examples/nav.py
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8

feat: Add tooltip attribute to NavItem #692
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/wavegen/wave-components.json
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8
