Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Bump h2o-wave npm package version.
  ui/package-lock.json
Due: none

chore: Make sure docs image generate passes without breaking anything.
  ui/src/chatbot.tsx
Due: none

fix: make active filter count number actually show
  ui/src/table.tsx
Due: none

fix: resolve incorrect typing in onRenderHeader
  ui/src/table.tsx
Due: none

perf: small performance boost regarding onRenderHeader
  ui/src/table.tsx
Due: none

test: Make e2e tests fail fast and less flaky.
  e2e/Makefile
  e2e/utils.py
Due: ./py/venv/bin/flake8

docs: Make it clear that table events are only fired if pagination is set.
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

chore: update API description for icon prop #1887
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

chore: add tests, docs; API refactor #1887
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/button.test.tsx
  ui/src/button.tsx
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: update py example #1887
  py/examples/button.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

chore: update test with hash prefix #1887
  ui/src/button.test.tsx
Due: none

chore: update test cases #1887
  ui/src/button.test.tsx
Due: none

chore: rename commands to choices #1887
  py/examples/button.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

chore: update docs #1887
  py/examples/button.py
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: initial implementation #1887
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

fix: remove scrollbar from contextual sub-menus #1887
  ui/src/button.tsx
Due: none

feat: add sub-items support for button commands context menu #1887
  py/examples/button.py
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

chore: give subComponentStyles the correct type #1887
  ui/src/button.tsx
Due: none

chore: simplify tour example, extend docs examples #1887
  py/examples/button.py
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: use commands instead of choices, remove path and disabled props #1887
  py/examples/button.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/button.test.tsx
  ui/src/button.tsx
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: add correct types #1887
  ui/src/button.tsx
Due: none

chore: add correct styling for icon split button #1887
  ui/src/button.tsx
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: display tags in wrapped cells correctly #1917
  ui/src/table.tsx
  ui/src/tag_table_cell_type.tsx
Due: none

chore: simplify tag stylings #1917
  ui/src/tag_table_cell_type.tsx
Due: none

chore: tag styling refactor #1917
  ui/src/tag_table_cell_type.tsx
Due: none

feat: Add markdown support for chatbot_card. Closes #1927
  ui/src/article.tsx
  ui/src/chatbot.tsx
  ui/src/markdown.tsx
  ui/src/tall_article_preview.tsx
Due: none

docs: added basic openid faq
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Render dashboard demo app links in header and add h2o logo #1867
  py/demo/common.py
  py/demo/dashboard_blue.py
  py/demo/dashboard_cyan.py
  py/demo/dashboard_grey.py
  py/demo/dashboard_mint.py
  py/demo/dashboard_orange.py
  py/demo/dashboard_purple.py
  py/demo/dashboard_red.py
Due: ./py/venv/bin/flake8

docs: Minor edits. #1924
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add OIDC FAQ (#1933)
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Implement compact attribute for markup card #1922
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/markup.tsx
  website/widgets/content/markup.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: resized header to accomodate logo #1867
  py/demo/dashboard_blue.py
  py/demo/dashboard_cyan.py
  py/demo/dashboard_grey.py
  py/demo/dashboard_mint.py
  py/demo/dashboard_orange.py
  py/demo/dashboard_purple.py
  py/demo/dashboard_red.py
Due: ./py/venv/bin/flake8

feat: Render dashboard demo app links in header and add h2o logo #1867 (#1935)
  py/demo/common.py
  py/demo/dashboard_blue.py
  py/demo/dashboard_cyan.py
  py/demo/dashboard_grey.py
  py/demo/dashboard_mint.py
  py/demo/dashboard_orange.py
  py/demo/dashboard_purple.py
  py/demo/dashboard_red.py
Due: ./py/venv/bin/flake8

feat: Revisions to compact attribute for markup card #1922
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/markup.tsx
  website/widgets/content/markup.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add `compact` attribute for markup card #1922 (#1937)
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/markup.tsx
  website/widgets/content/markup.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: replace div with span #1917
  ui/src/tag_table_cell_type.tsx
Due: none

chore: update docs description #1887
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: update API description for button commands #1887
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/button.tsx
Due: ./py/venv/bin/flake8

chore: remove unnecessary data prop from items #1887
  ui/src/button.tsx
Due: none
