Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

Changed the event branch
  .github/workflows/wave.yaml
Due: none

azure openid faq update
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Minor formatting changes.
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Azure OIDC instructions.
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Do not bundle outdated readme with server binary.
  Makefile
Due: none

feat: Allow relative paths in wave run. Closes #2160
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

Fixed graphics_spline.py
  py/examples/graphics_spline.py
Due: ./py/venv/bin/flake8

Fixed image.py
  py/examples/image.py
  py/examples/synth.py
  py/examples/table_pagination.py
  py/examples/table_pagination_pandas.py
Due: ./py/venv/bin/flake8

Fixed table_pagination_pandas.py
  py/examples/table_pagination_pandas.py
Due: ./py/venv/bin/flake8

Fixed tour.py
  py/examples/tour.py
Due: ./py/venv/bin/flake8

Fixed table_pagination_sort.py
  py/examples/table_pagination_sort.py
Due: ./py/venv/bin/flake8

Fixed table_pagination_h2o3.py
  py/examples/table_pagination_h2o3.py
Due: ./py/venv/bin/flake8

Fixed table_pagination.py
  py/examples/table_pagination.py
Due: ./py/venv/bin/flake8

Fixed table_markdown_pandas.py
  py/examples/table_markdown_pandas.py
Due: ./py/venv/bin/flake8

Fixed table_filter_backend.py
  py/examples/table_filter_backend.py
Due: ./py/venv/bin/flake8

Fixed site_async.py
  py/examples/site_async.py
Due: ./py/venv/bin/flake8

plot_theme.py
  py/examples/plot_theme.py
Due: ./py/venv/bin/flake8

Fixed plot_plotly.py
  py/examples/plot_plotly.py
Due: ./py/venv/bin/flake8

Fixed plot_matplotlib.py
  py/examples/plot_matplotlib.py
Due: ./py/venv/bin/flake8

Fixed plot_app.py
  py/examples/plot_app.py
  py/examples/plot_events_routing.py
Due: ./py/venv/bin/flake8

Fixed plot_altair.py
  py/examples/plot_altair.py
Due: ./py/venv/bin/flake8

Fixed graphics_turtle.py
  py/examples/graphics_turtle.py
Due: ./py/venv/bin/flake8

Fixed form.py
  py/examples/form.py
Due: ./py/venv/bin/flake8

Fixed db_todo.py
  py/examples/db_todo.py
Due: ./py/venv/bin/flake8

Fixed background_progress.py
  py/examples/background_progress.py
Due: ./py/venv/bin/flake8

Fixed plot_bokeh_script.py
  py/examples/plot_bokeh_script.py
Due: ./py/venv/bin/flake8

Fixed plot_bokeh_callbacks.py
  py/examples/plot_bokeh_callbacks.py
Due: ./py/venv/bin/flake8

Create Ideas.md
  ui/Ideas.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Use proper blob encoding in audio annotator. Closes #2174.
  ui/src/audio_annotator.tsx
Due: none

chore: Do not generate types off core.ts.
  ui/src/.wavegen
Due: none

Update table_pagination.py
  py/examples/table_pagination.py
Due: ./py/venv/bin/flake8

remove duplicate import
  py/examples/graphics_spline.py
Due: ./py/venv/bin/flake8

feat: initial implementation #1932
  ui/src/nav.tsx
Due: none

Update db_todo.py and graphics_spline.py
  py/examples/db_todo.py
  py/examples/graphics_spline.py
Due: ./py/venv/bin/flake8

Update tour.py
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: make command key to be detected, refactor #1932
  ui/src/nav.tsx
Due: none

Update image.py
  py/examples/image.py
Due: ./py/venv/bin/flake8

chore: update docs #1932
  website/widgets/content/navigation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: render hashless name as a button #1932
  ui/src/nav.test.tsx
  ui/src/nav.tsx
  website/widgets/content/navigation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: test reorder #1932
  ui/src/nav.test.tsx
Due: none
