Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: update docs #2250
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: add example img #2250
  website/docs/examples/assets/chatbot-events-suggestions.png
Due: none

chore: add tests #2250
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
Due: none

chore: wording #2250
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

chore: improve prompts presence condition #2250
  ui/src/chatbot.tsx
Due: none

feat: Image annotation shapes improvements #1860 (#2263)
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

chore: improve button layout #2250
  py/examples/chatbot_events_suggestions.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

feat: add icons support #2250
  py/examples/chatbot_events_suggestions.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

chore: show suggestions in 2 column on as small viewport width as possible #2250
  ui/src/chatbot.tsx
Due: none

chore: refactor #2250
  ui/src/chatbot.tsx
Due: none

chore: improve py example, match border radius with rest of the components #2250
  py/examples/chatbot_events_suggestions.py
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

chore: update docs with better example #2250
  website/static/img/widgets/chatbot-prompt-suggestions.gif
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: rename prompt_suggestions to suggestions, refactor #2250
  py/examples/chatbot_events_suggestions.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  website/docs/examples/assets/chatbot-events-suggestions.png
  website/static/img/widgets/chatbot-events-suggestions.png
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: rename type #2250
  py/examples/chatbot_events_suggestions.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  website/static/img/widgets/chatbot-suggestions.gif
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Prompt suggestions for ui.chatbot #2250 (#2265)
  py/examples/chatbot_events_suggestions.py
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  website/static/img/widgets/chatbot-events-suggestions.png
  website/static/img/widgets/chatbot-suggestions.gif
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add data-test attribute to picker item remove button #273
  py/examples/picker_selection.py
  ui/src/picker.test.tsx
  ui/src/picker.tsx
Due: ./py/venv/bin/flake8

fix: set justify default #2267
  ui/src/form.tsx
Due: none

fix: include spacing in width for inline horizontal components #2251
  ui/src/form.tsx
Due: none

feat: Changes from review comments, remove max_choices references and code simplification #273
  py/examples/picker_selection.py
  ui/src/picker.test.tsx
  ui/src/picker.tsx
Due: ./py/venv/bin/flake8

chore: Add data-test attribute to picker item remove button #273 (#2271)
  ui/src/picker.test.tsx
  ui/src/picker.tsx
Due: none

fix: regression tests wave reconnect timeout issue for firefox #2251
  tools/showcase/showcase.py
Due: ./py/venv/bin/flake8

fix: Include spacing in width for inline horizontal components #2251 (#2273)
  tools/showcase/showcase.py
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

fix: Default ui.inline justify to start. #2267 (#2272)
  ui/src/form.tsx
Due: none

fix: Sort items correctly when empty custom group is present #2268
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

fix: Sort items correctly when empty custom group is present #2268 (#2274)
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

fix: Set correct annotator width when app is loaded while browser tab is in background #2276
  ui/src/parts/range_annotator.tsx
  ui/src/parts/waveform.tsx
Due: none

chore: Use same origin download link example for toolbar #2276
  py/examples/toolbar.py
Due: ./py/venv/bin/flake8

fix: Do not allow setting empty active tag #2276
  ui/src/parts/range_annotator.tsx
Due: none

chore: update tests #2276
  ui/src/audio_annotator.test.tsx
Due: none

chore: remove leftover from test #2276
  ui/src/audio_annotator.test.tsx
Due: none

chore: simplify link download docs #2276
  website/widgets/form/link.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: init #2230
  client.go
  conf.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

fix: Close websocket connection properly.
  client.go
Due: golint -set_exit_status

feat: Allow specifying websocket origins.
  client.go
  cmd/wave/main.go
  conf.go
  server.go
  socket.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

docs: Add an example of an origin.
  conf.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

fix: Use proper defaults.
  socket.go
Due: golint -set_exit_status

chore: v1.1.0 pre-release QA based fixes #2276 (#2277)
  py/examples/toolbar.py
  ui/src/audio_annotator.test.tsx
  ui/src/parts/range_annotator.tsx
  ui/src/parts/waveform.tsx
  website/widgets/form/link.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Revert accidental docs removal.
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Close websocket connection properly. (#2278)
  client.go
Due: golint -set_exit_status

chore: use config param for allowed origins #2230
  client.go
  cmd/wave/main.go
  server.go
  socket.go
Due: golint -set_exit_status
