Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: update api description #1977
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/textbox.tsx
Due: ./py/venv/bin/flake8

feat: Add reveal button to password textbox #1977 (#2198)
  py/examples/textbox.py
  ui/src/textbox.test.tsx
  ui/src/textbox.tsx
  website/widgets/form/textbox.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: add name attribute to ui.stats #2197
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/stats.tsx
  ui/src/tall_stats.tsx
Due: ./py/venv/bin/flake8

feat: Add name attribute to ui.stats #2197 (#2205)
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/stats.tsx
  ui/src/tall_stats.tsx
Due: ./py/venv/bin/flake8

fix: raise error if waved cannot find public/private dir #2130
  server.go
Due: golint -set_exit_status

add options for type in progress_table_cell_type
  py/examples/table.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  ui/src/progress_table_cell_type.tsx
Due: ./py/venv/bin/flake8

change UI so the percentage is next to progress bar
  py/examples/table.py
  ui/src/progress_table_cell_type.tsx
Due: ./py/venv/bin/flake8

make height of container with bar shorter than spinner
  py/examples/table.py
  ui/src/progress_table_cell_type.tsx
Due: ./py/venv/bin/flake8

fix: added a fucntion to check if the dir is accessible, issue #2130
  server.go
Due: golint -set_exit_status

fix: update docs w/ type keyword #1921
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/progress_table_cell_type.tsx
Due: ./py/venv/bin/flake8

chore: update tests #2196
  ui/src/table.test.tsx
Due: none

fix: emit select event only when user (de)selects row or clicks (de)select all #2196
  ui/package-lock.json
  ui/package.json
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

fix: Do not reset table in py example when select event contains [] #2196
  py/examples/table_events_select.py
Due: ./py/venv/bin/flake8

chore: update py example #2196
  py/examples/table_events_select.py
Due: ./py/venv/bin/flake8

fix: Prevent table select event from being emitted in some cases #2196
  ui/src/table.tsx
Due: none

chore: update fix comments #2196
  ui/src/table.tsx
Due: none

fix: Emit table select event only if selection changes #2196 (#2201)
  ui/package-lock.json
  ui/package.json
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

feat: Add filter count when a field is selected in selection modal #1689
  ui/src/table.tsx
Due: none

feat: Add filter count next to filterable header #1689
  ui/src/table.tsx
Due: none

fix: added functionality to splitDirMapping
  server.go
Due: golint -set_exit_status

fix: use getByText instead of getByTitle in combobox tests due to fluentui internal change
  ui/src/combobox.test.tsx
Due: none

chore: fix failing UI unit tests (#2221)
  ui/src/combobox.test.tsx
Due: none

fix: revert examples.table back to original
  py/examples/table.py
Due: ./py/venv/bin/flake8

fix: added the path checking functionality inside splitDirMapping
  server.go
Due: golint -set_exit_status

customize filter count to show '9+' if more than 9
  ui/src/table.tsx
Due: none

feat: Customize filter count to show '9+' if more than 9 h2oai#1689
  ui/src/table.tsx
Due: none

feat: Decimal support Progress Table Cell Type #824
  ui/src/progress_table_cell_type.tsx
Due: none

feat: Make filter count for column header dymaic h2oai#1689
  ui/src/table.tsx
Due: none

chore: Add more debug logging.
  app.go
  auth.go
Due: golint -set_exit_status

fix: clean up the css h2oai#1921
  ui/src/progress_table_cell_type.tsx
Due: none

fix: change type to compact bool h2oai#1921
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  ui/src/progress_table_cell_type.tsx
Due: ./py/venv/bin/flake8

fix: ran make generate h2oai#1921
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/progress_table_cell_type.tsx
Due: ./py/venv/bin/flake8

docs: included feature in the table documentation h2oai#1921
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: added another row to the example h2oai#1921
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

test: python example with the new feature
  py/examples/table_progress.py
Due: ./py/venv/bin/flake8

chore: More logging.
  app.go
Due: golint -set_exit_status

test: Decimal support Progress Table Cell Type #824
  ui/src/progress_table_cell_type.test.tsx
  ui/src/progress_table_cell_type.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
