Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

generate_sequence coverage
  py/demo/synthetic_data.py
Due: ./py/venv/bin/flake8

glider_gun coverage
  py/examples/glider_gun.py
Due: ./py/venv/bin/flake8

graphics_hilbert coverage
  py/examples/graphics_hilbert.py
Due: ./py/venv/bin/flake8

synth_coverage
  py/examples/synth.py
Due: ./py/venv/bin/flake8

ci: Use boringcrypto for windows e2e tests.
  setup.ps1
Due: none

feat: Display active table filter count #1689
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

feat: Display image in a graphics_card #1817
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/graphics.test.tsx
  ui/src/graphics.tsx
Due: ./py/venv/bin/flake8

[DOCS] Fix typo
  website/docs/custom-css.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Fix typo
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Raise error if waved cannot find public/private dir #2130
  server.go
Due: golint -set_exit_status

docs: Fix typos (#2375)
  website/docs/configuration.md
  website/docs/custom-css.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Skip auth check for waved => wave app in dev mode. Closes #2337.
  py/h2o_wave/h2o_wave/cli.py
  py/h2o_wave/h2o_wave/server.py
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Format.
  server.go
Due: golint -set_exit_status

feat: Raise error if waved cannot find public/private dir #2130 (#2378)
  server.go
Due: golint -set_exit_status

feat: Changes from review comments, remove parent div, revert graphics.test.tsx changes, added new graphics example, also added graphics to widgets section of docs #1817
  py/examples/graphics_background.py
  py/examples/tour.conf
  ui/src/graphics.test.tsx
  ui/src/graphics.tsx
  website/docs/examples/assets/graphics-background.png
  website/sidebars.js
  website/widgets/content/graphics.md
  website/widgets/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Format, rename props.
  py/examples/graphics_background.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/graphics.tsx
  website/widgets/content/graphics.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Reword.
  website/widgets/content/graphics.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Display image in a graphics_card #1817 (#2373)
  py/examples/graphics_background.py
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/graphics.tsx
  website/docs/examples/assets/graphics-background.png
  website/sidebars.js
  website/widgets/content/graphics.md
  website/widgets/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Changes from review comments, updated filter count to a badge design, applied refactor suggestions, split select-deselect test cases and added reset test #1689
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: Lower severity of non-existent public/private dir.
  server.go
Due: golint -set_exit_status

feat: Allow * for allowed origins.
  socket.go
Due: golint -set_exit_status

docs: Update documentation.
  conf.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow `*` in allowed_origins. #2370 (#2382)
  conf.go
  socket.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

chore: Release v1.4.0
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

feat: Add value prop to ui.chatbot_card #2367
  py/examples/chatbot_value.py
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  website/docs/examples/assets/chatbot-value.png
  website/static/img/widgets/chatbot-input-template.png
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add value prop to ui.chatbot_card #2367 (#2384)
  py/examples/chatbot_value.py
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  website/docs/examples/assets/chatbot-value.png
  website/static/img/widgets/chatbot-input-template.png
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Minor restyling.
  ui/src/table.tsx
Due: none

feat: Make timeouts configurable.
  py/h2o_wave/h2o_wave/core.py
  py/h2o_wave/h2o_wave/server.py
Due: ./py/venv/bin/flake8

docs: Add documentation.
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add forgotten app prefix.
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Configurable app timeouts. (#2385)
  py/h2o_wave/h2o_wave/core.py
  py/h2o_wave/h2o_wave/server.py
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Display active table filter count #1689 (#2371)
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: Release v1.5.0
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

chore: Do not pin Go to exact version, use latest patch instead.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
Due: none

fix: Select All on 2nd filter in table not showing checked checkboxes #2386
  ui/src/table.tsx
Due: none

fix: Change from review comment, change to use boolean conversion rather than explicitly returning or , added a new test #2386
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

fix(ui): The table columns now functions properly with multiselect columns.
  ui/src/table.tsx
Due: none

feat(ui): Added necesary tests to verify the tooltip only appears in the columns where `tooltip` option is specified.
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

test: Add a reliable unit test.
  ui/src/table.test.tsx
Due: none

chore: Remove forgotten async.
  ui/src/table.test.tsx
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
