Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Tmp commented out code. #2071
  py/Makefile
Due: none

ci: Make Snyk happy. #2071
  .github/workflows/snyk-scan.yml
Due: none

chore: Refactor. #2071
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

ci: Use proper nightly version. #2071
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Delete previous nightly release. #2071
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Use correct syntax for nightly job. #2071
  .github/workflows/release-wave-nightly.yml
Due: none

chore: Temporarily skip tests. #2071
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Remove inputs from nightly job. #2071
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Replace octokit client with github. #2071
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Upgrade github-script to v5. #2071
  .github/workflows/release-wave-nightly.yml
Due: none

Revert "chore: Temporarily skip tests. #2071"
  .github/workflows/release-wave-nightly.yml
Due: none

chore: Remove unused setuptools and wheel deps in favor of build package in Snyk checks.
  .github/workflows/snyk-scan.yml
Due: none

feat: Migrate conda to pyproject.toml as well. #2071
  .github/workflows/publish-conda.yml
  .github/workflows/release-wave.yml
  py/h2o_wave/README.md
  py/h2o_wave/conda/conda_build_config.yaml
  py/h2o_wave/conda/meta.yaml
  py/h2o_wave/pyproject.toml
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Minor refactor. #2071
  py/h2o_wave/conda/meta.yaml
  py/h2o_wave/pyproject.toml
Due: none

Fix: Support multi spaces in stat values #1665
  ui/src/index.scss
Due: none

Test: Add example to support multi spaces in stat values
  py/examples/stat_label_space.py
Due: ./py/venv/bin/flake8

chore: Unify license fields. #2071
  py/h2o_lightwave/pyproject.toml
  py/h2o_lightwave_web/pyproject.toml
  university/pyproject.toml
Due: none

chore: Migrate setup.py to pyproject.toml + Hatchling. (#2073)
  .github/workflows/publish-conda.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .vscode/launch.json
  Makefile
  py/Makefile
  py/h2o_lightwave/Makefile
  py/h2o_lightwave/hatch_build.py
  py/h2o_lightwave/pyproject.toml
  py/h2o_lightwave/setup.py
  py/h2o_lightwave_web/LICENSE
  py/h2o_lightwave_web/MANIFEST.in
  py/h2o_lightwave_web/Makefile
  py/h2o_lightwave_web/hatch_build.py
  py/h2o_lightwave_web/pyproject.toml
  py/h2o_lightwave_web/setup.py
  py/h2o_wave/Makefile
  py/h2o_wave/README.md
  py/h2o_wave/README.rst
  py/h2o_wave/conda/conda_build_config.yaml
  py/h2o_wave/conda/meta.yaml
  py/h2o_wave/hatch_build.py
  py/h2o_wave/pyproject.toml
  py/h2o_wave/setup.py
  university/LICENSE
  university/Makefile
  university/h2o_wave_university/version.py
  university/hatch_build.py
  university/pyproject.toml
  university/setup.py
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Upgrade d3 to patch security vulnerability.
  ui/package-lock.json
  ui/package.json
Due: none

chore: Deprecate WaveML.
  py/.gitignore
  py/Makefile
  py/examples/ml_dai.py
  py/examples/ml_dai_autodoc.py
  py/examples/ml_dai_categorical.py
  py/examples/ml_dai_instances.py
  py/examples/ml_dai_parameters.py
  py/examples/ml_dai_save.py
  py/examples/ml_h2o.py
  py/examples/ml_h2o_algo.py
  py/examples/ml_h2o_categorical.py
  py/examples/ml_h2o_parameters.py
  py/examples/ml_h2o_save.py
  py/examples/ml_h2o_shap.py
  py/examples/requirements.txt
  py/examples/tour.conf
  website/.gitignore
  website/blog/2021-04-28-release.md
  website/blog/2021-06-15-ml-release.md
  website/docs/wave-ml.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

test: Mock d3 within UI unit tests.
  ui/src/setupTests.ts
Due: none

fix: Generate metadata.py to prevent tests from crashing.
  py/Makefile
Due: none

chore: Adjust e2e tests timeout.
  e2e/utils.py
Due: ./py/venv/bin/flake8

fix: Download dependencies during editable installs
  py/Makefile
  setup.ps1
Due: none

fix: Add typing_extensions dep to windows nightly tests.
  setup.ps1
Due: none

fix: Add missing package for windows e2e tests.
  setup.ps1
Due: none

fix: Try using newer pip, reduce e2e retry time.
  e2e/Makefile
  e2e/utils.py
  setup.ps1
Due: ./py/venv/bin/flake8

fix: Try editable install without dependencies.
  py/Makefile
  setup.ps1
Due: none

ci: Fix nightly. (#2077)
  e2e/Makefile
  e2e/utils.py
  py/Makefile
  setup.ps1
Due: ./py/venv/bin/flake8

feat: Add data buffer support to components (form card). #441
  .vscode/launch.json
  card.go
  py/h2o_lightwave/h2o_lightwave/core.py
  py/h2o_wave/h2o_wave/core.py
  tools/showcase/showcase.py
  ts/index.ts
  ui/src/plot.tsx
  website/widgets/form/visualization.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Refactor. #441
  card.go
Due: golint -set_exit_status

fix: Mutate recursive keys correctly. #441
  card.go
Due: golint -set_exit_status

fix: Use proper dict retrieval. #441
  py/h2o_lightwave/h2o_lightwave/core.py
  py/h2o_wave/h2o_wave/core.py
Due: ./py/venv/bin/flake8

chore: Fix typo.
  website/blog/2023-06-26-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Make deployment docs clearer.
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Include project_templates within wheel - oversight from pyproject migration.
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

fix: allow dynamic value change for checkbox
  ui/src/checkbox.test.tsx
  ui/src/checkbox.tsx
Due: none
