Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Avoid tooltip wrapper recreation causing weird scroll jumping issues in table. #1731 (#1738)
  ui/src/table.tsx
Due: none

ci: Minor release pipeline refactor.
  .github/workflows/release-wave.yml
Due: none

chore: Release v0.24.2
  py/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
Due: ./py/venv/bin/flake8

chore: renamed json
  website/src/pages/index.js
  website/static/app_showcase.json
Due: none

chore: updated images, showcase title styling
  website/src/pages/index.js
  website/static/apps_showcase.json
  website/static/img/apps_showcase/energy-data-science.png
  website/static/img/apps_showcase/h2o-hydrogen-torch.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_01.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_02.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_03.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_04.png
  website/static/img/apps_showcase/h2o-load-forecaster_01.png
  website/static/img/apps_showcase/h2o-load-forecaster_02.png
  website/static/img/apps_showcase/h2o-load-forecaster_03.png
  website/static/img/apps_showcase/h2o-load-forecaster_04.png
  website/static/img/apps_showcase/h2o-mlops.png
  website/static/img/apps_showcase/h2o-mlops_01.png
  website/static/img/apps_showcase/h2o-mlops_02.png
  website/static/img/apps_showcase/h2o-mlops_03.png
  website/static/img/apps_showcase/h2o-mlops_04.png
  website/static/img/apps_showcase/h2o-model-validation_01.png
  website/static/img/apps_showcase/h2o-model-validation_02.png
  website/static/img/apps_showcase/h2o-model-validation_03.png
  website/static/img/apps_showcase/h2o-model-validation_04.png
  website/static/img/apps_showcase/model-validation.png
Due: none

chore: add section padding
  website/src/pages/styles.module.css
Due: none

chore: html elements rearrangement
  website/src/pages/index.js
  website/src/pages/styles.module.css
Due: none

chore: general refactor
  website/src/pages/index.js
  website/src/pages/styles.module.css
Due: none

feat: initial commit
  website/src/pages/index.js
  website/src/pages/styles.module.css
  website/static/apps_showcase.json
  website/static/img/apps_showcase/energy-data-science.png
  website/static/img/apps_showcase/h2o-hydrogen-torch.png
  website/static/img/apps_showcase/h2o-mlops.png
  website/static/img/apps_showcase/model-validation.png
Due: none

feat: add lightbox, styling polishing
  website/src/components/lightbox.jsx
  website/src/css/lightbox_styles.module.css
  website/src/pages/index.js
  website/src/pages/styles.module.css
  website/static/apps_showcase.json
Due: none

chore: reduced image size, code cleaning
  website/src/components/lightbox.jsx
  website/src/pages/index.js
  website/src/pages/styles.module.css
  website/static/apps_showcase.json
  website/static/img/apps_showcase/h2o-document-signature-checker_01.png
  website/static/img/apps_showcase/h2o-document-signature-checker_02.png
  website/static/img/apps_showcase/h2o-document-signature-checker_03.png
  website/static/img/apps_showcase/h2o-document-signature-checker_04.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_01.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_02.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_03.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_04.png
  website/static/img/apps_showcase/h2o-load-forecaster_01.png
  website/static/img/apps_showcase/h2o-load-forecaster_02.png
  website/static/img/apps_showcase/h2o-load-forecaster_03.png
  website/static/img/apps_showcase/h2o-load-forecaster_04.png
  website/static/img/apps_showcase/h2o-mlops_01.png
  website/static/img/apps_showcase/h2o-mlops_02.png
  website/static/img/apps_showcase/h2o-mlops_03.png
  website/static/img/apps_showcase/h2o-mlops_04.png
  website/static/img/apps_showcase/h2o-model-validation_01.png
  website/static/img/apps_showcase/h2o-model-validation_02.png
  website/static/img/apps_showcase/h2o-model-validation_03.png
  website/static/img/apps_showcase/h2o-model-validation_04.png
Due: none

chore: add a note under the showcase title, small refactor
  website/src/pages/index.js
  website/src/pages/styles.module.css
Due: none

chore: remove lint ignore rule comment
  website/src/css/lightbox_styles.module.css
Due: none

Keep copyable_text height adjustable after loading
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/copyable_text.tsx
  website/widgets/form/copyable_text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: remove 'stretch' for ui.inline #1535
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

change breakpoint of dashboard to xs so that we dont need to go into full screen mode to view the dashboard
  py/demo/dashboard_blue.py
  py/demo/dashboard_cyan.py
  py/demo/dashboard_grey.py
  py/demo/dashboard_mint.py
  py/demo/dashboard_orange.py
  py/demo/dashboard_red.py
Due: ./py/venv/bin/flake8

fix: remove unnecessary scrollbars, make important part of the subtitle bold
  website/src/pages/index.js
  website/src/pages/styles.module.css
Due: none

increase pic size on click
  ui/src/parts/lightbox.tsx
Due: none

added states for positioning, still not working
  ui/src/parts/lightbox.tsx
Due: none

attempted figure addition
  ui/src/parts/lightbox.tsx
Due: none

working
  ui/src/parts/lightbox.tsx
Due: none

added button for potential zoom out option
  ui/src/parts/lightbox.tsx
Due: none

removed zoom out button
  ui/src/parts/lightbox.tsx
Due: none

chore: Small improvements/refactor.
  py/examples/copyable_text.py
  ui/src/copyable_text.tsx
  website/widgets/form/copyable_text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Allow adjustable height of copyable text #1308 (#1694)
  py/examples/copyable_text.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/copyable_text.tsx
  website/widgets/form/copyable_text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add “align” parameter for ui.inline #1535 (#1737)
  py/examples/inline.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/form.tsx
  ui/src/message_bar.tsx
  ui/src/notification_bar.tsx
  ui/src/section.tsx
  website/docs/examples/assets/inline.png
  website/widgets/form/inline.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Make dashboard app display irrespective of browser window size. #527 (#1748)
  py/demo/dashboard_blue.py
  py/demo/dashboard_cyan.py
  py/demo/dashboard_grey.py
  py/demo/dashboard_mint.py
  py/demo/dashboard_orange.py
  py/demo/dashboard_red.py
Due: ./py/venv/bin/flake8

chore: Minor adjustments.
  website/src/pages/index.js
  website/src/pages/styles.module.css
Due: none

docs: Add app showcase to landing page (#1746)
  website/src/components/lightbox.jsx
  website/src/css/lightbox_styles.module.css
  website/src/pages/index.js
  website/src/pages/styles.module.css
  website/static/app_showcase.json
  website/static/img/apps_showcase/h2o-document-signature-checker_01.png
  website/static/img/apps_showcase/h2o-document-signature-checker_02.png
  website/static/img/apps_showcase/h2o-document-signature-checker_03.png
  website/static/img/apps_showcase/h2o-document-signature-checker_04.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_01.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_02.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_03.png
  website/static/img/apps_showcase/h2o-hydrogen-torch_04.png
  website/static/img/apps_showcase/h2o-load-forecaster_01.png
  website/static/img/apps_showcase/h2o-load-forecaster_02.png
  website/static/img/apps_showcase/h2o-load-forecaster_03.png
  website/static/img/apps_showcase/h2o-load-forecaster_04.png
  website/static/img/apps_showcase/h2o-model-validation_01.png
  website/static/img/apps_showcase/h2o-model-validation_02.png
  website/static/img/apps_showcase/h2o-model-validation_03.png
  website/static/img/apps_showcase/h2o-model-validation_04.png
Due: none

docs: Fix safari lightbox in landing page.
  website/src/css/lightbox_styles.module.css
Due: none

fix: Support image popup on older Safari versions as well.
  ui/src/parts/lightbox.tsx
Due: none

logging to console the number of filters applied for a given column
  ui/src/table.tsx
Due: none

feat: further attempts at getting the grid to display #1599
  py/examples/image_grid.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/image_grid.tsx
Due: ./py/venv/bin/flake8

feat: resolves issue 1689, adds a filter count to column headersin table
  py/examples/table.py
  py/examples/table_filter.py
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

fixing minor changes to python files
  py/examples/table.py
  py/examples/table_filter.py
Due: ./py/venv/bin/flake8

feat: Wrap pie stat legend items if not enough space. Closes #1707.
  ui/src/wide_pie_stat.tsx
Due: none

feat: Log the upstream error if oauth token exchange fails. #1761
  auth.go
Due: golint -set_exit_status

feat: Log the upstream error if oauth token exchange fails. #1761 (#1762)
  auth.go
Due: golint -set_exit_status

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
