Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: update blog of variable structures
  website/blog/2021-02-19-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

refactor: Use style objects instead of enum
  ui/src/breadcrumbs.tsx
  ui/src/footer.tsx
  ui/src/header.tsx
  ui/src/layout.tsx
  ui/src/nav.tsx
  ui/src/page.tsx
  ui/src/section.tsx
  ui/src/stat_list.tsx
  ui/src/stat_table.tsx
  ui/src/tab.tsx
  ui/src/toolbar.tsx
Due: none

docs: Remove width/height -1/-1 from examples (poor practice)
  py/examples/background.py
  py/examples/background_executor.py
  py/examples/background_progress.py
  py/examples/checkpoint.py
  py/examples/counter_unicast.py
  py/examples/issue_tracker.py
  py/examples/label.py
  py/examples/link.py
  py/examples/markdown.py
  py/examples/message_bar.py
  py/examples/meta_dialog.py
  py/examples/meta_tracking.py
  py/examples/plot_vegalite_form.py
  py/examples/progress.py
  py/examples/progress_update.py
  py/examples/site_async.py
  py/examples/text.py
  py/examples/text_sizes.py
  py/examples/tour.py
  py/h2o_wave/ide.py
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

fix: Display scrollbars if content overflows in flex layout. Fixes #575
  ui/src/page.tsx
Due: none

feat: Add signature colors to canvas card
  ui/src/canvas.tsx
  ui/src/theme.ts
Due: none

docs: Add 0.13 release notes
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Make layout changes work beyond first save (Since the apply button doesn't close the panel)
  ui/src/editor.tsx
Due: none

fix: Remove title attribute from editor card
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/canvas.tsx
  ui/src/editor.tsx
Due: ./py/venv/bin/flake8

ci: Add github token to env for docs publishing action
  .github/workflows/publish-docs.yml
Due: none

chore: update blog formatting
  website/blog/2021-02-19-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: update blog file dates
  website/blog/2021-03-08-ml-release.md
  website/blog/assets/2021-03-08/cm.gif
  website/blog/assets/2021-03-08/wine.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: rewrite the blog intro
  website/blog/2021-03-08-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: incorporate review comments
  website/blog/2021-03-08-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: fix typo
  website/blog/2021-03-08-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: update with more feedback
  website/blog/2021-03-08-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Fix blog post
  website/blog/2021-03-08-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Fix typo
  website/blog/2021-03-08-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add Wave ML release blog post (#603)
  website/blog/2021-03-08-ml-release.md
  website/blog/assets/2021-03-08/cm.gif
  website/blog/assets/2021-03-08/wine.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add Wave ML to readme
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: prevent empty zones from taking up space #610
  ui/src/page.tsx
Due: none

fix: show overflow table footer menu only when lacking space #609
  ui/src/table.tsx
Due: none

fix: Show table footer overflow menu only when lacking space #609 (#615)
  ui/src/table.tsx
Due: none

fix: remove special cased dialog footer logic and popping last item #622
  ui/src/dialog.tsx
Due: none

fix: Revert special-casing of dialog buttons #622 (#625)
  ui/src/dialog.tsx
Due: none

removed the comma. The jSON was converting the value as a single value list
  py/examples/dashboard.py
Due: ./py/venv/bin/flake8

Revert "fix: Remove unused code in R code generator"
  tools/wavegen/src/wavegen.ts
Due: none

fix: trigger plot events only if selected #616
  ui/src/plot.tsx
Due: none

fix: Trigger plot events only if selected #616 (#643)
  ui/src/plot.tsx
Due: none

docs: Switch discussion links to Github discussions
  README.md
  website/docusaurus.config.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

refactor: Rename driver generator task
  Makefile
Due: none

refactor: Rename R h2oq_~ class descriptors to Wave~ #612
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: none

chore: switch CoC to contributor-covenant #641
  .github/CODE_OF_CONDUCT.md
  README.md
  website/docusaurus.config.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Switch CoC to contributor-covenant #641 (#649)
  .github/CODE_OF_CONDUCT.md
  README.md
  website/docusaurus.config.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Improve intro to Wave ML announcement blog post
  website/blog/2021-03-08-ml-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Update DEV.md
  DEV.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: stop scroll propagation on plot due to interference with zoom-view #659
  ui/src/plot.tsx
Due: none
