Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Remove forgotten code.
  py/examples/wizard.py
Due: ./py/venv/bin/flake8

chore: Use snakecase for plotinteraction names. #1298
  py/examples/plot_events.py
  py/examples/plot_interaction_drag_move.py
  py/examples/plot_interaction_zoom.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

chore: Remove forgotten code. #1298
  py/examples/plot_events.py
Due: ./py/venv/bin/flake8

chore: Update docstring #1298
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

chore: Update docstring #1298
  ui/src/plot.tsx
Due: none

chore: Update docstring #1298
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

feat: Allow plot interactions - zoom, brush, drag-move #1298 (#1309)
  py/examples/plot_interaction_brush.py
  py/examples/plot_interaction_drag_move.py
  py/examples/plot_interaction_zoom.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/plot.tsx
  website/docs/examples/assets/plot-interaction-brush.png
  website/docs/examples/assets/plot-interaction-drag-move.png
  website/docs/examples/assets/plot-interaction-zoom.png
Due: ./py/venv/bin/flake8

chore: Add support for custom table groups
  py/examples/table_groups.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.test.tsx
  ui/src/table.tsx
  website/docs/examples/assets/table-groups.png
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: table expand/collapse optimization, fix table data download #961
  ui/src/table.tsx
Due: none

chore: table collapse/expand refactor #961
  ui/src/table.tsx
Due: none

feat: fix Debug UI Tests start problem #961
  .vscode/launch.json
Due: none

feat: fix inverted collapsed/expanded state #961
  ui/src/table.tsx
Due: none

chore: code cleaning based on PR comments #961
  ui/src/table.tsx
Due: none

chore: table collapsed ref refactor #961
  ui/src/table.tsx
Due: none

feat: table expand/collapse test cases added, table component refactor
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

chore: table tests updated to work with new custom groups api #961
  ui/src/table.test.tsx
Due: none

feat: fix collapsed ref mixing true and false refs #961
  ui/src/table.tsx
Due: none

chore: table makeGroups refactor #961
  ui/src/table.tsx
Due: none

chore: table onToggleCollapse refactor #961
  ui/src/table.tsx
Due: none

chore: Revert tmp changes to wizard.
  py/examples/wizard.py
Due: ./py/venv/bin/flake8

feat: Custom table groups (#1262)
  .vscode/launch.json
  py/examples/table_groups.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/table.test.tsx
  ui/src/table.tsx
  website/docs/examples/assets/table-groups.png
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Make plots look normal in docs/widgets section. (#1301)
  website/sidebars.js
  website/widgets/plots/area.md
  website/widgets/plots/interval.md
  website/widgets/plots/line.md
  website/widgets/plots/overview.md
  website/widgets/plots/path.md
  website/widgets/plots/point.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: prevent dropdown from overflowing #1164
  ui/src/form.tsx
  ui/src/tooltip.tsx
Due: none

chore: Minor refactor + fix hardcoded color #1164
  ui/src/tooltip.tsx
Due: none

chore: Minor refactor #1164
  ui/src/form.tsx
  ui/src/tooltip.tsx
Due: none

fix: Respect dropdown width when tooltip is set. #1164 (#1297)
  ui/src/tooltip.tsx
Due: none

Update py/examples/table_pagination_h2o3.py
  py/examples/table_pagination_h2o3.py
Due: ./py/venv/bin/flake8

feat: updated events api description for side panel and dialog
  ui/src/dialog.tsx
  ui/src/side_panel.tsx
Due: none

chore: make side panel API props order consistent with dialog
  ui/src/side_panel.tsx
Due: none

feat: add closable prop into side_panel, updated docs, updated tour.conf
  py/examples/meta_dialog_closable.py
  py/examples/meta_side_panel_closable.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/side_panel.test.tsx
  ui/src/side_panel.tsx
  website/docs/examples/assets/meta-dialog-closable.png
  website/docs/examples/assets/meta-side-panel-closable.png
  website/docs/examples/assets/meta-side-panel.png
  website/static/img/widgets/side_panel.gif
  website/widgets/overlays/side_panel.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: side_panel attributes rearranged
  ui/src/side_panel.tsx
Due: none

feat: updated events api description for side panel and dialog - generate components
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
Due: ./py/venv/bin/flake8

chore: dialog and side_panel onDismiss refactor
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/dialog.tsx
  ui/src/side_panel.tsx
Due: ./py/venv/bin/flake8

chore: side_panel attributes rearranged - generate components
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
Due: ./py/venv/bin/flake8

feat: Add closable prop to side panel (#1315)
  py/examples/meta_dialog_closable.py
  py/examples/meta_side_panel_closable.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/dialog.tsx
  ui/src/side_panel.test.tsx
  ui/src/side_panel.tsx
  website/docs/examples/assets/meta-dialog-closable.png
  website/docs/examples/assets/meta-side-panel-closable.png
  website/docs/examples/assets/meta-side-panel.png
  website/static/img/widgets/side_panel.gif
  website/widgets/overlays/side_panel.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Upgrade g2. Fix minor bugs along. #805
  ui/package-lock.json
  ui/package.json
  ui/src/plot.tsx
Due: none

feat: Upgrade g2. Fix minor bugs along. #805 (#1316)
  ui/package-lock.json
  ui/package.json
  ui/src/plot.tsx
Due: none

fix: Remove header/sidebar primary color saturation. #1257
  py/examples/header.py
  ui/src/header.tsx
  ui/src/index.scss
  ui/src/nav.tsx
  ui/src/theme.ts
  website/widgets/content/header.md
  website/widgets/content/navigation.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Add missing comma in VSC extension utils + formatting.
  tools/vscode-extension/server/utils.py
Due: ./py/venv/bin/flake8

revert: Allow nav value to be adjustable as in 0.19.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8
