Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: correctly display selected day in datepicker #1098
  ui/src/date_picker.tsx
Due: none

fix: Blog post image preview URL.
  website/blog/2020-10-28-release.md
  website/blog/2021-01-17-release.md
  website/blog/2021-02-12-release.md
  website/blog/2021-03-08-ml-release.md
  website/blog/2021-04-28-R-release.md
  website/blog/2021-04-28-release.md
  website/blog/2021-05-07-release.md
  website/blog/2021-05-27-release.md
  website/blog/2021-06-15-ml-release.md
  website/blog/2021-09-13-community-content.md
  website/blog/2021-11-05-release.md
  website/blog/2021-11-10-community-content.md
  website/static/img/wave-type-yellow-1100x400.png
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Initial impl #1118
  py/examples/nav.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/header.tsx
  ui/src/layout.tsx
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8

feat: Add height attr to profile card.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/profile.tsx
Due: ./py/venv/bin/flake8

fix: Respect UTC time when selecting date using ui.datepicker #1098 (#1123)
  ui/src/date_picker.tsx
Due: none

ci: Allow triggering nightly manually on demand
  .github/workflows/release-wave-nightly.yml
Due: none

feat: finish impl #1118
  py/examples/header.py
  py/examples/nav.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/index.scss
  ui/src/layout.tsx
  ui/src/nav.tsx
  ui/src/persona.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

chore: Remove theming from example #1118
  py/examples/nav.py
Due: ./py/venv/bin/flake8

feat: Add width attr to ui.links #1119
  py/examples/footer.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
  ui/src/link.tsx
Due: ./py/venv/bin/flake8

feat: Make footer marginless #1119
  ui/src/footer.tsx
Due: none

feat: add postcard component #1069
  py/examples/postcard.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/card_menu.tsx
  ui/src/cards.tsx
  ui/src/postcard.test.tsx
  ui/src/postcard.tsx
  ui/src/vega.tsx
  website/docs/examples/assets/postcard.png
Due: ./py/venv/bin/flake8

feat: Constrain logo image to 100px #1118
  ui/src/nav.tsx
Due: none

chore: clean up #1069
  ui/src/postcard.tsx
Due: none

feat: Postcard card #1069 (#1128)
  py/examples/postcard.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/card_menu.tsx
  ui/src/cards.tsx
  ui/src/postcard.test.tsx
  ui/src/postcard.tsx
  ui/src/vega.tsx
  website/docs/examples/assets/postcard.png
Due: ./py/venv/bin/flake8

fix: CSS style leak #1069
  ui/src/postcard.tsx
Due: none

fix: make tall / wide info cards clickable based on name parameter #1117
  ui/src/tall_info.tsx
  ui/src/wide_info.tsx
Due: none

feat: Footer improvements #1119 (#1122)
  py/examples/footer.py
  py/examples/link.py
  py/examples/links.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/defs.ts
  ui/src/footer.tsx
  ui/src/form.tsx
  ui/src/link.tsx
  website/docs/examples/assets/footer.png
  website/docs/examples/assets/links.png
Due: ./py/venv/bin/flake8

fix tests and card onClick binding logic
  ui/src/tall_info.test.tsx
  ui/src/tall_info.tsx
Due: none

fix: icon within primary color card #1118
  ui/src/layout.tsx
Due: none

feat: Sidebar improvements. (#1129)
  py/examples/header.py
  py/examples/nav.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/header.tsx
  ui/src/index.scss
  ui/src/layout.tsx
  ui/src/nav.tsx
  ui/src/persona.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

add missing tests and fixes for wide_info
  ui/src/tall_info.test.tsx
  ui/src/tall_info.tsx
  ui/src/wide_info.test.tsx
  ui/src/wide_info.tsx
Due: none

Update ui/src/tall_info.test.tsx
  ui/src/tall_info.test.tsx
Due: none

Update ui/src/wide_info.test.tsx
  ui/src/wide_info.test.tsx
Due: none

improve docstrings for name prop
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/tall_info.tsx
Due: ./py/venv/bin/flake8

feat: Allow info cards to not be clickable #1117 (#1131)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/tall_info.test.tsx
  ui/src/tall_info.tsx
  ui/src/wide_info.test.tsx
  ui/src/wide_info.tsx
Due: ./py/venv/bin/flake8

feat: add preview card #1071
  py/examples/preview.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/preview.test.tsx
  ui/src/preview.tsx
  website/docs/examples/assets/preview-card.png
Due: ./py/venv/bin/flake8

feat: Add preview card #1071 (#1130)
  py/examples/preview.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/preview.test.tsx
  ui/src/preview.tsx
  website/docs/examples/assets/preview-card.png
Due: ./py/venv/bin/flake8

fix: Correct card name and screenshot #1071
  website/docs/examples/assets/preview-card.png
  website/docs/examples/assets/preview.png
Due: none

feat: set theme to scrollbar #1120
  ui/src/index.scss
Due: none

feat: add value prop to facepile #1133
  py/examples/facepile.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/facepile.test.tsx
  ui/src/facepile.tsx
Due: ./py/venv/bin/flake8

fix firefox scrollbars
  ui/src/index.scss
Due: none

Update ui/src/facepile.tsx
  ui/src/facepile.tsx
Due: none

add separate facepile example for value prop
  py/examples/facepile.py
Due: ./py/venv/bin/flake8

feat: Make scrollbars themable #1120 (#1140)
  ui/src/index.scss
Due: none

Update py/examples/facepile.py
  py/examples/facepile.py
Due: ./py/venv/bin/flake8

feat: Add value prop to facepile #1133 (#1141)
  py/examples/facepile.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/facepile.test.tsx
  ui/src/facepile.tsx
Due: ./py/venv/bin/flake8

feat: generated docs showcase #699
  Makefile
  tools/showcase/.gitignore
  tools/showcase/Makefile
  tools/showcase/cards/tall_stat.md
  tools/showcase/components/button.md
  tools/showcase/requirements.txt
  tools/showcase/showcase.py
  website/.gitignore
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: initial button showcase page #699
  tools/showcase/Makefile
  tools/showcase/showcase/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add plot docs, Bokeh needs to be done yet. #699
  tools/showcase/showcase.py
  tools/showcase/showcase/plots/altair.md
  tools/showcase/showcase/plots/area.md
  tools/showcase/showcase/plots/bokeh.md
  tools/showcase/showcase/plots/d3.md
  tools/showcase/showcase/plots/interval.md
  tools/showcase/showcase/plots/line.md
  tools/showcase/showcase/plots/matplotlib.md
  tools/showcase/showcase/plots/path.md
  tools/showcase/showcase/plots/plotly.md
  tools/showcase/showcase/plots/point.md
  tools/showcase/showcase/plots/vegalite.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Merge cards and components into a single Showcase #699
  tools/showcase/Makefile
  tools/showcase/showcase.py
  tools/showcase/showcase/button.md
  tools/showcase/showcase/tall_stat.md
  website/.gitignore
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
