Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: mui timepicker props cleanup
  ui/src/time_picker.tsx
Due: none

fix: corrected theming
  ui/src/time_picker.tsx
Due: none

fix: dialog keeps opening after selection
  ui/src/time_picker.tsx
Due: none

feat: add placeholder, updated API descriptions
  py/examples/time_picker.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/time_picker.tsx
Due: ./py/venv/bin/flake8

chore: additional test cases
  ui/src/time_picker.test.tsx
Due: none

chore: additional test cases, mui theme temporarily disabled
  ui/src/time_picker.test.tsx
  ui/src/time_picker.tsx
Due: none

chore: add data-test attributes to timepicker component
  ui/src/time_picker.tsx
Due: none

chore: added exhaustive amount of test cases
  ui/src/time_picker.test.tsx
Due: none

chore: add test cases for timepicker component using async calls
  ui/src/time_picker.test.tsx
Due: none

feat: add styling to lazy load placeholder
  ui/src/time_picker.tsx
Due: none

chore: add type to AdapterDateFns
  ui/src/time_picker.tsx
Due: none

feat: add mintues_step, remove manual input support, refactor
  py/examples/time_picker.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/time_picker.tsx
Due: ./py/venv/bin/flake8

chore: updated time_picker docs
  py/examples/time_picker.py
  website/widgets/form/time_picker.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: correct broken test cases
  ui/src/time_picker.test.tsx
Due: none

chore: add type to Theme
  ui/src/time_picker.tsx
Due: none

feat: ui.time_picker initial implementation
  py/examples/time_picker.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/package-lock.json
  ui/package.json
  ui/src/time_picker.tsx
Due: ./py/venv/bin/flake8

feat: add complete mui lazyload support, fix 12 hours time format conversion
  ui/src/time_picker.tsx
Due: none

chore: TimePicker refactor
  ui/src/time_picker.tsx
Due: none

chore: merged hooks, fixed API decsription, refactor
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/time_picker.tsx
Due: ./py/venv/bin/flake8

chore: general refactor
  py/examples/date_picker.py
  ui/src/time_picker.tsx
  website/sidebars.js
Due: ./py/venv/bin/flake8

chore: updated image
  py/examples/time_picker_themes.py
  website/docs/examples/assets/time-picker.png
Due: ./py/venv/bin/flake8

fix: make popover shadow themable
  ui/src/time_picker.tsx
Due: none

feat: updated api, docs, tests, example
  py/examples/time_picker.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/time_picker.test.tsx
  ui/src/time_picker.tsx
  website/widgets/form/time_picker.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: updated date formatting lib, changed API, updated tests, docs
  py/examples/time_picker.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/time_picker.test.tsx
  ui/src/time_picker.tsx
  website/widgets/form/time_picker.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: updated package-lock.json
  ui/package-lock.json
Due: none

fix: updated failing test case
  py/examples/time_picker.py
  ui/src/time_picker.test.tsx
Due: ./py/venv/bin/flake8

feat: change time format api, updated examples, docs, tests
  py/examples/time_picker.py
  py/examples/time_picker_themes.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/time_picker.test.tsx
  ui/src/time_picker.tsx
  website/widgets/form/time_picker.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: cleared unwanted changelogs
  py/examples/date_picker.py
Due: ./py/venv/bin/flake8

chore: fixed type for format function
  ui/src/time_picker.tsx
Due: none

chore: extended form example with time_picker, add docs link to overview.md, updated tests, refactor
  py/examples/form.py
  py/examples/time_picker.py
  ui/src/time_picker.test.tsx
  ui/src/time_picker.tsx
  website/widgets/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: make value, min, max api values and return value to be only in 24-hour time format
  py/examples/time_picker.py
  py/examples/time_picker_themes.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/time_picker.test.tsx
  ui/src/time_picker.tsx
Due: ./py/venv/bin/flake8

chore: moved mui theme and AdapterDateFns imports into custom hooks
  ui/src/time_picker.tsx
Due: none

chore: added new test cases
  ui/src/time_picker.test.tsx
Due: none

chore: add contrast color for selected hours and minutes text
  ui/src/time_picker.tsx
Due: none

chore: refactor, improved code readability
  ui/src/time_picker.tsx
Due: none

fix: make component react on dynamic theme changes, general refactor
  ui/src/time_picker.tsx
Due: none

chore: updated test cases
  ui/src/time_picker.test.tsx
Due: none

chore: updated time format api, refactor, make shadows themable
  py/examples/time_picker.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/time_picker.test.tsx
  ui/src/time_picker.tsx
Due: ./py/venv/bin/flake8

chore: reduced build bundle size
  ui/src/time_picker.tsx
Due: none

chore: Small refactor. #1537
  ui/src/time_picker.tsx
Due: none
