Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: Add readme as part of initial template.
  py/h2o_wave/cli.py
  py/project_templates/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add H2O theming to wave init cli.
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

docs: Mention project templates during installation.
  website/docs/installation.mdx
Due: none

feat: Wave init CLI - app templates #225 (#1636)
  py/h2o_wave/cli.py
  py/project_templates/README.md
  py/project_templates/header.py
  py/project_templates/header_nav.py
  py/project_templates/header_sidebar_nav.py
  py/project_templates/hello_world.py
  py/project_templates/sidebar_nav.py
  py/setup.py
  tools/intellij-plugin/src/main/resources/templates/wave-blocks.xml
  tools/vscode-extension/base-snippets.json
  website/docs/installation.mdx
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Typo #1597
  py/examples/image_annotator.py
Due: ./py/venv/bin/flake8

chore: Minor refactor. #1597
  ui/src/image_annotator.tsx
Due: none

chore: Minor refactor. #1597
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator_polygon.ts
Due: none

feat: Polygon support for image annotator #1597 (#1643)
  .vscode/launch.json
  py/examples/image_annotator.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
  ui/src/setupTests.ts
  ui/src/theme.ts
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix typo
  py/examples/tall_article_preview.py
Due: ./py/venv/bin/flake8

Chore: Fix typo (#1685)
  py/examples/tall_article_preview.py
Due: ./py/venv/bin/flake8

ci: Use NodeJS 16.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Use NodeJS 16 in nightly.
  .github/workflows/release-wave-nightly.yml
Due: none

row-ordered masonry layout, non-responsive height #1599
  ui/src/image_grid.tsx
Due: none

[DOCS] Conda install
  py/README.md
  website/docs/installation.mdx
  website/docs/tutorial-hello.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add append conda-forge channel when using conda due to some dependencies not being present in default conda channel. (#1686)
  py/README.md
  website/docs/installation.mdx
  website/docs/tutorial-hello.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Prefix py build env variables to prevent clashes.
  py/Makefile
  py/setup.py
Due: ./py/venv/bin/flake8

chore: Add inquirer among conda build dependencies.
  py/conda/meta.yaml
Due: none

docs: Add a note about starting the Wave app on different port.
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Do not start Wave server via wave run if --no-autostart is specified.
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

fix: Use relative links in Wave university to account for base URL.
  university/lessons/lesson10.py
  university/lessons/lesson12.py
  university/lessons/lesson6.py
Due: ./py/venv/bin/flake8

chore: Prefix UI assets folder to prevent clash with public/private dirs option.
  ui/vite.config.js
Due: none

row-ordered masonry layout with unregular image sizes, fixed column count #1599
  py/examples/image_grid_responsive.py
  ui/src/image_grid.tsx
Due: ./py/venv/bin/flake8

chore: Add pyenv configuration (set to 3.7.15)
  .python-version
Due: none

fix: Don't access id_token if oauth2 workflow previously failed (fixes panic)
  auth.go
Due: golint -set_exit_status

row-ordered masonry layout with unregular image sizes, variable column count #1599
  ui/src/image_grid.tsx
Due: none

fix: Don't access id_token if oauth2 workflow previously failed (fixes panic) (#1690)
  auth.go
Due: golint -set_exit_status

add random colors to example, added todos #1599
  py/examples/image_grid_responsive.py
  ui/src/image_grid.tsx
Due: ./py/venv/bin/flake8

add path_popup prop into ui.image #1691
  py/examples/image.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image.tsx
  ui/src/parts/lightbox.tsx
  website/widgets/form/image.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: updated api, removed deprecated test case, refactoring, updated docs and example #1691
  py/examples/image.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/image.test.tsx
  ui/src/image.tsx
  ui/src/parts/lightbox.tsx
  website/widgets/content/image.md
  website/widgets/form/image.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: add dismiss popup on click outside of the image, updated docs, refactor #1691
  ui/src/image.test.tsx
  ui/src/image.tsx
  ui/src/parts/lightbox.tsx
  website/static/img/widgets/image_popup.gif
  website/widgets/content/image.md
  website/widgets/form/image.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: updated tour examples #1691
  py/examples/image.py
  py/examples/image_popup.py
  py/examples/tour.conf
  ui/src/image.tsx
Due: ./py/venv/bin/flake8

chore: add example screenshot #1691
  website/docs/examples/assets/image-popup.png
Due: none

feat: allow adjustable height of copyable text
  py/examples/copyable_text.py
  ui/src/copyable_text.tsx
  website/widgets/form/copyable_text.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: match spectrum color to card contrast ratio with primary to card contrast ratio #1688
  py/examples/table_issue.py
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

feat: set spectrum color to card contrast ratio to 4.5:1 #1688
  ui/src/theme.ts
Due: none

feat: Cancel polygon annotating on Esc press.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

fix: Do not persist unfinished polygon annotation during tool changes.
  ui/src/image_annotator.tsx
Due: none

feat: Allow direct aux point dragging, even without clicking it first.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
Due: none

feat: Allow removing polygon points with right-click.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
Due: none

chore: Remove the new Array.at usage until proper polyfill is supplied.
  ui/src/image_annotator_polygon.ts
Due: none
