Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: upgrade typestyle from 2.1.0 to 2.4.0
  ui/package-lock.json
  ui/package.json
Due: none

feat: Limit maximum textbox width in chatbot.
  ui/src/chatbot.tsx
Due: none

chore: Add extra spacing to nav card only when necessary.
  ui/src/nav.tsx
Due: none

chore: Release v0.26.1
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  ui/package.json
Due: ./py/venv/bin/flake8

ci: Use proper vsix file when releasing VSC extension.
  tools/vscode-extension/Makefile
  tools/vscode-extension/package.json
Due: none

chore: Fix typo.
  tools/vscode-extension/Makefile
Due: none

chore: Bump vsc extension version.
  tools/vscode-extension/package.json
Due: none

perf: Make VSCode extension bundle 5 times smaller.
  tools/vscode-extension/Makefile
Due: none

Tabs added to Doc
  py/showcase/showcase1.py
  py/showcase/showcase2.py
  py/showcase/showcase3.py
  tools/showcase/Makefile
  website/docs/guide.md
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/tutorial-beer.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-hello.mdx
  website/docs/tutorial-monitor.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Update readme.
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Add live demos links to README.
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Remove redundant live example from README.
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Remove code highlight flicker during streaming. Closes #2064
  ui/src/markdown.tsx
Due: none

edits and changes
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/scripts.md
  website/docs/tutorial-hello.mdx
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Remove ending markdown backticks in examples - clashing with Docusaurus.
  py/examples/markdown.py
  py/examples/markdown_code_theme.py
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

docs: Remove unnecessary migration docs + unmaintained channgelog.
  website/docs/change-log.md
  website/docs/migrating-0-8.md
  website/docs/migrating-0.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

Delete showcase1.py
  py/showcase/showcase1.py
Due: ./py/venv/bin/flake8

fix: Prevent code syntax flicker during streaming. Closes #2064
  ui/src/index.scss
  ui/src/markdown.tsx
Due: none

Resolving conversation
  py/showcase/showcase2.py
  py/showcase/showcase3.py
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/tutorial-hello.mdx
Due: ./py/venv/bin/flake8

Resolving
  tools/showcase/Makefile
Due: none

last commit
  tools/showcase/Makefile
Due: none

docs: Minor refactor.
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/tutorial-hello.mdx
Due: none

docs: Add tabs to docs where possible #1785 (#2065)
  website/docs/guide.md
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/scripts.md
  website/docs/tutorial-beer.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-hello.mdx
  website/docs/tutorial-monitor.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

ci: Do not build nightly if no new changes since the last run.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Rename output variable in nightly job.
  .github/workflows/release-wave-nightly.yml
Due: none

docs: Update tutorials and installation instructions.
  website/docs/_start_q.md
  website/docs/installation-8-20.mdx
  website/docs/installation.mdx
  website/docs/scripts.md
  website/docs/tutorial-beer.md
  website/docs/tutorial-counter.md
  website/docs/tutorial-hello.mdx
  website/docs/tutorial-monitor.md
  website/docs/tutorial-todo.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

ci: Try removing extra expression syntax in if.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Use GH_OUTPUT var.
  .github/workflows/release-wave-nightly.yml
Due: none

ci: Use GITHUB_OUTPUTS instead of GITHUB_ENV to properly skip nightly builds if necessary.
  .github/workflows/release-wave-nightly.yml
Due: none

feat: Allow excluding files/dirs from being watched during app reload.
  py/h2o_wave/h2o_wave/cli.py
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Allow excluding files/dirs from being watched during app reload. (#2070)
  py/h2o_wave/h2o_wave/cli.py
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Migrate h2o-wave Pypi build to hatch. #2071
  py/Makefile
  py/h2o_wave/Makefile
  py/h2o_wave/build_hook.py
  py/h2o_wave/pyproject.toml
  py/h2o_wave/setup.py
Due: ./py/venv/bin/flake8

docs: Update PyPi readme. #2071
  py/h2o_wave/README.rst
Due: none

chore: Remove setup.py for lightwave in favor of pyproject with hatch. #2071
  py/h2o_lightwave/hatch_build.py
  py/h2o_lightwave/pyproject.toml
  py/h2o_lightwave/setup.py
Due: ./py/venv/bin/flake8

chore: Remove setup.py for lightwave_web in favor of pyproject with hatch. #2071
  py/h2o_lightwave_web/LICENSE
  py/h2o_lightwave_web/MANIFEST.in
  py/h2o_lightwave_web/hatch_build.py
  py/h2o_lightwave_web/pyproject.toml
  py/h2o_lightwave_web/setup.py
Due: ./py/venv/bin/flake8

chore: Initial hatch build for pypi Wave university. #2071
  Makefile
  py/h2o_wave/hatch_build.py
  py/h2o_wave/pyproject.toml
  university/LICENSE
  university/Makefile
  university/h2o_wave_university/version.py
  university/hatch_build.py
  university/pyproject.toml
Due: ./py/venv/bin/flake8

feat: Finalize university hatch build. #2071
  .vscode/launch.json
  university/pyproject.toml
  university/setup.py
Due: ./py/venv/bin/flake8

chore: Update makefiles. #2071
  py/Makefile
  py/h2o_lightwave/Makefile
  py/h2o_lightwave_web/Makefile
Due: none

feat: Make h2o-lightwave-web an optional dep. #2071
  py/h2o_lightwave/hatch_build.py
  py/h2o_lightwave/pyproject.toml
Due: ./py/venv/bin/flake8

chore: Forgotten rename. #2071
  py/Makefile
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
