Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Prevent recursive render() while rendering responsive layout. Fixes #385
  ui/src/page.tsx
Due: none

fix: Update async site example. Fixes #453
  py/examples/site_async.py
Due: ./py/venv/bin/flake8

feat: remove the tag #422
  py/examples/plot_interval_labels.py
  py/examples/plot_line_labels.py
  py/examples/plot_line_labels_no_overlap.py
  py/examples/plot_line_labels_stroked.py
Due: ./py/venv/bin/flake8

feat: fix table.py example #422
  py/examples/table.py
Due: ./py/venv/bin/flake8

bug: API section of the docs has mismatched sidebar and index items
  py/h2o_wave/__init__.py
  website/sidebars.js
Due: ./py/venv/bin/flake8

fix: preserve original siderbar order. add ui_ext
  py/h2o_wave/__init__.py
  website/sidebars.js
Due: ./py/venv/bin/flake8

docs: Exclude API of WIP modules from docs website (#456)
  py/h2o_wave/__init__.py
  website/sidebars.js
Due: ./py/venv/bin/flake8

docs: Fix header card docstrings
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/header.tsx
Due: ./py/venv/bin/flake8

make tour.py examples popen use current system encoding settings
  py/examples/tour.py
Due: ./py/venv/bin/flake8

docs: Fix example for ui.expander()
  py/examples/form.py
Due: ./py/venv/bin/flake8

feat: Add footer_card for footers #317
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/footer.tsx
Due: ./py/venv/bin/flake8

feat: Allow titles on form cards #317
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

fix: Ensure that the expander's children have consistent spacing #317
  ui/src/expander.tsx
Due: none

fix: Remove default background for slots Ensure that transparent cards appear transparent!
  ui/src/layout.tsx
Due: none

chore: Remove unnecessary semicolons
  ui/src/form.tsx
Due: none

feat: Add stats/stat components for displaying metrics #317
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
  ui/src/stats.tsx
Due: ./py/venv/bin/flake8

docs: Fix docs for ui.buttons()
  ui/src/button.tsx
Due: none

feat: Add justification options to stats inside a form card. #317
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/stats.tsx
Due: ./py/venv/bin/flake8

ci: removed v from release assets name
  .github/workflows/release.yml
Due: none

fix(examples): remove faker from dashboard example
  py/examples/dashboard.py
Due: ./py/venv/bin/flake8

Update file name to run in doc tutorial-monitor
  docs/docs/tutorial-monitor/index.html
Due: none

feat: Add section_card to demarcate sections #317
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/section.tsx
Due: ./py/venv/bin/flake8

docs: Fix typo in system monitor tutorial - via @angelosaleh
  website/docs/tutorial-monitor.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add stat_list_card to display a list of stats #317
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/stat_list.tsx
Due: ./py/venv/bin/flake8

feat: Add icons to stat lists #317
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/stats.tsx
Due: ./py/venv/bin/flake8

fix(examples): update async site example
  py/examples/site_async.py
Due: ./py/venv/bin/flake8

fix: Interpret color variables in plot color ranges
  ui/src/plot.tsx
Due: none

fix: Interpret color variables in shape/text fill/stroke
  ui/src/plot.tsx
Due: none

feat: Add icon_color to stat list items #371
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/stat_list.tsx
Due: ./py/venv/bin/flake8

docs: Fix description for stat_list_card
  ui/src/stat_list.tsx
Due: none

feat: Add stat_table_card to display tables of stats #317
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/stat_table.tsx
Due: ./py/venv/bin/flake8

feat: Make stat table scrollable independent of containing card #371
  ui/src/stat_table.tsx
Due: none

feat: Make stat list and table items optionally clickable #317
  ui/src/qd.ts
  ui/src/stat_list.tsx
  ui/src/stat_table.tsx
Due: none

ci: publish wave to Conda
  .github/workflows/release.yml
  py/conda/build.sh
  py/conda/conda_build_config.yaml
  py/conda/meta.yaml
Due: none

ci: remove unwanted change
  py/conda/meta.yaml
Due: none

ci: remove defaults
  .github/workflows/release.yml
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
