Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: add unpackByIdx fn - broken version
  py/examples/plot_issue_buffers.py
  ts/index.ts
  ui/src/plot.tsx
  ui/vite.config.js
Due: ./py/venv/bin/flake8

fix: do not reset table when items change in paginated table
  py/examples/table_pagination.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

blog: Add a link to released Lightwave blog post.
  website/blog/2023-02-28-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: update items on page change
  py/examples/table_pagination.py
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

feat: Make Tour, Studio and University apps work on older Safari versions as well (13).
  py/examples/tour-assets/loader.min.js
  py/examples/tour-assets/monaco/base/browser/ui/codicons/codicon/codicon.ttf
  py/examples/tour-assets/monaco/base/worker/workerMain.js
  py/examples/tour-assets/monaco/basic-languages/python/python.js
  py/examples/tour-assets/monaco/editor/editor.main.css
  py/examples/tour-assets/monaco/editor/editor.main.js
  py/examples/tour-assets/monaco/editor/editor.main.nls.js
  studio/static/loader.min.js
  studio/static/monaco/base/browser/ui/codicons/codicon/codicon.ttf
  studio/static/monaco/base/worker/workerMain.js
  studio/static/monaco/basic-languages/python/python.js
  studio/static/monaco/editor/editor.main.css
  studio/static/monaco/editor/editor.main.js
  studio/static/monaco/editor/editor.main.nls.js
  university/h2o_wave_university/static/loader.min.js
  university/h2o_wave_university/static/monaco/base/browser/ui/codicons/codicon/codicon.ttf
  university/h2o_wave_university/static/monaco/base/worker/workerMain.js
  university/h2o_wave_university/static/monaco/basic-languages/python/python.js
  university/h2o_wave_university/static/monaco/editor/editor.main.css
  university/h2o_wave_university/static/monaco/editor/editor.main.js
  university/h2o_wave_university/static/monaco/editor/editor.main.nls.js
Due: none

chore: Make image annotator rects selectable even if drawn from bottom right to top left.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator_rect.ts
Due: none

chore: Add a test TODO.
  ui/src/table.test.tsx
Due: none

fix: Prevent table reset on items change for paginated table. #1724 (#1861)
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

chore: Typo in side panel closable example.
  py/examples/meta_side_panel_closable.py
Due: ./py/venv/bin/flake8

chore: Use correct vsc_extension path in Tour to get the proper autocomplete.
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: Remove forgotten print.
  py/examples/tour.py
Due: ./py/venv/bin/flake8

Revert "feat: Make Tour, Studio and University apps work on older Safari versions as well (13)."
  py/examples/tour-assets/loader.min.js
  py/examples/tour-assets/monaco/base/browser/ui/codicons/codicon/codicon.ttf
  py/examples/tour-assets/monaco/base/worker/workerMain.js
  py/examples/tour-assets/monaco/basic-languages/python/python.js
  py/examples/tour-assets/monaco/editor/editor.main.css
  py/examples/tour-assets/monaco/editor/editor.main.js
  py/examples/tour-assets/monaco/editor/editor.main.nls.js
  studio/static/loader.min.js
  studio/static/monaco/base/browser/ui/codicons/codicon/codicon.ttf
  studio/static/monaco/base/worker/workerMain.js
  studio/static/monaco/basic-languages/python/python.js
  studio/static/monaco/editor/editor.main.css
  studio/static/monaco/editor/editor.main.js
  studio/static/monaco/editor/editor.main.nls.js
  university/h2o_wave_university/static/loader.min.js
  university/h2o_wave_university/static/monaco/base/browser/ui/codicons/codicon/codicon.ttf
  university/h2o_wave_university/static/monaco/base/worker/workerMain.js
  university/h2o_wave_university/static/monaco/basic-languages/python/python.js
  university/h2o_wave_university/static/monaco/editor/editor.main.css
  university/h2o_wave_university/static/monaco/editor/editor.main.js
  university/h2o_wave_university/static/monaco/editor/editor.main.nls.js
Due: none

fix: cannot open time picker
  ui/src/time_picker.tsx
Due: none

regression: Allow opening time picker when multiple are present. (#1864)
  ui/src/time_picker.tsx
Due: none

chore: Release v0.25.0
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
Due: ./py/venv/bin/flake8

ci: Use correct path for py API docs.
  py/h2o_wave/h2o_wave/__init__.py
Due: ./py/venv/bin/flake8

ci: Bump NodeJS version.
  .nvmrc
Due: none

ci: Adjust Conda publish to the new py structure.
  .github/workflows/release-wave.yml
  py/h2o_wave/conda/conda_build_config.yaml
  py/h2o_wave/conda/meta.yaml
Due: none

ci: Increase Node memory limit for lightwave publish.
  .github/workflows/publish-lightwave.yml
Due: none

docs: Include Lightwave blog post and integration examples within the README.
  py/h2o_lightwave/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add EC2 deployment blog post link.
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: live reload linked dependencies
  ts/package.json
  ui/vite.config.js
Due: none

chore: add watch mode option for build ts into package.json
  ts/package.json
  ui/vite.config.js
Due: none

feat: Allow by-name component access. #148
  ts/index.ts
Due: none

chore: add tooltip support for packed data, add support for columns
  py/examples/plot_issue_buffers.py
  ts/index.ts
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

docs: Make ui.menu docs correct. Image, label and icon are not mutually exclusive.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/menu.tsx
  website/widgets/form/menu.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Document separate machines deployment.
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Forward HTTP headers to the Wave app. #1704 (#1770)
  app.go
  client.go
  cmd/wave/main.go
  conf.go
  py/h2o_wave/h2o_wave/server.py
  server.go
  socket.go
  web_server.go
  website/docs/configuration.md
  website/docs/security.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Add purge targets for py build.
  py/Makefile
  py/h2o_lightwave/Makefile
  py/h2o_lightwave_web/Makefile
  py/h2o_wave/Makefile
Due: none

chore: Build h2o-wave npm package as ESM instead of Cjs since vite supports ESM only.
  Makefile
  ts/dev.tsconfig.json
  ts/package.json
  ui/vite.config.js
Due: none

feat: Make the popup of ui.time_picker visible over the side panel #1833 (#1839)
  ui/src/dialog.tsx
  ui/src/notification_bar.tsx
  ui/src/side_panel.tsx
  ui/src/time_picker.tsx
Due: none

fix: Display only the plot data inside the plot tooltip #1836 (#1841)
  ui/src/plot.tsx
Due: none

ci: Adjust python build to new dir structure.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  py/Makefile
  py/h2o_wave/Makefile
Due: none

test: Trigger snyk pipeline to check for err.
  py/examples/requirements.txt
Due: none

chore: Fix PyPI dev status classifier
  py/h2o_lightwave/setup.py
  py/h2o_lightwave_web/setup.py
Due: ./py/venv/bin/flake8

test: Trigger snyk pipeline.
  py/examples/requirements.txt
Due: none

chore: Trigger snyk scan on PR update to verify the changes.
  .github/workflows/snyk-scan.yml
Due: none

chore: Trigger snyk scan.
  py/examples/requirements.txt
Due: none
