Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

ci: Increase NodeJS memory limit.
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave.yml
Due: none

fix: disable Select/Deselect all buttons when ui.dropdown is disabled #1821
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: none

chore: check if dropdown initial values are correct in disabled dropdown tests #1821
  ui/src/dropdown.test.tsx
Due: none

fix: Disable Select/Deselect all buttons when ui.dropdown is disabled #1821 (#1822)
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: none

chore: Refactor. #1596
  ui/src/image_annotator.tsx
  ui/src/image_annotator_rect.ts
Due: none

chore: Refactor. #1596
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: update api description #1780
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

fix: define height for regression tests images, make screenshot of the widget element instead of the form element if there is only 1 widget in the form #1780
  tools/showcase/showcase.py
Due: ./py/venv/bin/flake8

feat: make ui.inline height adjustable #1780
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

chore: refactor regexp #1780
  ui/src/form.tsx
Due: none

chore: update docs #1780
  website/widgets/form/inline.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: update API description for height param #1780
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

docs: Minor changes. #1780
  website/widgets/form/inline.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

perf: Do manual deep copy in favor of JSON.stringify to allow for v8 runtime optimizations if any. #1596
  ui/src/image_annotator.tsx
Due: none

fix: Do not recalculate with aspect ratio during deep copy. #1596
  ui/src/image_annotator.tsx
Due: none

feat: Keyboard shortcuts for ui.image_annotator #1596 (#1795)
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
  website/docs/examples/assets/image-annotator.png
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Improve deployment instructions. #1
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Improve deployment instructions. #1807 (#1808)
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Make instructions around importing main clear. Closes #1804.
  website/docs/apps.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Use proper encoding when writing to files in Wave university to avoid Windows errors.
  studio/studio.py
  university/h2o_wave_university/university.py
Due: ./py/venv/bin/flake8

chore: Include Discord badge within README.
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Prefix CSS vars to prevent global namespace pollution. Closes #1812
  ui/src/index.scss
  ui/src/large_bar_stat.tsx
  ui/src/large_stat.tsx
  ui/src/stepper.tsx
  ui/src/tall_gauge_stat.tsx
  ui/src/tall_series_stat.tsx
  ui/src/theme.test.tsx
  ui/src/theme.ts
  website/docs/color-theming.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow specifying height for ui.inline #1780 (#1820)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/showcase/showcase.py
  tools/vscode-extension/component-snippets.json
  ui/src/form.tsx
  website/widgets/form/inline.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: do not trigger useEffect for dynamic change of the dropdown value after manual change is done #1815
  ui/src/dropdown.tsx
Due: none

chore: Use regular <img> tag for image annotator impl to allow HTTP image streaming.
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  ui/src/image_annotator_polygon.ts
  ui/src/image_annotator_rect.ts
Due: none

chore: Proxy multipart stream during dev.
  ui/vite.config.js
Due: none

feat: Allow dynamic changes for image_annotator items (annotations).
  ui/src/image_annotator.tsx
Due: none

chore: Update dev setup required tooling version.
  .github/CONTRIBUTING.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add direction attribute to ui.inline. #1780
  py/examples/inline.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/package.json
  ui/src/form.tsx
  ui/src/message_bar.tsx
  ui/src/section.tsx
  website/widgets/form/inline.md
  website/widgets/form/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add direction attribute to ui.inline. #1780 (#1828)
  py/examples/inline.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/package.json
  ui/src/form.tsx
  ui/src/message_bar.tsx
  ui/src/section.tsx
  website/widgets/form/inline.md
  website/widgets/form/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Do not break reference for dropdown model, run push after useEffect. #1815
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: none

test: Check if value can be set multiple times to the same value. #1815
  ui/src/dropdown.test.tsx
Due: none

chore: Use proper JSDOM during jest debug. #1815
  .vscode/launch.json
Due: none

test: Fix wrong copy paste. #1815
  ui/src/dropdown.test.tsx
Due: none

fix: Mutate page state properly during dropdown interaction (q.args). (#1838)
  .vscode/launch.json
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: none

chore: Do not bundle unnecessary build artifacts during apps build - reduce final bundle size.
  Makefile
  studio/Makefile
  university/Makefile
Due: none

fix: Do not prevent app from startup if --no-autostart is specified during wave run command.
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

fix: Use proper host when starting up the Wave app.
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

fix: Use proper host when starting up the Wave app via `wave run`. (#1843)
  py/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

ci: Do not use preinstalled NodeJS version, but setup our own.
  .github/workflows/release-wave-nightly.yml
  package-lock.json
  ui/.nvmrc
Due: none
