Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

docs: Add a few notes about CSP.
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: remove duplicate python server test
  py/tests/test_python_server.py
Due: ./py/venv/bin/flake8

Create combined-docs-md-ci.yml
  .github/workflows/combined-docs-md-ci.yml
Due: none

Update combined-docs-md-ci.yml
  .github/workflows/combined-docs-md-ci.yml
Due: none

chore: Remove duplicate python server test (#2461)
  py/tests/test_python_server.py
Due: ./py/venv/bin/flake8

test changes
  website/blog/2020-10-28-release.md
  website/blog/2021-11-05-release.md
  website/blog/2022-01-30-release.md
  website/blog/2023-10-09-release.md
  website/docs/configuration.md
  website/docs/contributing.md
  website/docs/deployment.md
  website/docs/development.md
  website/docs/files.md
  website/docs/layout.md
  website/docs/security.md
  website/docs/tutorial-hello.mdx
  website/docs/wavedb.md
  website/docusaurus.config.js
  website/generate_examples.sh
  website/package-lock.json
  website/package.json
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

security: Make session cookie httpOnly to not be accessible from client JS.
  auth.go
Due: golint -set_exit_status

security: Allow setting stricter CSP. (#2460)
  tools/showcase/showcase.py
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/src/index.tsx
  ui/src/intl.ts
  ui/src/plot.tsx
  web_server.go
  website/docs/security.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Release v1.7.0
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Account for s3 release bucket transfer under shared services account.
  .github/workflows/release-wave.yml
Due: none

fix: Use proper parentheses in appendChild override logic.
  ui/index.html
Due: none

ci: Bump conda release action.
  .github/workflows/publish-conda.yml
Due: none

ci: Bump conda release action.
  .github/workflows/release-wave.yml
Due: none

ci: Use kebab case packages dir to get rid of the warning.
  .github/workflows/release-wave.yml
Due: none

script and dependencies
  docs-pdf/generate-pdf.js
  docs-pdf/package-lock.json
  docs-pdf/package.json
Due: none

add cleanupDom()
  docs-pdf/generate-pdf.js
Due: none

fix tables
  docs-pdf/generate-pdf.js
Due: none

Fix images
  docs-pdf/generate-pdf.js
Due: none

added working toc and pagination
  docs-pdf/generate-pdf.js
Due: none

comments
  docs-pdf/generate-pdf.js
Due: none

Update generate-pdf.js
  docs-pdf/generate-pdf.js
Due: none

test
  a.txt
  py/examples/checklist.py
  ui/src/checklist.tsx
Due: ./py/venv/bin/flake8

security: Bump go to address CVEs.
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  go.mod
Due: none

chore: Release v1.7.1
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

security: Bump Go oauth package to remove reported CVEs.
  go.mod
  go.sum
Due: none

chore: Release v1.7.2
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

chore: give all widgets the name parameter
  py/h2o_wave/h2o_wave/ui.py
Due: ./py/venv/bin/flake8

feat: Allow same name form items (buttons in a list with same name but different value). Closes #2471
  ui/src/form.tsx
Due: none

chore: Temporarily disable build and publish for docker since always fails anyway.
  .github/workflows/release-wave.yml
Due: none

docs: Better document button value attribute.
  website/widgets/form/button.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Release v1.7.3
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

chore: Bump Go to fix CVEs.
  .github/workflows/publish-docs.yml
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
  go.mod
Due: none

chore: Release v1.7.4
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

docs: fixed API link for proper navigation
  website/widgets/content/tall_info.md
  website/widgets/content/wide_info.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: fixed API link for proper navigation (#2477)
  website/widgets/content/tall_info.md
  website/widgets/content/wide_info.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

ci: Use pinned python version for docs publish job.
  .github/workflows/publish-docs.yml
Due: none
