Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: update docs and tests #2011
  ui/src/chatbot.test.tsx
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: remove comment #2011
  ui/src/chatbot.tsx
Due: none

fix: add closing symbols to table.md example #2011
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: add events prop to ui.chatbot #2011
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

chore: add a tour example for chatbot message streaming #2011
  py/examples/chatbot_events_stop.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

chore: update docs with handling events section #2011
  py/examples/chatbot_events_stop.py
  website/static/img/widgets/chatbot_events_stop.gif
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: swap a state api prop order #2011
  ui/src/chatbot.tsx
Due: none

feat: Add stop button to ui.chatbot #2011 (#2018)
  py/examples/chatbot_events_stop.py
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  website/static/img/widgets/chatbot_events_stop.gif
  website/widgets/ai/chatbot.md
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: make chatbot text input expand on new line #1999
  ui/src/chatbot.tsx
Due: none

feat: wrap text on new lines #1999
  ui/src/chatbot.tsx
Due: none

chore: add side card margins, remove extra line after the message #1999
  ui/src/chatbot.tsx
Due: none

fix: do not append text input content into messages when 'Stop generating' is clicked
  py/examples/chatbot_events_stop.py
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Do not append text input content into messages when 'Stop generating' is clicked (#2023)
  py/examples/chatbot_events_stop.py
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Make ui.chatbot text input expand on newlines #1999 (#2022)
  ui/src/chatbot.tsx
Due: none

feat: Support Py3.11 for VSC extension. (#2015)
  .github/workflows/release-wave-nightly.yml
  tools/vscode-extension/.vscodeignore
  tools/vscode-extension/Makefile
  tools/vscode-extension/requirements.txt
  tools/vscode-extension/server/__main__.py
  tools/vscode-extension/server/lsp_server.py
Due: ./py/venv/bin/flake8

chore: Revert cyc buffer.
  cycbuf.go
Due: golint -set_exit_status

chore: Revert make run.
  Makefile
Due: none

feat: Initial proposal.
  .vscode/launch.json
  Makefile
  cycbuf.go
  fixbuf.go
  py/examples/chatbot_proposal.py
  py/h2o_wave/h2o_wave/core.py
  ts/index.ts
  ui/vite.config.js
Due: golint -set_exit_status, ./py/venv/bin/flake8

feat: List buffer - clientside version only so far.
  Makefile
  card.go
  fixbuf.go
  listbuf.go
  protocol.go
  py/examples/chatbot_proposal.py
  py/h2o_wave/h2o_wave/core.py
  site.go
  ts/index.ts
  ts/package.json
  ui/src/chatbot.tsx
Due: golint -set_exit_status, ./py/venv/bin/flake8

chore: Revert debug conf.
  .vscode/launch.json
  ui/src/chatbot.tsx
Due: none

feat: List buffer - Go version as well.
  Makefile
  listbuf.go
  protocol.go
  ts/index.ts
Due: golint -set_exit_status

feat: Make list buffer get op work.
  ts/index.ts
Due: none

docs: List buffer.
  website/docs/buffers.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Initialize Go list buffer with correct idx.
  listbuf.go
Due: golint -set_exit_status

chore: Refactor.
  listbuf.go
Due: golint -set_exit_status

chore: Improve examples.
  py/examples/chatbot.py
  py/examples/chatbot_stream.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

docs: Document List buffer.
  website/docs/buffers.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Refactor.
  py/h2o_wave/h2o_wave/core.py
Due: ./py/venv/bin/flake8

chore: Add example screenshot.
  website/docs/examples/assets/chatbot-stream.png
Due: none

chore: Refactor.
  listbuf.go
  ts/index.ts
Due: golint -set_exit_status

feat: Make h2o-lightwave data API consistent with h2o-wave.
  py/h2o_lightwave/h2o_lightwave/core.py
  py/h2o_wave/h2o_wave/core.py
Due: ./py/venv/bin/flake8

feat: Support size prop for list buffers.
  listbuf.go
  protocol.go
  py/h2o_lightwave/h2o_lightwave/core.py
  py/h2o_wave/h2o_wave/core.py
  ts/index.ts
Due: golint -set_exit_status, ./py/venv/bin/flake8

chore: Update chatbot examples.
  py/examples/chatbot_events_stop.py
  py/examples/chatbot_stream.py
Due: ./py/venv/bin/flake8

docs: Document chatbot card.
  py/examples/chatbot.py
  py/examples/chatbot_events_stop.py
  py/examples/chatbot_stream.py
  py/examples/requirements.txt
  ts/index.ts
  website/docs/examples/assets/chatbot-events-stop.png
  website/docs/examples/assets/chatbot-stream.png
  website/docs/examples/assets/chatbot.png
  website/static/img/widgets/chatbot_events_stop.gif
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Example cleanup.
  py/examples/chatbot.py
Due: ./py/venv/bin/flake8

chore: Rename circular to cyclic.
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/core.py
  py/h2o_wave/h2o_wave/core.py
  website/docs/buffers.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Listbuffer (for chatbotcard). #1944 #1928 (#2017)
  card.go
  listbuf.go
  protocol.go
  py/examples/chatbot.py
  py/examples/chatbot_events_stop.py
  py/examples/chatbot_stream.py
  py/examples/requirements.txt
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/core.py
  py/h2o_wave/h2o_wave/core.py
  site.go
  ts/index.ts
  ts/package.json
  ui/src/chatbot.tsx
  ui/vite.config.js
  website/docs/buffers.md
  website/docs/examples/assets/chatbot-events-stop.png
  website/docs/examples/assets/chatbot-stream.png
  website/static/img/widgets/chatbot_events_stop.gif
  website/widgets/ai/chatbot.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Bump ts npm package version - prepublish.
  ts/package.json
Due: none

chore: Remove unused react hook dependency in ui.table.
  ui/src/table.tsx
Due: none

chore: Bump h2o-wave npm package version.
  ui/package-lock.json
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
