Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: update docs
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Allow specifying websocket origins. #2230 (#2279)
  client.go
  cmd/wave/main.go
  conf.go
  server.go
  socket.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

fix: move image to correct folder
  website/docs/examples/assets/chatbot-events-suggestions.png
Due: none

chore: move image to correct folder (#2280)
  website/docs/examples/assets/chatbot-events-suggestions.png
Due: none

chore: Release v1.1.0
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

chore: Allow specifying version for changelog generator.
  tools/changelog-generator/changelog.js
Due: none

feat: make links use primary color globally #2281
  ui/src/index.scss
Due: none

chore: remove redundant color assignment #2281
  ui/src/markdown.css
Due: none

feat: Make links use primary color #2281 (#2283)
  ui/src/index.scss
  ui/src/markdown.css
Due: none

feat: add width support for copyable text #2282
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/copyable_text.tsx
Due: ./py/venv/bin/flake8

chore: refactor makefile
  py/.gitignore
  py/h2o_wave/Makefile
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

chore: remove leftovers
  py/h2o_wave/Makefile
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

chore: build for every platform individually
  py/.gitignore
  py/h2o_wave/Makefile
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

chore: get rid of link scripts
  py/h2o_wave/Makefile
  py/h2o_wave/conda/meta.yaml
  py/h2o_wave/conda/post-link.bat
  py/h2o_wave/conda/post-link.sh
  py/h2o_wave/conda/pre-unlink.bat
  py/h2o_wave/conda/pre-unlink.sh
  py/h2o_wave/hatch_build.py
  py/h2o_wave/pyproject.toml
Due: ./py/venv/bin/flake8

chore: wip
  py/h2o_wave/Makefile
  py/h2o_wave/conda/meta.yaml
  py/h2o_wave/hatch_build.py
  py/h2o_wave/pyproject.toml
Due: ./py/venv/bin/flake8

feat: use bash script to move binary to the python exec path after install
  py/h2o_wave/Makefile
  py/h2o_wave/conda/post-link.bat
  py/h2o_wave/conda/post-link.sh
  py/h2o_wave/conda/pre-unlink.bat
  py/h2o_wave/conda/pre-unlink.sh
  py/h2o_wave/hatch_build.py
  py/h2o_wave/pyproject.toml
Due: ./py/venv/bin/flake8

feat: add width support for copyable text #2282 (#2284)
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/copyable_text.tsx
Due: ./py/venv/bin/flake8

chore: add todo with current status
  py/h2o_wave/Makefile
Due: none

fix: Initial, untested sync.
  client.go
  conf.go
  socket.go
  website/docs/routing.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

fix: More synchronization, send correct client_id from UI on reconnect, differentiate timeouts per connection, not per client.
  broker.go
  client.go
  socket.go
  ui/src/core.ts
Due: golint -set_exit_status

chore: Refactor.
  client.go
Due: golint -set_exit_status

fix: Eliminate race conditions in reconnect feature. (#2285)
  broker.go
  client.go
  conf.go
  socket.go
  ui/src/core.ts
  website/docs/routing.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

chore: Release v1.1.1
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

fix: resolve resource warning #2261
  py/Makefile
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

fix: refactor #2261
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

fix: refactor #2261
  py/Makefile
Due: none

ci: Resolve resource warning in py tests #2261 (#2286)
  py/Makefile
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

Fixed image bulding problem #2288
  .github/workflows/release-wave.yml
Due: none

Removed importing urllib3
  .github/workflows/release-wave.yml
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

Added build-apps step
  .github/workflows/release-wave.yml
Due: none

Rerun the github action
  .github/workflows/release-wave.yml
Due: none

Fixed the problem when bulding the tour image #2288
  .github/workflows/release-wave.yml
  py/tests/__main__.py
Due: ./py/venv/bin/flake8

fix: add urllib3 to setup.ps1
  setup.ps1
Due: none

ci: Add urllib3 to windows python tests (#2290)
  setup.ps1
Due: none

chore: update playwright
  e2e/requirements.txt
Due: none

Triggering the flow
  .github/workflows/release-wave.yml
Due: none

Removed importing urllib3
  py/Makefile
  py/tests/__main__.py
  setup.ps1
Due: ./py/venv/bin/flake8

Changed the Path
  .github/workflows/release-wave.yml
Due: none

feat: build binary included conda package for each platform and python version separately
  py/h2o_wave/Makefile
  py/h2o_wave/conda/conda_build_config.yaml
  py/h2o_wave/conda/meta.yaml
Due: none
