Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: Formalize Python DB API #694
  py/h2o_wave/__init__.py
  py/h2o_wave/db.py
Due: ./py/venv/bin/flake8

docs: Add example for accessing db #694
  py/examples/db.py
Due: ./py/venv/bin/flake8

feat: Add API to drop database #694
  py/examples/db.py
  py/h2o_wave/db.py
Due: ./py/venv/bin/flake8

feat: Add -dir option to specify location of .db files #694
  cmd/wavedb/main.go
  pkg/db/db.go
  pkg/db/db_test.go
Due: golint -set_exit_status

feat: Minify h2o-wave build for npm #35
  ts/package-lock.json
  ts/package.json
Due: none

Update picker.py
  py/examples/picker.py
Due: ./py/venv/bin/flake8

fix: Ensure that routing works when arg is False. Fixes #787
  py/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

updated
  r/Makefile
Due: none

upated hello_world example
  r/R/examples/hello_world.R
Due: none

updated Make
  r/Makefile
Due: none

ci: Add release tasks and GH action for db #694
  .github/workflows/release-db.yml
  Makefile
Due: none

ci: Fix upload asset tarball path #694
  .github/workflows/release-db.yml
Due: none

ci: Add job for wavedb windows release build #694
  .github/workflows/release-db.yml
  Makefile
  build-db.bat
Due: none

ci: Use (git) bash for windows build #694
  .github/workflows/release-db.yml
  Makefile
Due: none

ci: D'oh github actions has mingw #694
  build-db.bat
Due: none

ci: Make wavedb version independent of wave #694
  .github/workflows/release-db.yml
Due: none

ci: Rename release workflows for wave and wavedb
  .github/workflows/release-wave.yml
  .github/workflows/release-wavedb.yml
Due: none

feat: Add ability to match multiple conditions while routing #787
  py/examples/routing_predicates.py
  py/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

feat: Simplify wave/db protocol; unwrap one level in reply #694
  pkg/db/db.go
  pkg/db/db_test.go
  py/h2o_wave/db.py
Due: golint -set_exit_status, ./py/venv/bin/flake8

fix: Update picker.py example (#786)
  py/examples/picker.py
Due: ./py/venv/bin/flake8

feat: Add -verbose flag to enable logging statements and errors #694
  cmd/wavedb/main.go
  pkg/db/db.go
Due: golint -set_exit_status

feat: Set default label and update docstring #788
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/file_upload.tsx
Due: ./py/venv/bin/flake8

feat: Use response error message #772
  ui/src/file_upload.tsx
Due: none

feat: Set a default label for the upload button in file_upload if not provided #788 (#794)
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/file_upload.tsx
Due: ./py/venv/bin/flake8

feat: Display underlying error message when file uploads fail #772 (#796)
  ui/src/file_upload.tsx
Due: none

feat: Use latest static assets if available. Closes #687 #798
  web_server.go
Due: golint -set_exit_status

docs: Update Wave ML docs to 0.6.0
  py/Makefile
  website/sidebars.js
Due: none

added server
  r/R/server.R
Due: none

feat: Make db.py client standalone; remove external deps #694
  py/h2o_wave/db.py
Due: ./py/venv/bin/flake8

feat: Expose connect() API instead of classes; include in API docs #694
  py/examples/db.py
  py/h2o_wave/__init__.py
  py/h2o_wave/db.py
Due: ./py/venv/bin/flake8

feat: Allow both GET and POST requests to db server #694
  pkg/db/db.go
Due: golint -set_exit_status

chore: Delete obsolete ./db dir #694
  db/Makefile
Due: none

ci: Add make task for minified db build #694
  Makefile
Due: none

feat: Omit empty fields in db JSON response #694
  pkg/db/db.go
Due: golint -set_exit_status

feat: Don't validate content-type; respond only to POST #694
  pkg/db/db.go
Due: golint -set_exit_status

docs: Add docs for wavedb #694
  py/examples/db.py
  website/docs/wavedb.md
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Better (?) terminal startup logo
  server.go
Due: golint -set_exit_status

docs: Add 0.15.0 release notes
  py/examples/tour.conf
  website/docs/change-log.md
  website/docs/examples/assets/routing-predicates.png
  website/sidebars.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Release v0.15.0
  py/h2o_wave/__init__.py
  py/setup.py
  r/DESCRIPTION
Due: ./py/venv/bin/flake8

ci: Skip invalid test #772
  ui/src/file_upload.test.tsx
Due: none
