Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: Add proper err handling to site.download function - sync API. #1627
  py/h2o_wave/core.py
Due: ./py/venv/bin/flake8

chore: Add cleanup TODOs #1627
  py/tests/test_python_server.py
  py/tests/test_python_server_async.py
Due: ./py/venv/bin/flake8

feat: Allow extensionless file downloads. #1627
  file_server.go
Due: golint -set_exit_status

feat: Make download paths work cross-platform. #1627
  file_server.go
Due: golint -set_exit_status

chore: update custom css docs
  website/docs/custom-css.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: remove unnecessary line from the example
  website/docs/custom-css.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: extend example with files hosted directly on the wave server
  py/examples/meta_stylesheet.py
  website/docs/custom-css.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Do not use absolute URLs as links.
  website/docs/custom-css.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Show how to use local CSS file as stylesheet. (#1723)
  py/examples/meta_stylesheet.py
  website/docs/custom-css.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

ci: Update Pypi token for publishing Wave University.
  .github/workflows/publish-university.yml
  .github/workflows/release-wave.yml
Due: none

added code to check for empty OIDC values and warn the user in terminal
  cmd/wave/main.go
Due: golint -set_exit_status

fix: set min_width to 0.001 px if user enter 0 px for our expected behavior listed in #1622
  ui/src/table.tsx
Due: none

feat: add remove paddings feature on frame cards.
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/frame.tsx
Due: ./py/venv/bin/flake8

feat: initial commit, creating ImageGrid ui and type components #1599
  py/examples/image_grid.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
Due: ./py/venv/bin/flake8

display warning if one OIDC param is not set, but not all
  cmd/wave/main.go
Due: golint -set_exit_status

feat: Implement ui.inline’s align parameter #1535
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

feat: creating initial typescript implementaiton of image grid #1599
  py/examples/image_grid.py
  py/examples/tour.conf
  ui/src/cards.tsx
  ui/src/image_grid.tsx
Due: ./py/venv/bin/flake8

feat: Adjustments to implementation and type spec #1599
  py/examples/image_grid.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  ui/src/image_grid.tsx
Due: ./py/venv/bin/flake8

feat: Rename XComponents’s “alignment” → “justify”
  ui/src/form.tsx
  ui/src/message_bar.tsx
  ui/src/notification_bar.tsx
  ui/src/section.tsx
Due: none

style: Move “align” right after “justify”
  ui/src/form.tsx
Due: none

docs: Update a TODO comment in XComponents
  ui/src/form.tsx
Due: none

feat: Run the type files generation
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
Due: ./py/venv/bin/flake8

docs: Add an example for ui.inline
  py/examples/inline.py
Due: ./py/venv/bin/flake8

chore: use lighter than header color for selected items #1713
  ui/src/table.tsx
Due: none

chore: add selected groups/rows higlight #1713
  ui/src/table.tsx
Due: none

feat: keep group header checkbox visible when all group items are selected #1713
  ui/src/table.tsx
Due: none

chore: updated screenshot for table select #1713
  website/docs/examples/assets/table-select.png
Due: none

feat: Add highlight for selected groups/rows #1713 (#1725)
  ui/src/table.tsx
  website/docs/examples/assets/table-select.png
Due: none

made map of requiredEnvOIDC to check for empty variables
  cmd/wave/main.go
Due: golint -set_exit_status

feat: Fixed redundancy issues.
  ui/src/frame.tsx
Due: none

use helper function to check for non-empty environment variables
  cmd/wave/main.go
Due: golint -set_exit_status

add back accidental lines that were deleted
  cmd/wave/main.go
Due: golint -set_exit_status

feat: add 'tooltip' for markdown cell overflow #1645
  py/examples/table_markdown_overflow.py
  ui/src/table.tsx
Due: ./py/venv/bin/flake8

simplified getEmpytyOIDC values helper, changed naming of some variables
  cmd/wave/main.go
Due: golint -set_exit_status

Using wave generator for API
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image_grid.tsx
Due: ./py/venv/bin/flake8

docs: Add new example to tour.conf #1535
  py/examples/tour.conf
Due: none

docs: Add thumbnail image for new example #1535
  website/docs/examples/assets/inline.png
Due: none

docs: Example of table markdown overflow #1645
  py/examples/tour.conf
  website/docs/examples/assets/table-markdown-overflow.png
Due: none

feat: Show a warning when at least one OIDC param detected, but not all are set #1711 (#1733)
  cmd/wave/main.go
Due: golint -set_exit_status

feat: Add 'tooltip' for table markdown cell #1645 (#1736)
  py/examples/table_markdown_overflow.py
  py/examples/tour.conf
  ui/src/table.tsx
  website/docs/examples/assets/table-markdown-overflow.png
Due: ./py/venv/bin/flake8
