Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Update docs for OIDC support on HAC (#368)
  website/docs/enterprise/developer-guide.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Introduce review suggestions
  py/examples/tour.py
Due: ./py/venv/bin/flake8

Introduce local variable to hold the reference to env
  py/examples/tour.py
Due: ./py/venv/bin/flake8

Replace asyncio.create_subprocess_exec() with python subprocess for tour (#429)
  py/examples/tour.py
Due: ./py/venv/bin/flake8

Infer correct app address from ENV
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

Update routing.md
  website/docs/routing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Fix typo in routing docs (#438)
  website/docs/routing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Fix typo in routing docs (#439)
  website/docs/routing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

Update README.md
  README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: add disabled prop to nav item #376
  py/examples/nav.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  ui/src/nav.test.tsx
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8

Update ui/src/nav.tsx
  ui/src/nav.tsx
Due: none

Update py/examples/nav.py
  py/examples/nav.py
Due: ./py/venv/bin/flake8

feat: Allow nav items to be disabled #376 (#442)
  py/examples/nav.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  ui/src/nav.test.tsx
  ui/src/nav.tsx
Due: ./py/venv/bin/flake8

fix: Use correct port from env when using --no-reload (#436)
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

fix(examples): Remove Faker and Synth from examples
  py/examples/issue_tracker.py
  py/examples/stat_small.py
Due: ./py/venv/bin/flake8

docs: add TOC for examples
  py/sync_examples.py
  website/docusaurus.config.js
Due: ./py/venv/bin/flake8

fix(examples): Remove Faker and Synth from stat card examples
  py/examples/issue_tracker.py
  py/examples/stat_large.py
  py/examples/stat_large_bar.py
  py/examples/stat_small.py
  py/examples/stat_small_series_area.py
  py/examples/stat_small_series_interval.py
  py/examples/stat_tall_gauge.py
  py/examples/stat_tall_series_area.py
  py/examples/stat_tall_series_interval.py
  py/examples/stat_wide_bar.py
  py/examples/stat_wide_gauge.py
  py/examples/stat_wide_series_area.py
  py/examples/stat_wide_series_interval.py
Due: ./py/venv/bin/flake8

docs: rename toc title
  py/sync_examples.py
Due: ./py/venv/bin/flake8

ci: add github actions to release wave
  .github/workflows/release.yml
  Makefile
Due: none

ci: add TODO comment
  .github/workflows/release.yml
Due: none

fix(examples): Remove usage of pandas in stat card examples
  py/examples/stat_small_series_area.py
  py/examples/stat_small_series_interval.py
  py/examples/stat_tall_series_area.py
  py/examples/stat_tall_series_interval.py
  py/examples/stat_wide_series_area.py
  py/examples/stat_wide_series_interval.py
Due: ./py/venv/bin/flake8

ci: fixed issue in relative paths
  py/sync_examples.py
  website/docusaurus.config.js
Due: ./py/venv/bin/flake8

ci: apply useBaseUrl fix for TOC
  py/sync_examples.py
Due: ./py/venv/bin/flake8

fix: apply useBaseUrl fix to relative link
  website/docs/tutorial-monitor.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix(examples): remove faker from form and table examples
  py/examples/form.py
  py/examples/table.py
  py/examples/table_download.py
  py/examples/table_filter.py
  py/examples/table_filter_backend.py
  py/examples/table_groupby.py
  py/examples/table_search.py
  py/examples/table_select.py
  py/examples/table_sort.py
Due: ./py/venv/bin/flake8

feat: support tags/hashtags on examples to improve discovery #422
  py/examples/button.py
  py/examples/buttons.py
  py/examples/tab_routing.py
  py/examples/toolbar_routing.py
  py/sync_examples.py
Due: ./py/venv/bin/flake8

docs: Add TOC for Wave examples (#444)
  py/sync_examples.py
Due: ./py/venv/bin/flake8

feat: add changes from PR 444 #422
  py/sync_examples.py
Due: ./py/venv/bin/flake8

feat: implemented parse_tags function #422
  py/sync_examples.py
Due: ./py/venv/bin/flake8

feat: searchable documentation #309
  website/docusaurus.config.js
  website/src/css/custom.css
Due: none

ci: use `npm ci` instead of `npm install`
  Makefile
Due: none

ci: use pypi publish github action
  .github/workflows/release.yml
  Makefile
  py/Makefile
Due: none

ci: fix syntax issue in gh action
  .github/workflows/release.yml
Due: none

ci: add conda publish step
  .github/workflows/release.yml
Due: none

ci: add configs for conda build
  .github/workflows/release.yml
  py/conda/meta.yaml
Due: none

ci: update wave home page url for packaging
  py/conda/meta.yaml
  py/setup.py
Due: ./py/venv/bin/flake8

feat: Make documentation searchable (#452)
  website/docusaurus.config.js
  website/src/css/custom.css
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
