Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: success message does not contain file names when ui.file_upload placed in a dialog
  ui/src/file_upload.tsx
Due: none

fix: Show uploaded files after successful file upload (#1611) #1607
  ui/src/file_upload.tsx
Due: none

docs: Add comment on why we need to reset props for every test
  ui/src/textbox.test.tsx
Due: none

refactor: Move wave.push setup to the top
  ui/src/textbox.test.tsx
Due: none

refactor: Pass wave.push reference directly instead of using a callback
  ui/src/textbox.tsx
Due: none

tests: remove unnecessary clean up code
  ui/src/textbox.test.tsx
Due: none

tests: Remove unnecessary 'act' calls
  ui/src/textbox.test.tsx
Due: none

tests: Revert test for 'Calls sync - trigger'
  ui/src/textbox.test.tsx
Due: none

fix: Set wave args properly when "value" prop changes
  ui/src/textbox.test.tsx
  ui/src/textbox.tsx
Due: none

fix: Allow setting Textbox "value" dynamically #1578 (#1606)
  ui/src/textbox.test.tsx
  ui/src/textbox.tsx
Due: none

fix: add isInverted prop to loadTheme to show correct colors for dark themes
  ui/src/theme.ts
Due: none

fix: Show correct colors for dark themes thanks to isInverted. #1608 (#1614)
  ui/src/theme.ts
Due: none

docs: Add inline color picker example.
  ui/src/color_picker.tsx
  website/widgets/form/color_picker.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

tests: Remove duplicate test
  ui/src/dropdown.test.tsx
Due: none

fix: Do not render color picker label if not specified.
  ui/src/color_picker.tsx
Due: none

feat: Initial impl.
  studio/static/studio.css
  studio/studio.py
Due: ./py/venv/bin/flake8

ci: Publish core apps to HAC S3 during release.
  .github/workflows/release-wave.yml
  Makefile
Due: none

docs: Add code pointers to core apps readmes.
  py/apps/dashboard/README.md
  py/apps/theme-generator/README.md
  py/apps/tour/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

test: Add test for single-valued Combobox
  ui/src/combobox.test.tsx
Due: none

test: Move pushMock to the top and remove unnecessary beforeEach
  ui/src/combobox.test.tsx
Due: none

blog: 0.23 Release - to be updated.
  website/blog/2022-09-12-release.md
  website/blog/assets/2022-09-12/wave_studio.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Update contribution guidelines.
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

test: Add test blur and tab
  ui/src/combobox.test.tsx
Due: none

blog: Add timepicker gif.
  website/blog/2022-09-12-release.md
  website/blog/assets/2022-09-12/time_picker.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: 0.23 Release. (#1618)
  website/blog/2022-09-12-release.md
  website/blog/assets/2022-09-12/time_picker.gif
  website/blog/assets/2022-09-12/wave_studio.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

added github Star count button
  website/src/pages/index.js
Due: none

fix: Add support to dynamically change Dropdown value #1574
  ui/src/dropdown.test.tsx
  ui/src/dropdown.tsx
Due: none

chore: add cleanup function to prevent async tasks from assigning result to un-mounted component's state
  ui/src/time_picker.tsx
Due: none

chore: other type warning fixes, refactor
  ui/src/time_picker.tsx
Due: none

chore: refactor helper functions
  ui/src/time_picker.tsx
Due: none

fix: anchorEl ref null on popover open
  ui/src/time_picker.tsx
Due: none

chore: tests init
  ui/src/time_picker.test.tsx
Due: none

chore: code readability improvement
  ui/src/time_picker.tsx
Due: none

test: Fix broken tests due to dynamic imports. #1537
  ui/src/time_picker.test.tsx
Due: none

chore: skipped non-working test cases
  ui/src/time_picker.test.tsx
Due: none

feat: ui.time_picker component skeleton
  py/examples/time_picker.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/form.tsx
  ui/src/time_picker.tsx
Due: ./py/venv/bin/flake8

chore: fix type warnings
  ui/src/time_picker.tsx
Due: none

chore: added docs for time picker
  ui/src/time_picker.test.tsx
  website/widgets/form/time_picker.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: added component screenshot, fixed failing tests due to cssVarValue
  ui/src/time_picker.tsx
  website/docs/examples/assets/time-picker.png
Due: none

feat: updated examples, refactor
  py/examples/time_picker.py
  ui/src/time_picker.tsx
Due: ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
