Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Release v1.8.12
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

feat: Add external links to tabs #2243
  py/examples/tab.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/tab.test.tsx
  ui/src/tab.tsx
  ui/src/tabs.test.tsx
  ui/src/tabs.tsx
  website/widgets/content/tabs.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

security: Forbid path traversal for file uploads.
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  Makefile
  file_server.go
  file_server_test.go
  test.ps1
Due: golint -set_exit_status

fix: handle external tab links and clean up test mocks
  ui/src/tab.test.tsx
  ui/src/tabs.test.tsx
  ui/src/tabs.tsx
  website/widgets/content/tabs.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

security: Bump websocket and crypto Go libs to get rid of the CVEs.
  go.mod
  go.sum
Due: none

chore: Release v1.8.13
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

fix: update tests and tab open behaviour with pivot components
  py/examples/tabs.py
  ui/src/tab.test.tsx
  ui/src/tabs.test.tsx
  ui/src/tabs.tsx
Due: ./py/venv/bin/flake8

test: Restore mocks in beforeEach instead of afterEach to ensure they are ran for failed tests.
  ui/src/tab.test.tsx
  ui/src/tabs.test.tsx
Due: none

fix: prevent a tag forcus that leads to styling bug
  ui/src/tab.tsx
  ui/src/tabs.tsx
Due: none

fix: Handle visual contrast edgecase for hovered visited tab links.
  ui/src/index.scss
  ui/src/tab.tsx
  ui/src/tabs.tsx
Due: none

fix: Percent-encode file URLs in Site/AsyncSite download() and unload()
  py/h2o_wave/h2o_wave/core.py
  py/tests/test_python_server.py
  py/tests/test_python_server_async.py
Due: ./py/venv/bin/flake8

security: Bump crypto package to 0.56.0.
  go.mod
  go.sum
Due: none

feat: Add external links to tabs #2243 (#2501)
  py/examples/tab.py
  py/examples/tabs.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/index.scss
  ui/src/tab.test.tsx
  ui/src/tab.tsx
  ui/src/tabs.test.tsx
  ui/src/tabs.tsx
  website/widgets/content/tabs.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Release v1.8.14
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8
