Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: move getUrl to upper scope #1932
  ui/src/nav.tsx
Due: none

feat: Allow nav_item to be opened in a new tab/window #1932 (#2175)
  ui/src/nav.test.tsx
  ui/src/nav.tsx
Due: none

Added github wrokflows to university
  .github/workflows/helm-release-university.yaml
  .github/workflows/wave-bundle-university.yaml
  .github/workflows/wave-publish-university.yaml
  .github/workflows/wave-university.yaml
  .github/workflows/wave.yaml
  university/ai.h2o.wave.university.1.0.0.bundle.Dockerfile
  university/bundle_generated_files/ai.h2o.wave.university.1.0.0.bundle.Dockerfile
  university/bundle_generated_files/ai.h2o.wave.university.1.0.0.runtime.Dockerfile
  university/bundle_generated_files/helm/charts/university/Chart.yaml
  university/bundle_generated_files/helm/charts/university/templates/_helpers.tpl
  university/bundle_generated_files/helm/charts/university/templates/configmap.yaml
  university/bundle_generated_files/helm/charts/university/templates/job.yaml
  university/bundle_generated_files/helm/charts/university/templates/secret.yaml
  university/bundle_generated_files/helm/charts/university/values.yaml
Due: none

packaging: Initial workflow files
  .github/workflows/helm-release-university.yaml
  .github/workflows/wave-bundle-university.yaml
  .github/workflows/wave-publish-university.yaml
  .github/workflows/wave-university.yaml
  university/bundle_generated_files/ai.h2o.wave.university.1.0.0.bundle.Dockerfile
  university/bundle_generated_files/ai.h2o.wave.university.1.0.0.runtime.Dockerfile
  university/bundle_generated_files/helm/charts/university/Chart.yaml
  university/bundle_generated_files/helm/charts/university/templates/_helpers.tpl
  university/bundle_generated_files/helm/charts/university/templates/configmap.yaml
  university/bundle_generated_files/helm/charts/university/templates/job.yaml
  university/bundle_generated_files/helm/charts/university/templates/secret.yaml
  university/bundle_generated_files/helm/charts/university/values.yaml
Due: none

packaging: changed the workflow tigger on #2163
  .github/workflows/wave-university.yaml
Due: none

packaging: changed the workflow file names on #2163
  .github/workflows/helm-release.yaml
  .github/workflows/wave-bundle.yaml
  .github/workflows/wave-publish.yaml
  .github/workflows/wave.yaml
Due: none

fix: wave fetch failing because of incorrect url generation.
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

fix: Use proper path for wave fetch. #2177 (#2183)
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

#2184 added support for preview links
  conf.go
  server.go
  web_server.go
Due: golint -set_exit_status

chore: make test formatting consistent #2165
  ui/src/chatbot.test.tsx
Due: none

chore: update docs, tour.conf and add a screenshot #2165
  py/examples/tour.conf
  website/docs/examples/assets/chatbot-events-feedback.png
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: initial implementation #2165
  py/examples/chatbot_events_feedback.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

chore: refactor without using absolute positioning #2165
  ui/src/chatbot.tsx
Due: none

chore: do not support undoing like/dislike actions #2165
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
Due: none

chore: change buttons placement, edit event message #2165
  py/examples/chatbot_events_feedback.py
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

chore: re-render component on state update #2165
  ui/src/chatbot.tsx
Due: none

chore: refactor handlers #2165
  ui/src/chatbot.tsx
Due: none

chore: update tests #2165
  ui/src/chatbot.test.tsx
Due: none

chore: refactor #2165
  py/examples/chatbot_events_feedback.py
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: update tests to cover a case when dislike is clicked twice #2165
  ui/src/chatbot.test.tsx
Due: none

chore: wording #2165
  py/examples/chatbot_events_feedback.py
Due: ./py/venv/bin/flake8

feat: Add feedback events on chatbot responses #2165 (#2178)
  py/examples/chatbot_events_feedback.py
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  website/docs/examples/assets/chatbot-events-feedback.png
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Add a minimal README to Wave Studio.
  studio/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: add todos #2179
  ui/tailwind.config.js
Due: none

chore: remove no-prose class used for excluding child elements with this class from prose styling #2179
  ui/src/markdown.css
Due: none

chore: import markdown.css dynamically #2179
  ui/src/markdown.tsx
  ui/src/react-app-env.d.ts
Due: none

chore: import and setup tailwind, add typography plugin, apply prose styling on markdown #2179
  ui/package-lock.json
  ui/package.json
  ui/postcss.config.cjs
  ui/src/index.scss
  ui/src/markdown.tsx
  ui/tailwind.config.js
Due: none

chore: make new markdown styles optional without modifying previous compact implementation #2179
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/markdown.css
  ui/src/markdown.tsx
Due: ./py/venv/bin/flake8

chore: move all markdown related css into one place #2179
  ui/src/index.scss
  ui/src/markdown.css
  ui/src/markdown.tsx
Due: none

chore: EOL #2179
  ui/package-lock.json
Due: none

chore: restore package-lock.json #2179
  ui/package-lock.json
  ui/src/markdown.css
Due: none

chore: subscript and supersript styling #2179
  py/examples/markdown.py
  ui/src/markdown.css
Due: ./py/venv/bin/flake8

chore: apply all styles only locally #2179
  ui/src/markdown.css
  ui/src/markdown.tsx
Due: none

chore: make api description brief #2179
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  ui/src/markdown.tsx
Due: ./py/venv/bin/flake8

chore: simplify css and remove unnecessary comments #2179
  ui/src/markdown.css
Due: none

chore: update docs and example #2179
  py/examples/markdown.py
  ui/src/markdown.css
  website/widgets/content/markdown.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: add tailwind css reset #2179
  ui/src/markdown.css
Due: none

chore: remove tailwind, apply styles only #2179
  ui/package-lock.json
  ui/package.json
  ui/postcss.config.cjs
  ui/src/index.scss
  ui/src/markdown.css
  ui/src/markdown.tsx
  ui/tailwind.config.js
Due: none

chore: map wave colors to tailwind prose #2179
  ui/src/markdown.tsx
  ui/tailwind.config.js
Due: none

chore: move mock to setupTests.ts #2179
  ui/jest.config.js
  ui/src/setupTests.ts
  ui/src/styleMock.js
Due: none
