Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: remove unnecessary width assigment for vega #1974
  ui/src/plot.tsx
  ui/src/vega.tsx
Due: none

fix: set default width to form components which are not visible inside ui.inline #1974
  ui/src/date_picker.tsx
  ui/src/dropdown.tsx
  ui/src/range_slider.tsx
  ui/src/slider.tsx
  ui/src/toggle.tsx
Due: none

chore: remove unnecessary width assigment #1974
  ui/src/plot.tsx
  ui/src/vega.tsx
Due: none

fix: set width to component and to its container #1974
  ui/src/form.tsx
Due: none

fix: set default width for container of plot and vega #1974
  ui/src/plot.tsx
  ui/src/table.tsx
  ui/src/vega.tsx
Due: none

fix: adjust default width for date_picker, dropdown, range_slider and slider #1974
  ui/src/date_picker.tsx
  ui/src/dropdown.tsx
  ui/src/range_slider.tsx
  ui/src/slider.tsx
Due: none

fix: remove toggle from the noWidth component list #1974
  ui/src/form.tsx
Due: none

fix: set width to component instead of its container #1974
  ui/src/form.tsx
Due: none

chore: optimize the search for the key in a collection #1974
  ui/src/form.tsx
Due: none

chore: re-implement on the ui.inline level #1974
  ui/src/date_picker.tsx
  ui/src/dropdown.tsx
  ui/src/form.tsx
  ui/src/plot.tsx
  ui/src/range_slider.tsx
  ui/src/slider.tsx
  ui/src/table.tsx
  ui/src/vega.tsx
Due: none

fix: set default width for table #1974
  ui/src/table.tsx
Due: none

chore: clear diff #1974
  ui/src/form.tsx
Due: none

chore: hardcode zindex values for better readability #1980
  ui/src/parts/styleConstants.ts
  ui/src/table.tsx
Due: none

fix: Set default width for components #1974 (#1988)
  ui/src/form.tsx
  ui/src/plot.tsx
  ui/src/toggle.tsx
Due: none

fix: Prevent components from being overlapped by the table sticky header #1980 (#1996)
  ui/src/dialog.tsx
  ui/src/header.tsx
  ui/src/notification_bar.tsx
  ui/src/parts/styleConstants.ts
  ui/src/table.tsx
  ui/src/time_picker.tsx
Due: none

feat: support percentual height units for form elements #326
  ui/src/form.tsx
  ui/src/tooltip.tsx
Due: none

fix: make copyable_text not to be higher than specified height #326
  ui/src/copyable_text.tsx
  ui/src/form.tsx
Due: none

chore: revert copybale_height behavior since setting minWidth in form.tsx fixed the problem #326
  ui/src/copyable_text.tsx
Due: none

fix: apply percentage height to component wrapper container #326
  ui/src/form.tsx
  ui/src/tooltip.tsx
Due: none

feat: Waved file config option. #481
  cmd/wave/main.go
  conf.go
  go.mod
  go.sum
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

chore: Remove forgotten file existence check. #481
  cmd/wave/main.go
Due: golint -set_exit_status

chore: Document specifying config file for Uvicorn. #481
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Multiuser Tour.
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Kill app processes / drop scripts once the browser tab is closed.
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: make chatbot messages to fill entire line #1998
  ui/src/chatbot.tsx
Due: none

chore: Refactor.
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: Refactor subprocess into asyncio.
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Multiuser Tour. (#1979)
  py/examples/tour.py
Due: ./py/venv/bin/flake8

docs: Add a note about installing python-dotenv package when using --env-file flag. #481
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add Nginx conf for running wave apps behind reverse proxy. Closes #1941
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Do not register goconfig env plugin within Wave, use baked-in one instead. #481
  cmd/wave/main.go
  conf.go
Due: golint -set_exit_status

feat: Add platform and arch params to wave fetch. Closes #1910.
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

feat: Prefix .env entries explicitly. #481
  conf.go
Due: golint -set_exit_status

chore: Use built-in goconfig env plugin instead of registering our own. #481
  cmd/wave/main.go
  go.mod
  go.sum
Due: golint -set_exit_status

chore: remove unneccessary attribute #326
  ui/src/form.tsx
Due: none

feat: Allow waved configuration via a configuration file #481 (#2005)
  cmd/wave/main.go
  conf.go
  go.mod
  go.sum
  website/docs/configuration.md
  website/docs/deployment.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

fix: reset items order on reset #1863
  ui/src/table.tsx
Due: none

chore: stale closure hack refactor, wrong setState order - search not working #1863
  ui/src/table.tsx
Due: none

chore: tests finished #1863
  ui/src/table.test.tsx
Due: none

chore: stale closure hack #1863
  py/examples/plot_issue_buffers.py
  py/examples/table_groups_issue.py
  ui/src/table.tsx
Due: ./py/venv/bin/flake8
