Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: Allow replacing card commands dynamically.
  ui/src/card_menu.tsx
  ui/src/layout.tsx
Due: none

chore: Allow replacing card commands dynamically - flex layout + type fixes.
  ui/src/card_menu.test.tsx
  ui/src/card_menu.tsx
  ui/src/page.tsx
  ui/src/text.tsx
  website/widgets/ai/audio_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix!: Return originally passed data as select events instead of mutated ones.
  py/examples/plot_events_disabled.py
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

chore: Avoid plot event idx to be overriden when specified.
  ui/src/plot.tsx
Due: none

fix!: Emit originally passed data as select events instead of mutated ones. (#2151)
  py/examples/plot_events_disabled.py
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

docs: Add section and stat_table widgets.
  website/sidebars.js
  website/widgets/content/section.md
  website/widgets/stat/stat_table.md
  website/widgets/stat/table_stat.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Use maximum width within ui.inline by default instead of hardcoded constant to prevent unwanted scrollbars and be more in sync with regular form_card behavior.
  ui/src/form.tsx
  ui/src/header.tsx
  website/widgets/form/inline.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Use proper inline wrapper for buttons in examples.
  py/examples/background_progress.py
  py/examples/form_visibility.py
Due: ./py/venv/bin/flake8

fix: Use force explicitly specified width.
  ui/src/form.tsx
Due: none

fix: Use proper condition for default align.
  ui/src/form.tsx
Due: none

chore: Use maximum available space in ui.inline instead of hardcoded constant. #1974 (#2152)
  py/examples/background_progress.py
  py/examples/form_visibility.py
  ui/src/form.tsx
  ui/src/header.tsx
  website/widgets/form/inline.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: slightly enhance kebab menu visibility #2127
  ui/src/card_menu.tsx
Due: none

chore: further enhance visibility by removing opacity #2127
  ui/src/card_menu.tsx
Due: none

fix: Prevent plot from being overlaped by commands button, remove space if title is empty #2127
  ui/src/plot.tsx
Due: none

fix: Prevent vega plot from being overlaped by commands button #2127
  ui/src/vega.tsx
Due: none

fix: Make sure commands button does not overlap with form elements #2127
  ui/src/card_menu.tsx
Due: none

chore: center the falafel icon, move style constants to more general location #2127
  ui/src/card_menu.tsx
  ui/src/parts/styleConstants.ts
  ui/src/plot.tsx
  ui/src/vega.tsx
Due: none

feat: Improve visibility of card commands button #2127 (#2147)
  ui/src/card_menu.tsx
  ui/src/parts/styleConstants.ts
  ui/src/plot.tsx
  ui/src/vega.tsx
Due: none

feat: Allow using "idx" as field name in plot data.
  ui/src/plot.tsx
Due: none

Update ui/src/plot.tsx
  ui/src/plot.tsx
Due: none

feat: Allow using "idx" as field name in plot data. (#2153)
  ui/src/plot.tsx
Due: none

feat: Redirect to login on WS reconnect if auth is specified.
  socket.go
Due: golint -set_exit_status

feat: Redirect to login on WS reconnect if auth is specified. (#2157)
  socket.go
Due: golint -set_exit_status

blog: Release blogpost for 1.0. #1.0
  website/blog/2023-09-20-release.md
  website/blog/assets/2023-09-20/animation.mp4
  website/blog/assets/2023-09-20/audio-annotator.png
  website/blog/assets/2023-09-20/plot-animation.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Move blog release date. #1.0
  website/blog/2023-10-06-release.md
  website/blog/assets/2023-10-06/animation.mp4
  website/blog/assets/2023-10-06/audio-annotator.png
  website/blog/assets/2023-10-06/plot-animation.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Adjust release date. #1.0
  website/blog/2023-10-09-release.md
  website/blog/assets/2023-10-09/animation.mp4
  website/blog/assets/2023-10-09/audio-annotator.png
  website/blog/assets/2023-10-09/plot-animation.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: Release blogpost for 1.0 (#2139)
  website/blog/2023-10-09-release.md
  website/blog/assets/2023-10-09/animation.mp4
  website/blog/assets/2023-10-09/audio-annotator.png
  website/blog/assets/2023-10-09/plot-animation.gif
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Make deployment docs more clear.
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add custom error for when Wave app cannot connect to Wave server.
  py/h2o_wave/h2o_wave/server.py
Due: ./py/venv/bin/flake8

chore: Deployment docs improvements.
  website/docs/deployment.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Release v1.0.0
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

ci: Temporarily downgrade conda publish action as it is not able to build itself.
  .github/workflows/release-wave.yml
Due: none

ci: Create website/api folder if not exists.
  py/Makefile
Due: none

chore: Use correct links in docs.
  website/blog/2023-02-28-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Fix typo in 1.0 blog post.
  website/blog/2023-10-09-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Remove dead code.
  r/DESCRIPTION
  readme.txt
  x/handlebars/.gitignore
  x/handlebars/index.html
  x/handlebars/index.ts
  x/handlebars/package-lock.json
  x/handlebars/package.json
  x/handlebars/tsconfig.json
  x/handlebars/webpack.config.js
Due: none

chore: Patch security vulnerability.
  ui/package-lock.json
Due: none

chore: Add R description back.
  r/DESCRIPTION
Due: none
