Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

ci: Use v- prefix only on target tag, not release bundle
  .github/workflows/release-wavedb.yml
Due: none

docs: Update Wave ML docs to 0.6.0 (#799)
  py/Makefile
  website/sidebars.js
Due: none

docs: Fix website homepage title
  website/src/pages/index.js
Due: none

docs: Add 0.15 release blog post
  website/blog/2021-05-07-release.md
  website/docs/wavedb.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Improve docs for browser testing
  website/docs/browser-testing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Upgrade Cypress to latest; CVE-2021-23337
  test/package-lock.json
  test/package.json
Due: none

fix: Upgrade packages for wavegen CVE-2021-23337
  tools/wavegen/package-lock.json
Due: none

fix: Upgrade packages for IDE CVE-2021-23337 CVE-2021-27515
  ide/package-lock.json
  ide/package.json
Due: none

feat: Add -benchmark to wavedb; print read concurrency benchmarks
  cmd/wavedb/main.go
  pkg/db/benchmark.go
Due: golint -set_exit_status

feat: Add benchmark for bulk-read #694
  pkg/db/benchmark.go
Due: golint -set_exit_status

fix: Set closable dialog to null in meta card after closing #789
  ui/src/dialog.tsx
Due: none

feat: Improve read benchmark output; add -verbose option #694
  cmd/wavedb/main.go
  pkg/db/benchmark.go
Due: golint -set_exit_status

feat: Add write benchmarks #694
  pkg/db/benchmark.go
Due: golint -set_exit_status

feat: Make db -benchmark accept number of iterations #694
  cmd/wavedb/main.go
  pkg/db/benchmark.go
Due: golint -set_exit_status

fix: Set closable dialog to null in meta card after closing #789 (#803)
  ui/src/dialog.tsx
Due: none

fix: UI unit tests
  ui/src/dialog.tsx
  ui/src/file_upload.test.tsx
Due: none

fix: Transpose plot when needed #801
  ui/src/plot.tsx
Due: none

docs: Fix typo in wavedb guide
  website/docs/wavedb.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Return empty array instead of null if resultset is empty #694
  pkg/db/db.go
Due: golint -set_exit_status

docs: Simplify table creation in db example
  py/examples/db.py
Due: ./py/venv/bin/flake8

docs: Rename 'text' to 'label' in todo.py example
  py/examples/todo.py
Due: ./py/venv/bin/flake8

docs: Add example for a WaveDB-backed todo app. Closes #810
  py/examples/db_todo.py
Due: ./py/venv/bin/flake8

fix: Limit WaveDB GOMAXPROCS to 1 #694
  cmd/wavedb/main.go
Due: golint -set_exit_status

docs: Improve WaveDB docs
  website/docs/wavedb.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: FIx upload and dialog unit tests (#806)
  ui/src/dialog.tsx
  ui/src/file_upload.test.tsx
Due: none

docs: Add wavedb logo
  assets/brand/wave.svg
  assets/brand/wavedb.png
Due: none

docs: Include db*, ml* examples in website build
  py/sync_examples.py
  website/docs/examples/assets/db-todo.png
  website/docs/examples/assets/db.png
Due: ./py/venv/bin/flake8

feat: Send subject/username to driver in development mode. Closes #812
  app.go
Due: golint -set_exit_status

docs: Simplify db_todo example #694
  py/examples/db_todo.py
Due: ./py/venv/bin/flake8

feat: Add ability to execute arbitrary Javascript post-page-load #297
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/meta.tsx
  ui/src/script.ts
Due: ./py/venv/bin/flake8

docs: Fix example title
  py/examples/db_todo.py
Due: ./py/venv/bin/flake8

docs: Add example for loading bokeh plot using Javascript #297
  py/examples/plot_bokeh_script.py
Due: ./py/venv/bin/flake8

feat: Clean up existing script elements before creating a new one #297
  ui/src/script.ts
Due: none

docs: Improve Bokeh/script example #297
  py/examples/plot_bokeh_script.py
Due: ./py/venv/bin/flake8

docs: Improve development setup docs
  website/docs/contributing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Improve docs for link download attribute
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/link.tsx
Due: ./py/venv/bin/flake8

refactor: Remove socket address from connect() API #297
  ts/index.ts
  u/index.ts
  ui/src/app.tsx
Due: none

refactor: Move jump() from h2o-wave to ui.ts #297
  ts/index.ts
  ui/src/stat_list.tsx
  ui/src/stat_table.tsx
  ui/src/ui.ts
Due: none

chore: Add make task for symlinking h2o-wave npm package #297
  Makefile
Due: none

feat: Make closable dialog emit event on close #790
  py/examples/meta_dialog_closable.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/dialog.tsx
Due: ./py/venv/bin/flake8
