Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Allow installing custom packages inside Wave Studio #2193 (#2229)
  studio/static/studio.css
  studio/studio.py
Due: ./py/venv/bin/flake8

Handled review comments #2163
  .github/workflows/helm-release-university.yaml
  .github/workflows/publish-university.yml
  .github/workflows/wave-bundle-helm-release.yaml
Due: none

Handled review comments #2163
  .github/workflows/publish-university.yml
Due: none

Finalized workflow for university #2163
  .github/workflows/publish-university.yml
  .github/workflows/wave-bundle-university.yaml
  .github/workflows/wave-publish-university.yaml
  .github/workflows/wave-university.yaml
Due: none

Changed the base image version
  .github/workflows/publish-university.yml
Due: none

Combined tour image publish to one script #2180
  .github/workflows/helm-release-tour.yaml
  .github/workflows/release-wave.yml
  .github/workflows/wave-bundle-tour.yaml
  .github/workflows/wave-publish-tour.yaml
  .github/workflows/wave-tour.yaml
Due: none

Added final workflow for tour app #2180
  .github/workflows/release-wave.yml
Due: none

Removed university related changes #2180
  .github/workflows/publish-university.yml
Due: none

fix: make conda package platform and python version independent #2227
  .github/workflows/release-wave.yml
  py/h2o_wave/conda/meta.yaml
Due: none

fix: Ignore nil token err.
  app.go
Due: golint -set_exit_status

chore: sync publish-conda with release-wave workflow #2227
  .github/workflows/publish-conda.yml
Due: none

chore: Add some logging.
  app.go
  auth.go
  broker.go
  server.go
Due: golint -set_exit_status

fix: Ignore nil token err for now. #2185 (#2246)
  app.go
  auth.go
  broker.go
  server.go
Due: golint -set_exit_status

chore: Release v1.0.1
  py/h2o_lightwave/h2o_lightwave/version.py
  py/h2o_lightwave_web/h2o_lightwave_web/version.py
  py/h2o_wave/h2o_wave/version.py
  r/DESCRIPTION
  tools/intellij-plugin/gradle.properties
  tools/vscode-extension/package.json
  ui/package.json
  university/h2o_wave_university/version.py
Due: ./py/venv/bin/flake8

fix: Make conda package support multiple python versions #2227 (#2247)
  .github/workflows/publish-conda.yml
  .github/workflows/release-wave.yml
  py/h2o_wave/conda/meta.yaml
Due: none

fix: Make notification close button contrast for any theme #2241
  ui/src/notification_bar.tsx
Due: none

fix: Make notification close button contrast for any theme #2241 (#2249)
  ui/src/notification_bar.tsx
Due: none

fix: Support 1e-7 numbers and lower in ui.spinbox #1525
  ui/src/spinbox.test.tsx
  ui/src/spinbox.tsx
Due: none

feat: Support 1e-7 numbers and lower in ui.spinbox #1525 (#2248)
  ui/src/spinbox.test.tsx
  ui/src/spinbox.tsx
Due: none

docs: Correct headers file format.
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Use older python version working with publish conda package action
  .github/workflows/publish-conda.yml
Due: none

chore: activate conda venv before running action
  .github/workflows/publish-conda.yml
Due: none

chore: use updated gh action
  .github/workflows/publish-conda.yml
Due: none

chore: try modified forked action
  .github/workflows/publish-conda.yml
Due: none

fix: create default metadata.py file for noarch packages
  .github/workflows/release-wave.yml
  py/h2o_wave/Makefile
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

ci: Temporarily downgrade conda publish action as it is not able to build itself.
  .github/workflows/release-wave.yml
Due: none

chore: Remove dead code.
  r/DESCRIPTION
Due: none

chore: Add R description back.
  r/DESCRIPTION
Due: none

fix: Make conda package support multiple python versions #2227 (#2247)
  .github/workflows/release-wave.yml
Due: none

fix: Conda release #2227 (#2257)
  .github/workflows/publish-conda.yml
  .github/workflows/release-wave.yml
  py/h2o_wave/Makefile
  py/h2o_wave/hatch_build.py
Due: ./py/venv/bin/flake8

feat: Allow reconnects without losing state/focus.
  broker.go
  client.go
  protocol.go
  socket.go
  ui/src/core.ts
Due: golint -set_exit_status

feat: Make reconnect timeout configurable and add some extra logging.
  client.go
  cmd/wave/main.go
  conf.go
  server.go
  socket.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
