Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

fix(VSCode ext): Handle autocomplete edge-case.
  tools/vscode-extension/server/parser.py
Due: ./py/venv/bin/flake8

feat: Wave M1 support. #1139
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  Makefile
  py/Makefile
  py/setup.py
Due: ./py/venv/bin/flake8

fix: Upload correct arm64 artifacts during release. #1139
  .github/workflows/release-wave.yml
Due: none

feat: Wave Apple M1 support. #1139 (#1263)
  .github/workflows/release-wave-nightly.yml
  .github/workflows/release-wave.yml
  Makefile
  py/Makefile
  py/setup.py
Due: ./py/venv/bin/flake8

docs: Clarify what -oidc-skip-login means. Closes #1272
  website/docs/configuration.md
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Use correct z-indexes in header due to secondary items centering (absolute position).
  ui/src/header.tsx
Due: none

fix: Format group by title if valid date only if col data_type is set to time. Closes #1233
  ui/src/table.test.tsx
  ui/src/table.tsx
Due: none

perf: Speed up pycharm zone autocomplete parsing.
  tools/intellij-plugin/src/main/java/org/h2o/autocompletion/WaveCompletionContributor.java
  tools/intellij-plugin/src/main/java/org/h2o/utils/Utils.java
  tools/intellij-plugin/src/test/java/CompletionContributorTestZone.java
Due: none

fix: Correct q.events autocomplete in Pycharm plugin.
  tools/intellij-plugin/src/main/java/org/h2o/autocompletion/WaveCompletionContributor.java
  tools/intellij-plugin/src/main/java/org/h2o/utils/Utils.java
  tools/intellij-plugin/src/test/java/CompletionContributorTestQEvents.java
Due: none

chore: Take care of deprecated methods in PyCharm plugin.
  tools/intellij-plugin/build.gradle.kts
  tools/intellij-plugin/detekt-config.yml
  tools/intellij-plugin/src/main/java/org/h2o/utils/RequirementsSingleton.java
Due: none

fix: make table filter icon clickable #1261
  ui/src/table.tsx
Due: none

chore: Get rid of eslint warning.
  ui/src/table.tsx
Due: none

remove escaping
  ui/src/table.tsx
Due: none

fix: Handle autocomplete parsing edge-case in VSC extension.
  tools/vscode-extension/server/lsp_server.py
  tools/vscode-extension/server/parser.py
  tools/vscode-extension/server/tests/test_project/main.py
  tools/vscode-extension/server/tests/utils.py
Due: ./py/venv/bin/flake8

fix: Make table filter icon clickable (#1283)
  ui/src/table.tsx
Due: none

fix: Correct q.events autocomplete in VSC extension.
  tools/vscode-extension/server/lsp_server.py
  tools/vscode-extension/server/parser.py
  tools/vscode-extension/server/tests/test_events.py
  tools/vscode-extension/server/tests/test_project/main.py
  tools/vscode-extension/server/tests/test_project/module.py
  tools/vscode-extension/server/tests/test_project/utils.py
  tools/vscode-extension/server/tests/test_zones.py
  tools/vscode-extension/server/tests/utils.py
Due: ./py/venv/bin/flake8

fix: Deprecate wide_article_preview.caption in favor of content prop. Closes #1240
  py/examples/wide_article_preview.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/preview.tsx
  ui/src/wide_article_preview.tsx
  website/widgets/content/wide_article_preview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix: Improve dialog color contrast for h2o-dark theme.
  ui/src/theme.ts
Due: none

fix: Improve message bar spacing.
  py/examples/meta_notification_bar.py
  py/examples/theme_generator.py
  ui/src/message_bar.tsx
  ui/src/notification_bar.tsx
Due: ./py/venv/bin/flake8

docs: Add a note about nightly to installation part.
  website/docs/installation.mdx
Due: none

feat: PyCharm plugin - q.args do not include names from event-cpable widgets.
  tools/intellij-plugin/src/main/java/org/h2o/autocompletion/WaveCompletionContributor.java
  tools/intellij-plugin/src/main/java/org/h2o/utils/Utils.java
  tools/intellij-plugin/src/test/java/CompletionContributorTestQArgs.java
Due: none

refactor: Use CSS var instead of Fluent.getTheme in dropdown chevron icon styling.
  ui/src/dropdown.tsx
Due: none

chore: Wizard example code style change.
  py/examples/wizard.py
Due: ./py/venv/bin/flake8

feat: Allow gzip compression for static assets.
  gzip.go
  web_server.go
Due: golint -set_exit_status

refactor: Use more idiomatic pattern.
  gzip.go
  web_server.go
Due: golint -set_exit_status

refactor: Rename the gzip handler.
  gzip.go
  web_server.go
Due: golint -set_exit_status

fix: Allow using commands in header card. Closes #1289.
  ui/src/card_menu.tsx
  ui/src/header.tsx
  ui/src/layout.tsx
Due: none

docs: Add overlay section to widgets. Closes #1196.
  tools/showcase/showcase.py
  website/sidebars.js
  website/static/img/widgets/dialog.gif
  website/static/img/widgets/dialog_events.gif
  website/static/img/widgets/notification.gif
  website/static/img/widgets/notification_bar.gif
  website/static/img/widgets/side_panel.gif
  website/static/img/widgets/side_panel_events.gif
  website/widgets/overlays/dialog.md
  website/widgets/overlays/notification.md
  website/widgets/overlays/notification_bar.md
  website/widgets/overlays/side_panel.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Rename gzip func.
  gzip.go
  web_server.go
Due: golint -set_exit_status

fix: remove click handler for right click #1276
  ui/src/table.tsx
Due: none

removes unnecessary function from dependency array
  ui/src/table.tsx
Due: none

fix: Prevent table filter menu expand when column is right-clicked (#1296)
  ui/src/table.tsx
Due: none

refactor: Rename serve function
  gzip.go
  web_server.go
Due: golint -set_exit_status

fix: Kill hanging waved process when app fails to start. (#1256)
  py/h2o_wave/cli.py
  py/setup.py
Due: ./py/venv/bin/flake8

feat: Allow gzip compression for static assets. (#1293)
  gzip.go
  web_server.go
Due: golint -set_exit_status

docs: Initial impl.
  py/examples/wizard.py
  ui/src/plot.tsx
  website/sidebars.js
  website/widgets/plots/area.md
  website/widgets/plots/interval.md
  website/widgets/plots/line.md
  website/widgets/plots/path.md
  website/widgets/plots/point.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

docs: Fix stroke, add 3rd party, finish path plots.
  ui/src/plot.tsx
  website/sidebars.js
  website/widgets/plots/interval.md
  website/widgets/plots/path.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add plots overview to widgets section.
  website/widgets/plots/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Allow VSC autocomplete within if statements.
  tools/vscode-extension/server/parser.py
  tools/vscode-extension/server/tests/test_events.py
Due: ./py/venv/bin/flake8

fix: Use 00:00:00 time as default if not specified (for plot time scales). #1300
  ui/src/plot.tsx
Due: none
