Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

fix: Use correct intersection calculation. #1323
  ui/src/image_annotator.tsx
Due: none

Update ui/src/image_annotator.tsx
  ui/src/image_annotator.tsx
Due: none

feat: Add args submission. #1323
  ui/src/image_annotator.tsx
Due: none

chore: refactor #1323
  ui/src/image_annotator.tsx
Due: none

chore: Address review comments. #1323
  py/examples/image_annotator.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image_annotator.tsx
  ui/src/text_annotator.tsx
Due: ./py/venv/bin/flake8

docs: Add documentation, include in Tour. #1323
  py/examples/tour.conf
  website/sidebars.js
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

target only submenu class instead of DOM structure
  ui/src/menu.tsx
Due: none

docs: Explicitly require btn when using compact file upload.
  website/widgets/form/file_upload.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix contextual menu in card_menu.tsx
  ui/src/card_menu.tsx
Due: none

feat: fix textfield overflow
  ui/src/textbox.tsx
Due: none

feat: reverted border stylings
  ui/src/textbox.tsx
Due: none

chore: code cleaning
  ui/src/textbox.tsx
Due: none

feat: added gif into docs
  website/static/img/widgets/notification_bar_events.gif
  website/widgets/overlays/notification_bar.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: updated tour.conf
  py/examples/tour.conf
Due: none

feat: fire dismissed event on notification bar close
  py/examples/meta_notification_bar_closable.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/notification_bar.test.tsx
  ui/src/notification_bar.tsx
  website/docs/examples/assets/meta-notification-bar-closable.png
  website/widgets/overlays/notification_bar.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: modify return value for line plot event
  ui/src/plot.tsx
Due: none

feat: removed changed return value functionality, introduced interactive prop in the API
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/plot.tsx
Due: ./py/venv/bin/flake8

feat: allow user to control interactivity for each mark
  ui/src/plot.tsx
Due: none

feat: updated docs
  website/widgets/plots/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: updated docs, added tour example
  py/examples/plot_events_disabled.py
  py/examples/tour.conf
  website/widgets/plots/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: provided more real case scenarion in docs example
  website/widgets/plots/overview.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Remove multiline textbox's scrollbar when height is set #1385 (#1412)
  ui/src/textbox.tsx
Due: none

Update py/examples/meta_notification_bar_closable.py
  py/examples/meta_notification_bar_closable.py
Due: ./py/venv/bin/flake8

feat: Fire dismissed event when notification bar is closed #1386 (#1417)
  py/examples/meta_notification_bar_closable.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/notification_bar.test.tsx
  ui/src/notification_bar.tsx
  website/docs/examples/assets/meta-notification-bar-closable.png
  website/static/img/widgets/notification_bar_events.gif
  website/widgets/overlays/notification_bar.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

fix submenus
  ui/src/card_menu.tsx
  ui/src/menu.tsx
  ui/src/menu_table_cell_type.tsx
  ui/src/toolbar.tsx
  website/widgets/form/table.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix circular dependency
  ui/src/card_menu.tsx
  ui/src/menu.tsx
  ui/src/menu_table_cell_type.tsx
  ui/src/menu_utils.ts
  ui/src/toolbar.tsx
Due: none

chore: Final refactor. #1323
  py/examples/image_annotator.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/image_annotator.tsx
  ui/src/text_annotator.tsx
Due: ./py/venv/bin/flake8

feat: Image annotator #1323 (#1400)
  py/examples/image_annotator.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/form.tsx
  ui/src/image_annotator.tsx
  ui/src/text_annotator.tsx
  website/sidebars.js
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8
