Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Add extra explanation.
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

feat: Wave share client. (#1953)
  py/h2o_wave/h2o_wave/cli.py
  py/h2o_wave/h2o_wave/share.py
Due: ./py/venv/bin/flake8

feat: Initial impl - needs fixing for Safari and FF.
  py/examples/chatbot_events_scroll.py
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ts/index.ts
  ui/src/chatbot.tsx
Due: ./py/venv/bin/flake8

chore: use side panel for color adjustments
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

chore: adjust wording and icon
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

chore: minor refactor
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

chore: keep original desktop items, separate mobile items
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

feat: Chatbot infinite scroll.
  py/examples/chatbot_events_scroll.py
  ui/src/chatbot.tsx
  ui/src/parts/infiniteScroll.tsx
Due: ./py/venv/bin/flake8

feat: make wave university responsive
  university/h2o_wave_university/university.py
Due: ./py/venv/bin/flake8

chore: Change the chatbot data API.
  py/examples/chatbot.py
  py/examples/chatbot_events_stop.py
  py/examples/chatbot_stream.py
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  ui/src/parts/infiniteScroll.tsx
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Refactor.
  ui/src/chatbot.tsx
Due: none

fix: change active tool to rect before testing emit of click event
  ui/src/image_annotator.test.tsx
Due: none

chore: Fix failing unit test - change active tool to rect before testing emit of click event (#2034)
  ui/src/image_annotator.test.tsx
Due: none

docs: Document scrolling.
  py/examples/tour.conf
  website/docs/examples/assets/chatbot-events-scroll.png
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: Refactor.
  py/apps/theme-generator/requirements.txt
  py/apps/tour/requirements.txt
  py/examples/requirements.txt
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

chore: minor cleanup
  university/h2o_wave_university/university.py
Due: ./py/venv/bin/flake8

fix: introduce request retry mechanism to Waved to retry failed requests
  app.go
  broker.go
  cmd/wave/main.go
  conf.go
  server.go
Due: golint -set_exit_status

feat: Make theme generator responsive. (#2029)
  py/apps/theme-generator/requirements.txt
  py/apps/tour/requirements.txt
  py/examples/requirements.txt
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

chore: Support by-name access for dialog, side_panel and notification_bar also.
  e2e/test_by_name_updates.py
  py/examples/meta_dialog.py
  py/examples/meta_side_panel.py
  py/examples/theme_generator.py
  ts/index.ts
Due: ./py/venv/bin/flake8

ci: Freeze java version for nightly build job.
  .github/workflows/release-wave-nightly.yml
Due: none

chore: TMP removal.
  .github/workflows/release-wave-nightly.yml
Due: none

chore: Update intellij gradle plugin to resolve missing dependency.
  tools/intellij-plugin/build.gradle.kts
Due: none

chore: Unfreeze Java version.
  .github/workflows/release-wave-nightly.yml
Due: none

chore: Bump intellij gradle plugin version.
  tools/intellij-plugin/build.gradle.kts
Due: none

revert: Tmp commented out code.
  .github/workflows/release-wave-nightly.yml
Due: none

chore: Put back the old comment.
  .github/workflows/release-wave-nightly.yml
Due: none

chore: Bump IntelliJ gradle plugin to make the build process pass. (#2036)
  tools/intellij-plugin/build.gradle.kts
Due: none

Revert "chore: Update intellij gradle plugin to resolve missing dependency."
  tools/intellij-plugin/build.gradle.kts
Due: none

chore: Refactor infinite scroll into function component.
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/chatbot.tsx
  ui/src/parts/infiniteScroll.tsx
Due: none

chore: Refactor.
  ui/src/parts/infiniteScroll.tsx
Due: none

chore: Use layoutEffect to prevent scroll jank.
  ui/src/parts/infiniteScroll.tsx
Due: none

perf: Assign stable id to prev_items.
  ui/src/chatbot.tsx
Due: none

chore: Chatbot card infinite scroll. (#2032)
  py/examples/chatbot.py
  py/examples/chatbot_events_scroll.py
  py/examples/chatbot_events_stop.py
  py/examples/chatbot_stream.py
  py/examples/tour.conf
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ts/index.ts
  ui/src/chatbot.test.tsx
  ui/src/chatbot.tsx
  ui/src/parts/infiniteScroll.tsx
  website/docs/examples/assets/chatbot-events-scroll.png
  website/widgets/ai/chatbot.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Bump h2o-wave NPM version before publish.
  ts/package.json
Due: none

chore: Bump h2o-wave NPM version after publish.
  ui/package-lock.json
Due: none

chore: Minor improvements.
  university/h2o_wave_university/university.py
Due: ./py/venv/bin/flake8

feat: Make wave university responsive (#2031)
  university/h2o_wave_university/university.py
Due: ./py/venv/bin/flake8

fix: add max_retry_count and retry_interval for retry log message
  app.go
Due: golint -set_exit_status

fix: stop retrying failed requests after app being dropped
  app.go
  broker.go
Due: golint -set_exit_status

fix: upgrade @fluentui/react from 8.49.0 to 8.109.10
  ui/package-lock.json
  ui/package.json
Due: none

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
