Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: try to use UT8 encoding in a different way to resolve click lib issue
  .github/workflows/visual-regression.yml
Due: none

chore: set env variables inline to resolve click lib issue
  .github/workflows/visual-regression.yml
Due: none

chore: set env on step level to resolve click lib issue
  .github/workflows/visual-regression.yml
Due: none

chore: setup python via action to get the correct locale set automatically
  .github/workflows/visual-regression.yml
Due: none

chore: remove unnecessary env variables
  .github/workflows/visual-regression.yml
Due: none

fix: use same timeout for every browser
  ui/test/visual_regression/generate.js
  ui/test/visual_regression/visual.spec.ts
Due: none

fix: Handle non-word chars in template strings while plotting. Closes #537
  ui/src/intl.ts
Due: none

docs: Add missing thumbnail for theming example
  website/docs/examples/assets/meta-theme.png
Due: none

docs: Update instructions for setting up docs website
  website/README.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Implement pattern-based routing mechanism for handling args and events #542
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

updated the text data to a basic list with 4 sentences - captions
  r/R/examples/stat_large.R
  r/R/examples/stat_large_bar.R
Due: none

feat: Make event handling opt-in #542
  py/h2o_wave/__init__.py
  py/h2o_wave/routing.py
  py/h2o_wave/server.py
Due: ./py/venv/bin/flake8

fix: Invoke arg handler only when truthy #542
  py/h2o_wave/__init__.py
  py/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

docs: Add example for on / handle_on #542
  py/examples/hash_routing.py
  py/examples/routing.py
  py/examples/tour.conf
  website/docs/examples/assets/routing.png
Due: ./py/venv/bin/flake8

docs: Add docs for on / handle_on. Closes #542
  website/docs/arguments.md
  website/docs/routing.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: allow using height in vega spec #543
  ui/src/vega.tsx
Due: none

feat: Add post release verify pipeline
  .github/workflows/post-verify-release.yml
Due: none

chore(vega): explain why additional 10px is needed for container #543
  ui/src/vega.tsx
Due: none

chore(vega): add additional curly brackets #543
  ui/src/vega.tsx
Due: none

feat: Respect vega spec height if available (#544)
  ui/src/vega.tsx
Due: none

feat: Add support for Google Analytics integration
  py/examples/meta_tracking.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/meta.tsx
  ui/src/qd.ts
  ui/src/tracking.ts
  website/docs/examples/assets/meta-tracking.png
Due: ./py/venv/bin/flake8

feat: Send location hashes as is while tracking
  ui/src/tracking.ts
Due: none

docs: Add docs for configuring web analytics
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Fix styling of transparent cards
  ui/src/layout.tsx
Due: none

fix: Stricter handling of non-word chars in template strings while plotting. #537
  ui/src/intl.ts
Due: none

docs: Add 0.12.0 change log
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Remove curly braces from pattern matching docs MDX complains :(
  py/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

chore: update caniuse-lite to remove warning during ui build
  ui/package-lock.json
Due: none

fix: remove overflow for stat cards by reducing top/bottom card padding
  ui/src/small_series_stat.tsx
  ui/src/wide_gauge_stat.tsx
Due: none

fix: Make stats cards not overflow 1-unit high zones (#546)
  ui/src/small_series_stat.tsx
  ui/src/wide_gauge_stat.tsx
Due: none

chore: Update caniuse-lite (removes build warning) (#545)
  ui/package-lock.json
Due: none

docs: Add note about access tokens in security docs (#530)
  website/docs/security.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: add await to handle_on() examples. Closes #547
  website/docs/arguments.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Implement chat room card
  py/examples/chat_room.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/chat_room.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

feat: Implement chat room card (#549)
  py/examples/chat_room.py
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/cards.tsx
  ui/src/chat_room.tsx
  ui/src/theme.ts
Due: ./py/venv/bin/flake8

docs: meta icon not working in Safari #548
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  ui/src/meta.tsx
Due: ./py/venv/bin/flake8

feat: update package name
  py/setup.py
Due: ./py/venv/bin/flake8

feat: Add ML API as a pip option (#532)
  py/setup.py
Due: ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
