Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

feat: Allow full Vega grammar in vega_card. #1442
  py/examples/plot_vega.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/vega.tsx
  website/docs/examples/assets/plot-vega.png
  website/sidebars.js
  website/widgets/plots/third-party/vega.md
  website/widgets/plots/third-party/vegalite.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

updated wavegen to generate view=card
  r/R/core.R
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: none

updated DESCRIPTION
  r/DESCRIPTION
Due: none

updated counter
  r/R/examples/counter_unicast.R
Due: none

feat: Allow full Vega grammar in vega_card. #1442 (#1445)
  py/examples/plot_vega.py
  py/examples/tour.conf
  py/h2o_wave/types.py
  py/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/vega.tsx
  website/docs/examples/assets/plot-vega.png
  website/sidebars.js
  website/widgets/plots/third-party/vega.md
  website/widgets/plots/third-party/vegalite.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Basic working, snippets needs fixing. #1191
  .vscode/launch.json
  py/.gitignore
  py/examples/base-snippets.json
  py/examples/component-snippets.json
  py/examples/tour.js
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Multiuser Tour. #1191
  .vscode/launch.json
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: Make snippets work again. #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Make initial loading smoother. #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Autocomplete. #1191
  py/examples/tour.js
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: Refactor #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Really mutliuser app now. #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: Load JS async #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Focus editor after routing to a new example. #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: Get rid of race condition during script loading. #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Remove multi-user code from Tour. #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

ci: Add snippets during build time. #1191
  Makefile
  py/examples/base-snippets.json
  py/examples/component-snippets.json
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Add icon autocomplete support. #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: Refactor. #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: Get rid of race condition. #1191
  py/examples/tour.js
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Make Tour run on cloud as well. #1191
  Makefile
  py/examples/tour.js
  py/examples/tour.py
Due: ./py/venv/bin/flake8

ci: Add autocomplete scripts during apps build. #1191
  Makefile
  py/examples/tour.py
Due: ./py/venv/bin/flake8

chore: Refactor. #1191
  py/examples/tour.js
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: Make snippets work in any example, not just the first one. #1191
  py/examples/tour.js
Due: none

chore: Remove redundant copy. #1191
  Makefile
Due: none

feat: Add some timeout to make sure pyodide is loaded properly. #1191
  py/examples/tour.js
Due: none

chore: Refactor #1191
  py/examples/tour.js
Due: none

chore: Put comment in the correct place. #1191
  py/examples/tour.py
Due: ./py/venv/bin/flake8

feat: Editable Tour. #1191 (#1452)
  .vscode/launch.json
  Makefile
  py/.gitignore
  py/examples/tour.js
  py/examples/tour.py
Due: ./py/venv/bin/flake8

Allow parameter matching in arg of decorator on
  py/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

feat: Allow specifying table_column.link when multiple is set. #1379
  ui/src/table.tsx
Due: none

🐞 fix: https://github.com/h2oai/wave/issues/1448
  auth.go
  cmd/wave/main.go
  conf.go
Due: golint -set_exit_status

blog: 0.22 release.
  website/blog/2022-05-31-release.md
  website/blog/assets/2022-05-31/commands-table.png
  website/blog/assets/2022-05-31/editable-tour.gif
  website/blog/assets/2022-05-31/image-annotator.png
  website/blog/assets/2022-05-31/markdown-table.png
  website/docusaurus.config.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

✨ feat: add post-logout-redirect-url option
  auth.go
  cmd/wave/main.go
  conf.go
Due: golint -set_exit_status

✨ feat: add oidc-post-logout-redirect-url config options
  auth.go
  cmd/wave/main.go
  conf.go
Due: golint -set_exit_status

fix: Do not create new shape in image annotator when resizing ourside the canvas.
  ui/src/image_annotator.tsx
Due: none

chore: Add FIXME to image_annotator component.
  ui/src/image_annotator.tsx
Due: none

✨ feat: feat: add oidc-post-logout-redirect-url config options
  auth.go
  cmd/wave/main.go
  conf.go
Due: golint -set_exit_status

Fix formatting
  tools/wavegen/src/wavegen.ts
Due: none

feat: Initial impl.
  .vscode/launch.json
  py/examples/wizard.py
  web-ide/.gitignore
  web-ide/Makefile
  web-ide/__pycache__/web_ide.cpython-39.pyc
  web-ide/autocomplete.py
  web-ide/requirements.txt
  web-ide/web_ide.js
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8
