Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Make wavegen to generate view=card for R (#1447)
  r/DESCRIPTION
  r/R/core.R
  r/R/examples/counter_unicast.R
  r/R/ui.R
  tools/wavegen/src/wavegen.ts
Due: none

chore: Minor refactor.
  auth.go
Due: golint -set_exit_status

chore: Fix typo.
  website/blog/2022-05-31-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: 0.22 release. (#1456)
  website/blog/2022-05-31-release.md
  website/blog/assets/2022-05-31/commands-table.png
  website/blog/assets/2022-05-31/editable-tour.gif
  website/blog/assets/2022-05-31/image-annotator.png
  website/blog/assets/2022-05-31/markdown-table.png
  website/docusaurus.config.js
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Update server configuration.
  website/docs/configuration.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Add oidc-post-logout-redirect-url config option #1448 (#1462)
  auth.go
  cmd/wave/main.go
  conf.go
  website/docs/configuration.md
Due: golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js

chore: Release v0.22.0
  py/h2o_wave/version.py
  py/h2o_wave/version.py-r
  py/setup.py-r
  r/DESCRIPTION-r
Due: ./py/venv/bin/flake8

chore: Bump VSCode extension version.
  tools/vscode-extension/package.json
Due: none

updated wavegen.ts. Now wavegen.ts supports generating R doc, R pdf manual and Rd latex. This enables support for CRAN
  r/DESCRIPTION
  r/R/ui.R
  r/R/utils.R
  r/R/zzz.R
  tools/wavegen/src/wavegen.ts
Due: none

docs: Update the changelog.
  website/docs/change-log.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Minor layout improvements.
  web-ide/.gitignore
  web-ide/requirements.txt
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

chore: Rm pycache.
  web-ide/__pycache__/web_ide.cpython-39.pyc
Due: none

feat: Cosmetic improvements.
  web-ide/Makefile
  web-ide/assets/app_not_running.svg
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: Correct page layout handling.
  web-ide/Makefile
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

chore: Refactor.
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: User user-level scope instead of the client one.
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

ci: Add clean make target.
  web-ide/Makefile
Due: none

updated h2owave for R support description
  website/blog/2022-05-31-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

docs: Add docs for serving image files
  website/docs/files.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

blog: Update h2owave for R support description in 0.22 release blog post (#1466)
  website/blog/2022-05-31-release.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: Store active example process in user scope rather than client scope.
  py/examples/tour.py
Due: ./py/venv/bin/flake8

fix: ranged tooltip values are not shown properly
  ui/src/plot.tsx
Due: none

fix: fontFamily was not set when changing the theme
  ui/src/theme.ts
Due: none

fix: Ranged plot tooltip values are not shown properly #1473 (#1486)
  ui/src/plot.tsx
Due: none

fix: Use Inter font during theme change as well #1451 (#1487)
  ui/src/theme.ts
Due: none

feat: implemented zip and export
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: use shutil for zipping the folder
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: Jedi completions.
  web-ide/autocomplete.py
  web-ide/web_ide.js
Due: ./py/venv/bin/flake8

feat: zip and download on button click
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

fix: empty_preview shown after export
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

chore: code refactor
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: Zip and export (#1489)
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: open preview in new browser tab
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: open preview in new browser tab (#1496)
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: Logs support.
  web-ide/web_ide.js
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: Multiple views support
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: interface layout customization
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: full code view fix, view menu as tabs
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

feat: auto resize monaco editor width
  web-ide/web_ide.js
Due: none

fix: do not show preview when code is edited in full code view
  web-ide/web_ide.py
Due: ./py/venv/bin/flake8

Path conditions:
  tools/wavegen/node_modules/eslint/bin/eslint.js: any of: tools/wavegen/**/*.(ts|tsx)
  ui/node_modules/eslint/bin/eslint.js: any of: ui/**/*.(ts|tsx)
  ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail: any of: ui/**/*.(ts|tsx)
  golint -set_exit_status: any of: *.go
  ./node_modules/markdownlint-cli/markdownlint.js: any of: *.md
  ./py/venv/bin/flake8: any of: *.py
