Repository h2oai/wave: changes, and which lint-staged commands are due for each by the changed paths.
All: tools/wavegen/node_modules/eslint/bin/eslint.js, ui/node_modules/eslint/bin/eslint.js, ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail, golint -set_exit_status, ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

.lintstagedrc.json:

{
  "tools/wavegen/**/*.(ts|tsx)": [
    "tools/wavegen/node_modules/eslint/bin/eslint.js"
  ],
  "ui/**/*.(ts|tsx)": [
    "ui/node_modules/eslint/bin/eslint.js",
    "ui/node_modules/jest/bin/jest.js --config ui/jest.config.js --findRelatedTests --bail"
  ],
  "*.go": [
    "golint -set_exit_status"
  ],
  "*.md": [
    "./node_modules/markdownlint-cli/markdownlint.js"
  ],
  "*.py": [
    "./py/venv/bin/flake8"
  ]
}

chore: Minor refactor. #2019
  ui/src/index.scss
  ui/src/markdown.tsx
Due: none

chore: Include code sample in an example markdown. #2019
  py/examples/markdown.py
Due: ./py/venv/bin/flake8

feat: Initial impl. #2019
  py/examples/markdown.py
  ui/package-lock.json
  ui/package.json
  ui/src/markdown.tsx
Due: ./py/venv/bin/flake8

chore: Minor refactor. #2019
  ui/src/markdown.tsx
Due: none

feat: Add alias support. #2019
  py/examples/markdown.py
  ui/.gitignore
  ui/package.json
  ui/setup.js
  ui/src/markdown.tsx
Due: ./py/venv/bin/flake8

docs: Document markdown code syntax highlighting. #2019
  py/examples/markdown_code_theme.py
  py/examples/tour.conf
  website/docs/examples/assets/markdown-code-theme.png
  website/widgets/content/markdown.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Refactor. #2019
  ui/src/markdown.tsx
Due: none

docs: Reword. #2019
  website/widgets/content/markdown.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

feat: Markdown code syntax highlighting. #2019 (#2024)
  py/examples/markdown.py
  py/examples/markdown_code_theme.py
  py/examples/tour.conf
  ui/.gitignore
  ui/package-lock.json
  ui/package.json
  ui/setup.js
  ui/src/index.scss
  ui/src/markdown.tsx
  website/docs/examples/assets/markdown-code-theme.png
  website/widgets/content/markdown.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

chore: Temporarily do not test nightly against python 3.11.
  .github/workflows/release-wave-nightly.yml
Due: none

fix: Make sure Windows can close sharing.
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

docs: Add better CLI help hints.
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

chore: Explain how to stop sharing.
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

feat: Wave share client.
  py/h2o_wave/h2o_wave/cli.py
  py/h2o_wave/h2o_wave/share.py
Due: ./py/venv/bin/flake8

chore: Refactor into asyncio.
  py/h2o_wave/h2o_wave/cli.py
  py/h2o_wave/h2o_wave/share.py
Due: ./py/venv/bin/flake8

feat: Allow specifying remote host.
  py/h2o_wave/h2o_wave/cli.py
Due: ./py/venv/bin/flake8

chore: Do not allow using chatbot within form card for now.
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/form.tsx
Due: ./py/venv/bin/flake8

fix: show curly braces in pydocs correctly #1880
  py/h2o_lightwave/h2o_lightwave/routing.py
  py/h2o_wave/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

docs: Show curly braces in API docs correctly #1880 (#2027)
  py/h2o_lightwave/h2o_lightwave/routing.py
  py/h2o_wave/h2o_wave/routing.py
Due: ./py/venv/bin/flake8

feat: make theme generator responsive
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

chore: minor refactor
  py/examples/theme_generator.py
Due: ./py/venv/bin/flake8

fix: prevent image annotator smart example from crashing when clicking outside an object #2010
  py/examples/image_annotator_smart.py
Due: ./py/venv/bin/flake8

chore: update tests with event handling #2010
  ui/src/image_annotator.test.tsx
Due: none

feat: handle click and tool_change events for the image annotator #2010
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image_annotator.tsx
Due: ./py/venv/bin/flake8

chore: update docs with image annotator events #2010
  website/docs/examples/assets/image-annotator-events-click.png
  website/docs/examples/assets/image-annotator-events-tool-change.png
  website/docs/examples/assets/image-annotator-smart.png
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

fix: do not update wave args when canceling ongoing task #2010
  ui/src/image_annotator.tsx
Due: none

chore: add smart image annotations tour example #2010
  py/examples/image_annotator_smart.py
  py/examples/tour.conf
  ui/src/image_annotator.tsx
Due: ./py/venv/bin/flake8

chore: add image annotator events examples #2010
  py/examples/image_annotator_events_click.py
  py/examples/image_annotator_events_tool_change.py
  py/examples/tour.conf
Due: ./py/venv/bin/flake8

chore: add missing image to avoid website build error #2010
  py/examples/chatbot_events_stop.py
Due: ./py/venv/bin/flake8

chore: make docs more clear #2010
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: update click example screenshot #2010
  website/docs/examples/assets/image-annotator-events-click.png
Due: none

docs: use passive voice, simplify #2010
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js

chore: simplify py examples #2010
  py/examples/image_annotator_events_click.py
  py/examples/image_annotator_events_tool_change.py
Due: ./py/venv/bin/flake8

chore: simplify and refactor examples, do not fire click events while using select tool #2010
  py/examples/image_annotator_events_click.py
  py/examples/image_annotator_smart.py
  py/examples/tour.conf
  ui/src/image_annotator.tsx
  website/docs/examples/assets/image-annotator-smart.png
Due: ./py/venv/bin/flake8

chore: minor adjustments #2010
  py/examples/image_annotator_events_click.py
  py/examples/image_annotator_events_tool_change.py
Due: ./py/venv/bin/flake8

chore: restore the commit overriden by forcepush of out-of-date local branch #2010
  py/examples/image_annotator_events_click.py
Due: ./py/venv/bin/flake8

chore: restore the commit overriden by forcepush of out-of-date local branch #2010
  py/examples/image_annotator_events_tool_change.py
  ui/src/image_annotator.tsx
Due: ./py/venv/bin/flake8

docs: Make the docs more on point. #2010
  py/examples/chatbot_events_stop.py
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8

feat: Add 'click' and 'tool_change' events to image annotator. #2010 (#2026)
  py/examples/chatbot_events_stop.py
  py/examples/image_annotator_events_click.py
  py/examples/image_annotator_events_tool_change.py
  py/examples/tour.conf
  py/h2o_lightwave/h2o_lightwave/types.py
  py/h2o_lightwave/h2o_lightwave/ui.py
  py/h2o_wave/h2o_wave/types.py
  py/h2o_wave/h2o_wave/ui.py
  r/R/ui.R
  tools/intellij-plugin/src/main/resources/templates/wave-components.xml
  tools/vscode-extension/component-snippets.json
  ui/src/image_annotator.test.tsx
  ui/src/image_annotator.tsx
  website/docs/examples/assets/image-annotator-events-click.png
  website/docs/examples/assets/image-annotator-events-tool-change.png
  website/widgets/form/image_annotator.md
Due: ./node_modules/markdownlint-cli/markdownlint.js, ./py/venv/bin/flake8
